// returns margin/padding value calc() function that delivers approximately
// `$from` pixel spacing when the element's container is `$min` pixels wide
// `$to` pixel spacing when the element's container is `$max` pixels wide.

$_between-minWidth: 320 !default;
$_between-maxWidth: 1440 !default;

@function between(
	$from,
	$to,
	$min: $_between-minWidth,
	$max: $_between-maxWidth,
	$pct: '%'
) {
	@if (unit($from) == '%') {
		$from: $min * num($from) / 100;
	}
	@if (unit($to) == '%') {
		$to: $max * num($to) / 100;
	}

	$slopeFactor: num($to - $from) / num($max - $min);
	$intercept: $to - num($slopeFactor * $max);
	@if ($slopeFactor == 0) {
		@return px($intercept);
	}
	$slope: set-unit($slopeFactor * 100, $pct);
	@if ($intercept == 0) {
		@return $slope;
	}
	@return calc(#{$slope} + #{px($intercept)});
}
