@use 'oneof' as *;

// =======================================================
// Column-based calc functions
//
// These globals are required for them to work:
$_gutterWidth: 30px !default;
$_columnWidth: 80px !default;
$_numCols: 12 !default;

// percentage length - by columns
//   $w = custom container width in pixels. When specified, this overrides the default column-based container width.
//   $px = pixel-based modifier for the column-based container width. (Useful for gridded-containers with non-standard padding/margin)
@function cols_pct(
	$cols,
	$gutters: $cols - oneof($cols),
	$relNumCols: $_numCols,
	$relNumGutters: $relNumCols - oneof($relNumCols),
	$w: null,
	$px: 0
) {
	@if not $w {
		$w: ($relNumCols * $_columnWidth + $relNumGutters * $_gutterWidth + $px);
	}
	@return pct(($cols * $_columnWidth + $gutters * $_gutterWidth) / $w);
}

// percentage length - pixels to page-width
//   $px = pixel-based modifier for the column-based container width. (Useful for gridded-containers with non-standard padding/margin)
@function px_pct(
	$nPx,
	$relNumCols: $_numCols,
	$relNumGutters: $relNumCols - oneof($relNumCols),
	$px: 0
) {
	@return pct(
		$nPx / ($relNumCols * $_columnWidth + $relNumGutters * $_gutterWidth + $px)
	);
}

// pixel length - by columns
@function cols_px($cols, $gutters: $cols - oneof($cols)) {
	@return px($cols * $_columnWidth + $gutters * $_gutterWidth);
}

@mixin showColumnGridLines(
	$columnColor: rgba(black, 0.04),
	$gutterColor: rgba(white, 0.06)
) {
	@if (isDevMode()) {
		$colPct: pct($_columnWidth / ($_columnWidth + $_gutterWidth));
		background-image: linear-gradient(
			90deg,
			$columnColor 0,
			$columnColor $colPct,
			$gutterColor $colPct,
			$gutterColor 100%
		);
		background-size: cols_pct(1, 1) 100%;
	}
}
