// ===============================================================================
// Make an element reach beyond the left/right edges of it's container
// all the way to the viewport edges.
//
//     @include extendSides()
//     @include extendSides(both)  // same as @include extendSides()
//     @include extendSides(left)  // only affect the left-hand side
//     @include extendSides(right)  // ...or the right
//
//     @include extendSides(both, (25/16)em )  // Set additional padding
//     @include extendSides(both, (-25/16)em )  // ...which can also be a negative value
//     @include extendSides(left, (25/16)em )  // etc.
//
@mixin extendSides($side: both, $pad: 0px) {
	$margin: 0px;
	@if ($pad < 0) {
		$margin: $pad;
		$pad: 0px;
	}
	$page-expand-padding: calc(50vw - 50% + #{$pad});
	$page-expand-margin: calc(50% - 50vw + #{$margin});
	@if ($side != right) {
		margin-left: $page-expand-margin;
		padding-left: $page-expand-padding;
	}
	@if ($side != left) {
		margin-right: $page-expand-margin;
		padding-right: $page-expand-padding;
	}
}
