$_isDev: isDevMode();

@mixin WARNING__($message, $mode: normal, $pos: before, $always: false) {
	@if ($_isDev or $always) {
		$color: if($mode == soft, orange, red);
		$hover: if($mode == soft, ':hover', '');

		&#{$hover} {
			box-shadow: 0 0 0 1px rgba($color, 0.5) !important;
		}
		&#{$hover}::#{$pos} {
			all: initial !important;
			order: -999 !important;
			font-family: sans-serif !important;
			position: absolute !important;
			white-space: nowrap !important;
			z-index: 2 !important;
			font-size: 12px !important;
			line-height: 1.5em !important;
			color: $color !important;
			background-color: rgba(mix($color, white, 10%), 0.5) !important;
			padding: 0 0.5em !important;
			content: $message !important;
		}
	}
}
@mixin suppress_WARNING__($mode: normal, $pos: before, $always: false) {
	@if ($_isDev or $always) {
		$hover: if($mode == soft, ':hover', '');

		&#{$hover} {
			box-shadow: none !important;
		}
		&#{$hover}::#{$pos} {
			content: none !important;
		}
	}
}

@mixin WARNING_message__($message, $mode: normal, $pos: before, $always: false) {
	@if ($_isDev or $always) {
		$hover: if($mode == soft, ':hover', '');

		&#{$hover}::#{$pos} {
			content: $message !important;
		}
	}
}

@mixin WARNING_soft__($message, $pos: before, $always: false) {
	@include WARNING__($message, soft, $pos, $always);
}
@mixin suppress_WARNING_soft__($pos: before, $always: false) {
	@include suppress_WARNING__(soft, $pos, $always);
}
