$_isDev: isDevMode();

@mixin WARNING__($message, $mode: normal) {
	@if ($_isDev) {
		$color: if($mode == soft, orange, red);
		$hover: if($mode == soft, ':hover', '');

		&#{$hover} {
			box-shadow: 0 0 0 1px rgba($color, 0.5) !important;
		}
		&#{$hover}::before {
			all: initial !important;
			order: -999 !important;
			font-family: sans-serif !important;
			position: absolute !important;
			white-space: nowrap !important;
			z-index: 2 !important;
			font-size: 12px !important;
			line-height: 1.5em !important;
			color: $color !important;
			background-color: rgba(mix($color, white, 10%), 0.5) !important;
			padding: 0 0.5em !important;
			content: $message !important;
		}
	}
}
@mixin WARNING_soft__($message) {
	@include WARNING__($message, soft);
}

@mixin suppress_WARNING__($mode: normal) {
	@if ($_isDev) {
		$hover: if($mode == soft, ':hover', '');

		&#{$hover} {
			box-shadow: none !important;
		}
		&#{$hover}::before {
			content: none !important;
		}
	}
}
@mixin suppress_WARNING_soft__() {
	@include suppress_WARNING__(soft);
}
