@use '_globals' as *;
@use 'styles/font' as *;
@use '_GalleryModalItem' as GalleryModalItem;

@mixin css() {
  @media screen {
    .GalleryModalwrapper {
      display: flex;
      background: $color-suld-0;
      position: fixed;
      z-index: $var--zindex--modal;
      top: 0;
      right: 0;
      left: 0;
      height: 100vh;
      overflow-y: auto;
      transition: all 200ms ease-in;
      transition-property: opacity, visibility;
    }

    [hidden].GalleryModalwrapper {
      display: block; // override default `[hidden][hidden]` styli5ng
      visibility: hidden;
      opacity: 0;
    }

    .GalleryModal {
      width: 100%;
      max-width: prem($grid-contentMaxWidth);
      max-width: prem($grid-contentMaxWidth--outer);
      margin: 0 auto;
      position: relative;

      display: flex;
      flex-flow: column;
      align-items: center;

      padding: between_cols(72, 104) $var--grid-margin;

      @include media($mq-netbook_up) {
        flex-flow: row;
      }
    }

    .GalleryModalPager {
      display: flex;
      flex-flow: row-reverse;
    }

    .GalleryModalPager__button,
    .GalleryModal__closebutton {
      color: $var--color-faxafloi-100;

      &::before {
        @include icon($icons-arrow-left);
        font-size: 23px;
      }
    }

    .GalleryModalPager__button {
      position: static;

      &::before {
        width: 100%;
      }

      @include media($mq-netbook_up) {
        @include hideText(soft);
        width: $var--grid-column;
        height: 50%;
        transform: translateY(-50%);
        position: absolute;
      }

      @include media($mq-phone-tablet) {
        margin: prem(20) 0;
        text-align: center;
        min-width: prem(128);
      }
    }
    .GalleryModalPager__button--next {
      right: $var--grid-margin;
    }
    .GalleryModalPager__button--next::before {
      content: $icons-arrow-right;
    }
    .GalleryModalPager__button[disabled] {
      display: none;
    }
    .GalleryModalPager__button--prev {
      @include media($mq-netbook_up) {
        left: 0;
        width: $var--grid-margin;
      }
    }

    .GalleryModal__closebutton {
      position: absolute;
      z-index: 1;
      top: $var--grid-column;
      left: $var--grid-margin;
      font-weight: $font-weight--bold;
    }
    .GalleryModal__closebutton::before {
      margin-right: prem(12);
    }
  }
}

// ===========================================================================
// Inline in order to not expose as standalone component styles
@include GalleryModalItem.css();
