@use 'globals' as *;

/*!@deps
	TextBlock
*/

// inlined by TextBlock
@mixin css() {
  @media screen {
    .ArticleMeta {
      font: $var--font-bd-s;
      color: $var--color-suld-150;
      margin-bottom: $var--space-1;
    }
    .ArticleMeta--small {
      font: $var--font-label;
    }
    .ArticleMeta__item:not(:last-child)::after {
      content: ' | ';
      margin: 0 0.25em;
      text-decoration: none;
      color: $var--color-suld-150;
    }

    .ArticleMeta + .Heading {
      margin-top: 0;
    }
  }
}
