@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;
@use 'styles/cards' as *;

.ArticleCards {
  --ArticleCards--fallback: url('/assets/illustrations/esjan.png');
  @include CardList();

  margin-bottom: 60px;
  @include avoidCssnanoMerging() {
    margin-bottom: MIN(#{between_phone_netbook(48, 80)}, 80px);
  }
  row-gap: 60px;
  @include avoidCssnanoMerging() {
    row-gap: MIN(#{between_phone_netbook(48, 80)}, 80px);
  }
}

.ArticleCards__item {
  // …
}

/* asdfasdfasdf */
.ArticleCards__card {
  --link-color: _inherit;
  --link-underline: 1px solid #{$color-suld-200};
  --link-underline--hover: 1px solid #{$color-faxafloi-100};

  display: block;
  height: 100%;
  padding-bottom: $var--space-2;
  @include avoidCssnanoMerging() {
    padding-bottom: MIN(#{between_phone_netbook(16, 24)}, #{$var--space-3});
  }
}

.ArticleCards__image {
  display: block;
  position: relative;
  padding-top: pct(168/272);
  margin-bottom: $var--space-2;
  @include avoidCssnanoMerging() {
    margin-bottom: MIN(#{between_phone_netbook(12, 24)}, #{$var--space-3});
  }
}
.ArticleCards__image--missing {
  $borderW: prem(12);
  border: $borderW solid transparent;
  padding-top: calc(#{pct(168/272)} - #{2 * $borderW});
  background: var(--ArticleCards--fallback) 50% 50% / contain no-repeat;
}

.ArticleCards__image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ArticleCards__card__title {
  margin-bottom: $var--space-1;
  font: $var--font-sh-s;
  display: block;
}

.ArticleCards__card__meta {
  font: $var--font-bd-s;
  color: $var--color-suld-150;
  font-weight: $var--font-weight--normal;
}
