/*!@deps
	Footnote
*/

@use '_globals' as *;

@media screen {
  .TableWrapper {
    @include SeenEffect--fadeup();
    // @deprecated  Remove this mixin in v0.9
    @include SeenEffect--disallowNesting();
    position: relative;
    overflow-x: auto;
  }
  .TableWrapper__footnote div:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 18px;
    position: relative;
    margin-right: 24px;
    transform: translateY(4px);
    background-color: $var--color-suld-150;
  }
  .TableWrapper__footnote div {
    color: $var--color-suld-150;
  }

  .TableWrapper--BasicTable--fullwidth .BasicTable {
    width: 100%;
  }

  @include media($mq-tablet_up) {
    .TableWrapper--BasicTable--align--right {
      margin-left: auto;
      width: $var--grid-7; // tolerate containment by right-aligned TextBlock, for instance
      .BasicTable {
        width: 100%;
      }
    }
    .paragraph-alignment-right .TableWrapper__footnote {
      margin-left: auto;
      width: $var--grid-7;
    }
    .TableWrapper--BasicTable--fullwidth {
      width: $var--grid-12;
    }

    .TextBlock--labelled .TableWrapper--BasicTable--fullwidth,
    .TextBlock--align--right .TableWrapper--BasicTable--fullwidth,
    .LabeledTextBlock--wide .TableWrapper--BasicTable--fullwidth {
      margin-left: calc(-1 * #{$var--grid-5-5});
    }
    .LabeledTextBlock .TableWrapper--BasicTable--fullwidth {
      margin-left: calc(-1 * #{$var--grid-6-6});
    }
  }

  .TableWrapper > table,
  .TableWrapper > * > table {
    margin: 0;
  }

  .TableWrapper--at::before,
  .TableWrapper--at::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: prem(20);
    background-image: linear-gradient(
      90deg,
      rgba(black, 0.1) 0,
      rgba(black, 0.04) 50%,
      transparent 100%
    );
    pointer-events: none;
    transition: opacity 200ms ease-in;
  }
  .TableWrapper--at::after {
    left: auto;
    right: 0;
    transform: scaleX(-1);
  }

  .TableWrapper--at--start::before {
    // content: none
    opacity: 0;
  }
  .TableWrapper--at--end::after {
    // content: none
    opacity: 0;
  }
  .TableWrapper__scroller {
    overflow-x: auto;
  }
}
@include media($mq-phone_tablet) {
  .BasicTable {
    width: 100%;
  }
  .TableWrapper {
    margin: 0 $var--grid-margin--neg;
    margin-right: $var--grid-margin--right--neg;
  }
  .TableWrapper__scroller {
    padding: 0 $var--grid-margin;
    padding-right: $var--grid-margin--right;
    // border-right: $var--browser-scrollbar-width solid transparent; // push away fromunder
  }
}

// ===========================================================================

@function _between($from, $to) {
  @return between($from, $to, $bp-phone, $grid-contentMaxWidth, '%');
}

@media screen {
  .BasicTable,
  .TableWrapper--BasicTable {
    margin-bottom: prem(30);
  }

  .BasicTable > * > * > th,
  .BasicTable > * > * > td {
    padding: _between(12, 24) _between(16, 30);
    text-align: left;
    vertical-align: center;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: prem(12);
    }

    @media #{$mq-wide} {
      padding: prem(24);
    }
  }
  .BasicTable > thead > * > th {
    padding-bottom: _between(8, 18);

    @media #{$mq-wide} {
      padding-bottom: prem(18);
    }
  }

  .BasicTable--compact > * > * > th,
  .BasicTable--compact > * > * > td {
    padding: _between(6, 12);

    @media #{$mq-wide} {
      padding: prem(12);
    }
  }
  .BasicTable--compact > thead > * > th {
    padding-bottom: _between(4, 8);

    @media #{$mq-wide} {
      padding-bottom: prem(8);
    }
  }

  .BasicTable > tfoot > * > th,
  .BasicTable > tfoot > * > td {
    border-top: 2px solid $var--color-suld-100;
    border-bottom: 0;
    font-weight: $font-weight--bold;
  }

  // ---------------------------------------------------------------------------

  .BasicTable > * > * > .Cell--number {
    text-align: right;
    white-space: nowrap;
  }
  .BasicTable > * > * > .Cell--tel {
    text-align: left;
    white-space: normal;
  }
  .BasicTable > * > * > .Cell--text {
    text-align: left;
    white-space: normal;
  }
}

// ===========================================================================

.TableWrapper--BasicTable--align--right.TableWrapper--BasicTable--fullwidth {
  @include WARNING__('--align-right and --fullwidth should not be used together');
}
