@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;
@use 'styles/cards' as *;

/*!@deps

*/

.BgBox {
  @include extendBackgroundWithUnderlay();
  background-color: $color-suld-25;
  margin-bottom: $var--component-vspace--medium;
  padding: 70px 0;
  @include avoidCssnanoMerging() {
    padding: MIN(#{between_phone_netbook(30, 90)}, 90px) 0;
  }
}
.BgBox[class] > *:last-child {
  margin-bottom: 0;
}
