@use '_globals' as *;
@use 'utils/textContent' as *;
@use 'styles/buttons' as *;

.BlockQuote {
  @include pullQuoteContainerStyle();
  padding-bottom: $var--space-3;
  margin-bottom: $var--space-3;

  @media #{$mq-phablet_up} {
    --Quote--indent: #{$var--space-2};
  }
}

.BlockQuote__quote {
  @include textContent();
  font: $var--font-bd-s;
  border-left: var(--Quote--line);
  padding-left: $var--space-2;

  @include media($mq-phablet_up) {
    padding-left: $var--space-3;
  }
}

.BlockQuote__quote > *:last-child {
  margin-bottom: 0;
}

.BlockQuote__by {
  position: relative;
  top: $var--space-1--neg;
  margin-top: $var--space-2;
  text-align: right;
  line-height: 1;

  @include media($mq-phablet_up) {
    margin-bottom: calc(-1 * #{$var--ButtonTertiary--height});
  }
}

.BlockQuote__by > a,
.BlockQuote__by > span {
  @include ButtonTertiaryStyle($static: true);
  margin: 0;
  margin-right: calc(
    -1 * (#{$var--ButtonTertiary--hover--dashWidth} - #{$var--ButtonTertiary--dashWidth})
  );
}
.BlockQuote__by > span {
  font-weight: $var--font-weight--normal;
  --ButtonTertiary--dashColor: #{$var--color-suld-150};
}
.BlockQuote__by > a {
  @include ButtonTertiaryStyle--hoverFocus();
}

.BlockQuote__by > *:not(span):span(a) {
  @include WARNING__('Only <span> or <a href=""> is allowed inside `.BlockQuote__by`');
}
