@use 'globals' as *;
@use 'styles/buttons' as *;

/*!@deps
	Icon
	ButtonBar
*/

@media screen {
  .ButtonSecondary {
    @include ButtonStyle();
    // --Button--color: #{$var--color-faxafloi-100};
    --Button--color--active: #{$var--color-faxafloi-100};
    --Button--textColor: var(--Button--color);
    --Button--textColor--active: var(--Button--color--active);
    --Button--backgroundColor: #{$var--color-suld-0};
    --Button--backgroundColor--active: #{$var--color-suld-50};
    --Button--border: 1px;

    &[disabled],
    &[aria-disabled='true'] {
      // opacity: 0.5;
    }

    &--destructive {
      --Button--color: #{$var--color-heidmork-100};
      --Button--color--active: #{$var--color-heidmork-100};
    }
  }
}
