@use 'globals' as *;

.ButtonBar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: calc(-1 * #{$var--Button--gapH});
}
.ButtonBar--align--right {
  justify-content: flex-end;
}
.ButtonBar > * {
  // TODO: Eventually use CSS `gap` property,
  // once browser-support has risen to acceptable levels.
  // …and set the direct-child `margin`s to `0`.
  // This will allow us to add `.ButtonBar--align--right > .Button*--go--back { margin-right: auto; }`
  // To auto-left-float back buttons without using `.ButtonBar__split`
  margin-right: $var--Button--gapH;
}
.ButtonBar[class] > * {
  margin-bottom: $var--Button--gapV;
}

.ButtonBar > .ButtonBar {
  margin: 0;
}

.ButtonBar > .ButtonBar__split {
  width: 0;
  margin: 0 auto;
  flex-grow: 1;
}

// ---------------------------------------------------------------------------

:not(.ButtonBar) > .ButtonBar__split {
  @include WARNING__('`.ButtonBar__split` must be direct child of `.ButtonBar`');
}
.ButtonBar > br {
  @include WARNING__('No `<br/>` children in `.ButtonBar`');
}
.ButtonBar > hr {
  @include WARNING__('No `<hr/>` children in `.ButtonBar`');
}
.ButtonBar
  > :last-child:not(.ButtonPrimary):not(.ButtonSecondary):not(.ButtonTertiary):not(.ButtonPrimary
    ~ *):not(.ButtonSecondary ~ *):not(.ButtonTertiary ~ *) {
  @include WARNING__('`.ButtonBar` should contain Buttons');
}
