@use '_globals' as *;
@use 'CenterColumn';

/*!@deps
	ArticleMeta
	Heading
	ContentImage
	TextBlock
	VSpacer
	RelatedLinks
*/

@media screen {
  .ContentArticle {
    @include SeenEffect--fadeup();
    @include CenterColumn.mixin();
  }
}
