@use '_globals' as *;
@use 'styles/font' as *;

@media screen {
  .FieldGroup {
    margin-bottom: between_cols(30, 70);
  }
  .FieldGroup__legend {
    @include SubheadingStyle--large(); // Whatevs
    margin-bottom: prem(20);
  }
}
