@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;

@media screen {
  .FooterInfo {
    flex-basis: 100%;
    padding-top: grid-units(4);

    @include media($mq-tablet_up) {
      padding-top: grid-units(16);
      padding-left: $var--grid-1-1;
    }
  }
  .FooterInfo::before {
    content: '';
    display: block;
    margin: 0 auto grid-units(12) auto;
    background: url($logo-notext-url) 50% 50% no-repeat;
    background-size: auto 100%;
    width: prem(35);
    height: prem(53);

    @media #{$mq-tablet_up} {
      position: absolute;
      left: 0;
      width: $var--grid-1;
      // margin-top: grid-units(-1);
    }
  }

  .FooterInfo__group {
    margin-bottom: grid-units(8);

    @media #{$mq-tablet_up} {
      float: left;
      width: $var--grid-4;
      margin-left: $var--grid-gutter;
    }
    @media #{$mq-netbook_up} {
      width: $var--grid-3;
    }
  }

  // .FooterInfo__group[role='contactinfo'] {
  .FooterInfo__group[role='contactinfo'] {
    background-color: $color-suld-25;
    padding: grid-units(8) $var--grid-gutter;

    @media #{$mq-phone_phablet} {
      margin-left: grid-units(-4);
      margin-right: grid-units(-4);
      padding-left: grid-units(4);
      padding-right: grid-units(4);
    }

    @media #{$mq-tablet_up} {
      margin-top: grid-units(-8);
      margin-left: 0;
      width: $var--grid-5;
    }
    @media #{$mq-netbook} {
    }
    @media #{$mq-wide} {
      width: $var--grid-4;
      margin-left: $var--grid-1-1;
    }
  }

  .FooterInfo__grouptitle {
    @include SubheadingStyle--small();
    margin-bottom: grid-units(3);
  }
  .FooterInfo__groupcontent {
  }

  .FooterInfo__groupcontent h4 {
    @include SubheadingStyle--small();
    margin-bottom: grid-units(1);
  }
  .FooterInfo__groupcontent h4:not(:first-child) {
    margin-top: grid-units(3);
  }

  .FooterInfo__groupcontent p,
  .FooterInfo__groupcontent ul,
  .FooterInfo__groupcontent li {
    margin-bottom: grid-units(2);
    --current-link-color: #{$var--link-color};
  }

  .FooterInfo__groupcontent a[href^='tel:'] {
    --link-color: var(--current-link-color);
  }
  .FooterInfo__groupcontent a > small {
    font-size: 1em;
    display: block;
    font-weight: $font-weight--normal;
    text-decoration: none;
    color: $color-suld-150;
  }
}
