@use '_globals' as *;

@media screen {
  .FooterBadges {
    --FooterBadges--indenting: #{$var--space-2--neg};
    min-width: 100%;
    clear: both;
    display: flex;
    flex-flow: row wrap;
    margin: 0 var(--FooterBadges--indenting);

    @include media($mq-netbook_up) {
      --FooterBadges--indenting: 0px;
    }
  }
  .FooterBadges::before {
    content: '';
    border-top: $var--border-default;
    width: calc(100% + 2 * var(--FooterBadges--indenting));
    margin: 0 auto;
  }

  .FooterBadges__badge {
    margin: $var--space-2;
  }
  .FooterBadges__badge img,
  .FooterBadges__badge svg {
    width: auto;
  }
}
