@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;

@media screen {
  .FooterInfo {
    flex-basis: 100%;
    padding-top: $var--space-4;

    @media #{$mq-tablet_up} {
      @include afterClear();
      padding-top: calc(2 * #{$var--space-8});
      padding-left: $var--grid-1-1;
    }
  }
  .FooterInfo::before {
    content: '';
    display: block;
    margin: 0 auto calc(2 * #{$var--space-6}) auto;
    background: url($logo-notext-url) 50% 50% no-repeat;
    background-size: auto 100%;
    width: prem(35);
    height: prem(53);

    @media #{$mq-tablet_up} {
      position: absolute;
      left: 0;
      width: $var--grid-1;
      // margin-top: grid-units(-1);
    }
  }

  .FooterInfo__group {
    margin-bottom: $var--space-8;

    @media #{$mq-tablet_up} {
      float: left;
      width: $var--grid-4;
      margin-left: $var--grid-gutter;
    }
    @media #{$mq-netbook_up} {
      width: $var--grid-3;
    }
  }

  .FooterInfo__group[role='contactinfo'], // @deprecated  invalid role value (Remove in v0.9)
  .FooterInfo__group--main {
    background-color: $color-suld-25;
    padding: $var--space-8 $var--grid-gutter;

    @media #{$mq-phone_phablet} {
      margin-left: $var--grid-margin--neg;
      margin-right: $var--grid-margin--right--neg;
      padding-left: $var--grid-margin;
      padding-right: $var--grid-margin--right;
    }

    @media #{$mq-tablet_up} {
      margin-top: $var--space-8--neg;
      margin-left: 0;
      width: $var--grid-5;
    }
    @media #{$mq-netbook} {
    }
    @media #{$mq-wide} {
      width: $var--grid-4;
      margin-left: $var--grid-1-1;
    }
  }

  .FooterInfo__group--main ~ .FooterInfo__group--main {
    @include WARNING__('Multiple `--main` groups are not supported');
  }

  .FooterInfo__grouptitle {
    font: $var--font-sh-s;
    margin-bottom: $var--space-3;
  }
  .FooterInfo__groupcontent {
  }

  .FooterInfo__groupcontent h4 {
    font: $var--font-sh-s;
    margin-bottom: $var--space-1;
  }
  .FooterInfo__groupcontent h4:not(:first-child) {
    margin-top: $var--space-3;
  }

  .FooterInfo__groupcontent p,
  .FooterInfo__groupcontent ul,
  .FooterInfo__groupcontent li {
    margin-bottom: $var--space-2;
    --current-link-color: #{$var--link-color};
  }

  .FooterInfo__groupcontent a[href^='tel:'] {
    --link-color: var(--current-link-color);
  }
  .FooterInfo__groupcontent a > small {
    font-size: 1em;
    display: block;
    font-weight: $font-weight--normal;
    text-decoration: none;
    color: $color-suld-150;
  }
}
