@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/componentLayout' as *;

/*!@deps
	TextBlock
*/

// inlined by TextBlock
@mixin css() {
  @media screen {
    .Heading {
      @include HeadingStyle--medium();
      @include ComponentLayout();
      margin-top: between_phone_netbook(40, 60);
      margin-bottom: between_phone_netbook(24, 32);

      @include media($mq-wide) {
        margin-top: 60px;
        margin-bottom: 32px;
      }
    }
    .Heading--large {
      @include HeadingStyle--large();
    }
    .Heading--small {
      @include HeadingStyle--small();
    }

    .Heading a {
      --link-color: _inherit;
      --link-underline: none;
      --link-underline--hover: none;
    }

    h1.Heading {
      @include WARNING__('Only use <H2/> or lower for .Heading');
    }
  }
}
