/*!@deps
	ButtonTertiary
	Sharpie
	Bling
*/
@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
  .InfoHero {
    position: relative;
    margin-bottom: between_cols(30, 100);
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
  }
  @include media($mq-tablet_up) {
    .InfoHero {
      flex-flow: row-reverse;
    }
    .InfoHero--align--left {
      flex-flow: row;
    }
  }

  .InfoHero__image {
    position: relative;
    margin: 0 $var--grid-margin--neg;
    padding-top: 75%;

    @include media($mq-tablet_up) {
      padding-left: $var--grid-margin;
      box-sizing: content-box;
      width: cols_pct(6);
      padding-top: px_pct(690);
    }
  }

  .InfoHero__image--missing {
    background-color: $color-suld-50;
  }
  .InfoHero__image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 31%;
  }
  .InfoHero__wrapper {
    display: flex;
    flex-direction: column;
  }
  .InfoHero__content {
    margin-top: between_cols(20, 40);
    @include media($mq-tablet_up) {
      width: cols_pct(6);
      margin-bottom: px_pct(170);
    }
    @include media($mq-netbook_up) {
      width: cols_pct(5);
    }
  }

  .InfoHero__title {
    @include HeadingStyle--large();
    margin-bottom: 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  .InfoHero--align--left > * > .InfoHero__title {
    @include media($mq-netbook_up) {
      margin-right: $var--grid-1--neg;
    }
  }

  .InfoHero__titleblurb {
    margin-bottom: px_pct(24, 5);
  }
  .InfoHero__subtitle {
    @include SubheadingStyle--large();
    margin-bottom: prem(8);
  }
  .InfoHero__blurb {
    @include BodyTextStyle--large();
    color: $color-suld-150;
    margin-bottom: prem(8);
  }

  .InfoHero__buttons {
    margin-top: prem(32);
  }
  .InfoHero__buttons > .ButtonTertiary {
    display: block;
  }
}
