@use 'globals' as *;
@use 'styles/header' as *;

@media screen {
  html.modal-open {
    @include freezeScroll($hideAlerts: false);
  }

  .Modalwrapper {
    position: fixed;
    z-index: $var--zindex--modal;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: between_phone_netbook(20, 100) 0;

    transition: all 200ms ease-in;
    transition-property: opacity, visibility;

    @media #{$mq-wide} {
      padding: prem(100) 0;
    }
  }
  [hidden].Modalwrapper {
    display: block; // override default `[hidden][hidden]` styling
    visibility: hidden;
    opacity: 0;
  }

  .Modal {
    max-width: cols_px(8);

    --Modal--paddingV: #{$var--grid-1};
    --Modal--paddingH: #{$var--grid-1};

    position: relative;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--Modal--paddingV) var(--Modal--paddingH);
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    transition: all 200ms ease-in;
    transform: translateY(0);
    opacity: 1;
  }
  [hidden].Modalwrapper > .Modal {
    transform: translateY(-25%);
    opacity: 0;
  }

  .Modal--w6 {
    max-width: cols_px(6);

    @media #{$mq-tablet_up} {
      --Modal--paddingH: #{$var--grid-0-1};
    }
  }
  .Modal--w8 {
    max-width: cols_px(8);
  }
  .Modal--w10 {
    max-width: cols_px(10);

    @media #{$mq-netbook_up} {
      --Modal--paddingH: #{$var--grid-1-1};
    }
  }

  .Modal > :first-child {
    margin-top: 0;
  }

  .Modal__blings {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: var(--Modal--paddingV) calc(0.5 * var(--Modal--paddingH));
    pointer-events: none;
  }

  .Modal__blings > :not(.Bling) {
    @include WARNING__('Only place .Bling content inside .Modal__blings');
  }

  .Modal__closebutton {
    @include hideText(soft);
    display: block;
    position: absolute;
    z-index: 5;
    top: $var--grid-1;
    right: $var--grid-1;
    color: $color-suld-200;
    font-size: between_phone_netbook(36, 64);
    margin: -0.4em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    transition: all 150ms ease-in;

    @include media($mq-wide) {
      font-size: 64px;
    }
  }
  .Modal__closebutton::before {
    @include icon($icons-close);
    font-size: em(26/64);
    width: 100%;
    margin-right: 1px;
  }
  .Modal__closebutton:hover {
    transform: scale(1.2);
  }
}
