/*!@deps
	PageHeading
	ShareButtons
	Bling
*/
@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
  .NewsHero {
    @include SeenEffect--fadeup();
    position: relative;
    display: flex;
    flex-flow: column wrap;
    padding: between_cols(0, 1 * $grid-unit) 0;
    margin-bottom: between_cols(30, 120);
    @include media($mq-phablet_up) {
      flex-flow: row nowrap;
    }
  }

  .NewsHero--align--right .NewsHero__content {
    margin-left: auto;

    @include media($mq-phablet_up) {
      width: cols_pct(7);
    }

    @include media($mq-phone_phablet) {
      width: 100%;
    }
  }

  .NewsHero__content {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;

    @include media($mq-phablet_up) {
      width: cols_pct(6);
    }
  }

  .NewsHero__title {
    @include HeadingStyle--large();
    margin: prem(32) 0 prem(24);
  }

  .NewsHero__meta {
    font-size: prem($font-size-12);
    color: $color-suld-150;
    line-height: em(16 / $font-size-12);
    order: -1;
  }

  .NewsHero__summary {
    @include BodyTextStyle--large();
    margin-bottom: prem(32);
  }

  .NewsHero__image {
    position: relative;
    display: block;
    margin-top: grid-units(-1);
    margin-bottom: grid-units(2);
    order: -1;

    @include media($mq-phablet_up) {
      margin-right: $var--grid-margin--neg;
      padding-right: $var--grid-margin;
      box-sizing: content-box;
      width: cols_pct(5, 5);
      padding-top: cols_pct(6, 6.5);
      margin-left: auto;
      order: 1;
      margin-top: between_cols(0, -24);
      margin-bottom: between_cols(-20, -100);
    }
  }
  .NewsHero__image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
    object-position: 100% 30%;
  }
}
