@use 'globals' as *;

.Picture {
  display: block;
  position: relative;
  margin-bottom: $var--space-3;
  width: 100%;
  height: 100%;
}
.Picture > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Picture--contain > img {
  object-fit: contain;
  object-position: initial;
}
