@use '_globals' as *;
@use 'utils/textContent' as *;
@use 'styles/buttons' as *;

.PullQuote {
  @include pullQuoteContainerStyle();
  padding-bottom: $var--space-5;
  margin-bottom: $var--space-3;

  @media #{$mq-phablet_up} {
    margin-bottom: $var--space-5;
    --Quote--indent: #{$var--grid-0-1};
  }
}

.PullQuote__quote {
  border-left: var(--Quote--line);
  padding-left: $var--space-2;

  color: $var--color-suld-150;
  font-size: 20px;
  line-height: 1.5;

  @media #{$mq-phablet_up} {
    font-size: #{between_phablet_netbook(20, 32)};
    padding-left: $var--grid-0-1;
  }
  @media #{$mq-wide} {
    font-size: 32px;
  }
}
.PullQuote__quote::before {
  content: open-quote;
  float: left; // float before child <p/>s
}
.PullQuote__quote::after {
  content: close-quote;
}

.PullQuote__quote > *:last-child {
  margin-bottom: 0;
  display: inline; // make close-quote flow against last word
}

.PullQuote__quote > *:not(p) {
  @include WARNING__('Only <p> is allowed inside `.PullQuote`');
}

.PullQuote__by {
  position: relative;
  top: $var--space-1;
  text-align: right;
  line-height: 1;

  @include media($mq-phablet_up) {
    margin-top: $var--space-1;
    margin-bottom: calc(-1 * #{$var--ButtonTertiary--height});
  }
}

.PullQuote__by > a,
.PullQuote__by > span {
  @include ButtonTertiaryStyle($static: true);
  margin: 0;
  margin-right: calc(
    -1 * (#{$var--ButtonTertiary--hover--dashWidth} - #{$var--ButtonTertiary--dashWidth})
  );
}
.PullQuote__by > span {
  font-weight: $var--font-weight--normal;
  --ButtonTertiary--dashColor: #{$var--color-suld-150};
}
.PullQuote__by > a {
  @include ButtonTertiaryStyle--hoverFocus();
}

.PullQuote__by > *:not(span):span(a) {
  @include WARNING__('Only <span> or <a href=""> is allowed inside `.PullQuote__by`');
}
