@use '_globals' as *;
@use 'styles/forms';

/*!@deps
	FormField

	CheckboxButtonsGroup
*/

// inlined by CheckboxButtonsGroup
@mixin css() {
  @media screen {
    @include forms.TogglerButtonsKnob(RadioButton);
    @include forms.TogglerButtonsGroup(RadioButtonsGroup);
  }
}
