@use '_globals' as *;
@use 'styles/font' as *;

/*!@deps
	SiteSearchInput
*/

@media screen {
  .SiteSearchAutocomplete {
    position: relative;
  }
  .SiteSearchAutocomplete__container {
    position: absolute;
    z-index: $var--zindex--overlay;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0 $var--space-4;
    background: $var--color-suld-0;
    border: $var--border-default;

    height: 0;
    opacity: 0;
    transition: all 200ms ease-in;
    transition-property: height, opacity;
    overflow: hidden;
  }

  .SiteSearchAutocomplete__container--open {
    height: auto;
    opacity: 1;
    padding: $var--space-4 0;
  }

  .SiteSearchAutocomplete__item {
    font: $var--font-bd-l;
    padding: $var--space-2 $var--space-4;
    padding-right: $var--space-6;

    @media #{$mq-phone_phablet} {
      padding-left: $var--space-2;
      padding-right: $var--space-4;
    }
  }
  .SiteSearchAutocomplete__item--highlighted {
    position: relative;
    cursor: pointer;
    color: $var--color-faxafloi-100;
    background-color: $var--color-suld-25;
  }
  .SiteSearchAutocomplete__item--highlighted::before {
    @include icon($icons-search);
    color: $var--color-suld-100;
    float: right;
    font-size: $var--font-bd-s-size;
    width: $var--space-1_5;
    margin-right: $var--space-3--neg;
    margin-left: $var--space-1;

    @media #{$mq-phone_phablet} {
      margin-right: $var--space-2--neg;
      margin-left: $var--space-0_5;
    }
  }
}
