@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/componentLayout' as *;

/*!@deps
	TextBlock
*/

// inlined by TextBlock
@mixin css() {
  @media screen {
    .SubHeading {
      @include SeenEffect--fadeup();
      // @deprecated  Remove this mixin in v0.9
      @include SeenEffect--disallowNesting();

      @include SubheadingStyle--large();
      @include ComponentLayout();
      margin-top: between_phone_netbook(40, 50);
      margin-bottom: between_phone_netbook(20, 30);

      @include media($mq-wide) {
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
    .SubHeading--small {
      @include SubheadingStyle--small();
    }

    .SubHeading a {
      --link-color: _inherit;
      --link-underline: none;
      --link-underline--hover: none;
    }

    h1.SubHeading {
      @include WARNING__('Only use <H2/> or lower for .SubHeading');
    }
  }
}
