@use 'globals' as *;

/*!@deps
	TextBlock
*/

// inlined by TextBlock
@mixin css() {
  @media screen {
    // Medium is the default.
    .VSpacer[class] {
      margin: 0;
      margin-top: #{$var--component-vspace--medium};
      margin-bottom: #{$var--component-vspace--medium};
    }
    .VSpacer--small[class] {
      margin-top: #{$var--component-vspace--small};
      margin-bottom: #{$var--component-vspace--small};
    }
    .VSpacer--large[class] {
      margin-top: #{$var--component-vspace--large};
      margin-bottom: #{$var--component-vspace--large};
    }
    .VSpacer--xlarge[class] {
      margin-top: #{$var--component-vspace--xlarge};
      margin-bottom: #{$var--component-vspace--xlarge};
    }

    .VSpacer--top--none[class] {
      margin-top: 0;
    }
    .VSpacer--top--small[class] {
      margin-top: #{$var--component-vspace--small};
    }
    .VSpacer--top--large[class] {
      margin-top: #{$var--component-vspace--large};
    }
    .VSpacer--top--xlarge[class] {
      margin-top: #{$var--component-vspace--xlarge};
    }

    .VSpacer--bottom--none[class] {
      margin-bottom: 0;
    }
    .VSpacer--bottom--small[class] {
      margin-bottom: #{$var--component-vspace--small};
    }
    .VSpacer--bottom--large[class] {
      margin-bottom: #{$var--component-vspace--large};
    }
    .VSpacer--bottom--xlarge[class] {
      margin-bottom: #{$var--component-vspace--xlarge};
    }

    br.VSpacer[class], // @deprecated (remove in v0.9)
		// Drop-in (non-wrapping) <hr/> variant.
		hr.VSpacer[class] {
      display: block;
      height: 0;
      border: 0;
      margin-bottom: 0;
    }
    br.VSpacer + [class], // @deprecated (remove in v0.9)
		// Drop-in spacers override the top-margin of their next component sibling
		hr.VSpacer + [class] {
      margin-top: 0;
    }

    // Disallow double *--none classNames
    .VSpacer--top--none.VSpacer--bottom--none {
      margin-top: #{$var--component-vspace--small};
      margin-bottom: #{$var--component-vspace--small};
      @include WARNING__("VSpacer can't be both `--top--none` and  `--bottom--none`");
    }
    // Warn about redundant classNames
    [class*='VSpacer--top--'][class*='VSpacer--bottom--'] {
      & .VSpacer--small {
        @include WARNING__('The class-name `.VSpacer--small` is redundant');
      }
      & .VSpacer--large {
        @include WARNING__('The class-name `.VSpacer--large` is redundant');
      }
      & .VSpacer--xlarge {
        @include WARNING__('The class-name `.VSpacer--xlarge` is redundant');
      }
    }
  }
}
