@use '_globals' as *;

@media screen {
  .WizardStepper {
    counter-reset: step;
  }
  .WizardStepper__step {
    --WizardStepper-ballBackground: #{$var--color-faxafloi-75};
    --WizardStepper-ballColor: #{$var--color-suld-0};
    --WizardStepper-ballIcon: '#{$icons-checkmark}';
    --WizardStepper-lineColor: #{$var--color-faxafloi-100};
    color: $var--color-faxafloi-100;

    display: block;
    line-height: 1.35;
    padding: prem(12) 0;
    padding-left: prem(40);
    margin: prem(-12) 0 0 prem(-12);
    box-sizing: content-box;
    line-height: prem(18);
    position: relative;
    margin-bottom: prem(34);
    font-size: prem(12);

    &::before {
      content: counter(step);
      counter-increment: step;
      width: prem(24);
      line-height: prem(24);
      position: absolute;
      top: prem(8);
      left: prem(8);
      background: var(--WizardStepper-ballBackground);
      border-radius: 50%;
      color: var(--WizardStepper-ballColor);
      font-size: prem(14);
      font-weight: $font-weight--bold;
      text-align: center;
    }

    &::after {
      content: '';
      position: absolute;
      top: prem(38);
      bottom: prem(-24);
      left: prem(19);
      width: prem(2);
      background: var(--WizardStepper-lineColor);
    }
    &:last-child::after {
      content: none;
    }
  }
  .WizardStepper--preview > .WizardStepper__step,
  [aria-current='step'] ~ .WizardStepper__step {
    --WizardStepper-ballBackground: #{$var--color-suld-50};
    --WizardStepper-ballColor: #{$var--color-suld-100};
    --WizardStepper-lineColor: #{$var--color-suld-75};
    color: $var--color-suld-150;
  }
  .WizardStepper--preview > .WizardStepper__step--done,
  [aria-current='step'] ~ .WizardStepper__step--done {
    --WizardStepper-ballColor: #{$var--color-suld-150};
  }

  .WizardStepper__step[aria-current='step'] {
    --WizardStepper-ballBackground: #{$var--color-faxafloi-100};
    --WizardStepper-ballIcon: '#{$icons-pen}';
    --WizardStepper-lineColor: #{$var--color-suld-75};
  }

  .WizardStepper__step--done::before,
  .WizardStepper__step[aria-current='step']::before {
    @include icon();
    content: var(--WizardStepper-ballIcon);
    font-size: prem(12);
  }

  button.WizardStepper__step:hover,
  button.WizardStepper__step:active {
    color: $var--link-color--hover;
    text-decoration: underline;
  }

  // ---------------------------------------------------------------------------

  :not(.WizardStepper--preview)
    > .WizardStepper__step:last-child:not([aria-current='step']):not([aria-current='step']
      ~ *) {
    @include WARNING__('You forgot aria-current="step".');
  }
  .WizardStepper--preview > .WizardStepper__step[aria-current='step'] {
    @include WARNING__('Remove the `--preview` modifier on parent');
  }
}

@media #{$mq-phone_phablet} {
  .WizardStepper__step {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: prem(10);
    padding-bottom: prem(25);
  }
}
