@media screen{.CenterColumn{max-width:792px;margin:0 auto}.CenterColumn>.Heading,.CenterColumn>.PageHeading,.CenterColumn>.TextBlock{width:auto;max-width:none;margin-left:0}}
/*!@deps
	ArticleMeta
	Heading
	ContentImage
	TextBlock
	VSpacer
	RelatedLinks
*/@media screen{.before-sprinkling .ContentArticle,.ContentArticle[data-is-seen=false],.ContentArticle[data-is-seen=true]{opacity:0;transform:translateY(200px)}.ContentArticle[data-is-seen=""],.ContentArticle[data-is-seen=true]{opacity:1;transform:none}.ContentArticle[data-is-seen=true]{transition:all .5s ease-in-out;transition-property:opacity,transform}.ContentArticle{max-width:792px;margin:0 auto}.ContentArticle>.Heading,.ContentArticle>.PageHeading,.ContentArticle>.TextBlock{width:auto;max-width:none;margin-left:0}}