@use '../globals' as *;
@use 'font' as *;

@mixin Attention($BEM: 'InfoBlock', $border: true) {
	@include media(screen) {
		.#{$BEM}__attention {
			@include BodyTextStyle--large();
			position: relative;
			color: $color-heidmork-100;
			padding-left: grid-units(5);

			border-top: if($border, 1px solid $color-suld-150, 0);
			margin-top: between_phone_netbook(64, 80);
			padding-top: between_phone_netbook(40, 64);

			&:before {
				content: '';
				background-color: $color-heidmork-100;
				width: grid-units(1);
				position: absolute;
				top: between_phone_netbook(40, 64);
				left: 0;
				bottom: 0;
			}
		}
	}

	@include media($mq-wide) {
		.#{$BEM}__attention {
			margin-top: grid-units(10);
			padding-top: grid-units(8);

			&:before {
				top: grid-units(8);
			}
		}
	}
}
