@use '../globals' as *;
@use './links' as *;

@mixin ButtonStyle() {
	@include LinkStyle_Reset(true);
	--Button--color: #{$var--theme-color-primary--text};
	--Button--backgroundColor: #{$var--theme-color-primary};
	--Button--backgroundColor--active: #{$var--theme-color-primary--dark};
	--Button--border: 0px;
	--Button--borderColor: var(--Button--backgroundColor);
	--Button--height: #{prem(56)};
	--Button--iconOutdent: #{$var--space-0_5--neg};
	--Button--iconSpace: #{$var--space-1};

	$borderRadius: prem(3);
	// @include buttonReset(); // <-- This is NOT needed as `-basics` has global button reset

	// normalize links
	white-space: nowrap;
	vertical-align: middle;

	color: var(--Button--color);
	background-color: var(--Button--backgroundColor);
	display: inline-block;
	font: $var--font-button;
	font-weight: $font-weight--bold;
	line-height: calc(var(--Button--height) - 2 * var(--Button--border));
	margin-right: $var--Button--gapH;
	margin-bottom: $var--Button--gapV;
	text-align: center;
	border-radius: $borderRadius;
	position: relative;
	transition: all 200ms ease-in;
	transition-property: border-color, background-color, color, text-shadow, box-shadow;
	padding: 0 between_phone_netbook(24, 32);
	width: max-content;
	max-width: 100%;
	min-width: between_phone_netbook(80, 128);

	@media #{$mq-wide} {
		min-width: 128px;
		padding-left: 32px;
		padding-right: 32px;
	}

	@include hoverActiveKeyboardFocus-selector {
		outline: 0;
		text-decoration: none;
		// box-shadow: 0 prem(12) prem(16) rgba(black, 0.09);
		box-shadow: 0 prem(8) prem(16) rgba(black, 0.15);
		color: var(--Button--color);
	}
	&:active,
	&[aria-pressed='true'] {
		text-decoration: none;
		background-color: var(--Button--backgroundColor--active);
		color: var(--Button--color);
	}
	@include keyboardFocus-selector {
		outline: prem(2) solid var(--Button--borderColor);
		outline-offset: prem(2);
	}

	&[disabled],
	&[aria-disabled='true'] {
		box-shadow: none;
		opacity: 0.3;
	}

	&--wide {
		min-width: between_tablet_netbook(275, 312);

		@media #{$mq-phone_phablet} {
			width: 100%;
		}
		@media #{$mq-wide} {
			min-width: 312px;
		}
	}
	&--small {
		--Button--iconOutdent: #{$var--space-0_5--neg};
		--Button--iconSpace: #{$var--space-1};
		--Button--height: #{prem(40)};
		padding-left: between_phone_netbook(16, 24);
		padding-right: between_phone_netbook(16, 24);

		@media #{$mq-wide} {
			padding-left: 24px;
			padding-right: 24px;
		}
	}

	&--go--back {
		order: -10;
	}
	&--go--back::before {
		@include icon($icons-arrow-left);
		margin-left: var(--Button--iconOutdent);
		margin-right: var(--Button--iconSpace);
	}
	&--go--forward {
		order: 10;
		margin-left: auto;
	}
	&--go--forward::after {
		@include icon($icons-arrow-right);
		margin-right: var(--Button--iconOutdent);
		margin-left: var(--Button--iconSpace);
	}

	&[data-icon]::before {
		// Opt-in to data-icons=""
		--Icon--enabled: initial;
		margin-left: var(--Button--iconOutdent);
		margin-right: var(--Button--iconSpace);
	}

	// ---------------------------------------------------------------------------

	&--small#{&}--wide {
		@include WARNING__('`--small` and `--wide` do NOT mix.');
	}
	&--go--back[data-icon],
	&--go--forward[data-icon] {
		@include WARNING__('Icons and `--go--(back|forward)` do NOT mix.');
	}
	&--go-back#{&}--destructive,
	&--go--forward#{&}--destructive {
		@include WARNING__('`--destructive` and `--go--(back|forward)` do NOT mix');
	}
}

// ===========================================================================
//
// ===========================================================================
//
// ===========================================================================

:root {
	--ButtonTertiary--color: _inherit;
	--ButtonTertiary--dashColor: #{$var--theme-color-primary--safeish};
	--ButtonTertiary--dashWidth: #{$var--space-2};
	--ButtonTertiary--hover--dashWidth: #{$var--space-4};
	--ButtonTertiary--dashSpace: #{$var--space-2};
	--ButtonTertiary--dashHeight: 2px;
	--ButtonTertiary--marginRight: #{between_phone_netbook(16, 24)};
}
$var--ButtonTertiary--color: var(--ButtonTertiary--color);
$var--ButtonTertiary--dashColor: var(--ButtonTertiary--dashColor);
$var--ButtonTertiary--dashWidth: var(--ButtonTertiary--dashWidth);
$var--ButtonTertiary--hover--dashWidth: var(--ButtonTertiary--hover--dashWidth);
$var--ButtonTertiary--dashSpace: var(--ButtonTertiary--dashSpace);
$var--ButtonTertiary--dashHeight: var(--ButtonTertiary--dashHeight);

@mixin ButtonTertiaryStyle($static: false) {
	$borderRadius: prem(8);

	@include LinkStyle_Reset(true);

	color: $var--ButtonTertiary--color;
	position: relative;
	display: inline-block;
	width: max-content;
	max-width: 100%;
	vertical-align: middle;
	font: $var--font-base;
	padding-left: calc(
		#{$var--ButtonTertiary--dashSpace} + #{$var--ButtonTertiary--dashWidth}
	);
	padding-right: calc(
		#{$var--ButtonTertiary--hover--dashWidth} - #{$var--ButtonTertiary--dashWidth}
	);
	margin-right: var(--ButtonTertiary--marginRight);
	margin-bottom: $var--space-1;
	font-weight: 700;
	transition: all 100ms ease-in;

	@include media($mq-wide) {
		--ButtonTertiary--marginRight: 24px;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		width: $var--ButtonTertiary--dashWidth;
		height: $var--ButtonTertiary--dashHeight;
		display: inline-block;
		vertical-align: middle;
		background-color: currentColor;
		color: $var--ButtonTertiary--dashColor;
		transform: translateY(-50%);
		transition: inherit;
	}

	@if not $static {
		@include hoverActiveKeyboardFocus-selector {
			padding-left: calc(
				#{$var--ButtonTertiary--dashSpace} + #{$var--ButtonTertiary--hover--dashWidth}
			);
			padding-right: prem(0);
			color: $var--ButtonTertiary--color;
			outline: 0;

			&::before {
				width: $var--ButtonTertiary--hover--dashWidth;
			}
		}

		&:active::before {
			width: $var--ButtonTertiary--dashWidth;
		}

		@include keyboardFocus-selector {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: prem(-13) prem(-16);
				border: prem(1) dotted $var--ButtonTertiary--dashColor;
				border-radius: prem(8);
			}
		}
	}
}

@mixin ButtonTertiaryStyle--disabled() {
	&[disabled],
	&[aria-disabled='true'] {
		--ButtonTertiary--dashColor: currentColor;
		--ButtonTertiary--color: _inherit;
		opacity: 0.5;
		pointer-events: none;
	}
}
