@use '../globals' as *;

@mixin FocusedFrame(
	$frameOffset,
	$borderRadius,
	$borderColor: $color-faxafloi-100,
	$borderWidth: 2px
) {
	&:after {
		content: '';
		$frameOffsetNegative: $frameOffset * -1;
		border: $borderWidth solid $borderColor;
		position: absolute;
		top: $frameOffsetNegative;
		right: $frameOffsetNegative;
		bottom: $frameOffsetNegative;
		left: $frameOffsetNegative;
		border-radius: $borderRadius;
	}
}

@mixin DisabledButton($backgroundColor: transparent) {
	&[disabled],
	&[disabled='true'] {
		background-color: $backgroundColor;
		opacity: 0.5;
	}
}

@mixin Button($frameOffset: prem(4)) {
	$borderRadius: prem(3);
	@include buttonReset();
	color: $color-white;
	background-color: $color-faxafloi-100;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	line-height: prem(56);
	max-width: 100%;
	padding: 0 prem(20);
	margin: $frameOffset;
	text-decoration: none;
	margin-right: prem(30);
	text-align: center;
	border-radius: $borderRadius;
	position: relative;
	transition: box-shadow 150ms ease-in-out;

	@media #{$mq-tablet_up} {
		min-width: prem(270);
	}

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		box-shadow: 0 prem(12) prem(16) rgba(black, 0.09);
	}

	&:active {
		background-color: $color-faxafloi-150;
	}

	&:focus {
		@include FocusedFrame($frameOffset, $borderRadius);
	}

	&[disabled],
	&[disabled='true'] {
		background-color: $color-faxafloi-50;
		cursor: not-allowed;
	}

	&--small {
		line-height: prem(40);

		@media #{$mq-tablet_up} {
			min-width: prem(170);
		}
	}
}

@mixin ButtonTertiary() {
	$frameOffset: prem(8);
	$borderRadius: prem(8);
	@media screen {
		display: inline-block;
		white-space: nowrap;
		vertical-align: middle;
		line-height: prem(30);
		color: $color-faxafloi-100;
		margin: $frameOffset;
		margin-right: prem(30);
		padding: 0 prem(16);
		position: relative;
		font-weight: 700;

		&::before {
			content: '';
			width: prem(16);
			height: prem(2);
			display: inline-block;
			vertical-align: middle;
			background-color: $color-faxafloi-100;
			margin-right: prem(16);
			transition: width 300ms ease-in-out;
		}

		&:hover:before,
		&:active:before {
			width: prem(48);
		}

		&:focus {
			@include FocusedFrame($frameOffset, $borderRadius, $color-faxafloi-75, 1px);
			&:after {
				right: 0;
				left: 0;
			}
		}

		&--small {
			font-weight: 400;
		}

		@include DisabledButton();
	}
}
