@use '../globals' as *;
@use 'font' as *;
@use 'links' as *;

@mixin CardBlock() {
	@include media($mq-tablet_up) {
		display: grid;
		column-gap: cols_pct(0, 1);
		grid-template: 'title list' / cols_pct(3) cols_pct(9);
	}
}

@mixin CardListTitle() {
	grid-area: title;
	@include HeadingStyle--small();
	margin-bottom: $var--baseVerticalMargin;
}

@mixin CardList() {
	grid-area: list;
	display: grid;
	grid-auto-flow: row;
	gap: prem($grid-gutter) cols_pct(0, 1, 9);
	grid-template-columns: repeat(3, cols_pct(3, 2, 9));

	@include media($mq-phone) {
		grid-template-columns: 100%;
	}
	@include media($mq-phablet) {
		grid-template-columns: repeat(2, cols_pct(6));
	}
	@include media($mq-tablet) {
		grid-template-columns: repeat(2, cols_pct(6, 5, 9));
	}
}

@mixin Card() {
	@include LinkStyle_Reset(noborder);
	display: block;
	padding: prem(24) prem(24) prem(16) prem(24);
	min-height: prem(168);
	width: 100%;

	&::after {
		content: '';
		display: block;
		width: grid-units(5);
		height: prem(2);
		background: var(--Card-lineColor, currentColor);
		margin-top: grid-units(2);
		margin-bottom: grid-units(2);
		transition: width 0.25s ease-in-out;
	}

	&:hover::after,
	&:focus::after {
		width: 100%;
	}

	&__title,
	&__summary {
		display: block;
	}

	&__title {
		@include BodyTextStyle--large();
		font-weight: 700;
	}

	&__summary {
		@include BodyTextStyle--small();
	}
}
