@use '../globals' as *;
@use 'font' as *;
@use 'links' as *;

@mixin CardGrid($bem, $wrapperClass: $bem, $cols: 3) {
	@media screen {
		.#{$wrapperClass} {
			color: $color-suld-200;
			display: grid;
			grid-auto-flow: row;
			gap: prem($grid-gutter) cols_pct(0, 1, $cols * 3);
			grid-template-columns: repeat(4, 1fr);

			@include media($mq-phone_phablet) {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		$listSelector: if($bem == $wrapperClass, $wrapperClass, $bem);
		.#{$listSelector}__list {
			display: grid;
			grid-auto-flow: row;
			gap: prem($grid-gutter) cols_pct(0, 1, $cols * 3);
			grid-template-columns: repeat($cols, 1fr);
			grid-column: span $cols;

			@include media($mq-phone_phablet) {
				grid-column: 1;
				grid-template-columns: repeat(1, 1fr);
			}

			@include media($mq-phablet) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include media($mq-tablet) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@mixin Card($bem, $wrapperClass: $bem, $cols: 3, $grid: true) {
	@if ($grid) {
		@include CardGrid($bem, $wrapperClass, $cols);
	}

	@media screen {
		.#{$bem}__title {
			@include HeadingStyle--small();
			width: 100%;
		}

		.#{$bem}__card {
			display: block;
			padding: prem(24) prem(24) prem(16) prem(24);
			min-height: prem(168);
			position: relative;
			@include LinkStyle_Reset();
		}

		.#{$bem}__card:after {
			content: '';
			display: block;
			width: grid-units(5);
			height: prem(2);
			background: currentColor;
			margin-top: grid-units(2);
			margin-bottom: grid-units(2);
			transition: width 0.25s ease-in-out;
		}

		.#{$bem}__card:hover:after,
		.#{$bem}__card:focus:after {
			width: 100%;
		}

		.#{$bem}__card__title,
		.#{$bem}__card__summary {
			display: block;
		}

		.#{$bem}__card__title {
			@include BodyTextStyle--large();
			font-weight: 700;
		}

		.#{$bem}__card__summary {
			@include BodyTextStyle--small();
		}
	}
}
