@use '../_globals' as *;

@mixin _ResponsiveFontSize($sizeL, $leadL, $sizeS, $leadS, $media: $mq-phablet_netbook) {
	$lead: $leadS != null and $leadL != null;
	font-size: px($sizeS);
	line-height: if($lead, px($leadS), null);

	@media #{$media} {
		font-size: between_phablet_netbook($sizeS, $sizeL);
		line-height: if($lead, between_phablet_netbook($leadS, $leadL), null);
	}
	@media #{$mq-wide} {
		font-size: px($sizeL);
		line-height: if($lead, px($leadL), null);
	}
}

@mixin _ResponsiveFontSizeFast($sizeL, $leadL, $sizeS, $leadS) {
	@include _ResponsiveFontSize($sizeL, $leadL, $sizeS, $leadS, $mq-tablet_netbook);
}

// ---------------------------------------------------------------------------

@mixin HeadingStyle--xlarge() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-xl-size,
		$font-hd-xl-leading,
		$font-hd-xl-size--phone,
		$font-hd-xl-leading--phone
	);
}
@mixin HeadingStyle--large() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-l-size,
		$font-hd-l-leading,
		$font-hd-l-size--phone,
		$font-hd-l-leading--phone
	);
}
@mixin HeadingStyle--medium() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-m-size,
		$font-hd-m-leading,
		$font-hd-m-size--phone,
		$font-hd-m-leading--phone
	);
}
@mixin HeadingStyle--small() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-s-size,
		$font-hd-s-leading,
		$font-hd-s-size--phone,
		$font-hd-s-leading--phone
	);
}

// ---------------------------------------------------------------------------

@mixin SubheadingStyle--large() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-sh-l-size,
		$font-sh-l-leading,
		$font-sh-l-size--phone,
		$font-sh-l-leading--phone
	);
}
@mixin SubheadingStyle--large-thin() {
	font-weight: $font-weight--normal;
	@include _ResponsiveFontSize(
		$font-sh-l-size,
		$font-sh-l-leading,
		$font-sh-l-size--phone,
		$font-sh-l-leading--phone
	);
}
@mixin SubheadingStyle--small() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-sh-s-size,
		$font-sh-s-leading,
		$font-sh-s-size--phone,
		$font-sh-s-leading--phone
	);
}

// ---------------------------------------------------------------------------

@mixin BodyTextStyle--large($leading: true, $bold: false) {
	@include _ResponsiveFontSizeFast(
		$font-bd-l-size,
		if($leading, $font-bd-l-leading, null),
		$font-bd-s-size,
		if($leading, $font-bd-s-leading, null)
	);
	font-weight: if($bold, $font-weight--bold, null);
}
@mixin BodyTextStyle--small($leading: true) {
	font-size: prem($font-bd-s-size);
	line-height: if($leading, prem($font-bd-s-leading), null);
}

// ---------------------------------------------------------------------------
