@use '../_globals' as *;

@mixin _ResponsiveFontSize($sizeL, $leadL, $sizeS, $leadS) {
	font-size: px($sizeL);
	line-height: px($leadL);

	@media #{$mq-phone_netbook} {
		font-size: between_phone_netbook($sizeS, $sizeL);
		line-height: between_phone_netbook($leadS, $leadL);
	}
}

// ---------------------------------------------------------------------------

@mixin HeadingStyle--xlarge() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-xl-size,
		$font-hd-xl-leading,
		$font-hd-xl-size--phone,
		$font-hd-xl-leading--phone
	);
}
@mixin HeadingStyle--large() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-xl-size,
		$font-hd-l-leading,
		$font-hd-l-size--phone,
		$font-hd-l-leading--phone
	);
}
@mixin HeadingStyle--medium() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-m-size,
		$font-hd-m-leading,
		$font-hd-m-size--phone,
		$font-hd-m-leading--phone
	);
}
@mixin HeadingStyle--small() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-hd-s-size,
		$font-hd-s-leading,
		$font-hd-s-size--phone,
		$font-hd-s-leading--phone
	);
}

// ---------------------------------------------------------------------------

@mixin SubheadingStyle--large() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-sh-l-size,
		$font-sh-l-leading,
		$font-sh-l-size--phone,
		$font-sh-l-leading--phone
	);
}
@mixin SubheadingStyle--large-thin() {
	font-weight: $font-weight--normal;
	@include _ResponsiveFontSize(
		$font-sh-l-size,
		$font-sh-l-leading,
		$font-sh-l-size--phone,
		$font-sh-l-leading--phone
	);
}
@mixin SubheadingStyle--small() {
	font-weight: $font-weight--bold;
	@include _ResponsiveFontSize(
		$font-sh-s-size,
		$font-sh-s-leading,
		$font-sh-s-size--phone,
		$font-sh-s-leading--phone
	);
}

// ---------------------------------------------------------------------------

@mixin BodyTextStyle--large() {
	@include _ResponsiveFontSize(
		$font-bd-l-size,
		$font-bd-l-leading,
		$font-bd-s-size,
		$font-bd-s-leading
	);
}
@mixin BodyTextStyle--small() {
	font-size: prem($font-bd-s-size);
	line-height: prem($font-bd-s-leading);
}

// ---------------------------------------------------------------------------
