@use '../_globals' as *;
@use './links' as *;

@mixin LayoutHeaderLogo() {
	@include LinkStyle_Reset(true);
	@include hideText(soft);
	display: block;
	width: prem(182);
	height: prem(53);

	& > svg,
	& > img,
	& > * > svg,
	& > * > img {
		width: 100%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
		object-fit: contain;
		object-position: 0% 50%;
		margin-right: prem(10);
		margin-left: -1px;
	}

	@include media($mq-Hamburger) {
		margin: prem(-10);
		padding: prem(10);
		overflow: hidden;
		box-sizing: content-box;
		width: prem(35);

		> div {
			display: inline-block;
		}

		& > svg,
		& > img,
		& > * > svg,
		& > * > img {
			object-fit: cover;
			width: prem(185);
			margin-right: prem(21);

			> .logo-text {
				display: none;
			}
		}
	}
}
