@use '../_globals' as *;
@use './links' as *;

@mixin LayoutHeaderLogo() {
	@include LinkStyle_Reset(true);
	@include hideText(soft);
	display: block;
	width: prem(181);

	& > img {
		width: 100%;
	}
}
