@use '../_globals' as *;

@mixin ComponentLayout($BEM) {
	@if $BEM {
		.#{$BEM} {
			max-width: cols_px(6);
		}

		.#{$BEM}--align--right {
			margin-left: auto;
			max-width: cols_px(7);
		}

		.#{$BEM}--wide {
			margin-left: 0; // Enforce that --wide and --align--right don't mix
			max-width: cols_px(8);
		}
		.#{$BEM}--align--right.#{$BEM}--wide {
			@include WARNING__("`--align--right` can't be `--wide`");
		}
	}
}
