[submodule "servers/styles"]
	path = servers/styles
	url = git@github.com:reykjavikcity/hanna-server-styles.git
	branch = main
[submodule "servers/docs"]
	path = servers/docs
	url = git@github.com:reykjavikcity/hanna-server-docs.git
	branch = main
