@use '_globals' as *;

@mixin itemsScrollSnapStyles() {
  & {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    --paddingLeft: calc(50vw - 50%);
    padding-left: var(--paddingLeft);
    margin: 0 calc(-1 * var(--paddingLeft));
    scroll-padding-left: var(--Carousel--leftOffset, #{px($grid-margin--phone)});
    // hide scrollbars
    -ms-overflow-style: none; /* Edge, Internet Explorer */
    scrollbar-width: none; /* Firefox */
    width: 100vw;
  }
  // Ensure that the last item can scroll all the way to the left edge.
  // Padding-right on the parent doesn't fully work in FF and Chrome.
  &::after {
    content: '';
    width: 90vw;
  }

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  &[data-scroll-snapping] {
    scroll-snap-type: x mandatory;
  }
  & > * {
    scroll-snap-align: start;
  }
}
