@use '../globals' as *;
@use 'font' as *;

@mixin AttentionStyle($border: true) {
  font: $var--font-bd-l;
  position: relative;
  padding-left: grid-units(5);

  margin-top: between_phone_netbook(64, 80);
  @if $border {
    border-top: $var--border-dark;
    padding-top: between_phone_netbook(40, 64);
  }

  &::before {
    content: '';
    background-color: $var--theme-color-primary;
    width: grid-units(1);
    position: absolute;
    top: if($border, between_phone_netbook(40, 64), 0);
    left: 0;
    bottom: 0;
  }

  @include media($mq-wide) {
    margin-top: 80px;

    @if $border {
      padding-top: 64px;

      &::before {
        top: 64px;
      }
    }
  }
}
