@use '../globals' as *;
@use './links' as *;

// ===========================================================================
//
// ===========================================================================
//
// ===========================================================================

:root {
  --ButtonTertiary--height: calc(#{$var--font-button-leading} + 4px);
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: #{$var--color-faxafloi-100};
  --ButtonTertiary--dashWidth: #{$var--space-2};
  --ButtonTertiary--hover--dashWidth: #{$var--space-4};
  --ButtonTertiary--dashSpace: #{$var--space-2};
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: #{between_phone_netbook(16, 24)};

  @include media($mq-wide) {
    --ButtonTertiary--gapH: 24px;
  }
}
$var--ButtonTertiary--height: var(--ButtonTertiary--height);
$var--ButtonTertiary--color: var(--ButtonTertiary--color);
$var--ButtonTertiary--dashColor: var(--ButtonTertiary--dashColor);
$var--ButtonTertiary--dashWidth: var(--ButtonTertiary--dashWidth);
$var--ButtonTertiary--hover--dashWidth: var(--ButtonTertiary--hover--dashWidth);
$var--ButtonTertiary--dashSpace: var(--ButtonTertiary--dashSpace);
$var--ButtonTertiary--dashHeight: var(--ButtonTertiary--dashHeight);
$var--ButtonTertiary--gapH: var(--ButtonTertiary--gapH);

@mixin ButtonTertiaryStyle($static: false) {
  @include LinkStyle_Reset(true);

  color: $var--ButtonTertiary--color;
  position: relative;
  display: inline-block;
  width: max-content;
  max-width: 100%;
  vertical-align: middle;
  font: $var--font-button;
  padding: 2px 0;
  padding-left: calc(
    #{$var--ButtonTertiary--dashSpace} + #{$var--ButtonTertiary--dashWidth}
  );
  padding-right: calc(
    #{$var--ButtonTertiary--hover--dashWidth} - #{$var--ButtonTertiary--dashWidth}
  );
  margin-right: $var--ButtonTertiary--gapH;
  margin-bottom: $var--space-1;
  font-weight: 700;
  transition: all 100ms ease-in;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: $var--ButtonTertiary--dashWidth;
    height: $var--ButtonTertiary--dashHeight;
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: $var--ButtonTertiary--dashColor;
    transform: translateY(-50%);
    transition: inherit;
  }

  @if not $static {
    @include ButtonTertiaryStyle--hoverFocus();
  }
}

@mixin ButtonTertiaryStyle--hoverFocus() {
  @include hoverActiveKeyboardFocus-selector {
    padding-left: calc(
      #{$var--ButtonTertiary--dashSpace} + #{$var--ButtonTertiary--hover--dashWidth}
    );
    padding-right: prem(0);
    color: $var--ButtonTertiary--color;
    outline: 0;

    &::before {
      width: $var--ButtonTertiary--hover--dashWidth;
    }
  }

  &:active::before {
    width: $var--ButtonTertiary--dashWidth;
  }

  @include keyboardFocus-selector {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: prem(-13) prem(-16);
      border: prem(1) dotted $var--ButtonTertiary--dashColor;
      border-radius: prem(8);
    }
  }
}

@mixin ButtonTertiaryStyle--disabled() {
  &[disabled],
  &[aria-disabled='true'] {
    --ButtonTertiary--hover--dashWidth: #{$var--ButtonTertiary--dashWidth};
    --ButtonTertiary--dashColor: currentColor;
    --ButtonTertiary--color: _inherit;
    opacity: 0.5;
    pointer-events: none;
  }
}
