@forward 'a11y';
@forward 'icons';
@forward 'triangle';
@forward 'hideText';
@forward 'directions';
@forward 'afterclear';
@forward 'extendSides';
@forward 'buttonReset';
@forward 'overflowEllipsis';

@use '../vars/grid' as *;
@forward 'between' with (
	$between-maxWidth: $grid-contentMaxWidth
);
@forward 'cols' with (
	$columnWidth: $grid-column,
	$gutterWidth: $grid-gutter,
	$numCols: $grid-numCols
);

@function prem($px) {
	@return rem($px / 16);
}

@function fade($color, $opacity) {
	@return scale-color($color, $alpha: ($opacity - 100%));
}
