@forward 'scssutils';
@forward 'between';

// ---------------------------------------------------------------------------

@use '../vars' as *;
@use 'between' as *;
@use 'scssutils/media' as *;

@function prem($px) {
	@return rem($px / 16);
}

@function grid-units($units: 1) {
	@return prem($grid-unit * $units);
}

@mixin extendBackgroundWithUnderlay($dir: both, $pseudo: before) {
	z-index: 1;
	position: relative;
	$from: -1 * $grid-edge--phone;
	$to: -1 * $grid-edge--wide;

	&::#{$pseudo} {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: if($dir == right, null, between_cols($from, $to));
		right: if($dir == left, null, between_cols($from, $to));
		z-index: -1;
		background: inherit;
	}
}
