@use '../vars' as *;
@use 'scssutils' as *;

$_scaleDown: $grid-contentMinWidth / $grid-contentMaxWidth;

@function between_cols($from, $to, $cols: $grid-numCols, $gutters: null) {
	$max: if($gutters == null, cols_px($cols), cols_px($cols, $gutters));
	$min: $_scaleDown * $max;
	@return between($from, $to, $min, $max, '%');
}

@function between_container(
	$from,
	$to,
	$max: $grid-contentMaxWidth,
	$min: $grid-contentMinWidth
) {
	@return between($from, $to, $min, $max, '%');
}

// ---------------------------------------------------------------------------

@function between_Hamburger($from, $to) {
	@return between_phone_tablet($from, $to);
}
@function between_Topmenu($from, $to) {
	@return between_netbook($from, $to);
}

// ---------------------------------------------------------------------------

@function between_phone($from, $to) {
	@return between($from, $to, $bp-phone, $bp-phablet, 'vw');
}
@function between_phablet($from, $to) {
	@return between($from, $to, $bp-phablet, $bp-tablet, 'vw');
}
@function between_tablet($from, $to) {
	@return between($from, $to, $bp-tablet, $bp-netbook, 'vw');
}
@function between_netbook($from, $to) {
	@return between($from, $to, $bp-netbook, $bp-wide, 'vw');
}

// ---------------------------------------------------------------------------

@function between_phone_netbook($from, $to) {
	@return between($from, $to, $bp-phone, $bp-wide, 'vw');
}
@function between_phablet_netbook($from, $to) {
	@return between($from, $to, $bp-phablet, $bp-wide, 'vw');
}
@function between_tablet_netbook($from, $to) {
	@return between($from, $to, $bp-tablet, $bp-wide, 'vw');
}
@function between_tablet_netbook($from, $to) {
	@return between($from, $to, $bp-tablet, $bp-wide, 'vw');
}

// ---------------------------------------------------------------------------

@function between_phone_tablet($from, $to) {
	@return between($from, $to, $bp-phone, $bp-netbook, 'vw');
}
@function between_phablet_tablet($from, $to) {
	@return between($from, $to, $bp-phablet, $bp-netbook, 'vw');
}

// ---------------------------------------------------------------------------

@function between_phone_phablet($from, $to) {
	@return between($from, $to, $bp-phone, $bp-tablet, 'vw');
}
