@use '../vars' as *;
@use 'between' as *;
@use 'scssutils/between' as *;

@mixin bodyPadding($dir: both) {
	$fluidVal: between_phone_netbook($grid-edge--phone, $grid-edge--wide);
	padding-left: if($dir != right, $fluidVal, null);
	padding-right: if($dir != right, $fluidVal, null);
}

@mixin bodyPaddingInner($property: padding, $neg: false, $dir: both) {
	$f: if($neg, -1, 1);
	$from: $f * $grid-edge--phone;
	$to: $f * $grid-edge--wide;

	#{$property}-left: if($dir != right, between_cols($from, $to), null);
	#{$property}-right: if($dir != left, between_cols($from, $to), null);
}
