@use 'globals' as *;
@use 'styles/font' as *;

@mixin defaultULStyle() {
	list-style: none;
	padding: 0;
	margin-bottom: $var--baseVerticalMargin;
	@include BodyTextStyle--small();

	> li {
		margin-bottom: prem($grid-unit * 2);
		position: relative;
		padding-left: prem($grid-unit * 4);

		&::before {
			content: '';
			position: absolute;
			top: prem($grid-unit * 1.5);
			left: 0;
			width: prem($grid-unit * 2);
			height: prem(2);
			background-color: $var--color-theme-primary--safeish;
		}
	}
}

// reset <button> styles for easier custom styling
@mixin textContent() {
	> h2 {
		@include HeadingStyle--small();
		margin-bottom: var(--h2--marginBottom, $var--baseVerticalMargin);
	}
	> * + h2 {
		margin-top: var(--h2--marginTop, 1.5em);
	}
	> h3 {
		@include SubheadingStyle--large();
		margin-bottom: $var--baseVerticalMargin;
	}
	> h4 {
		@include SubheadingStyle--small();
		margin-bottom: $var--baseVerticalMargin;
	}
	> p {
		margin-bottom: $var--baseVerticalMargin;
	}
	ul {
		@include defaultULStyle();
	}
	ol {
		@include BodyTextStyle--small();
	}
	blockquote {
		padding: prem($grid-unit * 4);
		margin-bottom: $var--baseVerticalMargin;
		position: relative;

		&::before {
			content: 'â€';
			font-size: prem(64);
			position: absolute;
			top: prem($grid-unit * 4);
			left: prem($grid-unit * 0);
		}
	}

	> :last-child {
		margin-bottom: 0;
	}
}
