@use 'globals' as *;
@use 'styles/font' as *;

$baseVMargin: between_cols($grid-unit * 2, $grid-unit * 3);

@mixin defaultULStyle() {
	list-style: none;
	padding: 0;
	margin-bottom: $baseVMargin;

	> li {
		margin-bottom: prem($grid-unit * 2);
		position: relative;
		padding-left: prem($grid-unit * 4);

		&::before {
			content: '';
			position: absolute;
			top: prem($grid-unit * 1.5);
			left: 0;
			width: prem($grid-unit * 2);
			height: prem(2);
			background-color: $color-faxafloi-75;
		}
	}
}

// reset <button> styles for easier custom styling
@mixin textContent() {
	> h2 {
		@include HeadingStyle--medium();
		margin-bottom: $baseVMargin;
	}
	> h3 {
		@include HeadingStyle--small();
		margin-bottom: $baseVMargin;
	}
	> h4 {
		@include SubheadingStyle--small();
		margin-bottom: $baseVMargin;
	}
	> p {
		margin-bottom: $baseVMargin;
	}
	ul {
		@include defaultULStyle();
	}
	ol {
		// TODO: Ad basic ol styling
	}
	blockquote {
		padding: prem($grid-unit * 4);
		margin-bottom: $baseVMargin;
		position: relative;
	}

	a:not(.Button) {
		color: var(--color-link);
		font-weight: 700;
		border-bottom: 2px solid transparent;
		display: inline;
	}
	a:not(.Button):hover,
	a:not(.Button):focus {
		color: var(--color-link--hover);
		text-decoration: none;
		border-bottom-color: var(--color-link--hover);
	}

	> :last-child {
		margin-bottom: 0;
	}
}
