$color-esja-25: mix(#e8eeff, white);
$color-esja-50: #e8eeff;
$color-esja-75: #d2ddfe;
$color-esja-100: #a5bbfd;
$color-esja-150: #525e7f;

$color-faxafloi-25: mix(#c0ddf7, white);
$color-faxafloi-50: #c0ddf7;
$color-faxafloi-75: #81bbf0;
$color-faxafloi-100: #0367e1;
$color-faxafloi-150: #013b70;

$color-nautholsvik-25: mix(#fff5d5, white);
$color-nautholsvik-50: #fff5d5;
$color-nautholsvik-75: #ffeaac;
$color-nautholsvik-100: #ffd659;
$color-nautholsvik-150: #806b2c;

$color-heidmork-25: mix(#f5c8cb, white);
$color-heidmork-50: #f5c8cb;
$color-heidmork-75: #ec9197;
$color-heidmork-100: #d8222f;
$color-heidmork-150: #6c1118;

$color-ellidarardalur-25: mix(#c4f2d5, white);
$color-ellidarardalur-50: #c4f2d5;
$color-ellidarardalur-75: #89e6ab;
$color-ellidarardalur-100: #64d68e;
$color-ellidarardalur-150: #0a662b;

$color-blafjoll-25: mix(#ffdbd3, white);
$color-blafjoll-50: #ffdbd3;
$color-blafjoll-75: #fab7a9;
$color-blafjoll-100: #f77257;
$color-blafjoll-150: #805737;

$color-sund-25: mix(#d4f6ff, white);
$color-sund-50: #d4f6ff;
$color-sund-75: #a9edff;
$color-sund-100: #53daff;
$color-sund-150: #296d80;

$color-rokkur-25: mix(#ffe3ec, white);
$color-rokkur-50: #ffe3ec;
$color-rokkur-75: #ffc6da;
$color-rokkur-100: #ff8db5;
$color-rokkur-150: #80475a;

$color-suld-0: #ffffff;
$color-suld-25: #f8f8f9;
$color-suld-50: #f1f2f3;
$color-suld-75: #e3e5e7;
$color-suld-100: #c7cbd0;
$color-suld-150: #707275;
$color-suld-200: #2a2b2c;

$color-white: $color-suld-0;
$color-blackish: $color-suld-200;

$themes: trustworthy, dependable, friendly, lively, colorful;
