@use 'colors' as *;
@use 'font' as *;

$var--bp-w-phone: var(--bp-w-phone);
$var--bp-w-phablet: var(--bp-w-phablet);
$var--bp-w-tablet: var(--bp-w-tablet);
$var--bp-w-netbook: var(--bp-w-netbook);
$var--bp-w-wide: var(--bp-w-wide);

$var--bp-w-Hamburger: var(--bp-w-Hamburger);

// ---------------------------------------------------------------------------
$var--color-esja-50: var(--color-esja-50);
$var--color-esja-75: var(--color-esja-75);
$var--color-esja-100: var(--color-esja-100);
$var--color-esja-150: var(--color-esja-150);
$var--color-faxafloi-50: var(--color-faxafloi-50);
$var--color-faxafloi-75: var(--color-faxafloi-75);
$var--color-faxafloi-100: var(--color-faxafloi-100);
$var--color-faxafloi-150: var(--color-faxafloi-150);
$var--color-nautholsvik-50: var(--color-nautholsvik-50);
$var--color-nautholsvik-75: var(--color-nautholsvik-75);
$var--color-nautholsvik-100: var(--color-nautholsvik-100);
$var--color-nautholsvik-150: var(--color-nautholsvik-150);
$var--color-heidmork-50: var(--color-heidmork-50);
$var--color-heidmork-75: var(--color-heidmork-75);
$var--color-heidmork-100: var(--color-heidmork-100);
$var--color-heidmork-150: var(--color-heidmork-150);
$var--color-ellidarardalur-50: var(--color-ellidarardalur-50);
$var--color-ellidarardalur-75: var(--color-ellidarardalur-75);
$var--color-ellidarardalur-100: var(--color-ellidarardalur-100);
$var--color-ellidarardalur-150: var(--color-ellidarardalur-150);
$var--color-blafjoll-50: var(--color-blafjoll-50);
$var--color-blafjoll-75: var(--color-blafjoll-75);
$var--color-blafjoll-100: var(--color-blafjoll-100);
$var--color-blafjoll-150: var(--color-blafjoll-150);
$var--color-sund-50: var(--color-sund-50);
$var--color-sund-75: var(--color-sund-75);
$var--color-sund-100: var(--color-sund-100);
$var--color-sund-150: var(--color-sund-150);
$var--color-rokkur-50: var(--color-rokkur-50);
$var--color-rokkur-75: var(--color-rokkur-75);
$var--color-rokkur-100: var(--color-rokkur-100);
$var--color-rokkur-150: var(--color-rokkur-150);
$var--color-suld-0: var(--color-suld-0);
$var--color-suld-25: var(--color-suld-25);
$var--color-suld-50: var(--color-suld-50);
$var--color-suld-75: var(--color-suld-75);
$var--color-suld-100: var(--color-suld-100);
$var--color-suld-150: var(--color-suld-150);
$var--color-suld-200: var(--color-suld-200);
$var--color-white: var(--color-white);
$var--color-blackish: var(--color-blackish);

$var--theme-color-primary: var(--theme-color-primary);
$var--theme-color-secondary: var(--theme-color-secondary);
$var--theme-color-tertiary: var(--theme-color-tertiary);

$var--theme-color-primary--text: var(--theme-color-primary--text);
$var--theme-color-primary--dark: var(--theme-color-primary--dark);
$var--theme-color-primary--safe: var(--theme-color-primary--safe);
$var--theme-color-primary--safeish: var(--theme-color-primary--safeish);

// ---------------------------------------------------------------------------

@mixin setDefaultLinkVariables($all: false) {
	--link-color: var(--color-faxafloi-100);
	--link-color--hover: var(--color-faxafloi-100);
	--link-weight: var(--font-weight--bold);
	--link-underline-thickness: #{2rem / 16};
	--link-underline: var(--link-underline-thickness) solid transparent;
	--link-underline--hover: var(--link-underline-thickness) solid currentColor;
	--link-underline-offset: 0.15em; // 2.4px
	@if $all {
		--link-transition: 200ms ease-in;
	}
}

$var--link-color: var(--link-color);
$var--link-color--hover: var(--link-color--hover);
$var--link-weight: var(--link-weight);
$var--link-underline: var(--link-underline);
$var--link-underline--thickness: var(--link-underline-thickness);
$var--link-underline--hover: var(--link-underline--hover);
$var--link-underline-offset: var(--link-underline-offset);
$var--link-transition: var(--link-transition);

$var--link-focus-outline: var(--link-focus-outline);
$var--link-focus-outlineColor: var(--link-focus-outlineColor);
$var--link-focus-outlineOffset: var(--link-focus-outlineOffset);

// ---------------------------------------------------------------------------

$var--menu-color: var(--menu-color);
$var--menu-hover: var(--menu-hover);

$var--menu-primary-background: var(--menu-primary-background);
$var--menu-primary-text: var(--menu-primary-text);
$var--menu-primary-hover: var(--menu-primary-hover);

$var--menu-auxiliary-background: var(--menu-auxiliary-background);
$var--menu-auxiliary-text: var(--menu-auxiliary-text);
$var--menu-auxiliary-hover: var(--menu-auxiliary-hover);
$var--menu-auxiliary-image: var(--menu-auxiliary-image);

// ---------------------------------------------------------------------------

$var--baseVerticalMargin: var(--baseVerticalMargin);
$var--baseVerticalMargin-2: var(--baseVerticalMargin-2);

// ---------------------------------------------------------------------------

$var--grid-edge: var(--grid-edge);
$var--grid-edge--right: var(--grid-edge--right);
$var--grid-edge--neg: var(--grid-edge--neg);
$var--grid-edge--right--neg: var(--grid-edge--right--neg);

$var--grid-0-1: var(--grid-0-1);
$var--grid-1: var(--grid-1);
$var--grid-1-1: var(--grid-1-1);
$var--grid-2: var(--grid-2);
$var--grid-2-2: var(--grid-2-2);
$var--grid-3: var(--grid-3);
$var--grid-3-3: var(--grid-3-3);
$var--grid-4: var(--grid-4);
$var--grid-4-4: var(--grid-4-4);
$var--grid-5: var(--grid-5);
$var--grid-5-5: var(--grid-5-5);
$var--grid-6: var(--grid-6);
$var--grid-6-6: var(--grid-6-6);
$var--grid-7: var(--grid-7);
$var--grid-7-7: var(--grid-7-7);
$var--grid-8: var(--grid-8);
$var--grid-8-8: var(--grid-8-8);
$var--grid-9: var(--grid-9);
$var--grid-9-9: var(--grid-9-9);
$var--grid-10: var(--grid-10);
$var--grid-10-10: var(--grid-10-10);
$var--grid-11: var(--grid-11);
$var--grid-11-11: var(--grid-11-11);
$var--grid-12: var(--grid-12);

$var--grid-gutter: var(--grid-gutter);
$var--grid-column: var(--grid-column);

$var--grid-0-1--neg: var(--grid-0-1--neg);
$var--grid-1--neg: var(--grid-1--neg);
$var--grid-gutter--neg: var(--grid-gutter--neg);
$var--grid-column--neg: var(--grid-column--neg);

// ---------------------------------------------------------------------------

$var--font-family: var(--font-family);
$var--font-weight--normal: var(--font-weight--normal);
$var--font-weight--bold: var(--font-weight--bold);
$var--font-base-size: var(--font-base-size);
$var--font-base-leading: var(--font-base-leading);

$var--font-base: var(--font-base);

$var--font-hd-xl: var(--font-hd-xl);
$var--font-hd-l: var(--font-hd-l);
$var--font-hd-m: var(--font-hd-m);
$var--font-hd-s: var(--font-hd-s);
$var--font-sh-l: var(--font-sh-l);
$var--font-sh-l-thin: var(--font-sh-l-thin);
$var--font-sh-s: var(--font-sh-s);
$var--font-bd-l: var(--font-bd-l);
$var--font-bd-s: var(--font-bd-s);
$var--font-label: var(--font-label);

$var--font-hd-xl-size: var(--font-hd-xl-size);
$var--font-hd-xl-leading: var(--font-hd-xl-leading);
$var--font-hd-l-size: var(--font-hd-l-size);
$var--font-hd-l-leading: var(--font-hd-l-leading);
$var--font-hd-m-size: var(--font-hd-m-size);
$var--font-hd-m-leading: var(--font-hd-m-leading);
$var--font-hd-s-size: var(--font-hd-s-size);
$var--font-hd-s-leading: var(--font-hd-s-leading);

$var--font-sh-l-size: var(--font-sh-l-size);
$var--font-sh-l-leading: var(--font-sh-l-leading);
$var--font-sh-s-size: var(--font-sh-s-size);
$var--font-sh-s-leading: var(--font-sh-s-leading);

$var--font-bd-l-size: var(--font-bd-l-size);
$var--font-bd-l-leading: var(--font-bd-l-leading);
$var--font-bd-s-size: var(--font-bd-s-size);
$var--font-bd-s-leading: var(--font-bd-s-leading);

$var--font-label-size: var(--font-label-size);
$var--font-label-leading: var(--font-label-leading);

// ---------------------------------------------------------------------------

// NOTE: This variable receives its actual value somewhere off
// in JavaScript-land, set by `qj/getScrollbarWidth.setCSSvar()`
$var--browser-scrollbar-width: var(--browser-scrollbar-width);

// ---------------------------------------------------------------------------

$var--Layout__header-height: var(--Layout__header-height);

$var--zindex--Bling: var(--zindex--Bling);
$var--zindex--Bling--overlay: var(--zindex--Bling--overlay);
$var--zindex--modal: var(--zindex--modal);
$var--zindex--header: var(--zindex--header);
$var--zindex--overlay: var(--zindex--overlay);
$var--zindex--sr-only: var(--zindex--sr-only);

// ---------------------------------------------------------------------------

$var--space-1: var(--space-1);
$var--space-2: var(--space-2);
$var--space-3: var(--space-3);
$var--space-4: var(--space-4);
$var--space-5: var(--space-5);

$var--space-0_5: var(--space-0_5);
$var--space-1_5: var(--space-1_5);

$var--space-1--neg: var(--space-1--neg);
$var--space-2--neg: var(--space-2--neg);
$var--space-3--neg: var(--space-3--neg);
$var--space-4--neg: var(--space-4--neg);
$var--space-5--neg: var(--space-5--neg);

$var--space-0_5--neg: var(--space-0_5--neg);
$var--space-1_5--neg: var(--space-1_5--neg);

$var--component-vspace--small: var(--component-vspace--small);
$var--component-vspace--medium: var(--component-vspace--medium);
$var--component-vspace--large: var(--component-vspace--large);
$var--component-vspace--xlarge: var(--component-vspace--xlarge);
