$font-family-name: 'L15';

$font-family: $font-family-name, Helvetica, Arial, sans-serif;
$font-weight--normal: 400;
$font-weight--bold: 700;

$font-base-size: 16;
$font-base-leading: 24;

// ---------------------------------------------------------------------------
// headings

$font-hd-xl-size: 72;
$font-hd-xl-leading: 90;

$font-hd-l-size: 64;
$font-hd-l-leading: 80;

$font-hd-m-size: 48;
$font-hd-m-leading: 60;

$font-hd-s-size: 40;
$font-hd-s-leading: 50;

// ---------------------------------------------------------------------------
// subheadings

$font-sh-l-size: 32;
$font-sh-l-leading: 40;

$font-sh-s-size: 24;
$font-sh-s-leading: 40;

// ---------------------------------------------------------------------------
// body text

$font-bd-l-size: 20;
$font-bd-l-leading: 32;

$font-bd-s-size: 16;
$font-bd-s-leading: 24;

// ---------------------------------------------------------------------------
// buttons and labels

$font-btn-size: 16;

$font-label-size: 12;
$font-label-leading: 16;
