// Starting breakpoints **including* $grid-edge--*
$bp-wide: 1380; // $grid-edge--wide: 80;
$bp-netbook: 980;
$bp-tablet: 760;
$bp-phablet: 480;
$bp-phone: 320; // $grid-edge--phone: 20;
// ATH: 20px í 320px jafngilda:
// 24px í 375px og 26px í 415px)

$mq-wide: 'screen and (min-width: #{$bp-wide}px)';
$mq-netbook: 'screen and (min-width: #{$bp-netbook}px) and (max-width: #{$bp-wide - 1}px)';
$mq-tablet: 'screen and (min-width: #{$bp-tablet}px) and (max-width: #{$bp-netbook - 1}px)';
$mq-phablet: 'screen and (min-width: #{$bp-phablet}px) and (max-width: #{$bp-tablet - 1}px)';
$mq-phone: 'screen and (max-width: #{$bp-phablet - 1}px)';

$mq-netbook_up: 'screen and (min-width: #{$bp-netbook}px)';

$mq-tablet_netbook: 'screen and (min-width: #{$bp-tablet}px) and (max-width: #{$bp-wide - 1}px)';
$mq-tablet_up: 'screen and (min-width: #{$bp-tablet}px)';

$mq-phablet_tablet: 'screen and (min-width: #{$bp-phablet}px) and (max-width: #{$bp-netbook - 1}px)';
$mq-phablet_up: 'screen and (min-width: #{$bp-phablet}px)';

$mq-phone_phablet: 'screen and (min-width: #{$bp-tablet - 1}px)';
$mq-phone_tablet: 'screen and (max-width: #{$bp-netbook - 1}px)';

$mediaFormats: (
	'phone': $mq-phone,
	'phablet': $mq-phablet,
	'tablet': $mq-tablet,
	'netbook': $mq-netbook,
	'wide': $mq-wide,
);
