{{ attach_library('storybook/ArticleCarousel') }}

<div class="ArticleCarousel">
	<h2 class="ArticleCarousel__title">{{ title }}</h2>
	<div class="ArticleCarousel__items">
		{{ items }}
	</div>
</div>
