{% spaceless %}
  {% if attributes %}
    <button {{ attributes.addClass('ButtonPrimary') }}>
  {% else %}
    <button class="ButtonPrimary" type="button">
  {% endif %}

    {{ button_text }}
  </button>
{% endspaceless %}
