{{ attach_library('storybook/ContentImage') }}

<figure class="ContentImage">
	{% if text or credit %}
		<figcaption class="ContentImage__caption">
			{% if text %}<span class="ContentImage__text">{{text}}</span>{% endif %}
			{% if credit %}<small class="ContentImage__credit">{{credit}}</small>{% endif %}
		</figcaption>
	{% endif %}
	<picture class="ContentImage__image">
		{{ image }}
	</picture>
</figure>
