<div
  class="Bling Bling--align--left Bling--vertical--down-ish"
  data-bling-type="snake-large"></div>

<div class="FeatureList">
  <h2 class="FeatureList__title">{{ title }}</h2>
  <ul class="FeatureList__list">
    {{ list_items }}
  </ul>
</div>
