{{ attach_library('hanna/Gallery') }}

<div {{ attributes.addClass('Gallery') }}>
  {% block contextual %}{% endblock contextual %}

  <div class="Gallery__items">
    {{ gallery_items }}
  </div>

</div>
