<div class="IslandBlock__content">
	{{ frontend_editing }}
	<h2 class="IslandBlock__title">{{ IslandBlock_title }}</h2>
	<div class="IslandBlock__summary">{{ IslandBlock_summary }}</div>
	{% if IslandBlock_buttons %}
		<div class="IslandBlock__buttons">
			{{ IslandBlock_buttons }}
		</div>
	{% endif %}
</div>
