{% set classes = [
	'MainMenu__item',
	menuitem_class,
] %}

<li {{ attributes.setAttribute('class', classes) }}>
	{% include "@hanna/Button.twig" with {
		button_class: 'MainMenu__link',
		button_url: menuitem_link,
		button_text: menuitem_label
	}%}
</li>
