<figure className="PullQuote">
  <blockquote className="PullQuote__quote">{{quote}}</blockquote>
{% if by %}
  <figcaption className="PullQuote__by">
    {% if byHref %}
      <a href="{{byHref}}">{{by}}</a>
    {% else %}
      <span>{{by}}</span>
    {% endif %}
  </figcaption>
{% endif %}
</figure>
