.ThumbnailGrid {
  display: flex;
  flex-flow: row wrap;
  gap: var(--grid-gutter);
  margin-bottom: var(--component-vspace--small);
}

.ThumbnailGrid__item {
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  gap: var(--space-1);
  width: var(--grid-2);
  min-width: 150px;
  outline: 1px solid var(--color-suld-75);
  padding: var(--space-1);
}

.ThumbnailGrid__label {
  display: block;
  font: var(--font-bd-s);
  font-weight: var(--font-weight--bold);
  word-break: break-all;
}

.ThumbnailGrid__image {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center center;
  color: var(--color-heidmork-100);
}

.ThumbnailGrid__tags {
  font: var(--font-label);
  color: var(--color-suld-100);
}
