$iconfont-name: 'icons' !default;
$iconfont-font-family: $iconfont-name, Arial, Helvetica, sans-serif !default;

@mixin icon($icon: null) {
  @if ($icon != null) {
    content: $icon;
  }
  display: inline-block;
  text-indent: 0;
  text-align: center;
  vertical-align: top;
  @include _icon--fontStyling();
}

@mixin _icon--fontStyling() {
  font-family: $iconfont-font-family;
  speak: none;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; // fix for light text on dark background from beeing smudgy in webkit/mac
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
}

$char-bullet-disc: '\2022';
$char-bullet-square: '\25aa';

$char-space-normal: '\00a0'; // (NO-BREAK space) (0.28em)

$char-space-half: '\2002'; // 1/2em  (EN space
$char-space-em: '\2003'; // 1em    (EM space)
$char-space-third: '\2004'; // 1/3em  (THREE-PER-EM space)
$char-space-fourth: '\2005'; // 1/4em  (FOUR-PER-EM space)
$char-space-sixth: '\2006'; // 1/6em  (SIX-PER-EM space)
// $char-space-figure:        "\2007";
// $char-space-punctuation:   "\2008";
$char-space-fifth: '\2009'; // 1/5em  (THIN space)
$char-space-hair: '\200A'; // 1/12em (HAIR space)

// quote marks for use with blockquote
$quotes-upper6: '\2018';
$quotes-upper9: '\2019';
$quotes-lower9: '\201a';
$quotes-upper66: '\201c';
$quotes-upper99: '\201d';
$quotes-lower99: '\201e';
// icelandic
$quotes-IS-open: $quotes-lower99;
$quotes-IS-close: $quotes-upper66;
$quotes-IS-openSingle: $quotes-lower9;
$quotes-IS-closeSingle: $quotes-upper6;
// english
$quotes-EN-open: $quotes-upper66;
$quotes-EN-close: $quotes-upper99;
$quotes-EN-openSingle: $quotes-upper6;
$quotes-EN-closeSingle: $quotes-upper9;
