@mixin writeMediaFormatMarkers(
  $mediaFormats,
  $selector: '#mediaformat',
  $visible: false
) {
  @each $name, $mq in $mediaFormats {
    @media #{$mq} {
      // #{$selector} {
      // 	font-family: $name;
      // }
      #{$selector}::after {
        content: $name;
      }
    }
  }
  #{$selector}::after {
    @if ($visible) {
      position: fixed !important;
      bottom: 0 !important;
      right: 0 !important;
      z-index: 10000 !important;
      background-color: rgba(#000, 0.5) !important;
      color: #fec !important;
      visibility: visible !important;
      width: auto !important;
      height: auto !important;
      font-size: 14px !important;
      font-family: sans-serif !important;
      font-weight: 700 !important;
      text-decoration: none !important;
      line-height: 1 !important;
      letter-spacing: 1px !important;
      padding: 3px 8px 2px 10px !important;
      margin: auto !important;
      pointer-events: none !important;
    } @else {
      display: none !important;
    }
  }
}
