@forward 'scssutils';
@forward 'between';
@forward 'seenEffects';

// ---------------------------------------------------------------------------

@use '../vars' as *;
@use 'between' as *;
@use 'scssutils/media' as *;

@function prem($px) {
  @return rem($px / 16);
}

@function grid-units($units: 1) {
  @return prem($grid-unit * $units);
}

@mixin extendBackgroundWithUnderlay($dir: both, $pseudo: before) {
  position: relative;

  &::#{$pseudo} {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    @if $dir != right {
      left: $var--grid-margin--neg;
    }
    @if $dir != left {
      right: $var--grid-margin--neg;
    }
    z-index: -1;
    background: inherit;
  }
}

// Hack to generate an extra selector block to stop cssnano
// from destructively merging adjacent properties – e.g. when
// providing a fallback value for older browsers.
//
// Remove as soon as this issue has been resolved:
// https://github.com/cssnano/cssnano/issues/897
@mixin avoidCssnanoMerging() {
  & {
    @content;
  }
}
