@function _append($selector) {
  @if (str-index($selector, ':') == 1) {
    // str-index is not zero based
    @return $selector;
  } @else {
    @return #{' ' $selector};
  }
}

// ---------------------------------------------------------------------------

@mixin Transition--short() {
  transition: all 200ms ease-in-out;
}

@mixin Transition--medium() {
  transition: all 400ms ease-in-out;
}

@mixin Transition--long() {
  transition: all 500ms ease-in-out; // requested by Dr. Keli
}

@mixin Transition--properties($properties: 'opacity, transform') {
  transition-property: #{$properties};
}

@mixin SeenEffect--initial($childSelector: '') {
  .before-sprinkling &#{_append($childSelector)},
  &[data-is-seen='false']#{_append($childSelector)} {
    @content;
  }
}

@mixin SeenEffect--seen($childSelector: '') {
  // By setting data-is-seen="" a developer can opt-out of the transitioning effect.
  &[data-is-seen='']#{_append($childSelector)},
  &[data-is-seen='true']#{_append($childSelector)} {
    @content;
  }
}

@mixin SeenEffect--transition($childSelector: '') {
  &[data-is-seen='true']#{_append($childSelector)} {
    @content;
  }
}

// ---------------------------------------------------------------------------

@mixin SeenEffect--fadein($childSelector: '') {
  @include SeenEffect--initial($childSelector) {
    opacity: 0;
  }
  @include SeenEffect--seen($childSelector) {
    opacity: 1;
  }
  @include SeenEffect--transition($childSelector) {
    @include Transition--long();
    @include Transition--properties();
  }
}

@mixin SeenEffect--fadeup($childSelector: '') {
  @include SeenEffect--initial($childSelector) {
    opacity: 0;
    transform: translateY(200px);
  }
  @include SeenEffect--seen($childSelector) {
    opacity: 1;
    transform: none;
  }
  @include SeenEffect--transition($childSelector) {
    @include Transition--long();
    @include Transition--properties();
  }
}

@mixin SeenEffect--fadeleft($childSelector: '') {
  @include SeenEffect--initial($childSelector) {
    opacity: 0;
    transform: translateX(-200px);
  }
  @include SeenEffect--seen($childSelector) {
    opacity: 1;
    transform: none;
  }
  @include SeenEffect--transition($childSelector) {
    @include Transition--long();
    @include Transition--properties();
  }
}

// ---------------------------------------------------------------------------

@mixin SeenEffect--reset($childSelector: '') {
  @include SeenEffect--initial($childSelector) {
    opacity: 1;
    transform: none;
  }
  @include SeenEffect--seen($childSelector) {
    opacity: initial;
    transform: initial;
  }
  @include SeenEffect--transition($childSelector) {
    transition: none;
  }
}

@mixin SeenEffect--delay($delay) {
  transition-delay: $delay;
}

// @deprecated  Remove this mixin in v0.9
@mixin SeenEffect--disallowNesting() {
  .before-sprinkling [data-is-seen] &,
  [data-is-seen] &[data-is-seen='false'] {
    opacity: 1;
    transform: none;
  }

  [data-is-seen] & {
    @include SeenEffect--seen() {
      opacity: initial;
      transform: initial;
    }
    @include SeenEffect--transition() {
      transition: none;
    }
  }
}
