@use 'globals' as *;
@use 'styles/font' as *;

@mixin defaultULStyle() {
  list-style: none;
  padding: 0;
  margin-bottom: $var--baseVerticalMargin;

  > li {
    margin-bottom: $var--space-2;
    position: relative;
    padding-left: $var--space-4;

    &::before {
      content: ' ';
      float: left;
      margin-left: $var--space-4--neg;
      left: 0;
      width: $var--space-2;
      border-top: prem(2) solid $var--theme-color-primary--safeish;
      margin-top: prem(-1);
      transform: translateY(50%);
    }
  }
}

// ---------------------------------------------------------------------------

@mixin pullQuoteContainerStyle() {
  --Quote--line: 2px solid #{$var--theme-color-primary};
  --Quote--indent: 0;
  max-width: calc(#{cols_px(8)} - var(--Quote--indent));
  padding-top: $var--space-5;
  margin-left: var(--Quote--indent);
  position: relative;

  &::before {
    content: $quotes-upper99;
    color: $var--theme-color-primary;
    font-size: prem(72);
    line-height: 1;
    position: absolute;
    top: 0;
    left: 2px;
    text-align: center;
    width: 0.6em;
    margin-left: -0.3em;
  }
}

// ---------------------------------------------------------------------------

// reset <button> styles for easier custom styling
@mixin textContent() {
  font: $var--font-bd-l;

  h2 {
    font: $var--font-hd-s;
    margin-bottom: var(--h2--marginBottom, $var--baseVerticalMargin);
    clear: both;
  }
  * + h2 {
    margin-top: var(--h2--marginTop, 1.5em);
  }
  h3 {
    font: $var--font-sh-l;
    margin-bottom: $var--baseVerticalMargin;
    clear: both;
  }
  * + h3 {
    margin-top: var(--h3--marginTop, 1.25em);
  }
  h4 {
    font: $var--font-sh-s;
    margin-bottom: $var--baseVerticalMargin;
  }
  p {
    margin-bottom: $var--baseVerticalMargin;
  }
  ul {
    @include defaultULStyle();
  }
  ol {
    margin-bottom: $var--baseVerticalMargin;
  }
  li ol,
  li ul {
    margin-bottom: 0;
  }
  // blockquote:not([class]), // Too strict??
  blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) {
    @include pullQuoteContainerStyle();
    font: $var--font-bd-s;
    position: relative;
    margin-bottom: $var--space-4;
    padding-left: calc(#{$var--space-2} + 2px);

    @include media($mq-phablet_up) {
      padding-left: calc(#{$var--space-3} + 2px);
      --Quote--indent: #{$var--space-2};
    }
  }
  blockquote:not(.BlockQuote__quote):not(.PullQuote__quote)::after {
    content: '';
    position: absolute;
    border-left: var(--Quote--line);
    top: $var--space-5;
    bottom: 0;
    left: 0;
    width: 2px;
  }
  blockquote:not(.BlockQuote__quote):not(.PullQuote__quote) > *:last-child {
    margin-bottom: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
