@charset "UTF-8";
@media screen {
  .AccordionList {
    max-width: 792px;
    padding-left: var(--leftIndent);
    margin-top: calc(2.5862068966% + 24.7586206897px);
    --leftIndent: calc(3.6363636364vw + 20.3636363636px);
    --iconWidth: calc(2.7272727273vw + 15.2727272727px);
  }
  .before-sprinkling .AccordionList, .AccordionList[data-is-seen=false], .AccordionList[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .AccordionList[data-is-seen=""], .AccordionList[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .AccordionList[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
}
@media screen and (min-width: 760px) {
  .AccordionList {
    --leftIndent: var(--grid-1-1);
    --iconWidth: var(--grid-1);
  }
}
@media screen {
  .AccordionList--wide {
    max-width: 1104px;
  }
}
@media screen {
  .AccordionList__item {
    margin-bottom: 3.5rem;
  }
}
@media screen {
  .AccordionList__item--disabled {
    opacity: 0.5;
  }
}
@media screen {
  .AccordionList__title {
    font: var(--font-sh-s);
    font-weight: 700;
  }
}
@media screen {
  .AccordionList__button {
    position: relative;
    color: inherit;
    margin-left: calc(-1 * var(--leftIndent));
    padding-left: var(--leftIndent);
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) button.AccordionList__button:not([aria-controls]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) button.AccordionList__button:not([aria-controls])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`aria-controls` missing." !important;
  }
}
@media screen {
  .AccordionList__button:hover,
.AccordionList__button:active {
    color: #0367e1;
  }
}
@media screen {
  .AccordionList__button[disabled] {
    color: inherit;
  }
}
@media screen {
  .AccordionList__button::before {
    content: "î¨";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    position: absolute;
    left: 0;
    width: var(--iconWidth);
    font-size: 0.7em;
    color: #2a2b2c;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
  }
}
@media screen {
  .AccordionList__button[aria-pressed=true]::before,
.AccordionList__button[aria-expanded=true]::before {
    transform: rotateZ(0);
  }
}
@media screen {
  .AccordionList__button:hover::before,
.AccordionList__button:active::before {
    color: #013b70;
  }
}
@media screen {
  .AccordionList__content {
    font: var(--font-bd-l);
    transition: all 200ms ease-in;
    transition-property: opacity, visibility, max-height, padding-top;
    overflow: hidden;
    padding-top: 2rem;
    max-height: 4000px;
    opacity: 1;
  }
}
@media screen {
  html.before-sprinkling .AccordionList__item:not([data-sprinkled]) > .AccordionList__content {
    display: none;
  }
}
@media screen {
  .AccordionList__content[hidden] {
    display: block;
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
}