@media screen {
  .ActionCards {
    margin-bottom: calc(4.3103448276% + 47.9310344828px);
  }
  .before-sprinkling .ActionCards, .ActionCards[data-is-seen=false], .ActionCards[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .ActionCards[data-is-seen=""], .ActionCards[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .ActionCards[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
}
@media screen and (min-width: 760px) {
  .ActionCards {
    display: grid;
    -moz-column-gap: var(--grid-gutter);
         column-gap: var(--grid-gutter);
    grid-template: "title list"/var(--grid-3) var(--grid-9);
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .ActionCards {
    grid-template-columns: var(--grid-4) var(--grid-8);
  }
}
@media screen {
  .ActionCards__title {
    grid-area: title;
    font: var(--font-hd-s);
    margin-bottom: var(--baseVerticalMargin);
  }
}
@media screen {
  .ActionCards__list {
    grid-area: list;
    display: grid;
    grid-auto-flow: row;
    gap: var(--grid-gutter);
    grid-template-columns: repeat(3, var(--grid-3));
  }
}
@media screen and (max-width: 479px) {
  .ActionCards__list {
    grid-template-columns: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .ActionCards__list {
    grid-template-columns: repeat(2, var(--grid-6));
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .ActionCards__list {
    grid-template-columns: repeat(2, var(--grid-4));
  }
}
@media screen {
  .ActionCards__card {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-underline--hover: none;
    --link-underline-offset: 0;
    display: block;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    min-height: 10.5rem;
    height: 100%;
    --link-color--hover: var(--color-suld-200);
    border: var(--border-default);
  }
  .ActionCards__card::after {
    content: "";
    display: block;
    width: 2.5rem;
    height: 0.125rem;
    background: var(--Card-lineColor, currentColor);
    margin-top: 1rem;
    transition: width 200ms ease-in;
  }
  .ActionCards__card:hover::after {
    width: 100%;
  }
  .ActionCards__card__title, .ActionCards__card__summary {
    display: block;
  }
  .ActionCards__card__title {
    font: var(--font-bd-l);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .ActionCards__card__summary {
    font: var(--font-bd-s);
  }
}
@media screen {
  .ActionCards__card:hover,
.ActionCards__card:active {
    --Card-lineColor: var(--theme-color-primary--safeish);
    border: 1px solid var(--theme-color-primary--safeish);
  }
}