@charset "UTF-8";
@media screen {
  .Alert {
    --Alert-background: #e0eefb;
    --Alert-icon-color: #0367e1;
    --Alert-icon: "";
    --link-color: #035eca;
    --link-color-hover: #035eca;
    background: var(--Alert-background);
    border-radius: 0.5rem;
    position: relative;
    padding: 0.8125rem 1.25rem 0.75rem 2.75rem;
    margin-bottom: 1.25rem;
  }
}
@media screen and (min-width: 760px) {
  .Alert {
    padding: 1.0625rem 2rem 1rem 4rem;
    margin-bottom: 1.875rem;
  }
}
@media screen {
  .Alert::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    content: var(--Alert-icon);
    color: var(--Alert-icon-color);
    font-size: 1rem;
    position: absolute;
    top: 0.875rem;
    left: 0.875rem;
  }
}
@media screen and (min-width: 760px) {
  .Alert::before {
    top: 1.0625rem;
    left: 1.5625rem;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .Alert:not(.Alert--info):not(.Alert--success):not(.Alert--warning):not(.Alert--error):not(.Alert--critical) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .Alert:not(.Alert--info):not(.Alert--success):not(.Alert--warning):not(.Alert--error):not(.Alert--critical)::after {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: '"Type" modifier class-name is missing' !important;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .Alert:not([role=alert]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .Alert:not([role=alert])::after {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: 'Should be role="alert"' !important;
  }
}
@media screen {
  .Alert--critical,
.Alert--error {
    --Alert-background: #fae4e5;
    --Alert-icon-color: #d8222f;
    --Alert-icon: "";
  }
}
@media screen {
  .Alert--warning {
    --Alert-background: #fff5d5;
    --Alert-icon-color: #d5b34a;
    --Alert-icon: "";
  }
}
@media screen {
  .Alert--success {
    --Alert-background: #dcf7e6;
    --Alert-icon-color: #46b16d;
    --Alert-icon: "";
  }
}
@media screen {
  .Alert--closable {
    transition: all 400ms 0ms;
    transition-timing-function: ease-in, cubic-bezier(0.165, 0.84, 0.44, 1), ease-in, ease-in, ease-in-out;
    transition-property: visibility, max-height, opacity, margin, padding;
    max-height: 1000px;
    overflow: hidden;
    padding-right: 1.5625rem;
  }
}
@media screen and (min-width: 760px) {
  .Alert--closable {
    padding-right: 3rem;
  }
}
@media screen {
  .Alert--closable[hidden][hidden] {
    display: block;
    transition-delay: 0ms 0ms 400ms 0ms;
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    visibility: hidden;
  }
}
@media screen {
  .Alert--closable[hidden][hidden]::before {
    transition: opacity 200ms ease-in;
    opacity: 0;
  }
}
@media screen {
  .Alert__close {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0.1875rem;
    right: -0.4375rem;
    width: 2.625rem;
    height: 2.625rem;
    line-height: 2.5rem;
    transition: all 200ms ease-in;
    transition-property: font-size, opacity;
    font-size: 0.5625rem;
    opacity: 0.67;
  }
}
@media screen and (min-width: 760px) {
  .Alert__close {
    opacity: 1;
    top: 0.4375rem;
    right: 0.375rem;
    font-size: 0.75rem;
  }
}
@media screen {
  .Alert__close:hover,
.Alert__close:active {
    opacity: 1;
    font-size: 1rem;
  }
}
@media screen {
  .Alert__close::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    margin-right: 1px;
    width: 100%;
  }
}
@media screen {
  [hidden] > .Alert__close {
    opacity: 0;
  }
}