/*!@deps
	CarouselStepper
*/
@media screen {
  html.before-sprinkling .ArticleCarousel:not([data-sprinkled]) {
    padding-bottom: 2rem;
  }

  html.before-sprinkling[class] > .ArticleCarousel__items {
    overflow: visible;
  }

  .ArticleCarousel {
    margin-bottom: calc(9.6982758621% + 12.8448275862px);
    --globalPrimary: var(--theme-color-primary--safeish);
  }
  .before-sprinkling .ArticleCarousel, .ArticleCarousel[data-is-seen=false], .ArticleCarousel[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .ArticleCarousel[data-is-seen=""], .ArticleCarousel[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .ArticleCarousel[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }

  .ArticleCarousel__title {
    font-weight: 700;
    font-size: var(--font-hd-m-size);
    line-height: var(--font-hd-m-leading);
    margin-bottom: calc(3.7735849057vw + 19.9245283019px);
  }
}
@media screen and (min-width: 1380px) {
  .ArticleCarousel__title {
    margin-bottom: 4.5rem;
  }
}
@media screen {
  .ArticleCarousel__items {
    display: flex;
    flex-flow: row;
  }
}
@media screen {
  .ArticleCarousel:not([data-sprinkled]) > .ArticleCarousel__items {
    overflow: auto;
  }
}
@media screen {
  .ArticleCarousel__track {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .ArticleCarousel__track::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Unsupported: use `.ArticleCarousel__items` instead" !important;
  }
}
@media screen {
  .ArticleCarouselCard {
    border: 2px solid #e3e5e7;
    border-top: 0;
    width: var(--grid-5);
    min-width: 330px;
    padding: 1.3125rem var(--grid-column) calc(4.5283018868vw + 9.5094339623px);
    margin-right: var(--grid-gutter);
    position: relative;
  }
}
@media screen and (max-width: 479px) {
  .ArticleCarouselCard {
    width: var(--grid-9-9);
    min-width: 280px;
  }
}
@media screen and (min-width: 1380px) {
  .ArticleCarouselCard {
    padding-bottom: 4.5rem;
  }
}
@media screen {
  .ArticleCarouselCard::before {
    content: "";
    display: block;
  }
}
@media screen {
  .ArticleCarouselCard::after {
    content: "";
    display: block;
    height: 1.3125rem;
    background-color: var(--theme-color-primary);
    position: absolute;
    top: 0;
    right: -2px;
    left: -2px;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=faxafloi]::after {
    background-color: #0367e1;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=nautholsvik]::after {
    background-color: #ffd659;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=heidmork]::after {
    background-color: #d8222f;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=ellidarardalur]::after {
    background-color: #64d68e;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=blafjoll]::after {
    background-color: #f77257;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=sund]::after {
    background-color: #53daff;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=rokkur]::after {
    background-color: #ff8db5;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=suld]::after {
    background-color: #c7cbd0;
  }
}
@media screen {
  .ArticleCarouselCard__link {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-underline--hover: none;
    --link-underline-offset: 0;
  }
}
@media screen {
  .ArticleCarouselCard__illustration {
    position: relative;
    padding-top: 85.2272727273%;
    display: block;
  }
}
@media screen {
  .ArticleCarouselCard__illustration--missing {
    background-color: #f8f8f9;
  }
}
@media screen {
  .ArticleCarouselCard__illustration > img {
    position: absolute;
    top: 0;
    left: var(--grid-column--neg);
    left: var(--grid-column--neg);
    right: var(--grid-column--neg);
    width: calc(100% + var(--grid-column) + var(--grid-column));
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}
@media screen {
  .ArticleCarouselCard__title {
    font-weight: 700;
    font-size: var(--font-sh-l-size);
    line-height: var(--font-sh-l-leading);
    margin-bottom: 2rem;
  }
}
@media screen {
  .ArticleCarouselCard__date {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #707275;
    margin-bottom: 1rem;
    display: block;
  }
}
@media screen {
  .ArticleCarouselCard__summary {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media screen {
  .ArticleCarouselCard__morelink {
    --ButtonTertiary--dashColor: var(--globalPrimary);
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: currentColor;
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color, _inherit);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    line-height: 1.1875rem;
    font-size: 1rem;
    padding-left: calc(1rem + var(--ButtonTertiary--dashWidth, 1rem));
    padding-right: calc( 		var(--ButtonTertiary--dashWidth--hover, 3rem) - var(--ButtonTertiary--dashWidth, 1rem) 	);
    margin-right: 0.9375rem;
    margin-bottom: 1rem;
    font-weight: 700;
    transition: all 200ms ease-in;
  }
  .ArticleCarouselCard__morelink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.59375rem;
    width: var(--ButtonTertiary--dashWidth, 1rem);
    height: var(--ButtonTertiary--dashHeight, 0.125rem);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.1875rem;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor, var(--theme-color-primary--safeish));
    transform: translateY(-50%);
    transition: inherit;
  }
  .ArticleCarouselCard__morelink:hover, .ArticleCarouselCard__morelink:active, .ArticleCarouselCard__morelink[data-focus-visible-added] {
    padding-left: calc(1rem + var(--ButtonTertiary--dashWidth--hover, 3rem));
    padding-right: 0rem;
    color: var(--ButtonTertiary--color, _inherit);
    outline: 0;
  }
  .ArticleCarouselCard__morelink:hover::before, .ArticleCarouselCard__morelink:active::before, .ArticleCarouselCard__morelink[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--dashWidth--hover, 3rem);
  }
  .ArticleCarouselCard__morelink:focus-visible {
    padding-left: calc(1rem + var(--ButtonTertiary--dashWidth--hover, 3rem));
    padding-right: 0rem;
    color: var(--ButtonTertiary--color, _inherit);
    outline: 0;
  }
  .ArticleCarouselCard__morelink:focus-visible::before {
    width: var(--ButtonTertiary--dashWidth--hover, 3rem);
  }
  .ArticleCarouselCard__morelink:active::before {
    width: var(--ButtonTertiary--dashWidth, 1rem);
  }
  .ArticleCarouselCard__morelink[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor, var(--theme-color-primary--safeish));
    border-radius: 0.5rem;
  }
  .ArticleCarouselCard__morelink:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor, var(--theme-color-primary--safeish));
    border-radius: 0.5rem;
  }
}
@media screen {
  .ArticleCarouselCard__morelink:not([aria-label]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .ArticleCarouselCard__morelink:not([aria-label])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: 'aria-label="" is missing' !important;
  }
}
@media screen {
  .ArticleCarousel > .CarouselStepper {
    margin-top: 1.5rem;
  }
}
/*# sourceMappingURL=ArticleCarousel.css.map */