:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: calc(0.7633587786vw + 13.5572519084px);
}
@media screen and (min-width: 1368px) {
  :root {
    --ButtonTertiary--gapH: 24px;
  }
}

/*!@deps
	Carousel
*/
@media screen {
  html.before-sprinkling .ArticleCarousel:not([data-sprinkled]) {
    padding-bottom: var(--CarouselStepper--height);
  }

  html.before-sprinkling[class] > .ArticleCarousel__items {
    overflow: visible;
  }

  .ArticleCarousel {
    margin-bottom: calc(9.6982758621% + 12.8448275862px);
  }
  .before-sprinkling .ArticleCarousel, .ArticleCarousel[data-is-seen=false], .ArticleCarousel[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .ArticleCarousel[data-is-seen=""], .ArticleCarousel[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .ArticleCarousel[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }

  .ArticleCarousel__title {
    font: var(--font-hd-m);
    margin-bottom: calc(3.8167938931vw + 19.786259542px);
  }
}
@media screen and (min-width: 1368px) {
  .ArticleCarousel__title {
    margin-bottom: 4.5rem;
  }
}
@media screen {
  .ArticleCarousel__items {
    display: flex;
    flex-flow: row;
  }
}
@media screen {
  .ArticleCarousel:not([data-sprinkled]) > .ArticleCarousel__items {
    overflow: auto;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .ArticleCarousel__track {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ArticleCarousel__track::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Unsupported: use `.ArticleCarousel__items` instead" !important;
  }
}
@media screen {
  .ArticleCarouselCard {
    border: var(--border-default);
    border-width: 2px;
    border-top: 0;
    width: var(--grid-5);
    min-width: 330px;
    padding: 1.3125rem var(--grid-column) calc(4.5801526718vw + 9.3435114504px);
    margin-right: var(--grid-gutter);
    position: relative;
  }
}
@media screen and (max-width: 479px) {
  .ArticleCarouselCard {
    width: var(--grid-9-9);
    min-width: 280px;
  }
}
@media screen and (min-width: 1368px) {
  .ArticleCarouselCard {
    padding-bottom: 4.5rem;
  }
}
@media screen {
  .ArticleCarouselCard::before {
    content: "";
    display: block;
  }
}
@media screen {
  .ArticleCarouselCard::after {
    content: "";
    display: block;
    height: 1.3125rem;
    background-color: var(--theme-color-primary);
    position: absolute;
    top: 0;
    right: -2px;
    left: -2px;
  }
}
@media screen {
  .ArticleCarouselCard[data-color=faxafloi]::after {
    background-color: var(--color-faxafloi-100);
  }
}
@media screen {
  .ArticleCarouselCard[data-color=nautholsvik]::after {
    background-color: var(--color-nautholsvik-100);
  }
}
@media screen {
  .ArticleCarouselCard[data-color=heidmork]::after {
    background-color: var(--color-heidmork-100);
  }
}
@media screen {
  .ArticleCarouselCard[data-color=ellidaardalur]::after {
    background-color: var(--color-ellidaardalur-100);
  }
}
@media screen {
  .ArticleCarouselCard[data-color=blafjoll]::after {
    background-color: var(--color-blafjoll-100);
  }
}
@media screen {
  .ArticleCarouselCard[data-color=sund]::after {
    background-color: var(--color-sund-100);
  }
}
@media screen {
  .ArticleCarouselCard[data-color=rokkur]::after {
    background-color: var(--color-rokkur-100);
  }
}
@media screen {
  .ArticleCarouselCard[data-color=suld]::after {
    background-color: var(--color-suld-100);
  }
}
@media screen {
  .ArticleCarouselCard__link {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-underline--hover: none;
    --link-underline-offset: 0;
  }
}
@media screen {
  .ArticleCarouselCard__illustration {
    position: relative;
    padding-top: 85.2272727273%;
    display: block;
    margin: 0 -1px;
    margin-bottom: 2rem;
  }
}
@media screen {
  .ArticleCarouselCard__illustration--missing {
    background-color: var(--color-suld-25);
  }
}
@media screen {
  .ArticleCarouselCard__illustration > img {
    position: absolute;
    top: 1rem;
    left: var(--grid-column--neg);
    left: var(--grid-column--neg);
    right: var(--grid-column--neg);
    width: calc(100% + var(--grid-column) + var(--grid-column));
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}
@media screen {
  .ArticleCarouselCard__illustration--photo > img {
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
  }
}
@media screen {
  .ArticleCarouselCard__title {
    font: var(--font-sh-l);
    margin-bottom: 2rem;
  }
}
@media screen {
  .ArticleCarouselCard__date {
    font: var(--font-bd-s);
    color: var(--color-suld-150);
    margin-bottom: 2rem;
    display: block;
  }
}
@media screen {
  .ArticleCarouselCard__summary {
    font: var(--font-bd-s);
    margin-bottom: 1.5rem;
  }
}
@media screen {
  .ArticleCarouselCard__morelink {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-base);
    padding-left: calc( 		var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--dashWidth) 	);
    padding-right: calc( 		var(--ButtonTertiary--hover--dashWidth) - var(--ButtonTertiary--dashWidth) 	);
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    font-weight: 700;
    transition: all 100ms ease-in;
  }
  .ArticleCarouselCard__morelink::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--ButtonTertiary--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }
  .ArticleCarouselCard__morelink:hover, .ArticleCarouselCard__morelink:active, .ArticleCarouselCard__morelink[data-focus-visible-added] {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .ArticleCarouselCard__morelink:hover::before, .ArticleCarouselCard__morelink:active::before, .ArticleCarouselCard__morelink[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .ArticleCarouselCard__morelink:focus-visible {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .ArticleCarouselCard__morelink:focus-visible::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .ArticleCarouselCard__morelink:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }
  .ArticleCarouselCard__morelink[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .ArticleCarouselCard__morelink:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .ArticleCarouselCard__morelink:not([aria-label]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ArticleCarouselCard__morelink:not([aria-label])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: 'aria-label="" is missing' !important;
  }
}
@media screen {
  .ArticleCarousel > .CarouselStepper {
    margin-top: 1.5rem;
  }
}