/*!@deps
	Footnote
*/
@media screen {
  .TableWrapper {
    position: relative;
    overflow-x: auto;
  }
  .before-sprinkling .TableWrapper, .TableWrapper[data-is-seen=false], .TableWrapper[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .TableWrapper[data-is-seen=""], .TableWrapper[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .TableWrapper[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
  .before-sprinkling [data-is-seen] .TableWrapper, [data-is-seen] .TableWrapper[data-is-seen=false] {
    opacity: 1;
    transform: none;
  }
  [data-is-seen] .TableWrapper[data-is-seen=""], [data-is-seen] .TableWrapper[data-is-seen=true] {
    opacity: initial;
    transform: initial;
  }
  [data-is-seen] .TableWrapper[data-is-seen=true] {
    transition: none;
  }

  .TableWrapper__footnote div:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 18px;
    position: relative;
    margin-right: 24px;
    transform: translateY(4px);
    background-color: var(--color-suld-150);
  }

  .TableWrapper__footnote div {
    color: var(--color-suld-150);
  }

  .TableWrapper--BasicTable--fullwidth .BasicTable {
    width: 100%;
  }
}
@media screen and (min-width: 760px) {
  .TableWrapper--BasicTable--align--right {
    margin-left: auto;
    width: var(--grid-7);
  }
  .TableWrapper--BasicTable--align--right .BasicTable {
    width: 100%;
  }

  .paragraph-alignment-right .TableWrapper__footnote {
    margin-left: auto;
    width: var(--grid-7);
  }

  .TableWrapper--BasicTable--fullwidth {
    width: var(--grid-12);
  }

  .TextBlock--labelled .TableWrapper--BasicTable--fullwidth,
.TextBlock--align--right .TableWrapper--BasicTable--fullwidth,
.LabeledTextBlock--wide .TableWrapper--BasicTable--fullwidth {
    margin-left: calc(-1 * var(--grid-5-5));
  }

  .LabeledTextBlock .TableWrapper--BasicTable--fullwidth {
    margin-left: calc(-1 * var(--grid-6-6));
  }
}
@media screen {
  .TableWrapper > table,
.TableWrapper > * > table {
    margin: 0;
  }
}
@media screen {
  .TableWrapper--at::before,
.TableWrapper--at::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1.25rem;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.04) 50%, transparent 100%);
    pointer-events: none;
    transition: opacity 200ms ease-in;
  }
}
@media screen {
  .TableWrapper--at::after {
    left: auto;
    right: 0;
    transform: scaleX(-1);
  }
}
@media screen {
  .TableWrapper--at--start::before {
    opacity: 0;
  }
}
@media screen {
  .TableWrapper--at--end::after {
    opacity: 0;
  }
}
@media screen {
  .TableWrapper__scroller {
    overflow-x: auto;
  }
}
@media screen and (max-width: 979px) {
  .BasicTable {
    width: 100%;
  }

  .TableWrapper {
    margin: 0 var(--grid-margin--neg);
    margin-right: var(--grid-margin--right--neg);
  }

  .TableWrapper__scroller {
    padding: 0 var(--grid-margin);
    padding-right: var(--grid-margin--right);
  }
}
@media screen {
  .BasicTable,
.TableWrapper--BasicTable {
    margin-bottom: 1.875rem;
  }

  .BasicTable > * > * > th,
.BasicTable > * > * > td {
    padding: calc(1.3513513514% + 7.6756756757px) calc(1.5765765766% + 10.954954955px);
    text-align: left;
    vertical-align: center;
  }
  .BasicTable > * > * > th:first-child,
.BasicTable > * > * > td:first-child {
    padding-left: 0;
  }
  .BasicTable > * > * > th:last-child,
.BasicTable > * > * > td:last-child {
    padding-right: 0.75rem;
  }
}
@media screen and (min-width: 1368px) {
  .BasicTable > * > * > th,
.BasicTable > * > * > td {
    padding: 1.5rem;
  }
}
@media screen {
  .BasicTable > thead > * > th {
    padding-bottom: calc(1.1261261261% + 4.3963963964px);
  }
}
@media screen and (min-width: 1368px) {
  .BasicTable > thead > * > th {
    padding-bottom: 1.125rem;
  }
}
@media screen {
  .BasicTable--compact > * > * > th,
.BasicTable--compact > * > * > td {
    padding: calc(0.6756756757% + 3.8378378378px);
  }
}
@media screen and (min-width: 1368px) {
  .BasicTable--compact > * > * > th,
.BasicTable--compact > * > * > td {
    padding: 0.75rem;
  }
}
@media screen {
  .BasicTable--compact > thead > * > th {
    padding-bottom: calc(0.4504504505% + 2.5585585586px);
  }
}
@media screen and (min-width: 1368px) {
  .BasicTable--compact > thead > * > th {
    padding-bottom: 0.5rem;
  }
}
@media screen {
  .BasicTable > tfoot > * > th,
.BasicTable > tfoot > * > td {
    border-top: 2px solid var(--color-suld-100);
    border-bottom: 0;
    font-weight: 700;
  }
}
@media screen {
  .BasicTable > * > * > .Cell--number {
    text-align: right;
    white-space: nowrap;
  }
}
@media screen {
  .BasicTable > * > * > .Cell--tel {
    text-align: left;
    white-space: normal;
  }
}
@media screen {
  .BasicTable > * > * > .Cell--text {
    text-align: left;
    white-space: normal;
  }
}
html:not([data-disable-css-warnings-with-abandon=true]) .TableWrapper--BasicTable--align--right.TableWrapper--BasicTable--fullwidth {
  box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
}
html:not([data-disable-css-warnings-with-abandon=true]) .TableWrapper--BasicTable--align--right.TableWrapper--BasicTable--fullwidth::before {
  all: initial !important;
  order: -999 !important;
  font-family: sans-serif !important;
  position: absolute !important;
  white-space: nowrap !important;
  z-index: 2 !important;
  font-size: 12px !important;
  line-height: 1.5em !important;
  color: red !important;
  background-color: rgba(255, 230, 230, 0.5) !important;
  padding: 0 0.5em !important;
  content: "--align-right and --fullwidth should not be used together" !important;
}