@media screen {
  .TableWrapper {
    position: relative;
    overflow-x: auto;
  }
  .TableWrapper[data-is-seen][data-is-seen=false] {
    opacity: 0;
    transform: translateY(200px);
  }
  .TableWrapper[data-is-seen=""], .TableWrapper[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .TableWrapper[data-is-seen=true] {
    transition: opacity 500ms ease-in-out, transform 500ms ease-out;
  }

  .TableWrapper > table,
.TableWrapper > * > table {
    margin: 0;
  }

  .TableWrapper--at::before,
.TableWrapper--at::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1.25rem;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.04) 50%, transparent 100%);
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
  }

  .TableWrapper--at::after {
    left: auto;
    right: 0;
    transform: scaleX(-1);
  }

  .TableWrapper--at--start::before {
    opacity: 0;
  }

  .TableWrapper--at--end::after {
    opacity: 0;
  }

  .TableWrapper__scroller {
    overflow-x: auto;
  }
}
@media screen and (max-width: 979px) {
  .TableWrapper {
    margin: 0 var(--grid-edge--neg);
  }

  .TableWrapper__scroller {
    padding: 0 var(--grid-edge);
  }
}
@media screen {
  .BasicTable,
.TableWrapper--BasicTable > table {
    min-width: 100%;
  }

  .BasicTable,
.TableWrapper--BasicTable {
    margin-bottom: 1.875rem;
  }
}
@media screen and (min-width: 760px) {
  .TableWrapper--BasicTable--align--right {
    margin-left: auto;
    width: 56.9536423841%;
  }
}
@media screen {
  .BasicTable > * > * > th,
.BasicTable > * > * > td {
    padding: calc(1.3513513514% + 7.6756756757px) calc(1.5765765766% + 10.954954955px);
    text-align: left;
    vertical-align: center;
  }
  .BasicTable > * > * > th:first-child,
.BasicTable > * > * > td:first-child {
    padding-left: 0;
  }
  .BasicTable > * > * > th:last-child,
.BasicTable > * > * > td:last-child {
    padding-right: 0.75rem;
  }
}
@media screen and (min-width: 1380px) {
  .BasicTable > * > * > th,
.BasicTable > * > * > td {
    padding: 1.5rem;
  }
}
@media screen {
  .BasicTable > thead > * > th {
    padding-bottom: calc(1.1261261261% + 4.3963963964px);
  }
}
@media screen and (min-width: 1380px) {
  .BasicTable > thead > * > th {
    padding-bottom: 1.125rem;
  }
}
@media screen {
  .BasicTable--compact > * > * > th,
.BasicTable--compact > * > * > td {
    padding: calc(0.6756756757% + 3.8378378378px);
  }
}
@media screen and (min-width: 1380px) {
  .BasicTable--compact > * > * > th,
.BasicTable--compact > * > * > td {
    padding: 0.75rem;
  }
}
@media screen {
  .BasicTable--compact > thead > * > th {
    padding-bottom: calc(0.4504504505% + 2.5585585586px);
  }
}
@media screen and (min-width: 1380px) {
  .BasicTable--compact > thead > * > th {
    padding-bottom: 0.5rem;
  }
}
@media screen {
  .BasicTable > tfoot > * > th,
.BasicTable > tfoot > * > td {
    border-top: 2px solid #c7cbd0;
    border-bottom: 0;
    font-weight: 700;
  }
}
@media screen {
  .BasicTable > * > * > .Cell--number {
    text-align: right;
    white-space: nowrap;
  }
}
@media screen {
  .BasicTable > * > * > .Cell--tel {
    text-align: left;
    white-space: normal;
  }
}
@media screen {
  .BasicTable > * > * > .Cell--text {
    text-align: left;
    white-space: normal;
  }
}
/*# sourceMappingURL=BasicTable.css.map */