@charset "UTF-8";
@media screen {
  .BreadCrumbs {
    color: #707275;
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .Layout__nav .BreadCrumbs {
    position: absolute;
    top: var(--Layout__header-height);
    left: 0;
    max-width: 100%;
  }

  .BreadCrumbs__title {
    display: none;
  }

  .BreadCrumbs__item {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
  }

  .BreadCrumbs__item:not(:last-child) {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
  }

  .BreadCrumbs__title + .BreadCrumbs__item {
    overflow: hidden;
    white-space: nowrap;
    width: 1.5625rem;
    margin: 0 -0.3125rem;
  }

  .BreadCrumbs__title + .BreadCrumbs__item::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    width: 100%;
    margin-right: 1px;
    font-size: 0.875rem;
  }

  .BreadCrumbs__separator {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 0.8125rem;
  }

  .BreadCrumbs__separator::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    width: 100%;
    margin-right: 1px;
    font-size: 0.3125rem;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs__item:last-child:not([aria-current=true]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs__item:last-child:not([aria-current=true])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: 'You forgot aria-current="true"' !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs:not(nav) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs:not(nav)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please use <nav/>" !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs:not([aria-label]):not([aria-labelledby]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs:not([aria-label]):not([aria-labelledby])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `aria-label` or `aria-labelledby`" !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs[aria-labelledby] > .BreadCrumbs__title:not([id]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .BreadCrumbs[aria-labelledby] > .BreadCrumbs__title:not([id])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `id` attribute" !important;
  }
}