:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--marginRight: calc(0.7633587786vw + 13.5572519084px);
}

@media screen {
  .ButtonPrimary {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    --Button--color: var(--theme-color-primary--text);
    --Button--backgroundColor: var(--theme-color-primary);
    --Button--backgroundColor--active: var(--theme-color-primary--dark);
    --Button--border: 0px;
    --Button--borderColor: var(--Button--backgroundColor);
    --Button--height: 3.5rem;
    white-space: nowrap;
    vertical-align: middle;
    color: var(--Button--color);
    background-color: var(--Button--backgroundColor);
    display: inline-block;
    line-height: calc(var(--Button--height) - 2 * var(--Button--border));
    margin-right: calc(1.5267175573vw + 11.1145038168px);
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 0.1875rem;
    position: relative;
    transition: all 200ms ease-in;
    transition-property: border-color, background-color, color, text-shadow, box-shadow;
    padding: 0 calc(0.7633587786vw + 21.5572519084px);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    min-width: calc(4.5801526718vw + 65.3435114504px);
    font-size: 1rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1368px) {
  .ButtonPrimary {
    min-width: 128px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 32px;
  }
}
@media screen {
  .ButtonPrimary:hover, .ButtonPrimary:active, .ButtonPrimary[data-focus-visible-added] {
    outline: 0;
    text-decoration: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: var(--Button--color);
  }
}
@media screen {
  .ButtonPrimary:focus-visible {
    outline: 0;
    text-decoration: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: var(--Button--color);
  }
}
@media screen {
  .ButtonPrimary:active, .ButtonPrimary[aria-pressed=true] {
    text-decoration: none;
    background-color: var(--Button--backgroundColor--active);
    color: var(--Button--color);
  }
}
@media screen {
  .ButtonPrimary[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.25rem;
    border: 0.125rem solid var(--Button--borderColor);
    border-radius: 0.1875rem;
  }
}
@media screen {
  .ButtonPrimary:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.25rem;
    border: 0.125rem solid var(--Button--borderColor);
    border-radius: 0.1875rem;
  }
}
@media screen {
  .ButtonPrimary[disabled], .ButtonPrimary[aria-disabled=true] {
    box-shadow: none;
    opacity: 0.3;
  }
}
@media screen {
  .ButtonPrimary--wide {
    min-width: calc(6.0855263158vw + 228.75px);
  }
}
@media screen and (max-width: 759px) {
  .ButtonPrimary--wide {
    width: 100%;
  }
}
@media screen and (min-width: 1368px) {
  .ButtonPrimary--wide {
    min-width: 312px;
  }
}
@media screen {
  .ButtonPrimary--small {
    --Button--height: 2.5rem;
    padding-left: calc(0.7633587786vw + 13.5572519084px);
    padding-right: calc(0.7633587786vw + 13.5572519084px);
  }
}
@media screen and (min-width: 1368px) {
  .ButtonPrimary--small {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen {
  .ButtonPrimary--small.ButtonPrimary--wide {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .ButtonPrimary--small.ButtonPrimary--wide::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Variants --small and --wide do NOT mix." !important;
  }
}
@media screen {
  .ButtonPrimary--destructive {
    --Button--backgroundColor: var(--color-heidmork-100);
    --Button--backgroundColor--active: var(--color-heidmork-150);
  }
}
/*# sourceMappingURL=ButtonPrimary.css.map */