@charset "UTF-8";
:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: calc(0.7633587786vw + 13.5572519084px);
}
@media screen and (min-width: 1368px) {
  :root {
    --ButtonTertiary--gapH: 24px;
  }
}

/*!@deps
	ButtonBar
*/
@media screen {
  .ButtonTertiary {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-base);
    padding-left: calc( 		var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--dashWidth) 	);
    padding-right: calc( 		var(--ButtonTertiary--hover--dashWidth) - var(--ButtonTertiary--dashWidth) 	);
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    font-weight: 700;
    transition: all 100ms ease-in;
  }
  .ButtonTertiary::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--ButtonTertiary--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }
  .ButtonTertiary:hover, .ButtonTertiary:active, .ButtonTertiary[data-focus-visible-added] {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .ButtonTertiary:hover::before, .ButtonTertiary:active::before, .ButtonTertiary[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .ButtonTertiary:focus-visible {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .ButtonTertiary:focus-visible::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .ButtonTertiary:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }
  .ButtonTertiary[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .ButtonTertiary:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .ButtonTertiary--go--back {
    order: -10;
  }
  .ButtonTertiary--go--back::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    background: 0;
    height: auto;
    font-size: 0.75em;
    overflow: hidden;
  }
  .ButtonTertiary:active, .ButtonTertiary[aria-pressed=true] {
    --ButtonTertiary--dashColor: _inherit;
    --ButtonTertiary--dashHeight: 0.375rem;
  }
  .ButtonTertiary--small {
    --ButtonTertiary--dashSpace: var(--space-1);
  }
  .ButtonTertiary--destructive {
    --ButtonTertiary--color: var(--color-heidmork-100);
    --ButtonTertiary--dashColor: currentColor;
  }
  .ButtonTertiary[disabled], .ButtonTertiary[aria-disabled=true] {
    --ButtonTertiary--dashColor: currentColor;
    --ButtonTertiary--color: _inherit;
    opacity: 0.5;
    pointer-events: none;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ButtonTertiary[data-icon] {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ButtonTertiary[data-icon]::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "No icons on `ButtonTertiary`" !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ButtonTertiary--go--back.ButtonTertiary--destructive {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ButtonTertiary--go--back.ButtonTertiary--destructive::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--destructive` and `--go--back` do NOT mix" !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ButtonTertiary--go--forward {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .ButtonTertiary--go--forward::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--go--forward` not supported on `ButtonTertiary`" !important;
  }
}