@charset "UTF-8";
:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: calc(0.7633587786vw + 13.5572519084px);
}
@media screen and (min-width: 1368px) {
  :root {
    --ButtonTertiary--gapH: 24px;
  }
}

@media screen {
  .ButtonBack {
    --ButtonTertiary--color: #0367e1;
    --ButtonTertiary--dashColor: #0367e1;
    --ButtonTertiary--dashWidth: var(--space-1_5);
    --ButtonTertiary--hover--dashWidth: var(--space-3);
    --ButtonTertiary--dashSpace: var(--space-1_5);
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-base);
    padding-left: calc( 		var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--dashWidth) 	);
    padding-right: calc( 		var(--ButtonTertiary--hover--dashWidth) - var(--ButtonTertiary--dashWidth) 	);
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    font-weight: 700;
    transition: all 100ms ease-in;
    font-size: var(--font-label-size);
  }
  .ButtonBack::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--ButtonTertiary--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }
  .ButtonBack:hover, .ButtonBack:active, .ButtonBack[data-focus-visible-added] {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .ButtonBack:hover::before, .ButtonBack:active::before, .ButtonBack[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .ButtonBack:focus-visible {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .ButtonBack:focus-visible::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .ButtonBack:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }
  .ButtonBack[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .ButtonBack:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .ButtonBack[disabled], .ButtonBack[aria-disabled=true] {
    --ButtonTertiary--dashColor: currentColor;
    --ButtonTertiary--color: _inherit;
    opacity: 0.5;
    pointer-events: none;
  }

  .ButtonBack::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    background: 0;
    height: auto;
    margin-right: 0.5rem;
    margin-bottom: 0;
    font-size: 0.5625rem;
    overflow: hidden;
  }
}