@media screen {
  .CenterColumn {
    max-width: 792px;
    margin: 0 auto;
  }
  .CenterColumn > .PageHeading, .CenterColumn > .Heading, .CenterColumn > .TextBlock {
    width: auto;
    max-width: none;
    margin-left: 0;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > [class*="--align--"], html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > [class*="--wide"], html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > .TextBlock--labelled, html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > *:not(.TextBlock):not(.PageHeading):not(.SubHeading):not(.Heading):not(.ContentImage):not(.RelatedLinks):not(.ArticleMeta):not(.VSpacer):not(hr) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > [class*="--align--"]::before, html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > [class*="--wide"]::before, html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > .TextBlock--labelled::before, html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > *:not(.TextBlock):not(.PageHeading):not(.SubHeading):not(.Heading):not(.ContentImage):not(.RelatedLinks):not(.ArticleMeta):not(.VSpacer):not(hr)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Only use plain `PageHeading`, `Heading`, `Subheading`, `TextBlock`, `ContentImage`, `RelatedLinks`, `ArticleMeta`, `VSpacer`, `<hr/>` inside this parent wrapper." !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > [class*="--align--"][class]::before, html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > [class*="--wide"][class]::before {
    content: "Do not use --align-- or --wide modifiers." !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .CenterColumn > .TextBlock--labelled[class]::before {
    content: "Do not use the --labelled modifier." !important;
  }
}