@charset "UTF-8";
@media screen {
  .ExtraLinks {
    background-color: #f8f8f9;
    padding: calc(6.4655172414% + 11.8965517241px) 0;
    margin-bottom: calc(4.3103448276% + 47.9310344828px);
    position: relative;
  }
  .ExtraLinks::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-margin--neg);
    right: var(--grid-margin--neg);
    z-index: -1;
    background: inherit;
  }

  .ExtraLinks {
    position: relative;
  }
  .before-sprinkling .ExtraLinks .ExtraLinks__item, .ExtraLinks[data-is-seen=false] .ExtraLinks__item, .ExtraLinks[data-is-seen=true] .ExtraLinks__item {
    opacity: 0;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item, .ExtraLinks[data-is-seen=true] .ExtraLinks__item {
    opacity: 1;
  }
  .ExtraLinks[data-is-seen=true] .ExtraLinks__item {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
  .before-sprinkling .ExtraLinks .ExtraLinks__title, .ExtraLinks[data-is-seen=false] .ExtraLinks__title, .ExtraLinks[data-is-seen=true] .ExtraLinks__title {
    opacity: 0;
    transform: translateY(200px);
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__title, .ExtraLinks[data-is-seen=true] .ExtraLinks__title {
    opacity: 1;
    transform: none;
  }
  .ExtraLinks[data-is-seen=true] .ExtraLinks__title {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
  .ExtraLinks::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-margin--neg);
    z-index: -1;
    background: inherit;
  }
  .before-sprinkling .ExtraLinks::after, .ExtraLinks[data-is-seen=false]::after, .ExtraLinks[data-is-seen=true]::after {
    border-left: calc(1.5267175573vw + 3.1145038168px) solid #f8f8f9;
  }
  .ExtraLinks[data-is-seen=true]::after {
    transition: all 500ms ease-in-out;
    transition-property: transform;
  }
  .ExtraLinks[data-is-seen=""]::after, .ExtraLinks[data-is-seen=true]::after {
    transform: scaleY(0);
    transform-origin: 0 100%;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(1), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(1) {
    transition-delay: 250ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(2), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(2) {
    transition-delay: 300ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(3), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(3) {
    transition-delay: 350ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(4), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(4) {
    transition-delay: 400ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(5), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(5) {
    transition-delay: 450ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(6), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(6) {
    transition-delay: 500ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(7), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(7) {
    transition-delay: 550ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(8), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(8) {
    transition-delay: 600ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(9), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(9) {
    transition-delay: 650ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(10), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(10) {
    transition-delay: 700ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(11), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(11) {
    transition-delay: 750ms;
  }
  .ExtraLinks[data-is-seen=""] .ExtraLinks__item:nth-child(12), .ExtraLinks[data-is-seen=true] .ExtraLinks__item:nth-child(12) {
    transition-delay: 800ms;
  }

  .ExtraLinks::before {
    border-left: calc(1.5267175573vw + 3.1145038168px) solid var(--theme-color-primary);
  }
}
@media screen and (min-width: 1368px) {
  .ExtraLinks::before {
    border-width: 1.5rem;
  }
}
@media screen {
  .ExtraLinks__title {
    grid-area: title;
    font: var(--font-hd-s);
    margin-bottom: var(--baseVerticalMargin);
    margin-bottom: calc(3.1488549618vw + 13.9236641221px);
  }
}
@media screen and (min-width: 1368px) {
  .ExtraLinks__title {
    margin-bottom: 57px;
  }
}
@media screen {
  .ExtraLinks__list {
    grid-area: list;
    display: grid;
    grid-auto-flow: row;
    gap: var(--grid-gutter);
    grid-template-columns: repeat(4, var(--grid-3));
  }
}
@media screen and (max-width: 479px) {
  .ExtraLinks__list {
    grid-template-columns: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .ExtraLinks__list {
    grid-template-columns: repeat(2, var(--grid-6));
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .ExtraLinks__list {
    grid-template-columns: repeat(3, var(--grid-4));
  }
}
@media screen {
  .ExtraLinks__card {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-underline--hover: none;
    --link-underline-offset: 0;
    display: block;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    min-height: 10.5rem;
    height: 100%;
    border: var(--border-default);
  }
  .ExtraLinks__card::after {
    content: "";
    display: block;
    width: 2.5rem;
    height: 0.125rem;
    background: var(--Card-lineColor, currentColor);
    margin-top: 1rem;
    transition: width 200ms ease-in;
  }
  .ExtraLinks__card:hover::after {
    width: 100%;
  }
  .ExtraLinks__card__title, .ExtraLinks__card__summary {
    display: block;
  }
  .ExtraLinks__card__title {
    font: var(--font-bd-l);
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .ExtraLinks__card__summary {
    font: var(--font-bd-s);
  }
}
@media screen {
  .ExtraLinks__card:hover,
.ExtraLinks__card:active {
    border-color: transparent;
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary--text);
    outline: none;
  }
}
@media screen {
  .ExtraLinks__related {
    background-color: #f1f2f3;
    padding-right: 5.298013245%;
    padding-left: 8.6092715232%;
    margin-top: calc(4.7709923664vw + 24.7328244275px);
    padding-top: calc(3.0534351145vw + 22.2290076336px);
    padding-bottom: calc(4.7709923664vw + 64.7328244275px);
  }
}
@media screen and (min-width: 1368px) {
  .ExtraLinks__related {
    margin-top: 5.625rem;
    padding-top: 4rem;
    padding-bottom: 8.125rem;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .ExtraLinks__related {
    margin-top: 2rem;
  }
}
@media screen {
  .ExtraLinks__related__title {
    font: var(--font-hd-s);
    margin-bottom: calc(3.1488549618vw + 9.9236641221px);
  }
}
@media screen {
  .ExtraLinks__related__item {
    padding-left: 1.625rem;
  }
}
@media screen {
  .ExtraLinks__related__link {
    font: var(--font-bd-l);
    color: #2a2b2c;
    position: relative;
  }
}
@media screen {
  .ExtraLinks__related__link::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    position: absolute;
    right: 100%;
    width: 1.625rem;
    text-align: left;
    font-size: 0.8em;
  }
}
@media screen {
  .ExtraLinks__related__link--text::before {
    content: "";
  }
}
@media screen {
  .ExtraLinks__related__link--pdf::before {
    content: "";
  }
}
@media screen {
  .ExtraLinks__related__link--link::before {
    content: "";
  }
}
@media screen and (min-width: 760px) {
  .ExtraLinks {
    position: relative;
    border: 0;
  }

  .ExtraLinks__related__item {
    margin-bottom: 1.1875rem;
  }
}
@media screen and (min-width: 980px) {
  .ExtraLinks--related {
    display: flex;
    margin-bottom: 19.0397350993%;
  }

  .ExtraLinks--related > .ExtraLinks__main {
    width: var(--grid-6);
  }

  .ExtraLinks--related > .ExtraLinks__main > .ExtraLinks__list {
    grid-template-columns: repeat(2, var(--grid-3));
  }

  .ExtraLinks__related {
    margin-bottom: -17.3841059603%;
    width: var(--grid-5);
    margin-left: auto;
  }
}