/*!@deps
	Bling
	efnistakn
*/
@media screen {
  .FeatureList {
    --efnistakn: ;
    background-color: #f8f8f9;
    --left-offset: var(--grid-1);
    padding-top: calc(4.3103448276% + 11.9310344828px);
    padding-bottom: calc(5.1724137931% + 17.5172413793px);
    margin-top: calc(7.5431034483% + 8.8793103448px);
    margin-bottom: calc(7.5431034483% + 8.8793103448px);
  }
  .before-sprinkling .FeatureList, .FeatureList[data-is-seen=false], .FeatureList[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .FeatureList[data-is-seen=""], .FeatureList[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .FeatureList[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
}
@media screen and (max-width: 479px) {
  .FeatureList {
    --left-offset: var(--grid-0-1);
    margin-left: var(--grid-0-1--neg);
    margin-right: var(--grid-0-1--neg);
  }
}
@media screen and (min-width: 1368px) {
  .FeatureList {
    --left-offset: var(--grid-1-1);
  }
}
@media screen {
  .FeatureList__title {
    font: var(--font-hd-s);
    max-width: 416px;
    margin-bottom: calc(6.8965517241% + 0.6896551724px);
    margin-left: var(--left-offset);
  }
}
@media screen {
  .FeatureList__list {
    margin-left: var(--left-offset);
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .FeatureList__list {
    width: var(--grid-10-10);
    -moz-columns: 2;
         columns: 2;
  }
}
@media screen and (min-width: 760px) and (max-width: 1367px) {
  .FeatureList__list {
    width: calc(var(--grid-9-9) + 3 * var(--grid-0-1));
    -moz-columns: 3;
         columns: 3;
  }
}
@media screen and (min-width: 1368px) {
  .FeatureList__list {
    width: var(--grid-9-9);
    -moz-columns: 3;
         columns: 3;
  }
}
@media screen {
  .FeatureList__feature {
    position: relative;
    -moz-column-break-inside: avoid;
         break-inside: avoid;
    padding-bottom: var(--grid-0-1);
    padding-right: var(--grid-0-1);
    padding-left: 2.5rem;
  }
}
@media screen {
  .FeatureList__feature:not([data-efnistakn]) {
    --efnistakn: url("/assets/efnistakn/skipurit_01.svg");
  }
}
@media screen {
  .FeatureList__feature::before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.125rem;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--efnistakn) no-repeat;
    background-size: contain;
  }
}