@charset "UTF-8";
/*!@deps
	FormField
*/
@media screen {
  .FileInput {
    margin-bottom: calc(4.3103448276% + 17.9310344828px);
    position: relative;
  }

  .FileInput__input {
    display: none;
  }

  .FileInput__input--fake {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0px;
    width: 0px;
  }

  .FileInput__dropzone {
    background: var(--color-suld-25);
    border: 2px dashed var(--color-suld-100);
    padding: 1.25rem;
    transition: all 200ms ease-in;
    transition-property: background-color, border-color;
    cursor: pointer;
    margin-bottom: 1.25rem;
    text-align: center;
    color: var(--color-suld-200);
    position: relative;
  }

  .FileInput__dropzone:hover,
.FileInput__dropzone:focus,
.FileInput__input--fake:focus + .FileInput__dropzone,
.FileInput__dropzone.FileInput__dropzone--highlight {
    border-color: var(--color-suld-150);
    background: var(--color-suld-50);
  }

  .FileInput__droptext {
    position: relative;
    text-align: center;
    color: var(--color-suld-200);
    padding-top: 5rem;
    margin: 0;
  }
  .FileInput__droptext::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 4rem;
    margin-left: -2rem;
    line-height: 4rem;
    font-size: 1.5rem;
    color: #fff;
    background: var(--color-faxafloi-100);
    border-radius: 50%;
  }

  .FileInput__droptext > strong {
    display: inline-block;
    color: var(--color-faxafloi-100);
    border-bottom: 2px solid var(--color-faxafloi-100);
  }

  .FormField--disabled .FileInput__dropzone {
    border-color: var(--color-suld-75);
    background: var(--color-suld-0);
    cursor: default;
  }

  .FormField--disabled .FileInput__droptext,
.FormField--disabled .FileInput__droptext > strong {
    color: var(--color-suld-100);
    border: none;
  }

  .FormField--disabled .FileInput__droptext::before {
    background: var(--color-suld-100);
  }

  .FormField--invalid .FileInput__dropzone {
    background: rgba(216, 34, 47, 0.1);
    border-color: var(--color-heidmork-100);
  }

  .FileInput__filelist {
    display: flex;
    flex-wrap: wrap;
  }

  .FileInput__file {
    width: 100%;
    padding-left: 26px;
    margin-bottom: 0.5rem;
    position: relative;
  }

  .FileInput__fileinfo {
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
  }

  .FileInput__filename {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
  }

  .FileInput__filesize {
    padding-left: 0.1875rem;
    white-space: nowrap;
  }

  .FileInput__preview {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 0.9375rem;
    vertical-align: middle;
  }

  .FileInput__preview img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .FileInput__file-remove {
    overflow: hidden;
    white-space: nowrap;
    width: 0.625rem;
    color: inherit;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.3125rem;
  }
  .FileInput__file-remove::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    font-size: 0.625rem;
    line-height: 1;
    color: var(--color-faxafloi-100);
  }
  .FileInput__file-remove:hover::before, .FileInput__file-remove:focus::before {
    color: var(--color-faxafloi-150);
  }
}
@media screen and (min-width: 760px) {
  .FileInput__dropzone {
    padding: 4rem;
  }

  .FileInput--multi .FileInput__file {
    width: calc(50% - 1.875rem);
    margin-right: 1.875rem;
  }
}