@charset "UTF-8";
/*!@deps
	FormField
*/
/*!@deps
	FormField
*/
@media screen {
  .FormField {
    --input-border-color: #c7cbd0;
    --input-border-radius: 0.1875rem;
    display: flex;
    flex-flow: column;
    position: relative;
    margin-bottom: 1.5rem;
  }

  .FormField__label {
    position: relative;
    z-index: 1;
    font-weight: 700;
    margin-bottom: 0.625rem;
    align-self: flex-start;
  }

  .FormField--disabled > .FormField__label {
    color: #c7cbd0;
  }

  label.FormField__label {
    color: #707275;
    font-size: var(--font-label-size);
    font-weight: 400;
    line-height: 0.875rem;
    transition: all 200ms ease-in;
  }

  :not(.FormField--small) > label.FormField__label {
    position: absolute;
    top: 1px;
    left: 1rem;
    line-height: 1.5rem;
    pointer-events: none;
    max-width: calc(100% - 1.5rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .FormField--empty:not(.FormField--small):not(.FormField--focused) > label.FormField__label {
    font-size: var(--font-bd-s-size);
    line-height: 3.375rem;
  }

  .FormField--nolabel > .FormField__label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }

  .FormField__label__reqstar {
    border-bottom: none;
    float: left;
    margin-right: 0.15em;
  }

  .FormField__input {
    font-size: var(--font-bd-l-size);
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--color-suld-0);
    color: var(--color-suld-200);
    border: 0.0625rem solid var(--input-border-color);
    transition: all 400ms ease-in;
    transition-property: color, border-color, box-shadow, background-color;
    border-radius: var(--input-border-radius);
    padding: 0 1rem;
    padding-top: 0.75rem;
    height: 3.5rem;
    line-height: 2.625rem;
  }

  .FormField--nolabel > .FormField__input {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  .FormField--small > .FormField__input {
    padding-top: 0;
    font-size: 16;
    height: 2.5rem;
    line-height: 2.375rem;
  }

  .FormField__input::-moz-placeholder {
    color: var(--color-suld-150);
    opacity: 1;
  }

  .FormField__input:-ms-input-placeholder {
    color: var(--color-suld-150);
    opacity: 1;
  }

  .FormField--empty > .FormField__input,
.FormField__input::placeholder {
    color: var(--color-suld-150);
    opacity: 1;
  }

  .FormField--filled > .FormField__input {
    --input-border-color: var(--color-faxafloi-100);
  }

  .FormField--invalid > .FormField__input,
.FormField__input[aria-invalid=true] {
    --input-border-color: var(--color-heidmork-100);
    color: var(--color-heidmork-100);
  }

  .FormField--readonly > .FormField__input,
.FormField__input[readonly] {
    --input-border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
  }

  .FormField--focused > .FormField__input,
.FormField__input:hover,
.FormField__input:focus {
    --input-border-color: var(--color-faxafloi-100);
    color: var(--color-suld-200);
    box-shadow: inset 0 0 0 0.0625rem var(--input-border-color);
    outline: 0;
  }

  .FormField--disabled > .FormField__input,
.FormField__input[disabled] {
    --input-border-color: var(--color-suld-100);
    background-color: var(--color-suld-50);
    color: var(--color-suld-100);
    cursor: not-allowed;
  }

  .FormField__input > * {
    border: 0;
    background: 0;
    padding: 0;
    width: 100%;
    flex-shrink: 1;
    height: auto;
    line-height: inherit;
    color: inherit;
  }

  .FormField__input > *:focus {
    outline: 0;
  }

  .FormField__assist,
.FormField__error {
    color: var(--color-heidmork-100);
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding-left: 1rem;
    margin-top: 0.5625rem;
  }
  .FormField__assist::before,
.FormField__error::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    margin-right: 0.5rem;
    font-size: 0.625rem;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .FormField__assist:not([id]),
html:not([data-disable-css-warnings-with-abandon=true]) .FormField__error:not([id]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .FormField__assist:not([id])::after,
html:not([data-disable-css-warnings-with-abandon=true]) .FormField__error:not([id])::after {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "should have id atribute to match input[aria-describedby]" !important;
  }

  .FormField__assist {
    color: #707275;
  }

  .FormField__assist::before {
    content: "";
    font-size: 0.6875rem;
  }
}
@media screen {
  .Selectbox > .FormField__input::after {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.25rem;
    pointer-events: none;
    margin: auto;
    color: var(--input-border-color);
    transition: all 200ms ease-in;
    font-size: 1rem;
    height: 1em;
    line-height: 1em;
  }

  /*.Selectbox > .FormField__input--focused::after {
  	transform: rotate(180deg);
  }*/
  .Selectbox > * > .FormField__input__value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-right: 3.125rem;
  }
}
@media screen {
  .TextInput--multiline > .FormField__input {
    font: var(--font-bd-s);
    height: 6.5rem;
    padding-top: 1.3125rem;
    padding-bottom: 0.5625rem;
  }
  .TextInput--multiline > .FormField__input [rows="4"] {
    height: 8rem;
  }
  .TextInput--multiline > .FormField__input [rows="5"] {
    height: 9.5rem;
  }
  .TextInput--multiline > .FormField__input [rows="6"] {
    height: 11rem;
  }
  .TextInput--multiline > .FormField__input [rows="7"] {
    height: 12.5rem;
  }
  .TextInput--multiline > .FormField__input [rows="8"] {
    height: 14rem;
  }
  .TextInput--multiline > .FormField__input [rows="9"] {
    height: 15.5rem;
  }
  .TextInput--multiline > .FormField__input [rows="10"] {
    height: 17rem;
  }
  .TextInput--multiline > .FormField__input [rows="11"] {
    height: 18.5rem;
  }
  .TextInput--multiline > .FormField__input [rows="12"] {
    height: 20rem;
  }

  .FormField--small.TextInput--multiline > .FormField__input {
    height: 5.5rem;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="4"] {
    height: 7rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="5"] {
    height: 8.5rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="6"] {
    height: 10rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="7"] {
    height: 11.5rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="8"] {
    height: 13rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="9"] {
    height: 14.5rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="10"] {
    height: 16rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="11"] {
    height: 17.5rem;
  }
  .FormField--small.TextInput--multiline > .FormField__input [rows="12"] {
    height: 19rem;
  }
}