/*!@deps
	ButtonTertiary
*/
@media screen {
  .GridBlocks {
    display: flex;
    flex-flow: row wrap;
    margin-top: calc(7.5431034483% + 8.8793103448px);
    margin-bottom: calc(8.6206896552% + 15.8620689655px);
  }

  .GridBlocks__item {
    margin: 1.25rem 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
  }

  .before-sprinkling .GridBlocks > .GridBlocks__item, .GridBlocks[data-is-seen=false] > .GridBlocks__item, .GridBlocks[data-is-seen=true] > .GridBlocks__item {
    opacity: 0;
    transform: translateY(200px);
  }
  .GridBlocks[data-is-seen=""] > .GridBlocks__item, .GridBlocks[data-is-seen=true] > .GridBlocks__item {
    opacity: 1;
    transform: none;
  }
  .GridBlocks[data-is-seen=true] > .GridBlocks__item {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
  .GridBlocks[data-is-seen=true] > .GridBlocks__item {
    transition-delay: 450ms;
  }
  .GridBlocks[data-is-seen=true] > .GridBlocks__item:nth-child(1) {
    transition-delay: 0ms;
  }
  .GridBlocks[data-is-seen=true] > .GridBlocks__item:nth-child(2) {
    transition-delay: 150ms;
  }
  .GridBlocks[data-is-seen=true] > .GridBlocks__item:nth-child(3) {
    transition-delay: 300ms;
  }

  .GridBlocks__illustration {
    width: 5rem;
    margin-top: 0.625rem;
  }
}
@media screen and (max-width: 479px) {
  .GridBlocks__illustration {
    margin-top: 0;
  }
}
@media screen {
  .GridBlocks__illustration img {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 759px) {
  .GridBlocks__illustration img {
    margin-bottom: 0.5rem;
  }
}
@media screen {
  .GridBlocks__item__title {
    position: relative;
    font: var(--font-sh-l);
    margin-bottom: 1rem;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
@media screen {
  .GridBlocks__item__titlelink::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: -1.25rem;
    width: 8.75rem;
    height: 7.75rem;
  }
}
@media screen {
  .GridBlocks__item__summary {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 979px) {
  .GridBlocks__item {
    width: 46%;
    margin-left: 8%;
  }

  .GridBlocks__item:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media screen and (min-width: 980px) {
  .GridBlocks__item {
    width: 31.1258278146%;
    margin-left: 3.3112582781%;
  }

  .GridBlocks--twocol > .GridBlocks__item {
    width: 39.7350993377%;
    margin-left: 3.3112582781%;
    flex-flow: row;
  }

  .GridBlocks--twocol > .GridBlocks__item:nth-child(2n+1) {
    margin-left: 0;
  }

  .GridBlocks--twocol > * > .GridBlocks__illustration {
    width: 13.3333333333%;
    margin-right: 8.3333333333%;
  }

  .GridBlocks--twocol > * > .GridBlocks__textwrap {
    width: 78.3333333333%;
  }

  .GridBlocks:not(.GridBlocks--twocol) > .GridBlocks__item:nth-child(3n+1) {
    margin-left: 0;
  }

  .GridBlocks--twocol .GridBlocks__item__titlelink::before {
    bottom: auto;
    left: auto;
    top: -1.25rem;
    right: 100%;
  }
}