/*!@deps
	ButtonPrimary
	ButtonTertiary
*/
@media screen {
  .HeroBlock {
    padding: calc(0.8620689655% + -2.4137931034px) 0;
    margin-bottom: calc(7.5431034483% + 8.8793103448px);
    display: flex;
    flex-flow: column nowrap;
  }
  .before-sprinkling .HeroBlock, .HeroBlock[data-is-seen=false], .HeroBlock[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .HeroBlock[data-is-seen=""], .HeroBlock[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .HeroBlock[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }

  .HeroBlock__title {
    font: var(--font-hd-l);
    margin-bottom: 0.625em;
  }

  .HeroBlock__image {
    display: block;
    margin: 0 -5.298013245%;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    order: 1;
  }

  .HeroBlock__summary {
    font: var(--font-bd-l);
    margin-bottom: 2em;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .HeroBlock__summary li:not([class]):hover,
html:not([data-disable-css-warnings-with-abandon=true]) .HeroBlock__summary blockquote:hover {
    box-shadow: 0 0 0 1px rgba(255, 165, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .HeroBlock__summary li:not([class]):hover::before,
html:not([data-disable-css-warnings-with-abandon=true]) .HeroBlock__summary blockquote:hover::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: orange !important;
    background-color: rgba(255, 246, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Use simple markup only" !important;
  }

  .HeroBlock__summary > p {
    margin-bottom: var(--baseVerticalMargin);
  }

  .HeroBlock > :last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 979px) {
  .HeroBlock {
    padding-right: calc(62.4vw + -299.52px);
  }
}
@media screen and (min-width: 980px) {
  .HeroBlock {
    position: relative;
    padding-right: 51.6556291391%;
    min-height: 26.25rem;
  }

  .HeroBlock__image {
    position: absolute;
    z-index: -1;
    top: 50%;
    right: -3.3112582781%;
    width: 54.9668874172%;
    padding-top: 48.3443708609%;
    margin: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .HeroBlock__image > img {
    pointer-events: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}