/*!@deps
	RowBlockColumn
*/
@media screen {
  .Illustration {
    display: block;
    margin: 0 var(--grid-gutter--neg);
    margin-bottom: var(--grid-1);
  }
}
@media screen and (max-width: 759px) {
  .Illustration > img {
    max-width: 500px;
  }
}
@media screen and (min-width: 760px) {
  .Illustration {
    z-index: -1;
    margin: var(--grid-gutter--neg);
    position: relative;
    padding-top: 67%;
    min-height: 100%;
  }

  .Illustration > img {
    pointer-events: initial;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}
@media screen {
  .RowBlockColumn--background .Illustration {
    z-index: 1;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlockColumn--background .Illustration {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlockColumn--background .Illustration::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Do not use inside `.RowBlockColumn--background`" !important;
  }
}