@charset "UTF-8";
@media screen {
  .InfoBlock {
    background-color: #f8f8f9;
    padding: calc(8.6206896552% + 15.8620689655px) 8.6092715232%;
    padding-left: var(--grid-margin);
    margin-left: var(--grid-margin--neg);
    box-sizing: content-box;
    position: relative;
    max-width: 1000px;
    margin-bottom: 4rem;
  }

  .InfoBlock::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    color: var(--theme-color-secondary);
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    margin: -0.2em -0.5em;
    font-size: calc(3.8167938931vw + 36.786259542px);
  }
}
@media screen and (min-width: 1368px) {
  .InfoBlock::before {
    font-size: 5.5625rem;
  }
}
@media screen {
  .InfoBlock__title {
    font: var(--font-hd-s);
    margin-bottom: 1.25rem;
  }
}
@media screen {
  .InfoBlock__subtitle {
    font: var(--font-bd-l);
  }
}
@media screen and (min-width: 760px) {
  .InfoBlock__subtitle {
    width: 39.7350993377%;
    min-width: 350px;
  }
}
@media screen {
  .InfoBlock__items {
    margin-top: calc(3.775% + 26.25px);
  }
}
@media screen and (min-width: 760px) {
  .InfoBlock__items {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2.8125rem;
         column-gap: 2.8125rem;
  }
}
@media screen {
  .InfoBlock__item {
    padding-left: 1.75rem;
    margin-bottom: 1rem;
  }
}
@media screen {
  .InfoBlock__item::before {
    content: "";
    display: inline-block;
    background-color: var(--theme-color-primary--safeish);
    margin-right: 1rem;
    width: 0.75rem;
    height: 0.25rem;
    margin-left: -1.75rem;
  }
}
@media screen {
  .InfoBlock__extrainfo,
.InfoBlock__attention {
    font: var(--font-bd-l);
    position: relative;
    padding-left: 2.5rem;
    margin-top: calc(1.5267175573vw + 59.1145038168px);
    border-top: var(--border-dark);
    padding-top: calc(2.2900763359vw + 32.6717557252px);
  }
  .InfoBlock__extrainfo::before,
.InfoBlock__attention::before {
    content: "";
    background-color: var(--theme-color-primary);
    width: 0.5rem;
    position: absolute;
    top: calc(2.2900763359vw + 32.6717557252px);
    left: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1368px) {
  .InfoBlock__extrainfo,
.InfoBlock__attention {
    margin-top: 5rem;
    padding-top: 4rem;
  }
  .InfoBlock__extrainfo::before,
.InfoBlock__attention::before {
    top: 4rem;
  }
}
@media screen {
  .InfoBlock__extrainfo {
    padding-left: 0;
  }
}
@media screen {
  .InfoBlock__extrainfo::before {
    content: none;
  }
}