/*!@deps
	ButtonTertiary
	Sharpie
	Bling
*/
@media screen {
  .InfoHero {
    position: relative;
    margin-bottom: calc(7.5431034483% + 8.8793103448px);
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
  }
}
@media screen and (min-width: 760px) {
  .InfoHero {
    flex-flow: row-reverse;
  }

  .InfoHero--align--left {
    flex-flow: row;
  }
}
@media screen {
  .InfoHero__image {
    position: relative;
    margin: 0 var(--grid-margin--neg);
    padding-top: 75%;
  }
}
@media screen and (min-width: 760px) {
  .InfoHero__image {
    padding-left: var(--grid-margin);
    box-sizing: content-box;
    width: 48.3443708609%;
    padding-top: 57.119205298%;
  }
}
@media screen {
  .InfoHero__image--missing {
    background-color: #f1f2f3;
  }
}
@media screen {
  .InfoHero__image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 50% 31%;
       object-position: 50% 31%;
  }
}
@media screen {
  .InfoHero__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen {
  .InfoHero__content {
    margin-top: calc(2.1551724138% + 13.9655172414px);
  }
}
@media screen and (min-width: 760px) {
  .InfoHero__content {
    width: 48.3443708609%;
    margin-bottom: 14.0728476821%;
  }
}
@media screen and (min-width: 980px) {
  .InfoHero__content {
    width: 39.7350993377%;
  }
}
@media screen {
  .InfoHero__title {
    font: var(--font-hd-l);
    margin-bottom: 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
@media screen and (min-width: 980px) {
  .InfoHero--align--left > * > .InfoHero__title {
    margin-right: var(--grid-1--neg);
  }
}
@media screen {
  .InfoHero__titleblurb {
    margin-top: -6.6666666667%;
    margin-bottom: 5%;
  }
}
@media screen {
  .InfoHero__subtitle {
    font: var(--font-sh-l);
    margin-bottom: 0.5rem;
  }
}
@media screen {
  .InfoHero__blurb {
    font: var(--font-bd-l);
    color: #707275;
    margin-bottom: 0.5rem;
  }
}
@media screen {
  .InfoHero__buttons {
    margin-top: 2rem;
  }
}
@media screen {
  .InfoHero__buttons > .ButtonTertiary {
    display: block;
  }
}