:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: calc(0.7633587786vw + 13.5572519084px);
}
@media screen and (min-width: 1368px) {
  :root {
    --ButtonTertiary--gapH: 24px;
  }
}

@media screen {
  .IslandBlock {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    margin-top: calc(7.5431034483% + 8.8793103448px);
    margin-bottom: calc(13.6853448276% + 1.6810344828px);
  }
  .before-sprinkling .IslandBlock, .IslandBlock[data-is-seen=false], .IslandBlock[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .IslandBlock[data-is-seen=""], .IslandBlock[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .IslandBlock[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }

  .IslandBlock__image,
.IslandBlock__content {
    display: block;
    margin: 0 var(--grid-margin--neg);
    padding: calc(10.775862069% + -10.1724137931px) var(--grid-margin);
  }

  .IslandBlock__content {
    background-color: #f8f8f9;
  }

  .IslandBlock__content:last-child {
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary--text);
    --link-color: _inherit;
    --link-color--hover: var(--link-color);
    --link-underline: 1px dotted currentColor;
    --link-underline--hover: 2px solid currentColor;
    --ButtonTertiary--dashColor: currentColor;
  }

  .IslandBlock__title {
    font: var(--font-hd-s);
    margin-bottom: 1.5rem;
  }

  .IslandBlock__summary {
    font: var(--font-bd-l);
    margin-bottom: 2rem;
  }

  .IslandBlock__button {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-base);
    padding-left: calc( 		var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--dashWidth) 	);
    padding-right: calc( 		var(--ButtonTertiary--hover--dashWidth) - var(--ButtonTertiary--dashWidth) 	);
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    font-weight: 700;
    transition: all 100ms ease-in;
    display: block;
  }
  .IslandBlock__button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--ButtonTertiary--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }
  .IslandBlock__button:hover, .IslandBlock__button:active, .IslandBlock__button[data-focus-visible-added] {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .IslandBlock__button:hover::before, .IslandBlock__button:active::before, .IslandBlock__button[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .IslandBlock__button:focus-visible {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .IslandBlock__button:focus-visible::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .IslandBlock__button:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }
  .IslandBlock__button[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .IslandBlock__button:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }

  .IslandBlock__image {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .IslandBlock__image::before {
    content: "";
    position: absolute;
    background-color: var(--theme-color-tertiary);
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
  }

  .IslandBlock__image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .IslandBlock__image > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 759px) {
  .IslandBlock {
    background-color: #f8f8f9;
    position: relative;
  }
  .IslandBlock::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-margin--neg);
    right: var(--grid-margin--neg);
    z-index: -1;
    background: inherit;
  }

  .IslandBlock--align--left > .IslandBlock__content:first-child,
.IslandBlock--align--right > .IslandBlock__content:last-child,
.IslandBlock--align--right > .IslandBlock__image {
    margin-right: calc(13.6363636364vw + -43.6363636364px);
  }

  .IslandBlock--align--right > .IslandBlock__content:first-child,
.IslandBlock--align--left > .IslandBlock__content:last-child,
.IslandBlock--align--left > .IslandBlock__image {
    margin-left: calc(13.6363636364vw + -43.6363636364px);
  }

  .IslandBlock__image {
    min-height: calc(43.1818181818vw + 71.8181818182px);
  }

  .IslandBlock__image > svg {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock {
    flex-flow: row;
  }

  .IslandBlock--align--right {
    flex-flow: row-reverse;
  }

  .IslandBlock__content,
.IslandBlock__image {
    box-sizing: content-box;
    width: 43.0794701987%;
    margin-bottom: calc(5.9267241379% + 33.4051724138px);
    min-height: calc(19.7368421053vw + 130px);
  }
}
@media screen and (min-width: 1368px) {
  .IslandBlock__content,
.IslandBlock__image {
    min-height: 400px;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock__content:last-child,
.IslandBlock__image {
    margin-top: calc(5.9267241379% + 33.4051724138px);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock--align--left > .IslandBlock__content:first-child,
.IslandBlock--align--right > .IslandBlock__content:last-child,
.IslandBlock--align--right > .IslandBlock__image {
    margin-right: 0;
    padding-right: 6.9536423841%;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock--align--right > .IslandBlock__content:first-child,
.IslandBlock--align--left > .IslandBlock__content:last-child,
.IslandBlock--align--left > .IslandBlock__image {
    margin-left: 0;
    padding-left: 6.9536423841%;
  }
}