:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: calc(0.7633587786vw + 13.5572519084px);
}
@media screen and (min-width: 1368px) {
  :root {
    --ButtonTertiary--gapH: 24px;
  }
}

@media screen {
  .IslandPageBlock {
    margin-bottom: calc(10.0215517241% + 11.9396551724px);
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .before-sprinkling .IslandPageBlock, .IslandPageBlock[data-is-seen=false], .IslandPageBlock[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .IslandPageBlock[data-is-seen=""], .IslandPageBlock[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .IslandPageBlock[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
}
@media screen and (min-width: 760px) {
  .IslandPageBlock {
    flex-flow: row;
  }

  .IslandPageBlock--align--right {
    flex-flow: row-reverse;
  }
}
@media screen {
  .IslandPageBlock__content {
    padding: var(--space-2) 0;
  }
}
@media screen and (min-width: 760px) {
  .IslandPageBlock__content {
    width: var(--grid-6);
  }
}
@media screen {
  .IslandPageBlock__image {
    margin: 0 var(--grid-0-1--neg);
  }
}
@media screen and (max-width: 759px) {
  .IslandPageBlock__image {
    max-width: 400px;
    align-self: flex-start;
    margin-bottom: var(--space-2);
  }
}
@media screen and (min-width: 760px) {
  .IslandPageBlock__image {
    width: calc(var(--grid-6-6) + var(--grid-0-1));
  }
}
@media screen {
  .IslandPageBlock__title {
    font: var(--font-hd-s);
    margin-bottom: var(--space-3);
  }
}
@media screen {
  .IslandPageBlock__summary {
    font: var(--font-bd-l);
    margin-bottom: var(--space-3);
  }
}
@media screen {
  .IslandPageBlock__button {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-base);
    padding-left: calc( 		var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--dashWidth) 	);
    padding-right: calc( 		var(--ButtonTertiary--hover--dashWidth) - var(--ButtonTertiary--dashWidth) 	);
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    font-weight: 700;
    transition: all 100ms ease-in;
    display: block;
  }
  .IslandPageBlock__button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--ButtonTertiary--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }
  .IslandPageBlock__button:hover, .IslandPageBlock__button:active, .IslandPageBlock__button[data-focus-visible-added] {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .IslandPageBlock__button:hover::before, .IslandPageBlock__button:active::before, .IslandPageBlock__button[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .IslandPageBlock__button:focus-visible {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .IslandPageBlock__button:focus-visible::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .IslandPageBlock__button:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }
  .IslandPageBlock__button[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .IslandPageBlock__button:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
}
@media screen {
  .IslandPageBlock--background--gray,
.IslandPageBlock--background--secondary {
    position: relative;
    padding: calc(1.9396551724% + 24.5689655172px) 0;
    background-color: var(--color-suld-25);
  }
  .IslandPageBlock--background--gray::before,
.IslandPageBlock--background--secondary::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-margin--neg);
    right: var(--grid-margin--neg);
    z-index: -1;
    background: inherit;
  }
}
@media screen {
  .IslandPageBlock--background--secondary {
    background-color: var(--theme-color-secondary-25);
  }
}