@media screen {
  .IslandBlock {
    margin-bottom: calc(13.6853448276% + 1.6810344828px);
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
  }

  .IslandBlock__image,
.IslandBlock__content {
    display: block;
    margin: 0 var(--grid-edge--neg);
    padding: calc(10.775862069% + -10.1724137931px) var(--grid-edge);
  }

  .IslandBlock__content {
    background-color: #f8f8f9;
  }

  .IslandBlock__content:last-child {
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary--text);
    --link-color: _inherit;
    --link-color--hover: _inherit;
    --link-underline: 1px dotted currentColor;
    --link-underline--hover: 2px solid currentColor;
    --ButtonTertiary--dashColor: currentColor;
  }

  .IslandBlock__title {
    font-weight: 700;
    font-size: var(--font-hd-s-size);
    line-height: var(--font-hd-s-leading);
    margin-bottom: 1.5rem;
  }

  .IslandBlock__summary {
    font-size: var(--font-bd-l-size);
    line-height: var(--font-bd-l-leading);
    margin-bottom: 2rem;
  }

  .IslandBlock__button {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: _inherit;
    --link-underline--hover: none;
    --link-underline-offset: 0;
    --link-focus-outline: 0;
    color: var(--ButtonTertiary--color, _inherit);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 1rem;
    padding-right: calc( 		var(--ButtonTertiary--dashWidth--hover, 3rem) - var(--ButtonTertiary--dashWidth, 1rem) 	);
    margin-right: 0.9375rem;
    margin-bottom: 1rem;
    font-weight: 700;
    transition: all 200ms ease-in-out;
    display: block;
    margin-bottom: 0;
  }
  .IslandBlock__button::before {
    content: "";
    width: var(--ButtonTertiary--dashWidth, 1rem);
    height: var(--ButtonTertiary--dashHeight, 0.125rem);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.1875rem;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor, var(--theme-color-primary--safeish));
    margin-right: 1rem;
    transition: inherit;
  }
  .IslandBlock__button:hover, .IslandBlock__button:focus, .IslandBlock__button:active {
    padding-right: 0rem;
    color: var(--ButtonTertiary--color, _inherit);
  }
  .IslandBlock__button:hover::before, .IslandBlock__button:focus::before {
    width: var(--ButtonTertiary--dashWidth--hover, 3rem);
  }
  .IslandBlock__button:focus {
    opacity: 0.5;
  }
  .IslandBlock__button:focus::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    border: 0.0625rem solid var(--ButtonTertiary--dashColor, var(--theme-color-primary--safeish));
    border-radius: 0.5rem;
  }

  .IslandBlock__image {
    background-color: var(--theme-color-tertiary);
    position: relative;
    display: block;
    overflow: hidden;
  }

  .IslandBlock__image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .IslandBlock__image > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
}
@media screen and (max-width: 759px) {
  .IslandBlock {
    background-color: #f8f8f9;
    position: relative;
  }
  .IslandBlock::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-edge--neg);
    right: var(--grid-edge--neg);
    z-index: -1;
    background: inherit;
  }

  .IslandBlock--align--left > .IslandBlock__content:first-child,
.IslandBlock--align--right > .IslandBlock__content:last-child,
.IslandBlock--align--right > .IslandBlock__image {
    margin-right: calc(13.6363636364vw + -43.6363636364px);
  }

  .IslandBlock--align--right > .IslandBlock__content:first-child,
.IslandBlock--align--left > .IslandBlock__content:last-child,
.IslandBlock--align--left > .IslandBlock__image {
    margin-left: calc(13.6363636364vw + -43.6363636364px);
  }

  .IslandBlock__image {
    min-height: calc(43.1818181818vw + 71.8181818182px);
  }

  .IslandBlock__image > svg {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock {
    flex-flow: row;
  }

  .IslandBlock--align--right {
    flex-flow: row-reverse;
  }

  .IslandBlock__content,
.IslandBlock__image {
    box-sizing: content-box;
    width: 43.0463576159%;
    margin-bottom: calc(5.9267241379% + 33.4051724138px);
    min-height: calc(19.3548387097vw + 132.9032258065px);
  }
}
@media screen and (min-width: 1380px) {
  .IslandBlock__content,
.IslandBlock__image {
    min-height: 400px;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock__content:last-child,
.IslandBlock__image {
    margin-top: calc(5.9267241379% + 33.4051724138px);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock--align--left > .IslandBlock__content:first-child,
.IslandBlock--align--right > .IslandBlock__content:last-child,
.IslandBlock--align--right > .IslandBlock__image {
    margin-right: 0;
    padding-right: 6.9536423841%;
  }
}
@media screen and (min-width: 760px) {
  .IslandBlock--align--right > .IslandBlock__content:first-child,
.IslandBlock--align--left > .IslandBlock__content:last-child,
.IslandBlock--align--left > .IslandBlock__image {
    margin-left: 0;
    padding-left: 6.9536423841%;
  }
}
/*# sourceMappingURL=IslandBlock.css.map */