@charset "UTF-8";
/*!@deps
	Attention
	ButtonTertiary
*/
@media screen {
  .LabeledTextBlock {
    margin-bottom: calc(7.5431034483% + 8.8793103448px);
  }
  .before-sprinkling .LabeledTextBlock, .LabeledTextBlock[data-is-seen=false], .LabeledTextBlock[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .LabeledTextBlock[data-is-seen=""], .LabeledTextBlock[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .LabeledTextBlock[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }

  .LabeledTextBlock__label {
    font: var(--font-sh-l);
    display: flex;
    margin-bottom: var(--baseVerticalMargin);
  }
  .LabeledTextBlock__label::before {
    content: "";
    float: left;
    margin-top: 0.7em;
    height: 0.25rem;
    background-color: var(--theme-color-primary--safeish);
    transform: translateY(-50%);
    width: var(--dash-width, 1.125em);
    margin-right: var(--dash-margin, 0.625em);
    margin-left: var(--dash-indent, 0);
  }

  .LabeledTextBlock__summary {
    font: var(--font-bd-l);
  }
  .LabeledTextBlock__summary h2 {
    font: var(--font-hd-s);
    margin-bottom: var(--h2--marginBottom, var(--baseVerticalMargin));
    clear: both;
  }
  .LabeledTextBlock__summary * + h2 {
    margin-top: var(--h2--marginTop, 1.5em);
  }
  .LabeledTextBlock__summary h3 {
    font: var(--font-sh-l);
    margin-bottom: var(--baseVerticalMargin);
    clear: both;
  }
  .LabeledTextBlock__summary * + h3 {
    margin-top: var(--h3--marginTop, 1.25em);
  }
  .LabeledTextBlock__summary h4 {
    font: var(--font-sh-s);
    margin-bottom: var(--baseVerticalMargin);
  }
  .LabeledTextBlock__summary p {
    margin-bottom: var(--baseVerticalMargin);
  }
  .LabeledTextBlock__summary ul {
    list-style: none;
    padding: 0;
    margin-bottom: var(--baseVerticalMargin);
  }
  .LabeledTextBlock__summary ul > li {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2rem;
  }
  .LabeledTextBlock__summary ul > li::before {
    content: "";
    position: absolute;
    top: calc(0.5 * var(--font-bd-l-leading));
    left: 0;
    width: 1rem;
    margin-top: -0.0625rem;
    height: 0.125rem;
    background-color: var(--theme-color-primary--safeish);
  }
  .LabeledTextBlock__summary ol {
    margin-bottom: var(--baseVerticalMargin);
  }
  .LabeledTextBlock__summary li ol,
.LabeledTextBlock__summary li ul {
    margin-bottom: 0;
  }
  .LabeledTextBlock__summary blockquote {
    padding: 2rem;
    margin-bottom: var(--baseVerticalMargin);
    position: relative;
  }
  .LabeledTextBlock__summary blockquote::before {
    content: "â€";
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    left: 0rem;
  }
  .LabeledTextBlock__summary > :last-child {
    margin-bottom: 0;
  }

  .LabeledTextBlock__summary > .ButtonTertiary {
    display: block;
    margin-top: var(--baseVerticalMargin);
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .LabeledTextBlock--left {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .LabeledTextBlock--left::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--left` is outdated use `--wide` instead" !important;
  }
}
@media screen and (min-width: 760px) {
  .LabeledTextBlock {
    display: flex;
    align-items: flex-start;
  }

  .LabeledTextBlock__label {
    width: 43.0463576159%;
    --dash-width: var(--grid-column);
    --dash-margin: var(--grid-gutter);
  }

  .LabeledTextBlock--wide > .LabeledTextBlock__label {
    display: block;
    position: relative;
    width: 34.4370860927%;
    --dash-width: calc(0.45 * var(--grid-margin));
    --dash-margin: 0;
    --dash-indent: var(--grid-margin--neg);
  }

  .LabeledTextBlock__summary {
    width: 48.3443708609%;
    margin-top: 0.5rem;
    margin-left: auto;
  }

  .LabeledTextBlock--wide > .LabeledTextBlock__summary {
    width: 56.9536423841%;
  }
}