@charset "UTF-8";
@media screen {
  .MainMenu__title {
    display: none;
  }

  .MainMenu__item {
    color: #2a2b2c;
    white-space: nowrap;
  }

  .MainMenu__item[aria-current=true] {
    color: #0372e1;
  }

  .MainMenu__link {
    border: 0;
    border-radius: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    text-align: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    color: var(--link-color);
    font-weight: var(--link-weight);
    padding-bottom: var(--link-underline-offset);
    border-bottom: var(--link-underline);
    transition: var(--link-transition);
    transition-property: border-color, background-color, color, text-shadow, box-shadow;
    --link-color: _inherit;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: 700;
    padding: 0.625rem 0.9375rem 0.5rem 0.9375rem;
  }
  .MainMenu__link:focus {
    outline: none;
    box-shadow: none;
  }
  .MainMenu__link:hover, .MainMenu__link:focus, .MainMenu__link:active {
    color: var(--link-color--hover);
    border-bottom: var(--link-underline--hover);
  }
  .MainMenu__link:focus {
    outline: var(--link-focus-outline);
  }

  .MainMenu__link::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    margin-right: 0.5rem;
    vertical-align: -0.1875rem;
  }

  .MainMenu__item--mypages > .MainMenu__link::before {
    content: "";
  }

  .MainMenu__item--search > .MainMenu__link::before {
    content: "";
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__items {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 25.8278145695%;
    height: var(--Layout__header-height);
    margin: 0 -1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .MainMenu__items {
    left: 220px;
    margin: 0 calc(-2.2727272727vw + 2.2727272727px);
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__separator[class] {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__item {
    margin: 0 0.625rem;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__item--home {
    position: absolute;
    right: 9999px;
    left: auto;
  }
  .MainMenu__item--home a:focus,
.MainMenu__item--home a:active,
.MainMenu__item--home button:focus {
    position: absolute;
    right: -9999px;
    z-index: 99999;
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__link {
    padding: 0.625rem 0.625rem 0.5rem 0.625rem;
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .MainMenu__link {
    padding-left: calc(2.2727272727vw + -12.2727272727px);
    padding-right: calc(2.2727272727vw + -12.2727272727px);
  }

  .MainMenu__item--search > .MainMenu__link {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: content-box;
    width: 1em;
  }

  .MainMenu__item--search > .MainMenu__link::before {
    margin-right: 2.5rem;
  }
}
@media screen {
  .MainMenu:not(nav) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu:not(nav)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please use <nav/>" !important;
  }

  .MainMenu:not([aria-label]):not([aria-labelledby]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu:not([aria-label]):not([aria-labelledby])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `aria-label` or `aria-labelledby`" !important;
  }

  .MainMenu[aria-labelledby] > .MainMenu__title:not([id]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu[aria-labelledby] > .MainMenu__title:not([id])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `id` attribute" !important;
  }

  .MainMenu__list:first-child {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu__list:first-child::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`.MainMenu__title` missing" !important;
  }

  .MainMenu__item:first-child:not(.MainMenu__item--home) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu__item:first-child:not(.MainMenu__item--home)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Home link missing" !important;
  }
}
@media screen and (max-width: 759px) {
  .MainMenu__megapanel {
    margin-bottom: 1.875rem;
  }

  .MainMenu__mega__title {
    font-weight: 700;
    font-size: var(--font-sh-s-size);
    line-height: var(--font-sh-s-leading);
  }

  .MainMenu__mega__link {
    background-image: none !important;
  }

  .MainMenu__mega__link__summary {
    display: none;
  }

  .MainMenu__megapanel__backtomenu {
    display: none;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__megapanel {
    margin: calc(3.2327586207% + 20.9482758621px) 0;
  }

  html.before-sprinkling .MainMenu__megapanel {
    display: none;
  }

  .MainMenu[data-sprinkled] > * > .MainMenu__megapanel {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
    transition-property: opacity, visibility;
    position: absolute;
    z-index: 100;
    top: var(--Layout__header-height);
    left: 0;
    right: 0;
    margin: 0;
    padding: calc(10.775862069% + 19.8275862069px) 0;
    background-color: #ffffff;
  }

  .MainMenu[data-sprinkled] > * > .MainMenu__megapanel--active {
    opacity: 1;
    visibility: visible;
  }

  .MainMenu[data-sprinkled] > * > .MainMenu__megapanel::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: calc(50% - 50vw);
    right: calc(50% - 50vw);
    background: inherit;
    border-top: 1px solid #e3e5e7;
    border-bottom: 1px solid #f1f2f3;
    box-shadow: 0 60px 100px -40px rgba(0, 0, 0, 0.03);
  }

  .MainMenu__mega__title {
    border-top: 1px solid #e3e5e7;
    padding-top: calc(3.2327586207% + 20.9482758621px);
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: var(--font-hd-s-size);
    line-height: var(--font-hd-s-leading);
  }

  .MainMenu[data-sprinkled] > * > * > .MainMenu__mega__title {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }

  .MainMenu__mega__items {
    display: grid;
    grid-auto-flow: row;
    gap: 2.5rem 3.3112582781%;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 760px) and (max-width: 979px) {
  .MainMenu__mega__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__mega__item {
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__mega__link[class] {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: _inherit;
    --link-underline--hover: none;
    --link-underline-offset: 0;
    width: 100%;
    background: -500px 0 no-repeat;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__mega__link::before {
    content: "";
    display: block;
    background: 0 50%/auto 100% no-repeat;
    background-image: var(--menu-item-icon, inherit);
    height: calc(4.8387096774vw + 33.2258064516px);
    margin-bottom: 0.625rem;
  }
}
@media screen and (min-width: 1380px) {
  .MainMenu__mega__link::before {
    height: 100px;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__mega__link__title {
    font-size: 1.25rem;
    --link-color: #0372e1;
    --link-color--hover: #0372e1;
    --link-weight: 700;
    --link-underline: 0.125rem solid transparent;
    --link-underline--hover: 0.125rem solid currentColor;
    --link-underline-offset: 0.15em;
    text-decoration: none;
    color: var(--link-color);
    font-weight: var(--link-weight);
    padding-bottom: var(--link-underline-offset);
    border-bottom: var(--link-underline);
    transition: var(--link-transition);
    transition-property: border-color, background-color, color, text-shadow, box-shadow;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__mega__link:hover .MainMenu__mega__link__title,
.MainMenu__mega__link:focus .MainMenu__mega__link__title,
.MainMenu__mega__link:active .MainMenu__mega__link__title {
    color: var(--link-color--hover);
    border-bottom: var(--link-underline--hover);
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__mega__link:focus .MainMenu__mega__link__title {
    outline: var(--link-focus-outline);
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__mega__link__summary {
    display: block;
    height: 3rem;
    font-size: inherit;
  }
}
@media screen and (min-width: 760px) and (max-width: 1379px) {
  .MainMenu__mega__link__summary {
    height: 4.5rem;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__megapanel__backtomenu {
    position: absolute;
    top: calc(0.5 * var(--grid-gutter));
    right: 0;
    margin-right: -1.125rem;
    width: 3.125rem;
    line-height: 3.125rem;
    font-size: 0.875rem;
    opacity: 0.5;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__megapanel__backtomenu:hover,
.MainMenu__megapanel__backtomenu:focus,
.MainMenu__megapanel__backtomenu:active {
    opacity: 1;
  }
}
@media screen and (min-width: 760px) {
  .MainMenu__megapanel__backtomenu::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    width: 100%;
    margin-right: 1px;
  }
}
/*# sourceMappingURL=MainMenu.css.map */