@charset "UTF-8";
@-webkit-keyframes MainMenu__mega__item--fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MainMenu__mega__item--fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen {
  .MainMenu__title {
    display: none;
  }

  .MainMenu__item--home[class] {
    position: absolute;
    right: 9999px;
    left: auto;
  }
  .MainMenu__item--home[class] a:focus,
.MainMenu__item--home[class] a:active,
.MainMenu__item--home[class] button:focus {
    position: absolute;
    right: -9999px;
    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }

  .MainMenu__link {
    border: 0;
    border-radius: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    text-align: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    color: var(--link-color);
    font-weight: var(--link-weight);
    padding-bottom: var(--link-underline-offset);
    border-bottom: var(--link-underline);
    transition: var(--link-transition);
    transition-property: border-color, background-color, color, text-shadow, box-shadow, outline;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: var(--font-weight--bold);
  }
  .MainMenu__link:hover, .MainMenu__link:active {
    color: var(--link-color--hover);
    border-bottom: var(--link-underline--hover);
  }

  .MainMenu__link::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    margin-right: 0.5rem;
    vertical-align: -0.1875rem;
  }

  .MainMenu__item--mypages > .MainMenu__link::before {
    content: "";
  }

  .MainMenu__item--search > .MainMenu__link::before {
    content: "";
  }
}
@media screen and (max-width: 979px) {
  html.before-sprinkling .MainMenu:not([data-sprinkled]) {
    display: none;
  }

  .MainMenu {
    position: relative;
    background-color: var(--MainMenu-background);
    --MainMenu--offsetLeft: 2rem;
    --MainMenu__list--padTop: 1rem;
  }
}
@media screen and (max-width: 370px) {
  .MainMenu {
    --MainMenu--offsetLeft: 1rem;
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-active .MainMenu {
    position: fixed;
    z-index: calc(var(--zindex--header) - 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin--right);
    padding-top: var(--Layout__header-height);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: margin-top 400ms 0ms ease-in-out, opacity 400ms 0ms, visibility 0ms 400ms;
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-active:not(.menu-is-open) .MainMenu,
html.menu-is-closed .MainMenu {
    visibility: hidden;
    opacity: 0;
    margin-top: -100vh;
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-open {
    --Layout__header-backgroundColor: var(--color-faxafloi-100);
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-open .MainMenu {
    transition-delay: 0ms;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__items {
    color: var(--color-suld-0);
    --link-color: _inherit;
    --link-color--hover: var(--color-suld-25);
    display: flex;
    flex-flow: row wrap;
    padding-top: var(--MainMenu__list--padTop);
    padding-bottom: 1.5rem;
    margin-left: var(--grid-margin--neg);
    margin-right: var(--grid-margin--right--neg);
    padding-left: calc(var(--grid-margin) + var(--MainMenu--offsetLeft));
    padding-right: var(--grid-margin--right);
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__item {
    font: var(--font-bd-l);
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__link {
    margin-bottom: calc(-1 * var(--link-underline-thickness));
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__link[aria-pressed=true] {
    border-color: var(--color-suld-0);
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__separator[class] {
    display: block;
    width: 100%;
    height: 1rem;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__separator ~ .MainMenu__item {
    font: var(--font-bd-s);
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__item--lang {
    width: auto;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__item--lang + .MainMenu__item--lang {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__item--lang + .MainMenu__item--lang::before {
    content: "|";
    float: left;
    color: var(--color-faxafloi-75);
    margin-left: calc(-1rem - 0.2em);
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__panels,
.MainMenu__panelsWrap {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    position: relative;
  }
}
@media screen and (max-width: 979px) {
  [aria-current=true] .MainMenu__mega__link::before {
    content: "";
    float: left;
    margin-left: -1.5rem;
    width: 0.5rem;
    height: 0.125rem;
    margin-top: 0.6875rem;
    background-color: currentColor;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__megapanel__backtomenu {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }
  .MainMenu__megapanel__backtomenu[data-focus-visible-added] {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
  .MainMenu__megapanel__backtomenu:focus-visible {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
  .MainMenu__megapanel__backtomenu:focus-within:not(:focus) {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: var(--zindex--sr-only);
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__items {
    --link-color: _inherit;
    --link-color--hover: var(--MainMenu-accentcolor);
    position: absolute;
    z-index: var(--zindex--header);
    top: 0;
    right: 0;
    left: 25.8278145695%;
    height: var(--Layout__header-height);
    margin-right: calc(-3.0927835052vw + 22.3092783505px);
    margin-left: calc(-1.5463917526vw + 1.1546391753px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media screen and (min-width: 1368px) {
  .MainMenu__items {
    margin-right: -20px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__item {
    color: var(--color-suld-200);
    white-space: nowrap;
    margin: 0 calc(1.5463917526vw + -11.1546391753px);
    --MainMenu__item-padding: calc(1.5463917526vw + -11.1546391753px);
  }
}
@media screen and (min-width: 1368px) {
  .MainMenu__item {
    margin-right: 10px;
    margin-left: 10px;
    --MainMenu__item-padding: 10px;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__item[aria-current=true] {
    color: var(--color-faxafloi-100);
  }
  html[data-mega-panel-active] .MainMenu__item[aria-current=true] {
    color: var(--color-suld-0);
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__separator[class] {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__item:not(.MainMenu__separator ~ *) {
    --MainMenu__item-padding: 0.625rem;
  }
}
@media screen and (min-width: 980px) {
  html.menu-is-open .MainMenu__item:not(.MainMenu__separator ~ *),
html[data-mega-panel-active] .MainMenu__item:not(.MainMenu__separator ~ *) {
    --link-color--hover: var(--color-suld-0);
    color: rgba(248, 248, 249, 0.7);
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__link {
    padding: 0.625rem var(--MainMenu__item-padding);
    padding-bottom: calc(0.625rem - var(--link-underline-thickness));
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__link[aria-pressed=true] {
    color: var(--color-suld-0);
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__item--lang {
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__item--lang > .MainMenu__link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: inline-block;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__item--lang + .MainMenu__item--lang {
    margin-left: -0.5rem;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__item--lang + .MainMenu__item--lang::before {
    content: "|";
    display: inline-block;
    color: var(--color-suld-200);
  }
}
@media screen and (min-width: 980px) {
  html[data-mega-panel-active] > body {
    overflow-y: hidden;
    padding-right: var(--grid-margin);
  }
  html[data-mega-panel-active] .Layout__alerts {
    max-height: 0;
    transition-duration: 0ms;
  }
}
@media screen and (min-width: 980px) {
  html.before-sprinkling *:not([data-sprinkled]) > .MainMenu__panelsWrap {
    display: none;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__panelsWrap {
    background-color: var(--color-faxafloi-100);
    margin-left: calc(50% - 50vw + 0px);
    padding-left: calc(50vw - 50% + 0px);
    margin-right: calc(50% - 50vw + 0px);
    padding-right: calc(50vw - 50% + 0px);
    position: relative;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__panelsWrap:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% + 0.5 * (var(--grid-gutter) + var(--browser-scrollbar-width)));
    margin-left: var(--grid-2-2);
    right: 0;
    background-color: var(--color-suld-25);
  }
}
@media screen and (min-width: 980px) and (max-width: 1367px) {
  .MainMenu__panelsWrap:before {
    margin-left: var(--grid-2);
  }
}
@media screen and (min-width: 980px) {
  [data-sprinkled] > .MainMenu__panelsWrap {
    opacity: 0;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    transition-property: opacity, visibility;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: calc(var(--zindex--header) - 1);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media screen and (min-width: 980px) {
  [data-sprinkled] > .MainMenu__panelsWrap--active {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 980px) {
  [data-sprinkled] > .MainMenu__panelsWrap:before {
    position: fixed;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__panels {
    position: relative;
    width: 100%;
    display: grid;
    -moz-column-gap: var(--grid-gutter);
         column-gap: var(--grid-gutter);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 8.5625rem;
    height: 9.0625rem;
    color: var(--color-suld-200);
    padding-top: 4.0625rem;
    padding-left: 2rem;
    padding-bottom: 2.0625rem;
    --link-focus-outlineColor: var(--color-suld-0);
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu:hover::after,
.MainMenu__megapanel__backtomenu:active::after {
    opacity: 1;
    transform: scale(1.2);
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin-left: 8px;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu::after {
    content: "";
    transition: all 200ms ease-in-out;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    background-color: var(--color-suld-0);
    position: absolute;
    top: 0;
    left: -132px;
    z-index: -1;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu:not(nav) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu:not(nav)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please use <nav/>" !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu:not([aria-label]):not([aria-labelledby]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu:not([aria-label]):not([aria-labelledby])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `aria-label` or `aria-labelledby`" !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu[aria-labelledby] > .MainMenu__title:not([id]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu[aria-labelledby] > .MainMenu__title:not([id])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `id` attribute" !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu__list:first-child {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu__list:first-child::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`.MainMenu__title` missing" !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu__item:first-child:not(.MainMenu__item--home) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .MainMenu__item:first-child:not(.MainMenu__item--home)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Home link missing" !important;
  }
}
.PrimaryPanel {
  color: var(--color-suld-0);
  --link-color: _inherit;
  --link-color--hover: var(--color-suld-25);
  background-color: var(--MainMenu-background);
}

.PrimaryPanel__title {
  font-weight: 700;
  border-bottom: 1px solid #e3e5e7;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.MainMenu[data-sprinkled] .PrimaryPanel:not(.PrimaryPanel--active) {
  display: none;
}

@media screen and (max-width: 979px) {
  .PrimaryPanel {
    padding-bottom: 1.5rem;
    padding-left: var(--MainMenu--offsetLeft);
    padding-right: var(--MainMenu--offsetLeft);
  }

  .PrimaryPanel__title {
    font: var(--font-sh-s);
  }

  .PrimaryPanel__item {
    margin-bottom: 1rem;
  }

  .PrimaryPanel__summary {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }
}
@media screen and (min-width: 980px) {
  .PrimaryPanel {
    --PrimaryPanel-columns: 8;
    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(var(--PrimaryPanel-columns), minmax(0, 1fr));
    padding-top: var(--Layout__header-height);
    padding-bottom: 7.8125rem;
    grid-column: 2/span 7;
    -moz-column-gap: var(--grid-gutter);
         column-gap: var(--grid-gutter);
  }

  .PrimaryPanel--twocol {
    grid-column: span var(--PrimaryPanel-columns);
  }

  .PrimaryPanel__title {
    margin-right: 13.3333333333%;
    grid-column: span 5;
  }

  .PrimaryPanel--twocol .PrimaryPanel__title {
    grid-column: span var(--PrimaryPanel-columns);
    margin-right: 8.0808080808%;
  }

  .PrimaryPanel__items {
    grid-column: span 4;
    padding-right: 17.0212765957%;
  }

  .PrimaryPanel--twocol .PrimaryPanel__items {
    grid-column: span var(--PrimaryPanel-columns);
    display: grid;
    -moz-column-gap: var(--grid-gutter);
         column-gap: var(--grid-gutter);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-right: 0;
  }

  .PrimaryPanel__item {
    margin-bottom: 1.5rem;
  }

  .PrimaryPanel--twocol .PrimaryPanel__item {
    padding-right: 17.0212765957%;
  }

  .PrimaryPanel__linkTitle {
    font: var(--font-bd-l);
  }

  .PrimaryPanel__summary {
    display: block;
    font-size: inherit;
    font-weight: 400;
  }
}
@media screen {
  .AuxiliaryPanel {
    color: var(--MainMenu-accentcolor);
    --link-color: _inherit;
    --link-color--hover: var(--MainMenu-accentcolor);
    --link-weight: $font-weight-normal;
  }

  .AuxiliaryPanel__title {
    font-weight: 700;
    border-bottom: 1px solid #c7cbd0;
    margin-right: 17.0212765957%;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 979px) {
  .AuxiliaryPanel {
    position: relative;
    background-color: var(--color-suld-25);
    padding-top: 2rem;
    padding-bottom: 38.4615384615%;
    flex-grow: 1;
    margin-left: var(--grid-margin--neg);
    margin-right: var(--grid-margin--right--neg);
    padding-left: calc(var(--grid-margin) + var(--MainMenu--offsetLeft));
    padding-right: calc( 				var(--grid-margin--right) + var(--MainMenu--offsetLeft) 			);
  }

  .AuxiliaryPanel__title {
    font: var(--font-sh-s);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 0;
    max-width: 38.3561643836%;
    min-width: 8.75rem;
  }

  .AuxiliaryPanel__items {
    margin-bottom: 2rem;
  }

  .AuxiliaryPanel__item {
    margin-bottom: 0.75rem;
  }

  .AuxiliaryPanel::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: 50% 100%/contain repeat-x;
    background-image: url("/assets/valmundur-a-sundi.png");
    mix-blend-mode: multiply;
    padding-top: 35.3846153846%;
  }

  html.menu-is-open .AuxiliaryPanel::after {
    transition: visibility 0s 1200ms linear, opacity 300ms;
  }

  html.menu-is-closed .AuxiliaryPanel::after {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 300ms linear, opacity 300ms;
  }
}
@media screen and (min-width: 980px) {
  .AuxiliaryPanel {
    grid-column: span 4;
    padding-top: var(--Layout__header-height);
    padding-left: var(--grid-1-1);
  }

  .AuxiliaryPanel::after {
    content: "";
    background: 50% 0/auto 305px no-repeat;
    background-image: var(--MainMenu-auxiliary-image);
    margin: 2.5rem 0;
    display: block;
    height: 305px;
  }

  .AuxiliaryPanel__items {
    margin-right: 17.0212765957%;
  }

  .AuxiliaryPanel__item {
    margin-bottom: 0.5rem;
  }
}