@charset "UTF-8";
@-webkit-keyframes MainMenu__mega__item--fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MainMenu__mega__item--fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen {
  .MainMenu__title {
    display: none;
  }

  .MainMenu__item {
    color: #2a2b2c;
    white-space: nowrap;
  }

  .MainMenu__item[aria-current=true] {
    color: #0367e1;
  }
  html[data-mega-panel-active] .MainMenu__item[aria-current=true] {
    color: #ffffff;
  }

  .MainMenu__item--home {
    position: absolute;
    right: 9999px;
    left: auto;
  }
  .MainMenu__item--home a:focus,
.MainMenu__item--home a:active,
.MainMenu__item--home button:focus {
    position: absolute;
    right: -9999px;
    z-index: 99999;
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }

  .MainMenu__link {
    border: 0;
    border-radius: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    text-align: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    color: var(--link-color);
    font-weight: var(--link-weight);
    padding-bottom: var(--link-underline-offset);
    border-bottom: var(--link-underline);
    transition: var(--link-transition);
    transition-property: border-color, background-color, color, text-shadow, box-shadow, outline;
    --link-color: _inherit;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-weight: 700;
  }
  .MainMenu__link:hover, .MainMenu__link:active {
    color: var(--link-color--hover);
    border-bottom: var(--link-underline--hover);
  }

  .MainMenu__link[aria-pressed=true] {
    color: #ffffff;
  }

  .MainMenu__link::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    margin-right: 0.5rem;
    vertical-align: -0.1875rem;
  }

  .MainMenu__item--mypages > .MainMenu__link::before {
    content: "";
  }

  .MainMenu__item--search > .MainMenu__link::before {
    content: "";
  }

  .MainMenu__item--lang {
    margin-right: 0.5rem;
  }

  .MainMenu__item--lang > .MainMenu__link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: inline-block;
  }

  .MainMenu__item--lang + .MainMenu__item--lang {
    margin-left: -0.5rem;
  }
  .MainMenu__item--lang + .MainMenu__item--lang:before {
    content: "|";
    display: inline-block;
  }

  .MainMenu__item--lang + .MainMenu__item:not(.MainMenu__item--lang) {
    margin-left: 0.75rem;
  }
}
@media screen and (max-width: 979px) {
  html.before-sprinkling .MainMenu {
    display: none;
  }

  .MainMenu {
    position: relative;
    background-color: #0367e1;
    --MainMenu--offsetLeft: 4rem;
  }
}
@media screen and (max-width: 370px) {
  .MainMenu {
    --MainMenu--offsetLeft: 1rem;
  }
}
@media screen and (max-height: 640px) {
  .MainMenu {
    --MainMenu__list--padTop: 0px;
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-active .MainMenu {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: var(--grid-edge);
    padding-right: var(--grid-edge--right);
    padding-top: var(--Layout__header-height);
    margin-top: -100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-closed .MainMenu,
html.menu-is-open .MainMenu {
    transition: margin-top 400ms 0ms ease-in-out, visibility 0ms 400ms;
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-open .MainMenu {
    transition-delay: 0ms;
    visibility: visible;
    margin-top: 0;
  }
}
@media screen and (max-width: 979px) {
  html.menu-is-active .MainMenu__items {
    padding-bottom: 2.5rem;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__items {
    display: flex;
    flex-flow: row wrap;
    padding-top: var(--MainMenu__list--padTop, 1.5rem);
    margin-left: calc(50% - 50vw + 0px);
    padding-left: calc(50vw - 50% + 0px);
    margin-right: calc(50% - 50vw + 0px);
    padding-right: calc(50vw - 50% + 0px);
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__item {
    width: 100%;
    font-size: 20px;
    color: var(--menu-primary-text);
    margin-left: var(--MainMenu--offsetLeft);
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__link {
    --link-color: $var--menu-primary-text;
    --link-color--hover: $var--menu-primary-hover;
    padding: 0.5rem 0 0.375rem 0;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__link[aria-pressed=true] {
    border-color: #ffffff;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__separator[class] {
    display: block;
    margin-left: auto;
    order: -1;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__separator ~ .MainMenu__item {
    width: auto;
    order: -1;
    font-size: 12px;
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: calc(-0.5 * var(--Layout__header-height));
    transform: translateY(-50%) translateY(var(--MainMenu__list--padTop, -1.5rem));
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__panels,
.MainMenu__panelsWrap {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
  }
}
@media screen and (max-width: 979px) {
  [aria-current=true] .MainMenu__mega__link::before {
    content: "";
    float: left;
    margin-left: -1.5rem;
    width: 0.5rem;
    height: 0.125rem;
    margin-top: 0.6875rem;
    background-color: currentColor;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__megapanel__backtomenu {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }
  .MainMenu__megapanel__backtomenu[data-focus-visible-added] {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: 99999;
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
  .MainMenu__megapanel__backtomenu:focus-visible {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: 99999;
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
  .MainMenu__megapanel__backtomenu:focus-within:not(:focus) {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    opacity: 1;
    pointer-events: auto;
    margin: 0;
    z-index: 99999;
    font-size: 1em;
    background: #ffffff;
    border: 3px double 3px double var(--link-color--hover);
    margin: 0;
    padding: 0.2em 0.33em;
    color: var(--link-color--hover);
    text-shadow: none;
    white-space: nowrap;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu__item--lang + .MainMenu__item--lang {
    margin-left: -0.5rem;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__items {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    left: 25.8278145695%;
    height: var(--Layout__header-height);
    margin-right: calc(-3.0927835052vw + 22.3092783505px);
    margin-left: calc(-1.5463917526vw + 1.1546391753px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .MainMenu__separator[class] {
    display: block;
    margin-left: auto;
  }

  .MainMenu__item {
    margin: 0 calc(1.5463917526vw + -11.1546391753px);
    --MainMenu__item-padding: calc(1.5463917526vw + -11.1546391753px);
  }

  .MainMenu__item:not(.MainMenu__separator ~ *) {
    --MainMenu__item-padding: 0.625rem;
  }

  html.menu-is-open .MainMenu__item:not(.MainMenu__separator ~ *),
html[data-mega-panel-active] .MainMenu__item:not(.MainMenu__separator ~ *) {
    --link-color--hover: #ffffff;
    color: rgba(248, 248, 249, 0.7);
  }

  .MainMenu__link {
    padding: 0.625rem var(--MainMenu__item-padding);
    padding-bottom: 0.5rem;
  }

  .MainMenu__item--lang::before {
    color: #2a2b2c;
  }

  html[data-mega-panel-active] {
    overflow-y: hidden;
    padding-right: var(--browser-scrollbar-width);
  }

  html[data-mega-panel-active] .Layout__alerts {
    max-height: 0;
    transition-duration: 0ms;
  }

  .MainMenu__panelsWrap {
    transition: all 250ms ease-in-out;
    transition-property: opacity, visibility;
    background-color: #0367e1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 3;
    margin-left: calc(50% - 50vw + 0px);
    padding-left: calc(50vw - 50% + 0px);
    margin-right: calc(50% - 50vw + 0px);
    padding-right: calc(50vw - 50% + 0px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .MainMenu__panelsWrap:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: calc(50% + 0.5 * (var(--grid-gutter) + var(--browser-scrollbar-width)));
    margin-left: var(--grid-2-2);
    right: 0;
    background-color: var(--menu-auxiliary-background);
  }
}
@media screen and (min-width: 980px) and (max-width: 1367px) {
  .MainMenu__panelsWrap:before {
    margin-left: var(--grid-2);
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__panels {
    position: relative;
    width: 100%;
    display: grid;
    -moz-column-gap: var(--grid-gutter);
         column-gap: var(--grid-gutter);
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
@media screen and (min-width: 980px) {
  html.before-sprinkling .MainMenu__panelsWrap {
    display: none;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu[data-sprinkled] .MainMenu__panelsWrap {
    display: block;
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu[data-sprinkled] > .MainMenu__panelsWrap--active {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 8.5625rem;
    height: 9.0625rem;
    font-size: 1rem;
    padding-top: 4.0625rem;
    padding-left: 2rem;
    padding-bottom: 2.0625rem;
    --link-focus-outlineColor: #ffffff;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu:hover::after,
.MainMenu__megapanel__backtomenu:active::after {
    opacity: 1;
    transform: scale(1.2);
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin-left: 8px;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__megapanel__backtomenu::after {
    content: "";
    transition: all 200ms ease-in-out;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -132px;
    z-index: -1;
  }
}
@media screen and (max-width: 979px) {
  .MainMenu[class][class] {
    display: flex;
    flex-flow: column;
  }

  .MainMenu__items--greetingHack[class][class] {
    order: -1;
    padding-bottom: 0;
  }

  .MainMenu:not([data-sprinkled]) > .MainMenu__greeting {
    display: none;
  }

  .MainMenu__greeting {
    color: var(--menu-primary-text);
    max-height: 400px;
    margin-left: var(--MainMenu--offsetLeft);
    max-width: 15rem;
  }

  .MainMenu__greeting[hidden] {
    display: block;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms 200ms, max-height 200ms 0ms ease-in-out, visibility 0ms 400ms;
  }

  .MainMenu__greeting > h3 {
    font-weight: 700;
    font-size: var(--font-sh-s-size);
    line-height: var(--font-sh-s-leading);
    margin-bottom: 1rem;
  }

  .MainMenu__greeting > p {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 980px) {
  .MainMenu__greeting {
    display: none;
  }
}
@media screen {
  .MainMenu:not(nav) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu:not(nav)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please use <nav/>" !important;
  }

  .MainMenu:not([aria-label]):not([aria-labelledby]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu:not([aria-label]):not([aria-labelledby])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `aria-label` or `aria-labelledby`" !important;
  }

  .MainMenu[aria-labelledby] > .MainMenu__title:not([id]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu[aria-labelledby] > .MainMenu__title:not([id])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Please add `id` attribute" !important;
  }

  .MainMenu__list:first-child {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu__list:first-child::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`.MainMenu__title` missing" !important;
  }

  .MainMenu__item:first-child:not(.MainMenu__item--home) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .MainMenu__item:first-child:not(.MainMenu__item--home)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Home link missing" !important;
  }
}
.PrimaryPanel {
  --link-color: var(--menu-primary-text);
  --link-color--hover: var(--menu-primary-hover);
  align-content: flex-start;
  display: none;
  background-color: #0367e1;
}

@media screen and (max-width: 979px) {
  .PrimaryPanel {
    padding-bottom: 1.5rem;
    padding-left: var(--MainMenu--offsetLeft);
  }
  html.menu-is-active .PrimaryPanel {
    display: none;
  }
  [data-pristine=true] .PrimaryPanel {
    display: block;
  }

  html.menu-is-active .PrimaryPanel--active {
    display: block;
  }

  .PrimaryPanel__title,
.PrimaryPanel__summary {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }

  .PrimaryPanel__item {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 980px) {
  .PrimaryPanel {
    --PrimaryPanel-columns: 8;
    grid-template-columns: repeat(var(--PrimaryPanel-columns), minmax(0, 1fr));
    padding-top: var(--Layout__header-height);
    padding-bottom: 7.8125rem;
    grid-column: 2/span 7;
    -moz-column-gap: var(--grid-gutter);
         column-gap: var(--grid-gutter);
  }

  .PrimaryPanel--active {
    display: grid;
  }

  .PrimaryPanel--twocol {
    grid-column: span var(--PrimaryPanel-columns);
  }

  .PrimaryPanel__title {
    color: var(--menu-primary-text);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 13.3333333333%;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 700;
    grid-column: span 5;
  }

  .PrimaryPanel--twocol .PrimaryPanel__title {
    grid-column: span var(--PrimaryPanel-columns);
    margin-right: 8.0808080808%;
  }

  .PrimaryPanel__items {
    grid-column: span 4;
    padding-right: 17.0212765957%;
  }

  .PrimaryPanel--twocol .PrimaryPanel__items {
    grid-column: span var(--PrimaryPanel-columns);
    display: grid;
    -moz-column-gap: var(--grid-gutter);
         column-gap: var(--grid-gutter);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-right: 0;
  }

  .PrimaryPanel__item {
    margin-bottom: 1.5rem;
  }

  .PrimaryPanel--twocol .PrimaryPanel__item {
    padding-right: 17.0212765957%;
  }

  .PrimaryPanel__linkTitle {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .PrimaryPanel__summary {
    display: block;
    font-size: inherit;
    font-weight: 400;
  }
}
.AuxiliaryPanel {
  --link-color: var(--menu-auxiliary-text);
  --link-weight: $font-weight-normal;
}

.AuxiliaryPanel__title {
  color: var(--menu-auxiliary-text);
  font-weight: 700;
  border-bottom: 1px solid rgba(3, 103, 225, 0.2);
  margin-right: 17.0212765957%;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.AuxiliaryPanel__item {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 979px) {
  .AuxiliaryPanel {
    background-color: var(--menu-auxiliary-background);
    padding: 2.5rem 0;
    flex-grow: 1;
    margin-left: calc(50% - 50vw + 0px);
    padding-left: calc(50vw - 50% + 0px);
    margin-right: calc(50% - 50vw + 0px);
    padding-right: calc(50vw - 50% + 0px);
  }

  .AuxiliaryPanel__title {
    font-weight: 700;
    font-size: var(--font-sh-s-size);
    line-height: var(--font-sh-s-leading);
    margin-left: var(--MainMenu--offsetLeft);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0;
    max-width: 38.3561643836%;
    min-width: 8.75rem;
  }

  .AuxiliaryPanel__items {
    padding-left: var(--MainMenu--offsetLeft);
  }
}
@media screen and (min-width: 980px) {
  .AuxiliaryPanel {
    grid-column: span 4;
    padding-top: var(--Layout__header-height);
    padding-left: var(--grid-1-1);
  }

  .AuxiliaryPanel::after {
    content: "";
    background: 50% 0/auto 305px no-repeat;
    background-image: var(--menu-auxiliary-image);
    margin: 2.5rem 0;
    display: block;
    height: 305px;
    overflow: hidden;
  }

  .AuxiliaryPanel__items {
    margin-right: 17.0212765957%;
  }
}
/*# sourceMappingURL=MainMenu.css.map */