:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: calc(0.7633587786vw + 13.5572519084px);
}
@media screen and (min-width: 1368px) {
  :root {
    --ButtonTertiary--gapH: 24px;
  }
}

@media screen {
  .MiniMetrics {
    position: relative;
    margin-top: calc(19.3965517241% + 5.6896551724px);
    margin-bottom: calc(24.7844827586% + -9.3965517241px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 272px;
  }

  .MiniMetrics__text {
    font: var(--font-hd-xl);
    display: block;
    margin-bottom: 0.5555555556em;
    max-width: 896px;
  }

  .MiniMetrics__more {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-base);
    padding-left: calc( 		var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--dashWidth) 	);
    padding-right: calc( 		var(--ButtonTertiary--hover--dashWidth) - var(--ButtonTertiary--dashWidth) 	);
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    font-weight: 700;
    transition: all 100ms ease-in;
    font: var(--font-sh-s);
    --ButtonTertiary--dashWidth: 1rem;
    --ButtonTertiary--dashHeight: 0.1666666667rem;
  }
  .MiniMetrics__more::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--ButtonTertiary--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }
  .MiniMetrics__more:hover, .MiniMetrics__more:active, .MiniMetrics__more[data-focus-visible-added] {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .MiniMetrics__more:hover::before, .MiniMetrics__more:active::before, .MiniMetrics__more[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .MiniMetrics__more:focus-visible {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .MiniMetrics__more:focus-visible::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .MiniMetrics__more:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }
  .MiniMetrics__more[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .MiniMetrics__more:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }

  .MiniMetrics__more::before {
    top: calc(0.5 * var(--font-sh-s-leading));
  }
}
@media screen and (min-width: 480px) {
  @supports ((-webkit-mask-image: url("")) or (mask-image: url(""))) {
    .MiniMetrics::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 50%;
      margin-bottom: 10.3476821192%;
      right: 0;
      width: 10.5132450331%;
      padding-top: 10.5132450331%;
      background-color: #ff8db5;
      -webkit-mask-image: url("/assets/bling/circle-small.svg");
              mask-image: url("/assets/bling/circle-small.svg");
      -webkit-mask-position: 50% 50%;
              mask-position: 50% 50%;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
    }

    .MiniMetrics::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 50%;
      left: 50%;
      margin-bottom: -7.8642384106%;
      width: 68.2947019868%;
      padding-top: 19.2052980132%;
      background-color: #a5bbfd;
      -webkit-mask-image: url("/assets/bling/waves-medium.svg");
              mask-image: url("/assets/bling/waves-medium.svg");
      -webkit-mask-size: 133.33% auto;
              mask-size: 133.33% auto;
      -webkit-mask-position: 0% 50%;
              mask-position: 0% 50%;
      -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .MiniMetrics::before {
    content: none;
  }

  .MiniMetrics::after {
    left: 360px;
    width: 440px;
    padding-top: 125px;
  }
}