/*!@deps
	TextInput
	SearchInput
	Datepicker
	Selectbox
	ButtonPrimary
	ButtonSecondary
	ButtonTertiary
*/
@media screen {
  .PageFilter {
    background-color: #f8f8f9;
    padding: calc(5.3879310345% + 14.9137931034px) 0 0 0;
    margin-bottom: calc(9.6982758621% + 22.8448275862px);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .before-sprinkling .PageFilter, .PageFilter[data-is-seen][data-is-seen=false] {
    opacity: 0;
    transform: translateY(200px);
  }
  .PageFilter[data-is-seen=""], .PageFilter[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .PageFilter[data-is-seen=true] {
    transition: opacity 500ms ease-in-out, transform 500ms ease-out;
  }
  .PageFilter::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--grid-edge--neg);
    right: var(--grid-edge--neg);
    z-index: -1;
    background: inherit;
  }

  .PageFilter--underlap {
    margin-bottom: -1.5rem;
  }

  .PageFilter::before {
    border-left: calc(1.5094339623vw + 3.1698113208px) solid var(--theme-color-primary);
    margin-bottom: calc(-2.1551724138% + -13.9655172414px);
    pointer-events: none;
  }
}
@media screen and (min-width: 1380px) {
  .PageFilter::before {
    border-width: 1.5rem;
  }
}
@media screen {
  .PageFilter__title {
    font-weight: 700;
    font-size: var(--font-hd-s-size);
    line-height: var(--font-hd-s-leading);
    margin-bottom: 0.3125em;
    width: 100%;
  }
}
@media screen {
  .PageFilter__summary {
    margin-bottom: 1.25rem;
    width: 100%;
  }
}
@media screen {
  .PageFilter__filters {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: calc(3.2327586207% + 0.9482758621px);
    width: 100%;
    max-width: 936px;
    flex-shrink: 0;
  }
}
@media screen {
  .PageFilter__filters > .FormField {
    flex-shrink: 0;
    margin-right: var(--grid-gutter);
    margin-bottom: 1.5rem;
    min-width: 24.7863247863%;
  }
}
@media screen and (max-width: 479px) {
  .PageFilter__filters > .FormField {
    width: 100%;
  }
}
@media screen {
  .PageFilter__buttons {
    margin-bottom: calc(3.2327586207% + 0.9482758621px);
  }
}
@media screen {
  .PageFilter__buttons > .ButtonTertiary:last-child,
.PageFilter__buttons > .ButtonPrimary:last-child {
    margin-right: 0;
    width: auto;
  }
}
@media screen {
  .PageFilter__footnote {
    width: 100%;
    position: relative;
    margin-top: calc(3.2327586207% + 20.9482758621px);
    padding-left: calc(2.8017241379% + 2.1551724138px);
    color: #727477;
  }
}
@media screen {
  .PageFilter__footnote::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0.25rem 0;
    border-left: 0.25rem solid currentColor;
  }
}
@media screen {
  .PageFilter__footnote::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid currentColor;
    margin-top: calc(-3.0172413793% + -3.5517241379px);
  }
}
/*# sourceMappingURL=PageFilter.css.map */