@media screen {
  .ProcessOverview {
    background-color: #f8f8f9;
    margin: 0 var(--grid-margin--neg);
    padding: 0 var(--grid-margin);
    margin-bottom: calc(9.6982758621% + 2.8448275862px);
    padding-top: calc(7.5431034483% + 28.8793103448px);
    padding-bottom: calc(15.3017241379% + 7.1551724138px);
  }

  .ProcessOverview--transparent {
    background: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .ProcessOverview__title {
    font: var(--font-hd-s);
    margin-bottom: calc(7.4427480916vw + 16.1832061069px);
  }
}
@media screen and (min-width: 1368px) {
  .ProcessOverview__title {
    margin-bottom: 7.375rem;
  }
}
@media screen {
  .ProcessOverview__item {
    margin-bottom: 5rem;
    position: relative;
  }
}
@media screen {
  .ProcessOverview__item__title {
    font: var(--font-sh-l);
    display: flex;
    margin-bottom: var(--baseVerticalMargin);
  }
  .ProcessOverview__item__title::before {
    content: "";
    float: left;
    margin-top: 0.7em;
    height: 0.25rem;
    background-color: var(--theme-color-primary--safeish);
    transform: translateY(-50%);
    width: var(--dash-width, 1.125em);
    margin-right: var(--dash-margin, 0.625em);
    margin-left: var(--dash-indent, 0);
  }
}
@media screen {
  .ProcessOverview__item__content {
    font: var(--font-bd-l);
  }
}
@media screen {
  .ProcessOverview__attention {
    font: var(--font-bd-l);
    position: relative;
    padding-left: 2.5rem;
    margin-top: calc(1.5267175573vw + 59.1145038168px);
  }
  .ProcessOverview__attention::before {
    content: "";
    background-color: var(--theme-color-primary);
    width: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1368px) {
  .ProcessOverview__attention {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 760px) {
  .ProcessOverview__item {
    display: flex;
    align-items: flex-start;
  }

  :not(.ProcessOverview--narrow) > * > .ProcessOverview__item__title {
    display: block;
    position: relative;
    width: 34.4370860927%;
    --dash-width: calc(0.45 * var(--grid-margin));
    --dash-margin: 0;
    --dash-indent: var(--grid-margin--neg);
  }

  .ProcessOverview--narrow > * > .ProcessOverview__item__title {
    width: 22.5165562914%;
    --dash-margin: var(--grid-gutter);
  }

  .ProcessOverview__item__content,
.ProcessOverview__attention {
    width: 56.9536423841%;
    margin-left: auto;
  }

  .ProcessOverview--narrow > * > .ProcessOverview__item__content,
.ProcessOverview--narrow > .ProcessOverview__attention {
    margin-right: 17.2185430464%;
  }

  .ProcessOverview__attention {
    padding-right: 5.298013245%;
  }
}