/*!@deps
	RowBlock
*/
/*!@deps
	RowBlockColumn
*/
@media screen {
  .RowBlock {
    margin-bottom: var(--component-vspace--large);
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .before-sprinkling .RowBlock > .RowBlockColumn, .RowBlock[data-is-seen=false] > .RowBlockColumn, .RowBlock[data-is-seen=true] > .RowBlockColumn {
    opacity: 0;
    transform: translateY(200px);
  }
  .RowBlock[data-is-seen=""] > .RowBlockColumn, .RowBlock[data-is-seen=true] > .RowBlockColumn {
    opacity: 1;
    transform: none;
  }
  .RowBlock[data-is-seen=true] > .RowBlockColumn {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
  .RowBlock[data-is-seen=true] > .RowBlockColumn + .RowBlockColumn {
    transition-delay: 100ms;
  }
}
@media screen and (min-width: 760px) {
  .RowBlock {
    flex-flow: row;
  }

  .RowBlock--align--right {
    flex-flow: row-reverse;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlock > .RowBlockColumn:nth-child(n+3) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlock > .RowBlockColumn:nth-child(n+3)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Only two `RowBlockColumn`s allowed here" !important;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlock > .RowBlockColumn:first-child:last-child {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlock > .RowBlockColumn:first-child:last-child::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Two `RowBlockColumn`s are required" !important;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlock > :not(.RowBlockColumn) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .RowBlock > :not(.RowBlockColumn)::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Only `RowBlockColumn`s allowed here" !important;
  }
}
@media screen {
  .RowBlockColumn {
    width: 100%;
  }

  .RowBlockColumn--background {
    background-color: #f8f8f9;
    box-sizing: content-box;
    margin: 0 var(--grid-margin--neg);
    padding: calc(5.3879310345% + 14.9137931034px) var(--grid-margin);
  }

  .RowBlockColumn--background--primary {
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary--text);
    --link-color: _inherit;
    --link-color--hover: var(--link-color);
    --link-underline: 1px dotted currentColor;
    --link-underline--hover: 2px solid currentColor;
    --ButtonTertiary--dashColor: currentColor;
  }
}
@media screen and (min-width: 760px) {
  .RowBlockColumn {
    width: 48.3443708609%;
  }

  .RowBlockColumn--narrow {
    width: 43.0463576159%;
  }

  .RowBlockColumn--background {
    width: 43.0463576159%;
    align-self: stretch;
    --padding--inner: 6.9536423841%;
  }

  .RowBlockColumn--background.RowBlockColumn--narrow[class] {
    width: 34.4370860927%;
    --padding--inner: 5.298013245%;
  }

  :not(.RowBlock--align--right) > .RowBlockColumn--background:first-child,
.RowBlock--align--right > .RowBlockColumn--background:last-child {
    padding-right: var(--padding--inner);
  }

  :not(.RowBlock--align--right) > .RowBlockColumn--background:last-child,
.RowBlock--align--right > .RowBlockColumn--background:first-child {
    padding-left: var(--padding--inner);
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) :not(.RowBlock) > .RowBlockColumn {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) :not(.RowBlock) > .RowBlockColumn::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Must be direct child of a `RowBlock`" !important;
  }
}