:root {
  --ButtonTertiary--color: _inherit;
  --ButtonTertiary--dashColor: var(--theme-color-primary--safeish);
  --ButtonTertiary--dashWidth: var(--space-2);
  --ButtonTertiary--hover--dashWidth: var(--space-4);
  --ButtonTertiary--dashSpace: var(--space-2);
  --ButtonTertiary--dashHeight: 2px;
  --ButtonTertiary--gapH: calc(0.7633587786vw + 13.5572519084px);
}
@media screen and (min-width: 1368px) {
  :root {
    --ButtonTertiary--gapH: 24px;
  }
}

/*!@deps
	Tabs,
	Alert
*/
@media screen {
  .SiteSearchPage {
    position: relative;
    margin-left: auto;
    padding-top: calc(2.2900763359vw + 56.6717557252px);
  }
}
@media screen and (min-width: 980px) {
  .SiteSearchPage {
    width: var(--grid-9);
  }
}
@media screen {
  .SearchResults {
    position: relative;
    margin-left: auto;
    transition: opacity 400ms ease-in;
  }
}
@media screen {
  .SearchResults--loadingquery {
    opacity: 0.5;
  }
}
@media screen {
  .SearchResults__title {
    font: var(--font-hd-m);
    margin-bottom: calc(1.5267175573vw + 43.1145038168px);
  }
}
@media screen and (min-width: 1368px) {
  .SearchResults__title {
    margin-bottom: 4rem;
  }
}
@media screen {
  .SearchResults__query {
    font: var(--font-sh-s);
    display: block;
  }
}
@media screen {
  .SearchResults__query::before {
    content: open-quote;
  }
}
@media screen {
  .SearchResults__query::after {
    content: close-quote;
  }
}
@media screen {
  .SearchResults__list {
    position: relative;
    padding-left: 0;
  }
}
@media screen {
  .SearchResults--loadingfilter > * > .SearchResults__list--loading,
.SearchResults--loadingmore > * > .SearchResults__list--loading {
    opacity: 0.5;
  }
}
@media screen {
  @-webkit-keyframes loadingAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loadingAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
@media screen {
  .SearchResults__list--loading::before {
    content: "";
    position: absolute;
    top: 1.25rem;
    left: 25%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1875rem solid var(--color-faxafloi-100);
    border-color: var(--color-faxafloi-100) transparent;
    -webkit-animation: loadingAnimation 1000ms linear infinite;
            animation: loadingAnimation 1000ms linear infinite;
  }
}
@media screen {
  ol.SearchResults__list > li::before {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }
}
@media screen {
  .SearchResultsItem {
    margin-bottom: calc(1.5267175573vw + 43.1145038168px);
  }
}
@media screen and (min-width: 1368px) {
  .SearchResultsItem {
    margin-bottom: 4rem;
  }
}
@media screen {
  .SearchResultsItem__link {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    display: flex;
    flex-flow: column;
    padding-left: var(--grid-1);
    margin-left: var(--grid-1--neg);
    max-width: 584px;
  }
}
@media screen and (min-width: 760px) {
  .SearchResultsItem__link {
    margin-left: 0;
  }
}
@media screen {
  .SearchResultsItem__title {
    --dash-width: calc(1.5267175573vw + 3.1145038168px);
    --dash-margin: calc(2.0038167939vw + 4.5877862595px);
    --dash-indent: calc(0.572519084vw + 0.1679389313px);
    font: var(--font-sh-l);
    display: flex;
    margin-bottom: var(--baseVerticalMargin);
    margin-bottom: 1rem;
    margin-left: var(--grid-column--neg);
    margin-right: calc(-1.4312977099vw + -4.4198473282px);
    padding-right: calc(1.5267175573vw + 3.1145038168px);
    transition: padding-right 200ms ease-in;
  }
  .SearchResultsItem__title::before {
    content: "";
    float: left;
    margin-top: 0.7em;
    height: 0.25rem;
    background-color: var(--theme-color-primary--safeish);
    transform: translateY(-50%);
    width: var(--dash-width, 1.125em);
    margin-right: var(--dash-margin, 0.625em);
    margin-left: var(--dash-indent, 0);
  }
}
@media screen and (max-width: 759px) {
  .SearchResultsItem__title {
    margin-left: 0;
  }
}
@media screen and (min-width: 1368px) {
  .SearchResultsItem__title {
    --dash-width: 1.5rem;
    --dash-margin: 2rem;
    --dash-indent: 0.5rem;
    margin-right: -1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen {
  .SearchResultsItem__title::before {
    transition: width 200ms ease-in;
  }
}
@media screen {
  .SearchResultsItem__link:hover > .SearchResultsItem__title,
.SearchResultsItem__link:focus > .SearchResultsItem__title,
.SearchResultsItem__link:active > .SearchResultsItem__title {
    padding-right: 0;
    --dash-width: calc(2.9580152672vw + 7.534351145px);
  }
}
@media screen and (min-width: 1368px) {
  .SearchResultsItem__link:hover > .SearchResultsItem__title,
.SearchResultsItem__link:focus > .SearchResultsItem__title,
.SearchResultsItem__link:active > .SearchResultsItem__title {
    --dash-width: 3rem;
  }
}
@media screen {
  .SearchResultsItem__meta {
    display: block;
    font-size: var(--font-label-size);
    line-height: var(--font-label-leading);
    order: -1;
  }
}
@media screen and (min-width: 760px) {
  .SearchResultsItem__meta {
    margin-bottom: 1rem;
  }
}
@media screen {
  .SearchResultsItem__meta > span {
    display: inline-block;
  }
}
@media screen {
  .SearchResultsItem__summary {
    font-weight: 400;
  }
}
@media screen {
  .SearchResultsItem__image {
    display: none;
  }
}
@media screen {
  .SearchResults__loadmore {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    color: var(--ButtonTertiary--color);
    position: relative;
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    vertical-align: middle;
    font: var(--font-base);
    padding-left: calc( 		var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--dashWidth) 	);
    padding-right: calc( 		var(--ButtonTertiary--hover--dashWidth) - var(--ButtonTertiary--dashWidth) 	);
    margin-right: var(--ButtonTertiary--gapH);
    margin-bottom: var(--space-1);
    font-weight: 700;
    transition: all 100ms ease-in;
    display: block;
    border: 50px solid transparent;
    border-width: 3.125rem 18.75rem;
    margin: 0 auto;
  }
  .SearchResults__loadmore::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: var(--ButtonTertiary--dashWidth);
    height: var(--ButtonTertiary--dashHeight);
    display: inline-block;
    vertical-align: middle;
    background-color: currentColor;
    color: var(--ButtonTertiary--dashColor);
    transform: translateY(-50%);
    transition: inherit;
  }
  .SearchResults__loadmore:hover, .SearchResults__loadmore:active, .SearchResults__loadmore[data-focus-visible-added] {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .SearchResults__loadmore:hover::before, .SearchResults__loadmore:active::before, .SearchResults__loadmore[data-focus-visible-added]::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .SearchResults__loadmore:focus-visible {
    padding-left: calc( 				var(--ButtonTertiary--dashSpace) + var(--ButtonTertiary--hover--dashWidth) 			);
    padding-right: 0rem;
    color: var(--ButtonTertiary--color);
    outline: 0;
  }
  .SearchResults__loadmore:focus-visible::before {
    width: var(--ButtonTertiary--hover--dashWidth);
  }
  .SearchResults__loadmore:active::before {
    width: var(--ButtonTertiary--dashWidth);
  }
  .SearchResults__loadmore[data-focus-visible-added]::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
  .SearchResults__loadmore:focus-visible::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -0.8125rem -1rem;
    border: 0.0625rem dotted var(--ButtonTertiary--dashColor);
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 479px) {
  .SearchResults__loadmore {
    border-left-width: 1.875rem;
    border-left-width: 1.875rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 759px) {
  .SearchResults__loadmore {
    border-left-width: 6.25rem;
    border-left-width: 6.25rem;
  }
}
@media screen {
  .SearchResults__loadmore__count {
    font-size: 12;
    color: #707275;
    font-weight: 400;
    margin-left: 0.25rem;
  }
}
@media screen {
  .SearchResultsHighlightItem {
    margin-bottom: calc(1.5267175573vw + 43.1145038168px);
  }
}
@media screen and (min-width: 1368px) {
  .SearchResultsHighlightItem {
    margin-bottom: 4rem;
  }
}
@media screen {
  .SearchResultsHighlightItem__link {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    position: relative;
    display: flex;
    flex-flow: column;
    padding: var(--grid-1);
    min-height: var(--grid-4);
    border: var(--border-default);
    margin: 0 var(--grid-1--neg);
  }
}
@media screen and (min-width: 760px) {
  .SearchResultsHighlightItem__link {
    margin: 0 -1px;
    padding-right: var(--grid-4-4);
  }
}
@media screen {
  .SearchResultsHighlightItem__link::after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
  }
}
@media screen {
  .SearchResultsHighlightItem__link:hover,
.SearchResultsHighlightItem__link:active {
    border-color: #0367e1;
    box-shadow: inset 0 0 0 1px #0367e1;
  }
}
@media screen {
  .SearchResultsHighlightItem__title {
    font: var(--font-hd-s);
    margin-bottom: 1.5rem;
  }
}
@media screen {
  .SearchResultsHighlightItem__meta {
    display: block;
    font-size: var(--font-label-size);
    line-height: var(--font-label-leading);
    margin-top: -1rem;
    order: -1;
  }
}
@media screen and (min-width: 760px) {
  .SearchResultsHighlightItem__meta {
    margin-bottom: 1rem;
  }
}
@media screen {
  .SearchResultsHighlightItem__image {
    order: -2;
  }
}
@media screen and (max-width: 759px) {
  .SearchResultsHighlightItem__image {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 759px) {
  .SearchResultsHighlightItem__image > img {
    max-width: 18.75rem;
  }
}
@media screen and (min-width: 760px) {
  .SearchResultsHighlightItem__image > img {
    position: absolute;
    top: 1.25rem;
    right: 0;
    width: var(--grid-4-4);
    height: calc(100% - 2.5rem);
    -o-object-fit: contain;
       object-fit: contain;
  }
}