@charset "UTF-8";
/*!@deps
	FormField
*/
@media screen {
  input.SearchInput__input {
    margin-right: 3.125rem;
  }

  .SearchInput > .FormField__input::after {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.25rem;
    width: 3rem;
    font-size: 1.25rem;
    line-height: 2rem;
    padding-left: 1.5rem;
    color: #707275;
    border-left: 2px solid currentColor;
    pointer-events: none;
  }

  .SearchInput.FormField--small > .FormField__input::after {
    line-height: 1.375rem;
  }

  .SearchInput.FormField--focused > .FormField__input::after {
    color: #0367e1;
  }

  .SearchInput__button {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: 1;
    width: 4.125rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #707275;
    font-size: 1.25rem;
  }

  .SearchInput__button:hover,
.SearchInput__button:focus {
    color: #0367e1;
  }

  .SearchInput__button::before {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    width: calc(100% - 2px);
    margin-right: 1px;
    padding-left: 0.375rem;
    transition: all 200ms ease-in;
  }

  .SearchInput__button:hover::before,
.SearchInput__button:focus::before {
    background-color: #f8f8f9;
    transform: scale(1.15);
  }

  .SearchInput__button::after {
    content: "";
    order: -1;
    position: relative;
    z-index: 1;
    height: 64%;
    border-left: 2px solid currentColor;
  }
}
@media screen {
  .AutoComplete__list {
    position: absolute;
    z-index: var(--zindex--overlay);
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    padding: 1rem;
    max-height: 184px;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15), 0px 60px 120px rgba(0, 0, 0, 0.15);
  }

  .AutoComplete__list__item {
    color: #707275;
    margin-bottom: 1rem;
  }
  .AutoComplete__list__item:last-child {
    margin-bottom: 0;
  }

  .AutoComplete__list__item.autoComplete_selected {
    color: #0367e1;
  }
}