@charset "UTF-8";
@media screen {
  .ShareButtons__list {
    display: flex;
    font-size: 0.9375rem;
  }

  .ShareButtons__label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    opacity: 0.00001;
    pointer-events: none;
    margin: -1px;
  }

  .ShareButtons__link {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 150%;
    text-align: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--theme-color-primary);
    color: var(--theme-color-primary--text);
    position: relative;
    display: inline-block;
  }

  .ShareButtons__link:hover,
.ShareButtons__link:active {
    background-color: var(--theme-color-primary--dark);
    color: #ffffff;
  }

  .ShareButtons__link::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 0;
    text-align: center;
    line-height: 35px;
  }

  .ShareButtons__item {
    margin-left: 1rem;
  }
  .ShareButtons__item:first-child {
    margin-left: 0;
  }

  .ShareButtons__link--facebook::before {
    content: "";
  }

  .ShareButtons__link--twitter::before {
    content: "";
  }

  .ShareButtons__link--linkedin::before {
    content: "LI";
  }

  .ShareButtons__link--email::before {
    content: "E";
  }
}