@charset "UTF-8";
/*!@deps
	TextBlock
*/
/*!@deps
	TextBlock
*/
/*!@deps
	TextBlock
*/
/*!@deps
	TextBlock
*/
/*!@deps
	TextBlock
*/
/*!@deps
	TextBlock
*/
/*!@deps
	Attention
*/
@media screen {
  .TextBlock {
    position: relative;
    margin-bottom: calc(1.0775862069% + 16.9827586207px);
    width: 100%;
    max-width: 584px;
    font: var(--font-bd-l);
  }
}
@media screen and (min-width: 760px) {
  .TextBlock--align--right {
    margin-left: auto;
    max-width: none;
    width: 56.9536423841%;
  }
}
@media screen {
  .TextBlock--wide {
    margin-left: 0;
    max-width: 792px;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--align--right.TextBlock--wide {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--align--right.TextBlock--wide::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--align--right` can't be `--wide`" !important;
  }
}
@media screen {
  .TextBlock h2 {
    font: var(--font-hd-s);
    margin-bottom: var(--h2--marginBottom, var(--baseVerticalMargin));
    clear: both;
  }
}
@media screen {
  .TextBlock * + h2 {
    margin-top: var(--h2--marginTop, 1.5em);
  }
}
@media screen {
  .TextBlock h3 {
    font: var(--font-sh-l);
    margin-bottom: var(--baseVerticalMargin);
    clear: both;
  }
}
@media screen {
  .TextBlock * + h3 {
    margin-top: var(--h3--marginTop, 1.25em);
  }
}
@media screen {
  .TextBlock h4 {
    font: var(--font-sh-s);
    margin-bottom: var(--baseVerticalMargin);
  }
}
@media screen {
  .TextBlock p {
    margin-bottom: var(--baseVerticalMargin);
  }
}
@media screen {
  .TextBlock ul {
    list-style: none;
    padding: 0;
    margin-bottom: var(--baseVerticalMargin);
  }
  .TextBlock ul > li {
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2rem;
  }
  .TextBlock ul > li::before {
    content: "";
    position: absolute;
    top: calc(0.5 * var(--font-bd-l-leading));
    left: 0;
    width: 1rem;
    margin-top: -0.0625rem;
    height: 0.125rem;
    background-color: var(--theme-color-primary--safeish);
  }
}
@media screen {
  .TextBlock ol {
    margin-bottom: var(--baseVerticalMargin);
  }
}
@media screen {
  .TextBlock li ol,
.TextBlock li ul {
    margin-bottom: 0;
  }
}
@media screen {
  .TextBlock blockquote {
    padding: 2rem;
    margin-bottom: var(--baseVerticalMargin);
    position: relative;
  }
  .TextBlock blockquote::before {
    content: "”";
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    left: 0rem;
  }
}
@media screen {
  .TextBlock > :last-child {
    margin-bottom: 0;
  }
}
@media screen {
  .before-sprinkling .TextBlock, .TextBlock[data-is-seen=false], .TextBlock[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
}
@media screen {
  .TextBlock[data-is-seen=""], .TextBlock[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
}
@media screen {
  .TextBlock[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
}
@media screen {
  .before-sprinkling [data-is-seen] .TextBlock, [data-is-seen] .TextBlock[data-is-seen=false] {
    opacity: 1;
    transform: none;
  }
}
@media screen {
  [data-is-seen] .TextBlock[data-is-seen=""], [data-is-seen] .TextBlock[data-is-seen=true] {
    opacity: initial;
    transform: initial;
  }
  [data-is-seen] .TextBlock[data-is-seen=true] {
    transition: none;
  }
}
@media screen {
  .TextBlock--small {
    font: var(--font-bd-s);
  }
  .TextBlock--small h2 {
    font: var(--font-sh-l);
  }
  .TextBlock--small h3 {
    font: var(--font-sh-s);
  }
  .TextBlock--small h4 {
    font: var(--font-bd-l);
    font-weight: var(--font-weight--bold);
  }
}
@media screen {
  .TextBlock--labelled h2 {
    font: var(--font-sh-l);
    display: flex;
  }
  .TextBlock--labelled h2::before {
    content: "";
    float: left;
    margin-top: 0.7em;
    height: 0.25rem;
    background-color: var(--theme-color-primary--safeish);
    transform: translateY(-50%);
    width: var(--dash-width, 1.125em);
    margin-right: var(--dash-margin, 0.625em);
    margin-left: var(--dash-indent, 0);
  }
}
@media screen and (min-width: 760px) {
  .TextBlock--labelled {
    --h2--marginTop: 2em;
    --h2--marginBottom: 0.25em;
    margin-left: auto;
    width: 56.9536423841%;
  }

  .TextBlock--labelled h2 {
    display: block;
    position: relative;
    width: 34.4370860927%;
    --dash-width: calc(0.45 * var(--grid-margin));
    --dash-margin: 0;
    --dash-indent: var(--grid-margin--neg);
    width: auto;
    height: 0;
    margin-left: -75.5813953488%;
    padding-right: 115.1162790698%;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--small.TextBlock--labelled {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--small.TextBlock--labelled::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--small` can't be `--labelled`" !important;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--wide.TextBlock--labelled {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--wide.TextBlock--labelled::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--wide` can't be `--labelled`" !important;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--largetext {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock--largetext::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: '`--largetext` is Outdated. TextBlock is "large" by default' !important;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock__title {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock__title::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`__title` is Outdated. Use PageHeading/SubHeading" !important;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock .PageHeading,
html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock .SubHeading {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock .PageHeading::before,
html:not([data-disable-css-warnings-with-abandon=true]) .TextBlock .SubHeading::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Should NOT be used inside TextBlock" !important;
  }
}
@media screen {
  .PageHeading {
    font: var(--font-hd-l);
    width: 100%;
    max-width: 584px;
    margin-top: calc(2.5862068966% + -7.2413793103px);
    margin-bottom: 0.625em;
  }
  .before-sprinkling .PageHeading, .PageHeading[data-is-seen=false], .PageHeading[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .PageHeading[data-is-seen=""], .PageHeading[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .PageHeading[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
  .before-sprinkling [data-is-seen] .PageHeading, [data-is-seen] .PageHeading[data-is-seen=false] {
    opacity: 1;
    transform: none;
  }
  [data-is-seen] .PageHeading[data-is-seen=""], [data-is-seen] .PageHeading[data-is-seen=true] {
    opacity: initial;
    transform: initial;
  }
  [data-is-seen] .PageHeading[data-is-seen=true] {
    transition: none;
  }
}
@media screen and (min-width: 760px) {
  .PageHeading--align--right {
    margin-left: auto;
    max-width: none;
    width: 56.9536423841%;
  }
}
@media screen {
  .PageHeading--small {
    font: var(--font-hd-m);
  }
}
@media screen {
  .Heading {
    font: var(--font-hd-m);
    width: 100%;
    max-width: 584px;
    margin-top: calc(1.9083969466vw + 33.893129771px);
    margin-bottom: calc(0.7633587786vw + 21.5572519084px);
  }
}
@media screen and (min-width: 760px) {
  .Heading--align--right {
    margin-left: auto;
    max-width: none;
    width: 56.9536423841%;
  }
}
@media screen {
  .Heading--wide {
    margin-left: 0;
    max-width: 792px;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .Heading--align--right.Heading--wide {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .Heading--align--right.Heading--wide::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--align--right` can't be `--wide`" !important;
  }
}
@media screen and (min-width: 1368px) {
  .Heading {
    margin-top: 60px;
    margin-bottom: 32px;
  }
}
@media screen {
  .Heading--large {
    font: var(--font-hd-l);
  }
}
@media screen {
  .Heading--small {
    font: var(--font-hd-s);
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) h1.Heading {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) h1.Heading::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Only use <H2/> or lower for .Heading" !important;
  }
}
@media screen {
  .SubHeading {
    font: var(--font-sh-l);
    width: 100%;
    max-width: 584px;
    margin-top: calc(0.9541984733vw + 36.9465648855px);
    margin-bottom: calc(0.9541984733vw + 16.9465648855px);
  }
  .before-sprinkling .SubHeading, .SubHeading[data-is-seen=false], .SubHeading[data-is-seen=true] {
    opacity: 0;
    transform: translateY(200px);
  }
  .SubHeading[data-is-seen=""], .SubHeading[data-is-seen=true] {
    opacity: 1;
    transform: none;
  }
  .SubHeading[data-is-seen=true] {
    transition: all 500ms ease-in-out;
    transition-property: opacity, transform;
  }
  .before-sprinkling [data-is-seen] .SubHeading, [data-is-seen] .SubHeading[data-is-seen=false] {
    opacity: 1;
    transform: none;
  }
  [data-is-seen] .SubHeading[data-is-seen=""], [data-is-seen] .SubHeading[data-is-seen=true] {
    opacity: initial;
    transform: initial;
  }
  [data-is-seen] .SubHeading[data-is-seen=true] {
    transition: none;
  }
}
@media screen and (min-width: 760px) {
  .SubHeading--align--right {
    margin-left: auto;
    max-width: none;
    width: 56.9536423841%;
  }
}
@media screen {
  .SubHeading--wide {
    margin-left: 0;
    max-width: 792px;
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) .SubHeading--align--right.SubHeading--wide {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .SubHeading--align--right.SubHeading--wide::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "`--align--right` can't be `--wide`" !important;
  }
}
@media screen and (min-width: 1368px) {
  .SubHeading {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media screen {
  .SubHeading--small {
    font: var(--font-sh-s);
  }
}
@media screen {
  html:not([data-disable-css-warnings-with-abandon=true]) h1.SubHeading {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) h1.SubHeading::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Only use <H2/> or lower for .SubHeading" !important;
  }
}
@media screen {
  p.Sharpie,
ol.Sharpie,
ul.Sharpie,
li.Sharpie,
div.Sharpie {
    color: inherit;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) p.Sharpie,
html:not([data-disable-css-warnings-with-abandon=true]) ol.Sharpie,
html:not([data-disable-css-warnings-with-abandon=true]) ul.Sharpie,
html:not([data-disable-css-warnings-with-abandon=true]) li.Sharpie,
html:not([data-disable-css-warnings-with-abandon=true]) div.Sharpie {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) p.Sharpie::before,
html:not([data-disable-css-warnings-with-abandon=true]) ol.Sharpie::before,
html:not([data-disable-css-warnings-with-abandon=true]) ul.Sharpie::before,
html:not([data-disable-css-warnings-with-abandon=true]) li.Sharpie::before,
html:not([data-disable-css-warnings-with-abandon=true]) div.Sharpie::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "Only use `Sharpie` on inline elements" !important;
  }

  .Sharpie--green {
    color: #0a662b;
  }

  .Sharpie--red {
    color: #d8222f;
  }
}
@media screen {
  .VSpacer[class] {
    margin: 0;
    margin-top: var(--component-vspace--medium);
    margin-bottom: var(--component-vspace--medium);
  }

  .VSpacer--small[class] {
    margin-top: var(--component-vspace--small);
    margin-bottom: var(--component-vspace--small);
  }

  .VSpacer--large[class] {
    margin-top: var(--component-vspace--large);
    margin-bottom: var(--component-vspace--large);
  }

  .VSpacer--xlarge[class] {
    margin-top: var(--component-vspace--xlarge);
    margin-bottom: var(--component-vspace--xlarge);
  }

  .VSpacer--top--none[class] {
    margin-top: 0;
  }

  .VSpacer--top--small[class] {
    margin-top: var(--component-vspace--small);
  }

  .VSpacer--top--large[class] {
    margin-top: var(--component-vspace--large);
  }

  .VSpacer--top--xlarge[class] {
    margin-top: var(--component-vspace--xlarge);
  }

  .VSpacer--bottom--none[class] {
    margin-bottom: 0;
  }

  .VSpacer--bottom--small[class] {
    margin-bottom: var(--component-vspace--small);
  }

  .VSpacer--bottom--large[class] {
    margin-bottom: var(--component-vspace--large);
  }

  .VSpacer--bottom--xlarge[class] {
    margin-bottom: var(--component-vspace--xlarge);
  }

  br.VSpacer[class],
hr.VSpacer[class] {
    display: block;
    height: 0;
    border: 0;
    margin-bottom: 0;
  }

  br.VSpacer + [class],
hr.VSpacer + [class] {
    margin-top: 0;
  }

  .VSpacer--top--none.VSpacer--bottom--none {
    margin-top: var(--component-vspace--small);
    margin-bottom: var(--component-vspace--small);
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .VSpacer--top--none.VSpacer--bottom--none {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) .VSpacer--top--none.VSpacer--bottom--none::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "VSpacer can't be both `--top--none` and  `--bottom--none`" !important;
  }

  html:not([data-disable-css-warnings-with-abandon=true]) [class*=VSpacer--top--][class*=VSpacer--bottom--] .VSpacer--small {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) [class*=VSpacer--top--][class*=VSpacer--bottom--] .VSpacer--small::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "The class-name `.VSpacer--small` is redundant" !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) [class*=VSpacer--top--][class*=VSpacer--bottom--] .VSpacer--large {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) [class*=VSpacer--top--][class*=VSpacer--bottom--] .VSpacer--large::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "The class-name `.VSpacer--large` is redundant" !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) [class*=VSpacer--top--][class*=VSpacer--bottom--] .VSpacer--xlarge {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  html:not([data-disable-css-warnings-with-abandon=true]) [class*=VSpacer--top--][class*=VSpacer--bottom--] .VSpacer--xlarge::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: "The class-name `.VSpacer--xlarge` is redundant" !important;
  }
}
@media screen {
  .ArticleMeta {
    color: var(--color-suld-150);
    margin-bottom: 0.5rem;
  }

  .ArticleMeta__item:not(:last-child)::after {
    content: " | ";
    margin: 0 0.25em;
    text-decoration: none;
    color: var(--color-suld-150);
  }

  .ArticleMeta + .Heading {
    margin-top: 0;
  }
}