@charset "UTF-8";
@media screen {
  .WizardStepper {
    counter-reset: step;
  }

  .WizardStepper__step {
    --WizardStepper-ballBackground: #f1f2f3;
    --WizardStepper-ballColor: #c7cbd0;
    --WizardStepper-lineColor: #e3e5e7;
    display: block;
    line-height: 1.35;
    padding: 0.75rem 0;
    padding-left: 2.5rem;
    margin: -0.75rem 0 0 -0.75rem;
    box-sizing: content-box;
    line-height: 1.125rem;
    position: relative;
    margin-bottom: 2.125rem;
    font-size: 0.75rem;
    color: #707275;
  }
  .WizardStepper__step::before {
    content: counter(step);
    counter-increment: step;
    width: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: var(--WizardStepper-ballBackground);
    border-radius: 50%;
    color: var(--WizardStepper-ballColor);
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
  }
  .WizardStepper__step::after {
    content: "";
    position: absolute;
    top: 2.375rem;
    bottom: -1.5rem;
    left: 1.1875rem;
    width: 0.125rem;
    background: var(--WizardStepper-lineColor);
  }
  .WizardStepper__step:last-child::after {
    content: none;
  }

  button.WizardStepper__step:hover,
button.WizardStepper__step:active {
    color: var(--link-color--hover);
    text-decoration: underline;
  }

  .WizardStepper__step--done,
.WizardStepper__step[aria-current=step] {
    color: #0367e1;
    --WizardStepper-ballBackground: #0367e1;
    --WizardStepper-ballColor: #ffffff;
    --WizardStepper-ballIcon: "";
  }
  .WizardStepper__step--done::before,
.WizardStepper__step[aria-current=step]::before {
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    content: var(--WizardStepper-ballIcon);
    font-size: 0.75rem;
  }

  .WizardStepper__step--done {
    --WizardStepper-ballBackground: #81bbf0;
    --WizardStepper-ballIcon: "";
    --WizardStepper-lineColor: #0367e1;
  }

  .WizardStepper__step:first-child:not(.WizardStepper__step--done):not([aria-current=step]),
.WizardStepper__step--done + .WizardStepper__step:not(.WizardStepper__step--done):not([aria-current=step]) {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.5) !important;
  }
  .WizardStepper__step:first-child:not(.WizardStepper__step--done):not([aria-current=step])::before,
.WizardStepper__step--done + .WizardStepper__step:not(.WizardStepper__step--done):not([aria-current=step])::before {
    all: initial !important;
    order: -999 !important;
    font-family: sans-serif !important;
    position: absolute !important;
    white-space: nowrap !important;
    z-index: 2 !important;
    font-size: 12px !important;
    line-height: 1.5em !important;
    color: red !important;
    background-color: rgba(255, 230, 230, 0.5) !important;
    padding: 0 0.5em !important;
    content: 'You forgot aria-current="step".' !important;
  }
}
@media screen and (max-width: 759px) {
  .WizardStepper__step {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0.625rem;
    padding-bottom: 1.5625rem;
  }
}
/*# sourceMappingURL=WizardStepper.css.map */