@charset "UTF-8";
/*!@deps
	WizardLayout
*/
@media screen {
  .WizardLayout {
    min-height: 100vh;
    width: 100%;
    max-width: 75.5rem;
    margin: 0 auto;
    position: relative;
  }

  .WizardLayout__alerts {
    max-height: 1000px;
    overflow: hidden;
    margin: 0 -0.625rem;
    transition: max-height 400ms ease-in;
  }
}
@media screen and (min-width: 760px) {
  .WizardLayout__alerts {
    margin: 0;
  }
}
@media screen {
  .WizardLayout__alerts .Alert {
    margin: 1rem 0 0 0;
  }
}
@media screen {
  .WizardLayout__content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }
}
@media screen {
  .WizardLayout__header {
    position: relative;
    z-index: 3;
    height: var(--Layout__header-height);
    display: flex;
    align-items: center;
  }
}
@media screen {
  .WizardLayout__header__logo {
    --link-color: _inherit;
    --link-weight: _inherit;
    --link-underline: none;
    --link-color--hover: var(--link-color);
    --link-underline--hover: none;
    --link-underline-offset: 0;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 11.375rem;
    height: 3.3125rem;
  }
  .WizardLayout__header__logo > svg, .WizardLayout__header__logo > img, .WizardLayout__header__logo > * > svg, .WizardLayout__header__logo > * > img {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 0% 50%;
       object-position: 0% 50%;
    margin-right: 0.625rem;
    margin-left: -1px;
  }
}
@media screen and (max-width: 979px) {
  .WizardLayout__header__logo {
    margin: -0.625rem;
    padding: 0.625rem;
    overflow: hidden;
    box-sizing: content-box;
  }
  .WizardLayout__header__logo > div {
    display: inline-block;
  }
  .WizardLayout__header__logo > svg, .WizardLayout__header__logo > img, .WizardLayout__header__logo > * > svg, .WizardLayout__header__logo > * > img {
    width: 11.5625rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 1.3125rem;
  }
}
@media screen {
  .WizardLayout__wrap {
    flex-grow: 1;
    position: relative;
    z-index: 2;
  }
}
@media screen {
  .WizardLayout__deco {
    display: none;
  }
}
@media screen and (max-width: 759px) {
  body {
    --grid--margin: var(--space-2);
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin--right);
  }

  .WizardLayout__wrap {
    padding-left: 3rem;
  }

  .WizardLayout__stepper {
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    padding-top: 0.5rem;
    margin-left: -2.5rem;
    width: 1.5rem;
  }
}
@media screen and (min-width: 760px) {
  .WizardLayout {
    position: static;
  }

  .WizardLayout__header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .WizardLayout__alerts {
    margin-left: 0.5rem;
    max-width: 936px;
  }

  .WizardLayout__wrap {
    width: var(--grid-10);
    display: flex;
    padding-left: 1rem;
  }

  .WizardLayout__stepper {
    flex-shrink: 1;
    width: 10.625rem;
    margin-right: 1.875rem;
  }

  .WizardLayout__main {
    flex-shrink: 1;
    width: 100%;
    max-width: 580px;
  }
}
@media screen and (min-width: 980px) {
  .WizardLayout::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc((100vw / 2) - (75.5rem / 3));
    background: #f1f2f3;
  }

  .WizardLayout__main {
    min-height: 600px;
  }
}
@media screen and (min-width: 1368px) {
  .WizardLayout__header {
    padding: 2.5rem 0.5rem 3.75rem;
  }

  .WizardLayout__progress {
    margin-right: 3.4375rem;
  }

  .WizardLayout__deco {
    display: block;
    position: absolute;
    top: 100px;
    right: -121px;
  }

  .WizardLayout__deco--geometry {
    background: url(/assets/WizardLayout-deco.png) 0 0 no-repeat;
    width: 217px;
    height: 468px;
  }
}
@media screen {
  .WizardLayoutClose {
    font: var(--font-bd-s);
    position: absolute;
    z-index: 5;
    right: 0;
    top: 1.25rem;
    color: #2a2b2c;
    font-weight: 700;
  }

  .WizardLayoutClose::after {
    content: "";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    vertical-align: top;
    font-family: "icons", Arial, Helvetica, sans-serif;
    speak: none;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0;
    font-size: 0.8125rem;
    margin-left: 0.8125rem;
    padding-top: 0.0625rem;
  }
}
@media screen and (min-width: 760px) {
  .WizardLayoutClose {
    right: 1.875rem;
    top: calc(4.2763157895vw + -2.5px);
  }
}
@media screen and (min-width: 980px) {
  .WizardLayoutClose {
    top: 3.5rem;
  }
}
@media screen and (min-width: 1368px) {
  .WizardLayoutClose {
    top: 3.5rem;
    right: calc((100vw / 2) - (75.5rem / 2));
  }
}
.Layout {
  display: flex;
  flex-flow: column nowrap;
}