@use 'vars' as *;
@use 'utils' as *;
@use 'utils/normalize' as *;

@include normalize();

:root {
	--foo-color: #{$color-blue};
	--foo-color2: red;
}

@media screen {
	body {
		color: var(--foo-color);
		width: prem(30);
		z-index: num(200rem);
		foobar: cols_pct(2);

		@media #{$mq-phablet_tablet} {
			color: var(--foo-color2);
		}
	}
}
