@use '_globals' as *;
@use 'utils/normalize' as *;
@use 'utils/writeMediaFormatMarkers' as *;

@include normalize();
/*! Reykjavík Design System basic CSS styles */

:root {
	--foo-color: #{$color-suld-200};
	--foo-color2: red;
}

@media screen {
	body {
		color: var(--foo-color);
		width: prem(30);
		z-index: num(200rem);
		foobar: cols_pct(2);

		@media #{$mq-phablet_tablet} {
			color: var(--foo-color2);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		font-weight: inherit;
		font-size: inherit;
	}

	a[href='#'] {
		@include WARNING__('Use <button/> instead');
	}

	button {
		@include buttonReset();
	}
}

@include writeMediaFormatMarkers($mediaFormats, 'body', _isDevMode());
