@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;
@use 'styles/theme' as *;
@use 'styles/cssVariables' as *;
@use 'utils/scssutils/normalize' as *;
@use 'utils/scssutils/writeMediaFormatMarkers' as *;

@use 'BlockBreak';
@use 'SeenEffect';

@include normalize();
/*! Reykjavík Design System basic CSS styles */

@font-face {
	font-family: $iconfont-name;
	font-weight: normal;
	font-style: normal;
	font-display: block;
	$version: '?' + fileChecksum('public/css/dev/i/icons.woff2');
	src: url('i/icons.woff2' + $version) format('woff2'),
		url('i/icons.woff' + $version) format('woff');
}

@font-face {
	font-family: $font-family-name;
	font-weight: $font-weight--normal;
	font-style: normal;
	font-display: block;
	src: url('/assets/L15-regular.woff2') format('woff2'),
		url('/assets/L15-regular.woff') format('woff');
}
@font-face {
	font-family: $font-family-name;
	font-weight: $font-weight--bold;
	font-style: normal;
	font-display: block;
	src: url('/assets/L15-bold.woff2') format('woff2'),
		url('/assets/L15-bold.woff') format('woff');
}

@include theme();
@include cssVariables();

@media screen {
	*,
	*::before,
	*::after {
		flex-shrink: 0;
		box-sizing: border-box;
	}
	[hidden][hidden],
	[aria-hidden][aria-hidden='true'] {
		display: none;
	}

	@include setDefaultKeyboardFocusStyle {
		@include LinkStyle--focusOutline();
	}
	@include setDefaultNonKeyboardFocusStyle {
		outline: none;
		outline-offset: 0;
	}

	html {
		min-height: 100vh;
		min-width: 320px;
		box-sizing: border-box;
		overflow-x: hidden;
		position: relative;

		// "Fix" nasty/smudgy font rendering on mac
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		background-color: $color-suld-0;
		color: $color-suld-200;

		font-family: $font-family;
		font-weight: 400;
		font-size: px($font-base-size);
		line-height: px($font-base-leading);
		// quotes: auto; // Doesn't work in most browsers yet... See: https://developer.mozilla.org/en-US/docs/Web/CSS/quotes#Browser_compatibility
		quotes: '“' '”' '‘' '’'; // English style as "normal-looking" fallback
	}
	*:lang(is) {
		quotes: '„' '“' '‚' '‘';
	}

	html.modal-open {
		overflow: hidden;
		margin-right: $var--browser-scrollbar-width;
	}

	body {
		// This overflow-x rule prevents sideways scrolling in Safari –
		// which "helpfully" ignores `overflow-x:hidden;` on `<html/>`.
		//
		// This, however, prevents us from using `position:sticky;`
		// anywhere on the page. So far that has not been needed, but
		// it's a surprising arbitrary limitation that we would love
		// to avoid.
		//
		// TODO: ???
		// The less destructive way to fix this, requires us to
		// refactor any and all overflowing components to apply
		// `overflow-x:hidden;` themselves. Ack!
		//
		overflow-x: hidden;
	}

	*:first-child {
		margin-top: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
		font-weight: inherit;
		font-size: inherit;
	}

	p,
	ul,
	ol,
	dl,
	table,
	blockquote {
		margin: 0;
	}

	p ul,
	p ol,
	p div,
	p p,
	p dl,
	p blockquote {
		@include WARNING__('No block-level tags inside <p/>');
	}

	address {
		font-style: normal;
	}

	img,
	video {
		width: 100%;
		height: auto;
		display: block;
	}
	iframe {
		width: 100%;
		display: block;
	}
	iframe:not([frameborder='yes']) {
		border: 0;
	}

	table {
		border-collapse: separate;
	}
	th,
	td {
		padding: 0;
	}

	abbr {
		cursor: help;
	}

	a[href^='tel:']:not([class]) {
		color: inherit;
	}
	a {
		@include LinkStyle();
	}
	a[href='#'],
	a:not([href]) {
		@include WARNING__('Use <button/> instead');
	}
	button[href] {
		@include WARNING__('Use <a href=""/>');
	}

	button {
		@include buttonReset();
	}
	button:disabled {
		cursor: auto;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	input,
	textarea,
	select {
		font-size: inherit;
		line-height: inherit;
		padding: 0;
	}
	input:invalid {
		box-shadow: none; // reset red default browser stylesheet box-shadow
	}
	[disabled],
	[aria-disabled='true'] {
		cursor: default;
	}

	ol {
		padding-left: 1.5em;
	}
	li ol {
		margin-bottom: 0;
	}
	ol {
		counter-reset: ol;
		list-style: none;
	}
	ol > li::before {
		counter-increment: ol;
		content: counter(ol) '. ';
		float: left;
		min-width: 2.5em;
		text-align: right;
		margin: 0 0.5em -0.5em -2.8em;
	}
	ol[type='a'], // <-- NOTE: non-scripted <ol> styling is limited
	ol[data-oltype='a'] > li::before {
		content: counter(ol, lower-alpha) '. ';
	}
	ol[data-oltype='A'] > li::before {
		content: counter(ol, upper-alpha) '. ';
	}
	ol[type='i'], // <-- NOTE: non-scripted <ol> styling is limited
	ol[data-oltype='i'] > li::before {
		content: counter(ol, lower-roman) '. ';
	}
	ol[data-oltype='I'] > li::before {
		content: counter(ol, upper-roman) '. ';
	}
	:not(ul):not(ol) > li {
		@include WARNING__('<li/> must be inside <ol/> or <ul/>');
	}
	ol > :not(li),
	ul > :not(li) {
		@include WARNING__('Lists may only contain <ll/>s');
	}

	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
	}
	legend {
		float: left; // HACK: Trigger correct positioning within <fieldset>
	}
	:not(fieldset) > legend {
		@include WARNING__('<legend/> must be first-child of <fieldset/>');
	}
	legend + * {
		clear: both;
	}

	// ===========================================================================

	table {
		@include BodyTextStyle--small();
		border-collapse: collapse;
		margin-bottom: $var--baseVerticalMargin;
	}
	caption {
		text-align: left;
	}
	th,
	td {
		text-align: left;
		vertical-align: top;
		padding: prem(1 * $grid-unit) prem(2 * $grid-unit);
		color: $color-suld-150;
		font-weight: $font-weight--normal;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	thead > * > th {
		font-weight: $font-weight--bold;
		vertical-align: bottom;
	}
	tbody > * > th,
	tbody > * > td {
		border: 1px solid $color-suld-75;
		border-width: 1px 0;
	}

	// ---------------------------------------------------------------------------

	@include BlockBreak.css();
	@include SeenEffect.css();
}

// ===========================================================================
// HACK: Drupal admin styles
// TODO: Get 1XInternet to cleanly insert these styles themselves
// for logged-in Drupal editors
// ===========================================================================
@media screen {
	[class].visually-hidden {
		@include sr-only();
	}
	.local-tasks {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 99999;
		background: $color-ellidarardalur-50;
		box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(57, 103, 76, 0.4);
		padding: 0.75rem;
	}
	.local-tasks ul {
		display: flex;
		border-bottom: 1px solid $color-suld-100;
	}
	.local-tasks li {
		margin-bottom: -1px;
	}
	.local-tasks li a {
		font-weight: 400;
		display: block;
		color: $color-suld-150;
		padding: 0.5rem 1rem;
		border: 1px solid transparent;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}
	.local-tasks li a.is-active {
		color: $color-suld-200;
		background-color: $color-suld-0;
		border-color: $color-suld-100 $color-suld-100 $color-suld-0;
	}
}
// ===========================================================================

@include writeMediaFormatMarkers($mediaFormats, $visible: isDevMode());
