@use '_globals' as *;
@use 'styles/font' as *;

@mixin css() {
	.AuxiliaryPanel {
		--link-color: var(--menu-auxiliary-text);
		--link-weight: $font-weight-normal;
	}

	.AuxiliaryPanel__title {
		color: $var--menu-auxiliary-text;
		font-weight: $font-weight--bold;

		border-bottom: 1px solid fade($color-faxafloi-100, 20%);

		margin-right: cols_pct(1, 0, 4); //TODO:
		margin-bottom: prem(24);
		padding-bottom: prem(16);
	}

	.AuxiliaryPanel__item {
		margin-bottom: prem(8px);
	}

	// ===========================================================================

	@include media($mq-Hamburger) {
		.AuxiliaryPanel {
			background-color: $var--menu-auxiliary-background;
			padding-top: prem(40);
			flex-grow: 1;

			@include extendSides();
		}

		.AuxiliaryPanel__title {
			@include SubheadingStyle--small();
			margin-left: var(--MainMenu--offsetLeft);
			margin-bottom: prem(8);
			padding-bottom: prem(8);
			margin-right: 0;

			max-width: percentage(140/365);
			min-width: prem(140);
		}

		.AuxiliaryPanel__items {
			padding-left: var(--MainMenu--offsetLeft);
			margin-bottom: grid-units(4);
		}

		.AuxiliaryPanel::after {
			content: '';

			background: 50% 100% / 100% auto no-repeat;
			background-image: url(i/ContactBubble/mynd.svg);

			display: block;
			padding-top: percentage(115 / 325);
		}

		html.menu-is-open .AuxiliaryPanel::after {
			transition: visibility 600ms 0s linear, opacity 2.8s;
		}
		html.menu-is-closed .AuxiliaryPanel::after {
			visibility: hidden;
			opacity: 0;
		}
		html.menu-is-closed .AuxiliaryPanel::after {
			transition: visibility 0s 300ms linear, opacity 300ms;
		}
	}

	// ===========================================================================

	@include media($mq-Topmenu) {
		.AuxiliaryPanel {
			grid-column: span 4;

			padding-top: $var--Layout__header-height;
			padding-left: $var--grid-1-1;
		}

		.AuxiliaryPanel::after {
			content: '';

			background: 50% 0 / auto 305px no-repeat;
			background-image: $var--menu-auxiliary-image;

			margin: prem(40) 0;
			display: block;
			height: 305px;
		}

		.AuxiliaryPanel__items {
			margin-right: cols_pct(1, 0, 4);
		}
	}
}
