@use '_globals' as *;
@use 'styles/font' as *;

@mixin css() {
	@media screen {
		.GalleryModalItem {
			width: 100%;
			display: flex;
			flex-flow: column;
			align-items: center;

			transition: all 200ms ease-in;
			transition-property: opacity;

			@include media($mq-netbook_up) {
				flex-flow: row;
			}
		}

		.GalleryModalItem---enter > .GalleryModalItem__image {
			opacity: 0;
		}

		.GalleryModalItem---enter > .GalleryModalItem__text > .GalleryModalItem__caption,
		.GalleryModalItem---enter
			> .GalleryModalItem__text
			> .GalleryModalItem__description {
			opacity: 0;
		}
		.GalleryModalItem---enter-done
			> .GalleryModalItem__text
			> .GalleryModalItem__caption,
		.GalleryModalItem---enter-done
			> .GalleryModalItem__text
			> .GalleryModalItem__description {
			opacity: 1;
		}

		.GalleryModalItem---enter-done > .GalleryModalItem__image {
			opacity: 1;
		}

		.GalleryModalItem__text {
			background: $var--theme-color-primary;
			color: $color-suld-0;
			margin-top: prem(20);
			padding: prem(24);

			@include media($mq-netbook_up) {
				margin-top: 0;
				width: cols_pct(3, 3);
				min-height: 392px;
				display: flex;
				flex-flow: column;
				justify-content: center;
			}
		}

		.GalleryModalItem__caption {
			margin-bottom: prem(16);
			@include SubheadingStyle--small();
		}

		.GalleryModalItem__image {
			order: -1;
			@include media($mq-netbook_up) {
				width: cols_pct(7, 8);
				margin-left: auto;
				margin-right: cols_pct(1);
				order: initial;
			}
		}
		.GalleryModalItem__image > img {
			width: auto;
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}

		.GalleryModalItem__caption,
		.GalleryModalItem__description,
		.GalleryModalItem__image {
			transition: all 200ms ease-in;
			transition-property: opacity;
		}
	}
}
