@use '_globals' as *;

@mixin css() {
	.PrimaryPanel {
		--link-color: var(--menu-primary-text);
		--link-color--hover: var(--menu-primary-hover);

		align-content: flex-start;
		display: none;

		background-color: $color-faxafloi-100;
	}

	// ===========================================================================

	@include media($mq-Hamburger) {
		.PrimaryPanel {
			padding-bottom: prem(24);
			padding-left: var(--MainMenu--offsetLeft);

			html.menu-is-active & {
				display: none;
			}

			[data-pristine='true'] & {
				display: block;
			}
		}

		html.menu-is-active .PrimaryPanel--active {
			display: block;
		}

		.PrimaryPanel__title,
		.PrimaryPanel__summary {
			@include sr-only();
		}

		.PrimaryPanel__item {
			margin-bottom: prem(16);
		}
	}

	// ===========================================================================

	@include media($mq-Topmenu) {
		.PrimaryPanel {
			--PrimaryPanel-columns: 8;
			grid-template-columns: repeat(var(--PrimaryPanel-columns), minmax(0, 1fr));

			padding-top: $var--Layout__header-height;
			padding-bottom: prem(125); // clear .MainMenu__megapanel__backtomenu
			grid-column: 2 / span 7;
			column-gap: $var--grid-gutter;
		}
		.PrimaryPanel--active {
			display: grid;
		}

		.PrimaryPanel--twocol {
			grid-column: span var(--PrimaryPanel-columns);
		}

		.PrimaryPanel__title {
			color: $var--menu-primary-text;

			border-bottom: 1px solid fade($color-suld-0, 20%);

			margin-right: cols_pct(1, 0, 5);
			margin-bottom: prem(24);
			padding-bottom: prem(16);

			font-weight: $font-weight--bold;

			grid-column: span 5;
		}
		.PrimaryPanel--twocol .PrimaryPanel__title {
			grid-column: span var(--PrimaryPanel-columns);
			margin-right: cols_pct(1, 0, 8);
		}

		.PrimaryPanel__items {
			grid-column: span 4;
			padding-right: cols_pct(1, 0, 4);
		}
		.PrimaryPanel--twocol .PrimaryPanel__items {
			grid-column: span var(--PrimaryPanel-columns);
			display: grid;
			column-gap: $var--grid-gutter;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			padding-right: 0;
		}

		.PrimaryPanel__item {
			margin-bottom: prem(24);
		}
		.PrimaryPanel--twocol .PrimaryPanel__item {
			padding-right: cols_pct(1, 0, 4);
		}

		.PrimaryPanel__linkTitle {
			font-size: prem($font-size-20);
			line-height: prem(32);
		}

		.PrimaryPanel__summary {
			display: block;
			font-size: inherit; // override default <small> styling
			font-weight: $font-weight--normal;
		}
	}
}
