@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.Accordion__item {
		margin-bottom: grid-units(10);
	}
	.Accordion__item--disabled {
		opacity: 0.5;
	}

	.Accordion__button {
		@include BodyTextStyle--large();
		color: $color-faxafloi-100;
		display: flex;
		align-items: flex-start;
	}
	button.Accordion__button:not([aria-controls]) {
		@include WARNING__('`aria-controls` missing.');
	}
	.Accordion__button:hover,
	.Accordion__button:focus,
	.Accordion__button:active {
		color: $color-faxafloi-150;
	}

	.Accordion__button:before {
		@include icon($icons-close);
		font-size: prem(18);
		color: $color-suld-200;
		width: prem(24);
		margin-right: prem(24);
		transform: rotateZ(45deg);
		transition: transform 100ms ease-in-out;
	}
	.Accordion__button[aria-pressed='true']:before {
		transform: rotateZ(0);
	}
	.Accordion__button:hover::before,
	.Accordion__button:focus::before,
	.Accordion__button:active::before {
		color: $color-faxafloi-150;
	}

	.Accordion__content {
		@include BodyTextStyle--large();
		padding-left: prem(48);
		transition: all 200ms ease-in-out;
		transition-property: opacity, visibility, max-height, padding-top;
		overflow: hidden;
		padding-top: grid-units(4);
		max-height: 3000px; // DECIDE: is this enough?
		opacity: 1;
	}

	.before-sprinkling > .Accordion__content {
		display: none;
	}
	.Accordion[data-sprinkled] > .Accordion__content {
		display: none;
	}
	.Accordion__content[hidden] {
		display: block; // override default
		padding-top: 0;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

@media #{$mq-netbook_up} {
	.Accordion {
		width: cols_pct(8);
	}

	.Accordion__button {
		width: cols_pct(5, 4, 8);
	}
	.Accordion__button:before {
		width: cols_pct(1, 0, 5);
		margin-right: cols_pct(0, 1, 5);
	}

	.Accordion__content {
		padding-left: cols_pct(1, 1, 8);
	}
}
