@use 'globals' as *;
@use 'styles/font' as *;

@function _between($from, $to) {
	@return between_container($from, $to, cols_px(8));
}

@media screen {
	.AccordionList {
		max-width: cols_px(8);
		padding-left: var(--leftIndent);

		--leftIndent: #{between_phone_phablet(32, 48)};
		--iconWidth: #{between_phone_phablet(24, 36)};
		@include media($mq-tablet_netbook) {
			--leftIndent: #{cols_pct(1, 1)};
			--iconWidth: #{cols_pct(1)};
		}
		@include media($mq-wide) {
			--leftIndent: #{cols_px(1, 1)};
			--iconWidth: #{cols_px(1)};
		}
	}
	.AccordionList--wide {
		max-width: cols_px(11);
	}

	.AccordionList__item {
		margin-bottom: grid-units(10);
	}
	.AccordionList__item--disabled {
		opacity: 0.5;
	}

	.AccordionList__title {
		@include BodyTextStyle--large();
		font-weight: $font-weight--bold;
		color: $color-faxafloi-100;
	}
	.AccordionList__button {
		color: inherit;
		// Close enough, whatever. This is only to make the padding zone between icon and button text clickable.
		margin-left: calc(-1 * var(--leftIndent));
		padding-left: var(--leftIndent);
	}
	button.AccordionList__button:not([aria-controls]) {
		@include WARNING__('`aria-controls` missing.');
	}
	.AccordionList__button:hover,
	.AccordionList__button:focus,
	.AccordionList__button:active {
		color: $color-faxafloi-150;
	}
	.AccordionList__button[disabled] {
		color: $color-faxafloi-100;
	}

	.AccordionList__button::before {
		@include icon($icons-close);
		position: absolute;
		left: 0;
		width: var(--iconWidth);
		font-size: em(18/20);
		color: $color-suld-200;
		transform: rotateZ(45deg);
		transition: transform 100ms ease-in-out;
	}
	.AccordionList__button[aria-pressed='true']::before,
	.AccordionList__button[aria-expanded='true']::before {
		transform: rotateZ(0);
	}
	.AccordionList__button:hover::before,
	.AccordionList__button:focus::before,
	.AccordionList__button:active::before {
		color: $color-faxafloi-150;
	}

	// ---------------------------------------------------------------------------

	.AccordionList__content {
		@include BodyTextStyle--large();
		transition: all 200ms ease-in-out;
		transition-property: opacity, visibility, max-height, padding-top;
		overflow: hidden;
		padding-top: grid-units(4);
		max-height: 3000px; // DECIDE: is this enough?
		opacity: 1;
	}

	html.before-sprinkling .AccordionList__content {
		display: none;
	}
	.AccordionList__item[data-sprinkled] > .AccordionList__content {
		display: block;
	}
	.AccordionList__content[hidden] {
		display: block; // override default
		padding-top: 0;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

@media #{$mq-netbook_up} {
}
