@use 'globals' as *;
@use 'styles/cards' as *;

@media screen {
	.ActionCards {
		@include CardBlock();
		margin-bottom: between_cols(60, 100);
	}
	.ActionCards__title {
		@include CardListTitle();
	}
	.ActionCards__list {
		@include CardList();
	}
	.ActionCards__card {
		@include Card();
		border: 1px solid $color-suld-75;
		--link-color--hover: #{$color-suld-200};
		--link-focus-outline: 0;
	}
	.ActionCards__card:hover,
	.ActionCards__card:focus,
	.ActionCards__card:active {
		--Card-lineColor: #{$var--color-theme-primary--safeish};
		border: 1px solid $var--color-theme-primary--safeish;
	}
}
