@use 'globals' as *;
@use 'styles/cards' as *;

@include Card('ActionCards');

@media screen {
	.ActionCards__card {
		border: 1px solid $color-suld-75;
	}
}

@media #{$mq-tablet_up} {
	.ActionCards__title {
		margin-bottom: grid-units(5);
	}

	.ActionCards__card:hover,
	.ActionCards__card:focus,
	.ActionCards__card:active {
		border-color: $color-faxafloi-100;
		text-decoration: none;
		outline: none;
		color: $color-faxafloi-100;

		.ActionCards__card__summary:after {
			background-color: $color-faxafloi-100;
		}
	}
}
