@use 'globals' as *;
@use 'styles/cards' as *;

@include Card('ActionCards');

@media screen {
	.ActionCards__title {
		margin-bottom: between_phone_netbook(20, 40);
	}

	.ActionCards__card {
		border: 1px solid $color-suld-75;
		--link-color--hover: #{$color-suld-200};
		--link-focus-outline: 0;
	}
	.ActionCards__card:hover,
	.ActionCards__card:focus,
	.ActionCards__card:active {
		--Card-lineColor: #{$var--color-theme-primary--safeish};
		border: 1px solid $var--color-theme-primary--safeish;
	}
}
