@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/carousel' as *;
@use 'styles/buttons' as *;
@use 'styles/links' as *;

@media screen {
	.ArticleCarousel {
	}

	.ArticleCarousel__title {
		@include HeadingStyle--medium();
		margin-bottom: between_phone_netbook(32, 72);

		@include media($mq-wide) {
			margin-bottom: prem(72);
		}
	}

	.ArticleCarousel__track {
		display: flex;
		flex-flow: row;
	}

	.ArticleCarouselCard {
		border: 2px solid $color-suld-75;
		border-top: 0;
		width: $var--grid-5;
		min-width: 330px;

		padding: prem(21) $var--grid-column between_phone_netbook(24, 72);
		margin-right: $var--grid-gutter;
		position: relative;

		@include media($mq-wide) {
			padding-bottom: prem(72);
		}
	}

	.ArticleCarouselCard::before {
		content: '';
		display: block;
	}

	.ArticleCarouselCard::after {
		content: '';
		display: block;
		height: prem(21);
		background-color: $color-faxafloi-100;
		position: absolute;
		top: 0;
		right: -2px;
		left: -2px;
	}

	$colors: (
		'faxafloi': $color-faxafloi-100,
		'nautholsvik': $color-nautholsvik-100,
		'heidmork': $color-heidmork-100,
		'ellidarardalur': $color-ellidarardalur-100,
		'blafjoll': $color-blafjoll-100,
		'sund': $color-sund-100,
		'rokkur': $color-rokkur-100,
		'suld': $color-suld-100,
	);

	@each $colorName, $color in $colors {
		.ArticleCarouselCard--#{$colorName}::after {
			background-color: $color;
		}
	}

	.ArticleCarouselCard__link {
		@include LinkStyle_Reset(noborder);
	}

	.ArticleCarouselCard__illustration {
		position: relative;
		padding-top: percentage(300/ ($grid-column * 3 + 4 * $grid-gutter));
		display: block;
	}

	.ArticleCarouselCard__illustration > img {
		position: absolute;
		top: 0;
		left: $var--grid-column--neg;
		left: $var--grid-column--neg;
		right: $var--grid-column--neg;
		width: calc(100% + #{$var--grid-column} + #{$var--grid-column});
		height: 100%;
		object-fit: contain;
		object-position: center;
	}

	.ArticleCarouselCard__title {
		@include SubheadingStyle--large();
		margin-bottom: prem(32);
	}

	.ArticleCarouselCard__date {
		@include BodyTextStyle--small();
		color: $color-suld-150;
		margin-bottom: prem(16);
		display: block;
	}

	.ArticleCarouselCard__summary {
		@include BodyTextStyle--small();
		margin-bottom: prem(24);
	}

	.ArticleCarouselCard__morelink {
		@include ButtonTertiaryStyle($mode: simple);
	}

	.ArticleCarousel__stepper {
		@include CarouselStepper();
		@include media($mq-tablet_up) {
			margin-left: 0;
			margin-top: prem(24);
		}
	}
}
