@use '_globals' as *;

@media screen {
	.TableWrapper {
		position: relative;
		overflow-x: auto;
	}
	.TableWrapper:not(.TextBlock .TableWrapper) {
		@include SeenEffect--fadeup();
	}
	.TableWrapper--BasicTable--align--right {
		@include media($mq-tablet_up) {
			margin-left: auto;
			width: $var--grid-7; // tolerate containment by right-aligned TextBlock, for instance
		}
	}

	.TableWrapper > table,
	.TableWrapper > * > table {
		margin: 0;
	}

	.TableWrapper--at::before,
	.TableWrapper--at::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: prem(20);
		background-image: linear-gradient(
			90deg,
			rgba(black, 0.1) 0,
			rgba(black, 0.04) 50%,
			transparent 100%
		);
		pointer-events: none;
		transition: opacity 200ms ease-in;
	}
	.TableWrapper--at::after {
		left: auto;
		right: 0;
		transform: scaleX(-1);
	}

	.TableWrapper--at--start::before {
		// content: none
		opacity: 0;
	}
	.TableWrapper--at--end::after {
		// content: none
		opacity: 0;
	}
	.TableWrapper__scroller {
		overflow-x: auto;
	}
}
@include media($mq-phone_tablet) {
	.TableWrapper {
		margin: 0 $var--grid-edge--neg;
	}
	.TableWrapper__scroller {
		padding: 0 $var--grid-edge;
		// border-right: $var--browser-scrollbar-width solid transparent; // push away fromunder
	}
}

// ===========================================================================

@media screen {
	.BasicTable,
	.TableWrapper--BasicTable > table {
		min-width: 100%;
	}
	.BasicTable,
	.TableWrapper--BasicTable {
		margin-bottom: prem(30);
	}

	.BasicTable > * > * > th,
	.BasicTable > * > * > td {
		padding: between(12, 24) between(16, 30);
		text-align: left;
		vertical-align: center;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: prem(12);
		}

		@media #{$mq-wide} {
			padding: prem(24);
		}
	}
	.BasicTable > thead > * > th {
		padding-bottom: between(8, 18);

		@media #{$mq-wide} {
			padding-bottom: prem(18);
		}
	}

	.BasicTable--compact > * > * > th,
	.BasicTable--compact > * > * > td {
		padding: between(6, 12);

		@media #{$mq-wide} {
			padding: prem(12);
		}
	}
	.BasicTable--compact > thead > * > th {
		padding-bottom: between(4, 8);

		@media #{$mq-wide} {
			padding-bottom: prem(8);
		}
	}

	.BasicTable > tfoot > * > th,
	.BasicTable > tfoot > * > td {
		border-top: 2px solid $color-suld-100;
		border-bottom: 0;
		font-weight: $font-weight--bold;
	}

	// ---------------------------------------------------------------------------

	.BasicTable > * > * > .Cell--number {
		text-align: right;
		white-space: nowrap;
	}
	.BasicTable > * > * > .Cell--tel {
		text-align: left;
		white-space: normal;
	}
	.BasicTable > * > * > .Cell--text {
		text-align: left;
		white-space: normal;
	}
}
