/*!@deps
	Footnote
*/

@use '_globals' as *;

@media screen {
	.TableWrapper {
		@include SeenEffect--fadeup();
		// @deprecated  Remove this mixin in v0.9
		@include SeenEffect--disallowNesting();
		position: relative;
		overflow-x: auto;
	}

	@include media($mq-tablet_up) {
		.TableWrapper--BasicTable--align--right {
			margin-left: auto;
			width: $var--grid-7; // tolerate containment by right-aligned TextBlock, for instance

			& + .Footnote {
				margin-left: auto;
				width: $var--grid-7;
			}
		}
		.TableWrapper--BasicTable--fullwidth {
			width: $var--grid-12;
		}

		.TextBlock--labelled .TableWrapper--BasicTable--fullwidth,
		.TextBlock--align--right .TableWrapper--BasicTable--fullwidth,
		.LabeledTextBlock--wide .TableWrapper--BasicTable--fullwidth {
			margin-left: calc(-1 * #{$var--grid-5-5});
		}
		.LabeledTextBlock .TableWrapper--BasicTable--fullwidth {
			margin-left: calc(-1 * #{$var--grid-6-6});
		}
	}

	.TableWrapper > table,
	.TableWrapper > * > table {
		margin: 0;
	}

	.TableWrapper--at::before,
	.TableWrapper--at::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: prem(20);
		background-image: linear-gradient(
			90deg,
			rgba(black, 0.1) 0,
			rgba(black, 0.04) 50%,
			transparent 100%
		);
		pointer-events: none;
		transition: opacity 200ms ease-in;
	}
	.TableWrapper--at::after {
		left: auto;
		right: 0;
		transform: scaleX(-1);
	}

	.TableWrapper--at--start::before {
		// content: none
		opacity: 0;
	}
	.TableWrapper--at--end::after {
		// content: none
		opacity: 0;
	}
	.TableWrapper__scroller {
		overflow-x: auto;
	}
}
@include media($mq-phone_tablet) {
	.TableWrapper {
		margin: 0 $var--grid-edge--neg;
		margin-right: $var--grid-edge--right--neg;
	}
	.TableWrapper__scroller {
		padding: 0 $var--grid-edge;
		padding-right: $var--grid-edge--right;
		// border-right: $var--browser-scrollbar-width solid transparent; // push away fromunder
	}
}

// ===========================================================================

@media screen {
	.BasicTable,
	.TableWrapper--BasicTable > table {
		min-width: 100%;
	}
	.BasicTable,
	.TableWrapper--BasicTable {
		margin-bottom: prem(30);
	}

	.BasicTable > * > * > th,
	.BasicTable > * > * > td {
		padding: between(12, 24) between(16, 30);
		text-align: left;
		vertical-align: center;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: prem(12);
		}

		@media #{$mq-wide} {
			padding: prem(24);
		}
	}
	.BasicTable > thead > * > th {
		padding-bottom: between(8, 18);

		@media #{$mq-wide} {
			padding-bottom: prem(18);
		}
	}

	.BasicTable--compact > * > * > th,
	.BasicTable--compact > * > * > td {
		padding: between(6, 12);

		@media #{$mq-wide} {
			padding: prem(12);
		}
	}
	.BasicTable--compact > thead > * > th {
		padding-bottom: between(4, 8);

		@media #{$mq-wide} {
			padding-bottom: prem(8);
		}
	}

	.BasicTable > tfoot > * > th,
	.BasicTable > tfoot > * > td {
		border-top: 2px solid $color-suld-100;
		border-bottom: 0;
		font-weight: $font-weight--bold;
	}

	// ---------------------------------------------------------------------------

	.BasicTable > * > * > .Cell--number {
		text-align: right;
		white-space: nowrap;
	}
	.BasicTable > * > * > .Cell--tel {
		text-align: left;
		white-space: normal;
	}
	.BasicTable > * > * > .Cell--text {
		text-align: left;
		white-space: normal;
	}
}

// ===========================================================================

.TableWrapper--BasicTable--align--right.TableWrapper--BasicTable--fullwidth {
	@include WARNING__('--align-right and --fullwidth should not be used together');
}
