@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/layout' as *;

@media screen {
	.Bling {
		display: none;
	}
}

@media #{$mq-tablet_up} {
	$toPct: 100% / $grid-contentMaxWidth;

	.Bling {
		display: block; // override default hidden state
		position: absolute;
		width: 100%;
		z-index: -1;
		pointer-events: none;
		--bling-color-a: #{$var--color-theme-tertiary};
		--bling-color-b: #{$var--color-theme-secondary};
		--bling-width: 0;
		--bling-offset: 0;
		// --bling-offset-ish: ;
		// --bling-offset-center: ;
	}

	.Bling > svg {
		width: calc(var(--bling-width) * #{$toPct});
		height: auto;
		display: block;
		position: relative;
		padding: 3.5% 0;
	}

	// ---------------------------------------------------------------------------

	// .Bling--color--tertiary {
	// 	--bling-color-a: #{$var--color-theme-tertiary};
	// 	--bling-color-b: #{$var--color-theme-secondary};
	// }
	.Bling--color--secondary {
		--bling-color-a: #{$var--color-theme-secondary};
		--bling-color-b: #{$var--color-theme-tertiary};
	}
	.Bling--color--primary {
		--bling-color-a: #{$var--color-theme-primary};
		--bling-color-b: #{$var--color-theme-secondary};
	}

	// ---------------------------------------------------------------------------

	.Bling--align--left > svg,
	.Bling--align--right > svg {
		left: calc(var(--bling-offset) * #{$toPct});
	}
	.Bling--align--left-ish > svg,
	.Bling--align--right-ish > svg {
		left: calc(var(--bling-offset-ish, var(--bling-offset)) * #{$toPct});
		@if isDevMode() {
			// prettier-ignore
			--notDefined--bling-offset-ish: var(--bling-offset-ish, );
			outline: var(--notDefined--bling-offset-ish) 10px dashed rgba(red, 0.25);
		}
	}
	.Bling--align--left-center > svg,
	.Bling--align--right-center > svg {
		// postcss-calc (v7.0.4) has LOTS of issues
		// Remove this workaround when https://github.com/postcss/postcss-calc/issues/119
		// has been successfully resolved
		--postcss-calc-bug-workaround: var(
			--bling-offset-center,
			var(--bling-offset-ish, var(--bling-offset))
		);
		left: calc(var(--postcss-calc-bug-workaround) * #{$toPct});
		@if isDevMode() {
			// prettier-ignore
			--notDefined--bling-offset-center: var(--bling-offset-center, );
			outline: var(--notDefined--bling-offset-center) 10px dashed rgba(red, 0.25);
		}
	}

	.Bling--align--right,
	.Bling--align--right-ish,
	.Bling--align--right-center {
		transform: scaleX(-1);
	}

	// ---------------------------------------------------------------------------

	.Bling--vertical--up > svg {
		transform: translate(-50%, -100%);
	}
	.Bling--vertical--up-ish > svg {
		transform: translate(-50%, -75%);
	}
	.Bling--vertical--center > svg {
		transform: translate(-50%, -50%);
	}
	.Bling--vertical--down-ish > svg {
		transform: translate(-50%, -25%);
	}
	.Bling--vertical--down > svg {
		transform: translate(-50%, 0%);
	}

	// ---------------------------------------------------------------------------

	.Bling--overlay {
		z-index: 1;
	}
}
