@use 'globals' as *;
@use 'styles/buttons' as *;

@media screen {
	.ButtonBack {
		--ButtonTertiary--color: #{$color-faxafloi-100};
		--ButtonTertiary--dashColor: #{$color-faxafloi-100};
		--ButtonTertiary--dashWidth: #{prem(12)};
		--ButtonTertiary--dashWidth--hover: #{prem(22)};

		@include ButtonTertiaryStyle($mode: disabledOnly);
		font-size: $var--font-label-size;
	}

	.ButtonBack::before {
		@include icon($icons-arrow-left-long);
		background: 0;
		height: auto;
		margin-right: prem(8);
		margin-bottom: 0;
		font-size: prem(9);
		overflow: hidden;
	}
}
