@use 'globals' as *;
@use 'styles/buttons' as *;

@media screen {
	.ButtonSecondary {
		@include ButtonStyle(prem(-5), $var--theme-color-primary--safe);
		background-color: $color-suld-0;
		--Button--border: 1px;
		border: 1px solid $var--theme-color-primary;

		&:hover,
		&:active {
			border: 1px solid $var--theme-color-primary;
		}
		&:active,
		&[aria-pressed] {
			background-color: $color-suld-50;
			color: $var--theme-color-primary--safe;
		}
		&[disabled],
		&[aria-disabled='true'] {
			background-color: $color-suld-0;
			opacity: 0.5;
		}
	}
}
