@use 'globals' as *;
@use 'styles/buttons' as *;

/*!@deps
	ButtonBar
*/

@media screen {
	.ButtonTertiary {
		@include ButtonTertiaryStyle();

		&--go--back {
			order: -10;
		}
		&--go--back::before {
			@include icon($icons-arrow-left-long);
			background: 0;
			height: auto;
			font-size: 0.75em;
			overflow: hidden;
		}

		&:active,
		&[aria-pressed='true'] {
			--ButtonTertiary--dashColor: _inherit;
			--ButtonTertiary--dashHeight: #{prem(6)};

			// &.ButtonTertiary--destructive {
			// 	--ButtonTertiary--color: #{$var--color-heidmork-150};
			// }
		}

		&--small {
			--ButtonTertiary--dashSpace: #{$var--space-1};
			// font-weight: 400;
		}
		&--destructive {
			--ButtonTertiary--color: #{$var--color-heidmork-100};
			--ButtonTertiary--dashColor: currentColor;
		}

		@include ButtonTertiaryStyle--disabled();

		// ---------------------------------------------------------------------------

		&[data-icon] {
			@include WARNING__('No icons on `ButtonTertiary`');
		}
		&--go--back#{&}--destructive {
			@include WARNING__('`--destructive` and `--go--back` do NOT mix');
		}
		&--go--forward {
			@include WARNING__('`--go--forward` not supported on `ButtonTertiary`');
		}
	}
}
