@use '_globals' as *;

/*!@deps
	Carousel
*/

@mixin css() {
	:root {
		--CarouselStepper--height: #{$var--space-4};
	}

	// ---------------------------------------------------------------------------

	.CarouselStepper {
		margin: 0 $var--space-0_5--neg;
		width: max-content;
		display: flex;
		align-items: flex-end;
		padding-top: $var--space-1;
		height: var(--CarouselStepper--height);
	}

	.CarouselStepper__button {
		flex: none;

		position: relative;

		width: $var--space-1;
		height: 100%;

		margin: 0 $var--space-0_5;

		overflow: hidden;
		white-space: nowrap;
		text-indent: 150%;

		background: $var--theme-color-primary-50;

		transform: scaleY((16/24));
		transform-origin: bottom center;

		transition: transform 200ms ease-in;
	}

	.CarouselStepper__button:hover {
		background: $color-suld-150;
		transform: scaleY((20/24));
	}

	.CarouselStepper__button[aria-pressed='true'] {
		background: $var--theme-color-primary;
		transform: none;
	}
}
