@use '_globals' as *;

@media screen {
	$margin: prem(4);

	.CarouselStepper {
		--CarouselStepper--align-left: auto;
		margin-right: -$margin;
		margin-left: var(--CarouselStepper--align-left, -$margin);
		width: max-content;
		display: flex;
		align-items: flex-end;
		padding-top: prem(8);
		height: prem(24 + 8);
	}

	.CarouselStepper__button {
		flex: none;

		position: relative;

		width: 8px;
		height: 100%;

		margin: 0 $margin;

		overflow: hidden;
		white-space: nowrap;

		// should be variable for theming??
		background: $color-faxafloi-50;

		transform: scaleY((16/24));
		transform-origin: bottom center;

		transition: transform 100ms ease-in-out;

		text-indent: 9px;
	}

	.CarouselStepper__button:hover,
	.CarouselStepper__button:focus {
		background: $color-suld-150;
		transform: scaleY((20/24));
	}

	.CarouselStepper__button[aria-pressed='true'] {
		background: $var--color-theme-primary;
		transform: none;
	}
}
