@use 'globals' as *;

@media screen {
	.CenterColumn {
		max-width: cols_px(8);
		margin: 0 auto;
	}

	.CenterColumn > .PageHeading,
	.CenterColumn > .Heading,
	.CenterColumn > .TextBlock {
		width: auto;
		max-width: none;
		margin-left: 0;
	}

	// ===========================================================================

	.CenterColumn > [class*='--align--'],
	.CenterColumn > [class*='--wide'],
	.CenterColumn > .TextBlock--labelled,
	.CenterColumn
		> *:not(.TextBlock):not(.PageHeading):not(.SubHeading):not(.Heading):not(.ContentImage):not(.RelatedLinks):not(hr) {
		@include WARNING__(
			'Only use plain `PageHeading`, `Heading`, `Subheading`, `TextBlock`, `ContentImage`, `RelatedLinks`, `<hr/>` inside a .CenterColumn wrapper.'
		);
	}
	.CenterColumn > [class*='--align--'][class],
	.CenterColumn > [class*='--wide'][class] {
		@include WARNING_message__('Do not use --align-- or --wide modifiers.');
	}
	.CenterColumn > .TextBlock--labelled[class] {
		@include WARNING_message__('Do not use the --labelled modifier.');
	}
}
