@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/buttons' as *;
@use 'styles/links' as *;

/*!@deps
	ButtonPrimary
	ButtonTertiary
*/

@media screen {
	.CityBlock {
		display: flex;
		flex-flow: column-reverse;
		margin-bottom: between_cols(30, 20 * $grid-unit);
	}
	.CityBlock__content {
		background-color: $var--color-theme-primary;
		color: $var--color-theme-primary--text;
		@include LinkStyle_SameColor();

		margin: 0 $var--grid-edge--neg;
		padding: between_cols(30, $grid-column) $var--grid-edge;

		$minH: 480 - 2 * $grid-column;

		min-height: between_phone_netbook(200, $minH);
		@media #{$mq-wide} {
			min-height: px($minH);
		}
	}
	.CityBlock__image {
		position: relative;
		display: block;
	}
	.CityBlock__image > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: auto;
		object-fit: contain;
	}
	.CityBlock--largeimage > .CityBlock__image > img {
		object-fit: cover;
	}

	.CityBlock__title {
		@include HeadingStyle--small();
		margin-bottom: grid-units(4);
	}
	.CityBlock__summary {
		margin-bottom: grid-units(4);
		@include BodyTextStyle--large();
	}
	.CityBlock__summary a {
		@include LinkStyle_SameColor();
	}
	.CityBlock__summary li, // Captures ul, ol
	.CityBlock__summary [class],
	.CityBlock__summary blockquote {
		@include WARNING__('Use simple markup only');
	}

	.CityBlock--largebox > * > .CityBlock__buttons {
		margin-top: auto;
	}
	.CityBlock__button {
		@include ButtonTertiaryStyle($mode: simple);
		display: block;
		margin-bottom: 0;
	}
}

// ===========================================================================

@media #{$mq-phone_phablet} {
	.CityBlock__image {
		margin: 0 cols_pct(-1);
		height: between_phone_phablet(230, 350);
		margin-bottom: prem(20);
	}
	.CityBlock--largebox > .CityBlock__image,
	.CityBlock--largeimage > .CityBlock__image {
		margin: 0 $var--grid-edge--neg;
		height: between_phone_phablet(200, 300);
	}
	.CityBlock--largebox > .CityBlock__image > img {
		object-fit: cover;
	}
}

// ===========================================================================

$largebox-minH: 800 - 2 * $grid-column;
$largeimage-minH: 880;

@media #{$mq-tablet_up} {
	.CityBlock {
		position: relative;
		flex-flow: row-reverse;
		justify-content: space-between;
	}
	.CityBlock--align--right {
	}
	.CityBlock--align--left {
		flex-flow: row;
	}

	.CityBlock__content {
		display: flex;
		flex-flow: column;
		box-sizing: content-box;
		width: between(300, cols_px(5, 3), $min: $bp-tablet);
		margin: cols_pct(0, 1) 0;
		margin-left: auto;
		padding-left: cols_pct(0, 1);
		margin-right: $var--grid-edge--neg;
		padding-right: $var--grid-edge;
	}
	.CityBlock--largebox > .CityBlock__content {
		margin-top: 0;
		margin-bottom: 0;

		min-height: between_phone_netbook(400, $largebox-minH);
	}
	.CityBlock--largeimage > .CityBlock__content {
		margin-top: auto;
		margin-bottom: auto;
	}

	.CityBlock--align--left > .CityBlock__content {
		margin-right: auto;
		padding-right: cols_pct(0, 1);
		margin-left: $var--grid-edge--neg;
		padding-left: $var--grid-edge;
	}

	.CityBlock__image {
		margin: 0 cols_pct(0, -1);
		width: cols_pct(6, 7);
	}
	.CityBlock--largebox > .CityBlock__image,
	.CityBlock--largeimage > .CityBlock__image {
		width: cols_pct(6);
		box-sizing: content-box;
		margin-left: $var--grid-edge--neg;
		padding-left: $var--grid-edge;
	}
	.CityBlock--largeimage > .CityBlock__image {
		min-height: between_phone_netbook(400, $largeimage-minH);
	}
	.CityBlock--align--left.CityBlock--largebox > .CityBlock__image,
	.CityBlock--align--left.CityBlock--largeimage > .CityBlock__image {
		margin-left: auto;
		margin-right: $var--grid-edge--neg;
	}
}

// ---------------------------------------------------------------------------

@media #{$mq-wide} {
	.CityBlock--largebox > .CityBlock__content {
		min-height: px($largebox-minH);
	}
	.CityBlock--largeimage > .CityBlock__image {
		min-height: px($largeimage-minH);
	}
}
