@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;

@media screen {
	.ContactBubble__wrapper {
		// Script-only wrapper element
		pointer-events: none;
		position: fixed;
		bottom: 0;
		right: $var--grid-edge--right;
		left: $var--grid-edge;
		max-width: prem($grid-contentMaxWidth);
		margin: 0 auto;
		transition: all 600ms ease-in-out;
	}
	html.before-sprinkling .ContactBubble__wrapper:not([data-show]) {
		display: none;
	}
	.ContactBubble__wrapper[data-show='false'] {
		opacity: 0;
		visibility: hidden;
	}
	.ContactBubble__wrapper[data-show='true'] {
	}

	.ContactBubble__openbtn {
		position: absolute;
		z-index: 1;
		right: grid-units(1);
		bottom: grid-units(3);
		// Script-only button
		pointer-events: auto;
		box-sizing: content-box;
		font-size: $font-bd-l-size;
		font-weight: $font-weight--bold;
		background-color: $color-suld-25;
		color: $color-faxafloi-100;
		border-radius: grid-units(4.5);
		height: grid-units(3);
		line-height: grid-units(3);
		padding: grid-units(3) 0;
		padding-left: grid-units(9);
		width: 0;
		overflow: hidden;
		white-space: nowrap;

		@include media($mq-phablet_up) {
			right: grid-units(-2);
			bottom: between_phablet_netbook(3 * $grid-unit, 8 * $grid-unit);
			width: auto;
			transition: all 300ms ease-in-out;
			max-width: 20em;
			padding-right: grid-units(3);
		}
	}
	.ContactBubble__openbtn[aria-expanded='true'] {
		@media #{$mq-phone} {
			opacity: 0;
		}
		@media #{$mq-phablet_up} {
			max-width: 0;
			padding-right: 0;
		}
	}

	.ContactBubble__openbtn::before,
	.ContactBubble__openbtn::after {
		@include icon($icons-chat);
		position: absolute;
		top: 50%;
		font-size: prem(40);
		left: grid-units(2);
		margin-top: -0.5em;
		width: grid-units(5);
		height: 1em;
		line-height: 1em;
		transition: opacity 200ms ease-in;
	}
	.ContactBubble__openbtn::after {
		content: $icons-close-thin;
		opacity: 0;
		font-size: prem(26);
	}

	.ContactBubble__openbtn[aria-expanded='true']::before {
		opacity: 0;
		transition-delay: 200ms;
		transition-duration: 200ms;
	}
	.ContactBubble__openbtn[aria-expanded='true']::after {
		opacity: 1;
		transition-delay: 200ms;
		transition-duration: 200ms;
	}

	// Script-only button
	@media #{$mq-phone} {
		.ContactBubble__closebtn {
			position: fixed;
			top: calc(0.5 * #{$var--Layout__header-height});
			right: $var--grid-edge--right;
			@include hideText(soft);
			margin: grid-units(-4) grid-units(-1);
			width: grid-units(6);
			height: grid-units(6);
			line-height: grid-units(6);
			color: $color-faxafloi-100;
			transition: all 200ms ease-in-out;
		}
		.ContactBubble__closebtn:hover {
			color: inherit;
			transform: scale(1.15);
		}
		.ContactBubble__closebtn::before {
			@include icon($icons-close-thin);
			width: 100%;
			margin-right: 1px;
		}
	}
	@media #{$mq-phablet_up} {
		.ContactBubble__closebtn {
			@include sr-only-focusable();
		}
	}

	// ---------------------------------------------------------------------------

	html.before-sprinkling .ContactBubble:not([data-sprinkled]) {
		display: none;
	}
	.ContactBubble {
		pointer-events: auto;
		background-color: $color-suld-25;
		padding: grid-units(4);
		opacity: 1;
		transition: all 300ms ease-in-out;
		transition-property: opacity, visibility;

		@include media($mq-phablet_up) {
			max-width: prem(375);
		}
	}

	.ContactBubble__wrapper > .ContactBubble {
		@include media($mq-phone) {
			position: fixed;
			top: 0;
			bottom: 0;
			right: calc(-1 * #{$var--browser-scrollbar-width});
			left: 0;
			overflow: auto;
			padding-top: between(8 * $grid-unit, 15 * $grid-unit, 480, 812, 'vh');
			// …
		}
		@include media($mq-phablet_up) {
			position: absolute;
			right: grid-units(-2);
			--bottomOffset: #{between_phablet_netbook(14 * $grid-unit, 19 * $grid-unit)};
			bottom: var(--bottomOffset);
			max-height: calc(100vh - var(--bottomOffset));
			overflow: auto;
		}
	}

	.ContactBubble[hidden] {
		display: block;
		opacity: 0;
		visibility: hidden;
	}

	@include media($mq-phone) {
		.ContactBubble::after {
			content: '';
			display: block;
			height: 0;
			margin-top: grid-units(8);
			padding-top: percentage(300/610);
			background: url('i/ContactBubble/illustration.png') 50% 50% / 100% auto
				no-repeat;
			max-width: 500px;
		}
	}

	.ContactBubble__title {
		@include media($mq-phone) {
			@include HeadingStyle--large();
			max-width: 9em; // Makes for nice line-wrap in the text "Hvað getum við \n gert fyrir þig?"
			margin-bottom: between(3 * $grid-unit, 8 * $grid-unit, 480, 812, 'vh');
		}
		@include media($mq-phablet_up) {
			@include BodyTextStyle--large();
			font-weight: $font-weight--bold;
			margin-bottom: grid-units(3);
		}
	}
	.ContactBubble__list {
		@include BodyTextStyle--small();
		border-top: 1px solid $color-suld-50;
		font-weight: $font-weight--bold;
	}
	.ContactBubble__item {
		box-sizing: content-box;
		padding: grid-units(2) grid-units(4);
		padding-left: grid-units(7);
		min-height: calc(#{$var--font-bd-s-leading} + #{$var--font-label-leading});
		border-bottom: 1px solid $color-suld-50;
		--link-underline: none;
		--link-underline--hover: none;
		--ContactBubble--type--icon: none;
	}
	.ContactBubble__item--type--suggestions {
		--ContactBubble--type--icon: url(i/ContactBubble/paperplane.svg);
	}
	.ContactBubble__item--type--phone {
		--ContactBubble--type--icon: url(i/ContactBubble/phone.svg);
	}
	.ContactBubble__item--type--faq {
		--ContactBubble--type--icon: url(i/ContactBubble/faq.svg);
	}
	.ContactBubble__item--type--livechat {
		--ContactBubble--type--icon: url(i/ContactBubble/chat.svg);
	}

	.ContactBubble__link {
		display: block;
	}
	.ContactBubble__link > small {
		@include LabelTextStyle();
		font-weight: $font-weight--normal;
		display: block;
		color: $color-suld-200;
		text-decoration: none;
		transition: inherit;
	}
	.ContactBubble__link:hover > small {
		color: inherit;
	}

	.ContactBubble__link::before {
		content: '';
		background-color: $color-suld-100;
		width: grid-units(4);
		height: grid-units(3.5);
		line-height: grid-units(3.5);
		float: left;
		margin-left: grid-units(-6);
		vertical-align: top;
		mask-image: var(--ContactBubble--type--icon);
		mask-size: auto 100%;
		mask-position: 0% 50%;
		mask-repeat: no-repeat;
		transition: inherit;
	}
	.ContactBubble__link:hover::before {
		background-color: currentColor;
	}
}
