/* This is used in mypages microservices list */

@use '_globals' as *;

@media #{$mq-tablet_up} {
	[class].experimental_Columnized {
		column-count: 2;
		column-gap: cols_pct(0, 1);
	}
	[class].experimental_Columnized li {
		break-inside: avoid;
	}
}
