@use 'globals' as *;
@use 'styles/cards' as *;
@use 'styles/font' as *;

@include Card('ExtraLinks');

@media screen {
	.ExtraLinks {
		background-color: $color-suld-25;
		padding: prem(62) 0 prem(32) prem(8);
		@include extendBackgroundWithUnderlay();

		&:before {
			border-left: prem(8) solid $color-esja-100;
		}
	}

	.ExtraLinks__related {
		background-color: $color-suld-50;
		padding: grid-units(8) cols_pct(1, 0) grid-units(5) cols_pct(1, 1);
	}

	.ExtraLinks__related__title {
		@include HeadingStyle--small();
	}

	.ExtraLinks__related__title {
		margin-bottom: between_phone_netbook(20, 53);
	}

	.ExtraLinks__related__link {
		@include BodyTextStyle--large();
		color: $color-suld-200;
	}
}

@media #{$mq-tablet_up} {
	.ExtraLinks {
		position: relative;
		border: 0;
		padding: grid-units(10) 0 grid-units(10) 0;

		&:before {
			border-width: prem(24);
		}
	}

	.ExtraLinks__title {
		margin-bottom: grid-units(7);
	}

	.ExtraLinks__card {
		margin: 0 cols_pct(0, 1) grid-units(5) 0;
	}

	.ExtraLinks__card:nth-child(4n + 1) {
		margin-right: 0;
	}

	.ExtraLinks__card:hover,
	.ExtraLinks__card:focus,
	.ExtraLinks__card:active {
		background-color: $color-esja-100;
		text-decoration: none;
		outline: none;
		color: $color-suld-200;
	}

	.ExtraLinks--relatedLinks {
		padding-right: cols_pct(6, 6);
	}

	.ExtraLinks--relatedLinks > .ExtraLinks__card {
		width: cols_pct(3, 2, 6);
	}

	.ExtraLinks__related {
		width: cols_pct(6);
		padding: grid-units(8) cols_pct(1, 0) prem(133) cols_pct(1, 1);
		position: absolute;
		top: prem(180);
		right: 0;
		bottom: prem(-180);
	}

	.ExtraLinks__related__list {
	}

	.ExtraLinks__related__li {
		margin-bottom: prem(19);
	}
}
