@use 'globals' as *;
@use 'styles/cards' as *;
@use 'styles/font' as *;

@media screen {
	.ExtraLinks {
		background-color: $color-suld-25;
		padding: between_cols(30, 90) 0;
		margin-bottom: between_cols(60, 100);
		@include extendBackgroundWithUnderlay();
	}

	// strictly for transition effect
	.ExtraLinks {
		@include SeenEffect--fadein('.ExtraLinks__item');
		@include SeenEffect--fadeup('.ExtraLinks__title');
		@include extendBackgroundWithUnderlay(left, after);

		@include SeenEffect--initial('::after') {
			border-left: between_phone_netbook(8, 24) solid $color-suld-25;
		}
		@include SeenEffect--transition('::after') {
			@include Transition--long();
			@include Transition--properties('transform');
		}
		@include SeenEffect--seen('::after') {
			transform: scaleY(0);
			transform-origin: 0 100%;
		}

		@for $i from 1 through 12 {
			@include SeenEffect--seen('.ExtraLinks__item:nth-child(#{$i})') {
				@include SeenEffect--delay($i * 50ms + 200ms);
			}
		}
	}

	.ExtraLinks::before {
		border-left: between_phone_netbook(8, 24) solid $var--color-theme-primary;

		@include media($mq-wide) {
			border-width: prem(24);
		}
	}

	.ExtraLinks__main {
	}

	.ExtraLinks__title {
		@include CardListTitle();

		margin-bottom: between_phone_netbook(24, 57);
		@include media($mq-wide) {
			margin-bottom: 57px;
		}
	}
	.ExtraLinks__list {
		@include CardList($cols: 4);
	}

	.ExtraLinks__card {
		@include Card();
		border: 1px solid $color-suld-75;
	}
	.ExtraLinks__card:hover,
	.ExtraLinks__card:active {
		border-color: transparent;
		background-color: $var--color-theme-primary;
		color: $var--color-theme-primary--text;
		outline: none;
	}

	.ExtraLinks__related {
		background-color: $color-suld-50;
		padding-right: cols_pct(1, 0);
		padding-left: cols_pct(1, 1);
		margin-top: between_phone_netbook(40, 90);
		padding-top: between_phone_netbook(32, 64);
		padding-bottom: between_phone_netbook(80, 130);

		@include media($mq-wide) {
			margin-top: prem(90);
			padding-top: prem(64);
			padding-bottom: prem(130);
		}

		@include media($mq-tablet) {
			margin-top: prem(32);
		}
	}

	.ExtraLinks__related__title {
		@include HeadingStyle--small();
		margin-bottom: between_phone_netbook(20, 53);
	}

	$icon-indent: prem(26);
	.ExtraLinks__related__item {
		padding-left: $icon-indent;
	}
	.ExtraLinks__related__link {
		@include BodyTextStyle--large();
		color: $color-suld-200;
		position: relative;
	}
	.ExtraLinks__related__link::before {
		@include icon($icons-dash);
		position: absolute;
		right: 100%;
		width: $icon-indent;
		text-align: left;
		font-size: em(16/20);
	}

	@each $name, $icon in (text: $icons-text, pdf: $icons-file-pdf, link: $icons-link) {
		.ExtraLinks__related__link--#{$name}::before {
			content: $icon;
		}
	}
}

@media #{$mq-tablet_up} {
	.ExtraLinks {
		position: relative;
		border: 0;
	}

	.ExtraLinks__related__list {
	}
	.ExtraLinks__related__item {
		margin-bottom: prem(19);
	}
}

@media #{$mq-netbook_up} {
	.ExtraLinks--related {
		display: flex;
		margin-bottom: px_pct(230);
	}
	.ExtraLinks--related > .ExtraLinks__main {
		width: $var--grid-6;
	}
	.ExtraLinks--related > .ExtraLinks__main > .ExtraLinks__list {
		grid-template-columns: repeat(2, $var--grid-3);
	}

	.ExtraLinks__related {
		margin-bottom: px_pct(-210);
		width: $var--grid-5;
		margin-left: auto;
	}
}
