@use 'globals' as *;
@use 'styles/cards' as *;
@use 'styles/font' as *;

@include Card('ExtraLinks', 'ExtraLinks__main', 4);

@media screen {
	.ExtraLinks {
		background-color: $color-suld-25;
		padding: between_phone_netbook(30, 80) 0 between_phone_netbook(30, 80);
		margin-bottom: between_cols(60, 100);
		@include extendBackgroundWithUnderlay();

		@include media($mq-wide) {
			padding: grid-units(10) 0 grid-units(10) 0;
		}
	}
	.ExtraLinks:before {
		border-left: between_phone_netbook(8, 24) solid $color-theme-primary;

		@include media($mq-wide) {
			border-width: prem(24);
		}
	}

	.ExtraLinks__title {
		margin-bottom: between_phone_netbook(20, 56);
		overflow-wrap: break-word;
		grid-column: 1/-1;

		@include media($mq-wide) {
			margin-bottom: grid-units(7);
		}
	}

	.ExtraLinks__main {
		@include media($mq-tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	.ExtraLinks__list {
		@include media($mq-tablet) {
			grid-column: span 3;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.ExtraLinks__related {
		background-color: $color-suld-50;
		padding: between_phone_netbook(32, 64) cols_pct(1, 0)
			between_phone_netbook(80, 130) cols_pct(1, 1);
		margin-top: between_phone_netbook(40, 120);

		@include media($mq-netbook_up) {
			margin-bottom: px_pct(-210);
		}

		@include media($mq-tablet) {
			margin-top: prem(32);
		}

		@include media($mq-wide) {
			margin-top: prem(120);
			margin-bottom: prem(-210);
			padding-top: prem(64);
			padding-bottom: prem(130);
		}
	}

	.ExtraLinks__related__title {
		@include HeadingStyle--small();
		margin-bottom: between_phone_netbook(20, 53);
	}

	.ExtraLinks__related__link {
		@include BodyTextStyle--large();
		color: $color-suld-200;
	}
}

@media #{$mq-tablet_up} {
	.ExtraLinks {
		position: relative;
		border: 0;
	}

	.ExtraLinks__card:hover,
	.ExtraLinks__card:focus,
	.ExtraLinks__card:active {
		background-color: $color-theme-primary;
		text-decoration: none;
		outline: none;
		color: $color-suld-200;
	}

	.ExtraLinks__related__list {
	}
	.ExtraLinks__related__item {
		margin-bottom: prem(19);
	}
}

@media #{$mq-netbook_up} {
	.ExtraLinks {
		display: flex;
	}

	.ExtraLinks--related {
		margin-bottom: px_pct(230);
	}

	.ExtraLinks__main {
		flex-shrink: 1;
	}

	.ExtraLinks--related > .ExtraLinks__main {
		grid-template-columns: repeat(2, 1fr);
		width: cols_pct(6);
	}
	.ExtraLinks--related > .ExtraLinks__main > .ExtraLinks__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.ExtraLinks__related {
		width: cols_pct(5);
		margin-left: auto;
	}
}
