@use '_globals' as *;
@use 'styles/font' as *;

/*!@deps
	Bling
	efnistakn
*/

@media screen {
	.FeatureList {
		@include SeenEffect--fadeup();
		--efnistakn: ; // scope variable to container.
		background-color: $color-suld-25;
		--left-offset: #{$var--grid-1};
		padding-top: between_container(24, 64);
		padding-bottom: between_container(32, 80);
		margin-top: between_cols(30, 100);
		margin-bottom: between_cols(30, 100);

		@include media($mq-phone) {
			--left-offset: #{$var--grid-0-1};
			margin-left: $var--grid-0-1--neg;
			margin-right: $var--grid-0-1--neg;
		}

		@include media($mq-wide) {
			--left-offset: #{$var--grid-1-1};
		}
	}

	.FeatureList__title {
		@include HeadingStyle--small();
		max-width: cols_px(4, 4);
		margin-bottom: between_container(20, 84);
		margin-left: var(--left-offset);
	}

	.FeatureList__list {
		margin-left: var(--left-offset);
		column-gap: 0;

		@include media($mq-phablet) {
			width: $var--grid-10-10;
			columns: 2;
		}
		@include media($mq-tablet_netbook) {
			width: calc(#{$var--grid-9-9} + 3 * #{$var--grid-0-1});
			columns: 3;
		}
		@include media($mq-wide) {
			width: $var--grid-9-9;
			columns: 3;
		}
	}
	.FeatureList__feature {
		position: relative;
		break-inside: avoid;
		padding-bottom: $var--grid-0-1;
		padding-right: $var--grid-0-1;
		padding-left: prem(40);
	}
	.FeatureList__feature:not([data-efnistakn]) {
		--efnistakn: url('/assets/efnistakn/skipurit_01.svg');
	}
	.FeatureList__feature::before {
		content: '';
		position: absolute;
		top: 0;
		left: prem(-2);
		width: prem(24);
		height: prem(24);
		background: var(--efnistakn) no-repeat;
		background-size: contain;
	}
}
