@use '_globals' as *;

@media screen {
	.FooterBadges {
		width: $var--grid-12;
		clear: both;
		display: flex;
		flex-flow: row wrap;
		margin: 0 $var--space-2--neg;
	}
	.FooterBadges::before {
		content: '';
		width: 100%;
		border-top: $var--border-default;

		@include media($mq-tablet_up) {
			margin: 0 $var--space-2;
		}
	}

	.FooterBadges__badge {
		margin: $var--space-2;
	}
	.FooterBadges__badge img,
	.FooterBadges__badge svg {
		width: auto;
	}
}
