@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;

@media screen {
	.FooterInfo {
		flex-basis: 100%;
	}

	.FooterInfo__group {
		margin-bottom: between_cols(30, 40);

		@media #{$mq-tablet_up} {
			float: left;
			width: cols_pct(5, 4, 11);
			margin-left: cols_pct(1, 0, 11);
		}
		@media #{$mq-netbook_up} {
			width: cols_pct(3, 2, 11);
			margin-left: cols_pct(0, 1, 11);
		}
	}

	.FooterInfo__group:first-child {
		margin-left: 0;
	}
	// .FooterInfo__group[role='contactinfo'] {
	.FooterInfo__group[role='contactinfo'] {
		box-sizing: content-box;
		background-color: $color-suld-25;

		@media #{$mq-phone_phablet} {
			margin-left: prem(-15);
			margin-right: prem(-15);
			padding: prem(15);
		}

		@media #{$mq-tablet_up} {
			margin-top: cols_pct(0, -1, 11);
			padding: cols_pct(0, 1, 11);
		}
		@media #{$mq-netbook} {
			width: cols_pct(4, 3, 11);
		}
		@media #{$mq-wide} {
			margin-left: cols_pct(1, 0, 11);
			margin-right: cols_pct(1, 0, 11);
		}
	}

	.FooterInfo__grouptitle {
		@include SubheadingStyle--small();
		margin-bottom: prem(15);
		color: $color-faxafloi-100;
	}
	.FooterInfo__groupcontent {
		// @include BodyTextStyle--small();
		line-height: prem(30);
	}

	.FooterInfo__groupcontent p,
	.FooterInfo__groupcontent ul {
		margin-bottom: prem(30);
	}
	.FooterInfo__groupcontent a {
		// @include LinkStyle_Reset();
		font-weight: $font-weight--normal;
	}
}
