@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;
@use '_GalleryModal' as GalleryModal;

/*!@deps
	CarouselStepper
*/

@media screen {
	html.before-sprinkling .Gallery:not([data-sprinkled]) {
		opacity: 0;
		// fake space for the CarouselStepper
		padding-bottom: prem(24 + 8);
	}

	.Gallery {
		overflow-x: auto;
		overflow-y: hidden;
	}
	.Gallery[data-sprinkled] {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		overflow: visible;
	}

	.Gallery__track, // @deprected  Will be removed in v0.8
	.Gallery__items {
		display: flex;
		flex-flow: row-reverse nowrap;

		margin-left: -(prem($grid-gutter / 2));
		margin-right: -(prem($grid-gutter / 2));

		will-change: transform;

		transition: transform 300ms ease-out;
	}
	.Gallery:not([data-sprinkled]) .Gallery__items {
		flex-direction: row;
		overflow: auto;
	}

	.Gallerty__track {
		@include WARNING__('Deprecated: use `.Gallery__items` instead');
	}

	// ITEM
	.GalleryItem {
		// <figure>
		display: flex;
		flex-flow: column-reverse;

		margin: 0;
		padding: 0 prem($grid-gutter / 2);

		--GalleryItem__image--max-width: 280px;
		--GalleryItem__image--max-height: 240px;

		@include media($mq-tablet_up) {
			--GalleryItem__image--max-width: var(#{$var--grid-5});
			// min-width: $var--grid-3;
			--GalleryItem__image--max-height: var(#{$var--grid-4});
		}
	}

	.GalleryItem__button {
		@include LinkStyle_Reset(true);
	}

	.GalleryItem__button,
	// Image has no __button (link)
	.GalleryItem > .GalleryItem__image {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		height: var(--GalleryItem__image--max-height);
	}

	.GalleryItem__image > img {
		display: block;
		margin-top: auto;
		max-width: var(--GalleryItem__image--max-width);
		max-height: var(--GalleryItem__image--max-height);
	}

	.GalleryItem__caption {
		@include BodyTextStyle--large($leading: false);
		$leading: 1.25em;
		line-height: $leading;

		width: 0;
		min-width: 100%;
		max-height: 3 * $leading;

		margin-top: prem(8);
		margin-bottom: auto;
	}

	.GalleryItem__description {
		display: none;
	}

	.Gallery > .CarouselStepper {
		flex-direction: row-reverse;
		// Add custom styling here....
	}
}

// ===========================================================================
// Inline in order to not expose as standalone component styles
@include GalleryModal.css();
