@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/carousel' as *;
@use '_GalleryModal' as GalleryModal;

@media screen {
	html.before-sprinkling {
		.Gallery {
			opacity: 0;
		}

		.GalleryItem__image {
			position: static;
		}
	}

	.Gallery {
		position: relative;

		overflow-x: scroll;
		overflow-y: hidden;

		@include media($mq-tablet_up) {
			width: auto;
			overflow: visible;
		}
	}

	.Gallery__track {
		display: flex;
		align-items: flex-end;
		flex-wrap: nowrap;
		flex-flow: row-reverse;

		margin-left: -(prem($grid-gutter / 2));
		margin-right: -(prem($grid-gutter / 2));

		will-change: transform;

		transition: transform 300ms ease-out;

		@include media($mq-phone_phablet) {
			transform: none !important;
		}
	}

	.Gallery__item {
		flex: none;
		padding: 0 prem($grid-gutter / 2);
	}
	.GalleryItem__button {
		width: 100%;
	}

	// ITEM
	.GalleryItem {
		// <figure>
		flex: none;
		display: flex;
		flex-flow: column-reverse;

		margin: 0;
		padding: 0 prem($grid-gutter / 2);
		min-width: 200px;
		width: cols_pct(3, 2);
	}
	.GalleryItem--landscape {
		min-width: 345px;
		width: cols_pct(5, 4);
	}

	.GalleryItem__button,
	.GalleryItem > .GalleryItem__image {
		display: block;
		position: relative;
		background: $color-suld-50;
		padding-bottom: percentage(376/272);
	}
	.GalleryItem--landscape > .GalleryItem__image,
	.GalleryItem--landscape > .GalleryItem__button {
		padding-bottom: percentage(312/480);
	}

	.GalleryItem__image > img {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.GalleryItem__caption {
		@include BodyTextStyle--large($leading: false);

		display: flex;

		padding-top: prem(8);
		// how are we handling long captions?
		// 2x lines + padding explicitly set :: revisit when we have a solution
		height: calc(2.5em + #{prem(8)});

		line-height: 1.25;
	}

	.GalleryItem__description {
		display: none;
	}

	// NAV

	.Gallery__stepper {
		@include CarouselStepper();
	}
}

// ===========================================================================
// Inline in order to not expose as standalone component styles
@include GalleryModal.css();
