/*!@deps
	ButtonTertiary
*/

@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.GridBlocks {
		display: flex;
		flex-wrap: wrap;
	}

	.GridBlocks__item {
		margin-bottom: prem(40);
		display: flex;
		flex-wrap: wrap;
	}

	.GridBlocks__illustration > img {
		max-width: 100%;
		margin-bottom: grid-units(4);
	}

	.GridBlocks__item__title {
		@include SubheadingStyle--large();
		margin-bottom: grid-units(2);
	}

	.GridBlocks__item__summary {
		margin-bottom: grid-units(3);
	}
}

@media #{$mq-phone_tablet} {
	.GridBlocks__item:nth-child(2n + 1) {
		margin-left: 0;
	}
}

@media #{$mq-phablet_tablet} {
	.GridBlocks__item {
		width: 46%;
		margin-left: 8%;
	}
}

@media #{$mq-netbook_up} {
	.GridBlocks__item {
		width: cols_pct(4);
		margin-left: cols_pct(0, 1);
	}

	.GridBlocks--twocol > .GridBlocks__item {
		width: cols_pct(5);
		margin-left: cols_pct(1, 2);
	}
	.GridBlocks--twocol > .GridBlocks__item:nth-child(2n + 1) {
		margin: 0;
	}
	.GridBlocks--twocol > * > .GridBlocks__illustration {
		width: cols_pct(1, 0, 5, 4);
		margin-right: cols_pct(0, 1, 5, 4);
	}
	.GridBlocks--twocol > * > .GridBlocks__textwrap {
		width: cols_pct(4, 3, 5, 4);
	}

	.GridBlocks:not(.GridBlocks--twocol) > .GridBlocks__item:nth-child(3n + 1) {
		margin-left: 0;
	}
}
