/*!@deps
	ButtonTertiary
*/

@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.GridBlocks {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: between_cols(40, 120);
		@include SeenEffect--fadeup('> .GridBlocks__item');
	}

	.GridBlocks__item {
		margin: prem(20) 0;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		width: 100%;
	}

	// Default delay, applied to for items where n > 3
	.GridBlocks[data-is-seen='true'] > .GridBlocks__item {
		@include SeenEffect--delay(4 * 100ms);
	}

	@for $i from 1 through 3 {
		.GridBlocks[data-is-seen='true'] > .GridBlocks__item:nth-child(#{$i}) {
			@include SeenEffect--delay($i * 100ms);
		}
	}

	.GridBlocks__illustration {
		width: prem(80);
	}

	.GridBlocks__illustration > img {
		margin-bottom: grid-units(3);
	}

	.GridBlocks__item__title {
		position: relative; // as offset for the __titlelink::before hit-area
		@include SubheadingStyle--large();
		margin-bottom: grid-units(2);
	}
	.GridBlocks__item__titlelink {
	}
	.GridBlocks__item__titlelink::before {
		content: '';
		// background-color: rgba(yellow, 0.35); // DEV helper
		position: absolute;
		bottom: 100%;
		left: prem(-20);
		width: prem(80 + 60);
		height: prem(80 + 20 + 3 * $grid-unit); // the efnistakn images are 80px x 80px
	}

	.GridBlocks__item__summary {
		margin-bottom: grid-units(3);
	}
}

// ---------------------------------------------------------------------------

@media #{$mq-phablet_tablet} {
	.GridBlocks__item {
		width: 46%;
		margin-left: 8%;
	}
	.GridBlocks__item:nth-child(2n + 1) {
		margin-left: 0;
	}
}

// ---------------------------------------------------------------------------

@media #{$mq-netbook_up} {
	.GridBlocks__item {
		width: cols_pct(4);
		margin-left: cols_pct(0, 1);
	}

	.GridBlocks--twocol > .GridBlocks__item {
		width: cols_pct(5);
		margin-left: cols_pct(0, 1);
		flex-flow: row;
	}
	.GridBlocks--twocol > .GridBlocks__item:nth-child(2n + 1) {
		margin-left: 0;
	}
	.GridBlocks--twocol > * > .GridBlocks__illustration {
		width: cols_pct(1, 0, 5);
		margin-right: cols_pct(0, 1, 5);
	}
	.GridBlocks--twocol > * > .GridBlocks__textwrap {
		width: cols_pct(4, 3, 5);
	}

	.GridBlocks:not(.GridBlocks--twocol) > .GridBlocks__item:nth-child(3n + 1) {
		margin-left: 0;
	}

	.GridBlocks--twocol .GridBlocks__item__titlelink::before {
		bottom: auto;
		left: auto;
		top: prem(-20);
		right: 100%;
	}
}
