@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/layout' as *;

/*!@deps
	TextBlock
*/

// inlined by TextBlock
@mixin css() {
	@media screen {
		.Heading {
			@include HeadingStyle--medium();
			@include ComponentLayout();
			margin-top: between_phone_netbook(40, 60);
			margin-bottom: between_phone_netbook(20, 30);

			@include media($mq-wide) {
				margin-top: 60px;
				margin-bottom: 30px;
			}
		}
		.Heading--large {
			@include HeadingStyle--large();
		}
		.Heading--small {
			@include HeadingStyle--small();
		}

		h1.Heading {
			@include WARNING__('Only use <H2/> or lower for .Heading');
		}
	}
}
