/*!@deps
	ButtonPrimary
	ButtonTertiary
*/
@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.HeroBlock {
	}
	.HeroBlock__title {
		@include HeadingStyle--large();
	}
	.HeroBlock__image {
	}
	.HeroBlock__summary {
		@include BodyTextStyle--large();
		margin: prem(40) 0;
	}

	.HeroBlock > .ButtonPrimary {
		display: inline-block;
	}
	.HeroBlock > .ButtonTertiary {
		display: inline-flex;
	}
}
