/*!@deps
	ButtonPrimary
	ButtonTertiary
*/
@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.HeroBlock {
	}
	.HeroBlock__title {
		@include HeadingStyle--large();
	}
	.HeroBlock__summary {
		margin: prem(40) 0;
		font-size: prem(20);
		line-height: prem(32);
	}

	.HeroBlock > .ButtonPrimary {
		display: inline-block;
	}
	.HeroBlock > .ButtonTertiary {
		display: inline-flex;
	}
}
