@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/links' as *;
@use 'styles/cards' as *;

// NOTE: include ButtonTertiary because they might be commonly used with `ImageCards`

/*!@deps
	ButtonTertiary
*/

@media screen {
	.ImageCards {
		@include CardBlock();
		margin-bottom: between_cols(60, 100);
	}
	.ImageCards--background {
		background-color: $color-suld-25;
		padding: between_phone_netbook(40, 136) 0;
		@include extendBackgroundWithUnderlay();
		@include media($mq-wide) {
			padding: prem(136) 0;
		}
	}

	.ImageCards__title {
		@include CardListTitle();
	}

	.ImageCards__title,
	.ImageCards__summary {
		margin-bottom: $var--baseVerticalMargin;
	}

	.ImageCards__summary > .ImageCards__title {
		margin-bottom: prem(16);
	}

	.ImageCards__list {
		@include CardList();
		row-gap: between_phone_netbook(24, 80);
		@include media($mq-wide) {
			row-gap: prem(80);
		}
	}

	.ImageCards__card {
		--link-color: _inherit;
		--link-underline: 1px solid #{$color-suld-200};
		--link-underline--hover: 1px solid #{$color-faxafloi-100};
		--link-focus-outline: 0;

		padding-bottom: between_phone_netbook(16, 32);
		display: block;
		height: 100%;

		@include media($mq-wide) {
			padding-bottom: prem(32);
		}
	}

	.ImageCards__image {
		display: block;
		position: relative;
		padding-top: pct(168/272);
		margin-bottom: between_phone_netbook(18, 24);
		background-color: $color-suld-0;
	}
	.ImageCards__image--missing {
		background: var(--ImageCards--fallback, $color-suld-25) 50% 50% / cover no-repeat;
		box-shadow: 0 0 0x 2px $color-suld-0;
	}
	// Hack to apply a differently sized/positioned fallback image
	// *if* --ImageCards--fallback is undefined/empty
	.ImageCards__image--missing::before {
		content: attr(var(--ImageCards--fallback, nothing));
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/assets/reykjavik-logo-notext.svg') 50% 50% / auto pct(82/168)
			no-repeat;
	}
	.ImageCards--background .ImageCards__image--missing {
		background-color: $color-suld-0;
		box-shadow: 0 0 0x 2px $color-suld-25;
	}

	.ImageCards__image > img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.ImageCards__card__title {
		margin-bottom: grid-units(1);
		display: block;
		@include SubheadingStyle--small();
	}

	.ImageCards__card__meta {
		@include BodyTextStyle--small();
		color: $color-suld-150;
		font-weight: 400;
	}
}
