@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/labeledTitle' as *;
@use 'utils/textContent' as *;

/*!@deps
	Attention
	ButtonTertiary
*/

@media screen {
	.LabeledTextBlock {
		margin-bottom: between_cols(30, 100);
	}

	.LabeledTextBlock__label {
		@include LabeledTitleStyle--basics();
	}

	.LabeledTextBlock__summary {
		@include BodyTextStyle--large();
		@include textContent();
	}
	.LabeledTextBlock__summary > .ButtonTertiary {
		display: block;
		margin-top: $var--baseVerticalMargin;
	}

	// ---------------------------------------------------------------------------

	.LabeledTextBlock--left {
		@include WARNING__('`--left` is outdated use `--wide` instead');
	}
}

@media #{$mq-tablet_up} {
	.LabeledTextBlock {
		display: flex;
		align-items: flex-start;
	}

	.LabeledTextBlock__label {
		width: cols_pct(5, 6);
		--dash-width: #{cols_pct(1, 0, 5, 6)};
		--dash-margin: #{cols_pct(0, 1, 5, 6)};
	}
	.LabeledTextBlock--wide > .LabeledTextBlock__label {
		width: cols_pct(4, 4);
		@include LabeledTitleStyle--outdented();
	}

	.LabeledTextBlock__summary {
		width: cols_pct(6);
		margin-top: grid-units(1);
		margin-left: auto;
	}
	.LabeledTextBlock--wide > .LabeledTextBlock__summary {
		width: cols_pct(7);
	}
}
