@use '_globals' as *;
@use 'styles/header' as *;

@media screen {
	body {
		@include bodyPadding();
	}

	.Layout {
		min-height: 100vh;
		display: flex;
		flex-flow: column nowrap;
		// align-items: center;
		position: relative;
		@include setMaxWidth($grid-contentMaxWidth);
	}

	.Layout__header {
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
		z-index: 3;
		display: flex;
		align-items: center;
		@include Layout__header--height();
	}

	@include LayoutHeaderLogo('Layout__header__logo');

	.Layout__main {
		flex-grow: 1;
		@include Layout__header--height(padding-top);
		padding-bottom: prem(30);
	}

	.Layout__footer {
		position: relative;
		border-top: 1px solid $color-suld-75;
		padding-top: between_cols(20, 100);
		padding-bottom: between_cols(20, 70);

		@media #{$mq-tablet_up} {
			padding-left: cols_pct(1, 1);
		}
	}

	.Layout__footer::before {
		content: '';
		display: block;
		margin: prem(12) auto;
		margin-bottom: prem(30);
		background: url($logo-notext-url) 0 0 no-repeat;
		background-size: auto 100%;
		width: prem(33);
		height: prem(51);

		@media #{$mq-tablet_up} {
			position: absolute;
			left: 0;
			background-position: 0 0;
		}
	}
}

// ===========================================================================

@media #{$mq-Hamburger} {
	.Layout__header__skiplink {
		margin-left: auto;
	}

	// TODO: This needs more work.
	html.before-sprinkling .Layout__nav > *:not(.BreadCrumbs),
	// .Layout[data-sprinkled] > .Layout__nav > *:not(.BreadCrumbs),
	html.menu-is-active  .Layout__nav > *:not(.BreadCrumbs) {
		display: none;
	}
	html.menu-is-open .Layout__nav > *:not(.BreadCrumbs) {
		display: block;
	}
	html.menu-is-open .Layout__main {
		display: none;
	}

	.Layout__nav__closebutton {
	}
}

// ===========================================================================

@media #{$mq-Topmenu} {
	.Layout__header__skiplink {
		@include sr-only-focusable();
	}
}
