@use '_globals' as *;

/*!@deps
	Layout
	FooterInfo
	BreadCrumbs
	MainMenu
*/

@media screen {
	.Layout__nav > .BreadCrumbs {
		position: absolute;
		@include Layout__header--height(top);
		left: 0;
		max-width: 100%;
	}
}
