@use '_globals' as *;
@use 'styles/header' as *;
@use 'styles/links' as *;

@mixin whiteLogo {
	--logo-fill-color: #{$color-suld-0};
	--logo-text-color: #{$color-suld-0};
	--logo-transition-delay: 0ms;
	--logo-background-color: #{$color-faxafloi-100};
	--link-focus-outlineColor: #{$color-suld-0};
}

@media screen {
	body {
		padding-left: $var--grid-margin;
		padding-right: $var--grid-margin--right;
	}

	.Layout {
		min-height: 100vh;
		width: 100%;
		max-width: prem($grid-contentMaxWidth);
		margin: 0 auto;
		position: relative;
	}

	.Layout__alerts {
		max-height: 1000px;
		overflow: hidden;
		margin: 0 prem(-15);
		transition: max-height 400ms ease-in;

		@include media($mq-tablet_up) {
			margin: 0;
		}
	}
	.Layout__alerts .Alert {
		margin: grid-units(2) 0 0 0;
	}

	.Layout__content {
		min-height: 100vh;
		display: flex;
		flex-flow: column nowrap;
		padding-top: $var--Layout__header-height;
		position: relative;
	}

	.Layout__header {
		position: absolute;
		z-index: $var--zindex--header;
		top: 0;
		left: $var--grid-margin--neg;
		right: $var--grid-margin--right--neg;
		padding-left: $var--grid-margin;
		padding-right: $var--grid-margin--right;
		margin: 0 auto;
		max-width: $grid-contentMaxWidth--outer;

		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $var--Layout__header-height;
		background-color: $var--Layout__header-backgroundColor;
		pointer-events: none;
	}
	.Layout__header > * {
		pointer-events: auto;
	}

	.Layout__header__logo {
		@include LayoutHeaderLogo();
	}

	.Layout__main {
		padding-top: prem(50);
		flex-grow: 1;
		padding-bottom: prem(30);
		min-height: 60vh;
	}

	.Layout__footer {
		position: relative;
		border-top: 1px solid $color-suld-75;
		padding-bottom: grid-units(4);
	}
}

// ===========================================================================
//  Mobile / Hamburger
// ===========================================================================

@media #{$mq-Hamburger} {
	.Layout__header {
		--logo-transition: 200ms var(--logo-transition-delay, 100ms) ease-in;
		box-shadow: 0 0 0.33em 0.33em $var--Layout__header-backgroundColor;

		transition: all 200ms ease-in;
		transition-property: background-color, box-shadow;
	}
	html.menu-is-open {
		@include freezeScroll($fixHeader: true);
	}
	html.menu-is-open .Layout__header {
		@include whiteLogo();
		transition-duration: 400ms;
		--Layout__header-backgroundColor: #{$var--color-faxafloi-100};
	}

	.Layout__header__skiplink[class] {
		@include hideText(soft);
		@include LinkStyle_Reset(true);
		position: relative;
		color: $color-faxafloi-100;
		width: grid-units(6);
		height: grid-units(6);
		line-height: grid-units(6);
		margin-right: grid-units(-1);
		transition-duration: 200ms;
		--open-icon-color: _inherit;
		--close-icon-color: transparent;
	}
	html.menu-is-open .Layout__header__skiplink {
		color: $color-suld-0;
		--open-icon-color: transparent;
		--close-icon-color: _inherit;
		// margin-right: $var--browser-scrollbar-width;
	}
	.Layout__header__skiplink:hover,
	.Layout__header__skiplink:active {
		text-shadow: 0 0 prem(8) rgba(#000, 0.2);
	}

	.Layout__header__skiplink::before,
	.Layout__header__skiplink::after {
		@include icon();
		width: 100%;
		margin-right: 1px;
		transition: inherit;
	}

	.Layout__header__skiplink::before {
		content: $icons-menu;
		font-size: prem(34);
		color: var(--open-icon-color);
	}
	.Layout__header__skiplink::after {
		position: absolute;
		top: 0;
		left: 0;
		content: $icons-close;
		font-size: prem(26);
		color: var(--close-icon-color);
	}

	// Page content fadeout during menu open
	html.menu-is-active .Layout__nav::before {
		content: '';
		position: fixed;
		z-index: calc(#{$var--zindex--header} - 1);
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $color-suld-0;
		opacity: 0;
		visibility: hidden;
		transition: (opacity 400ms 200ms ease-in-out, visibility 0ms (400ms + 200ms));
	}
	html.menu-is-open .Layout__nav::before {
		transition-delay: 0ms;
		opacity: 1;
		visibility: visible;
	}

	.Layout__nav__closebutton {
		@include sr-only-focusable();
	}
}

// ===========================================================================
//  Desktop
// ===========================================================================

@media #{$mq-Topmenu} {
	.Layout__header__skiplink {
		@include sr-only-focusable();
	}
	html[data-mega-panel-active] .Layout__header__logo {
		@include whiteLogo();
	}
}

// ===========================================================================
// Grid helper
// ===========================================================================

@if (getEnv('NODE_ENV') == '') {
	html[data-grid-overlay] body:hover {
		--show-grid-lines: '';
	}
	html[data-grid-overlay] .Layout:hover {
		/**/ //
		--show-grid-lines: initial;
		/**/
	}
	html[data-grid-overlay] .Layout::after {
		content: var(--show-grid-lines, none);
		pointer-events: none;
		position: absolute;
		z-index: calc(#{$var--zindex--modal} + 100);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include showColumnGridLines();
	}
}
