@use '_globals' as *;

/*!@deps
	Layout-full
*/

@media screen {
	.Layout--HomePage .RowBlock {
		margin-bottom: between_cols(70, 200);
	}

	// ---------------------------------------------------------------------------

	.Layout--HomePage .GridBlocks {
		margin-bottom: between_cols(40, 170);
	}

	// ---------------------------------------------------------------------------

	.Layout--HomePage .ExtraLinks::before {
		border-left: 0;
	}

	.Layout--HomePage .ExtraLinks__card {
		border-color: transparent;
		background-color: $color-suld-0;
		--Card-lineColor: #{$color-faxafloi-100};
		padding-top: prem(40);
		padding-bottom: prem(40);
	}
	.Layout--HomePage .ExtraLinks__card::after {
		margin-top: grid-units(4);
		height: prem(4);
		max-width: 67%;
	}
	.ExtraLinks__card:hover,
	.ExtraLinks__card:focus,
	.ExtraLinks__card:active {
		border-color: transparent;
		background-color: $color-suld-0;
		color: inherit;
		outline: normal;
	}
	.ExtraLinks__card:hover > .ExtraLinks__card__title,
	.ExtraLinks__card:focus > .ExtraLinks__card__title,
	.ExtraLinks__card:active > .ExtraLinks__card__title {
		color: $color-faxafloi-100;
	}
}
