@use '_globals' as *;
@use 'styles/header' as *;
@use 'styles/links' as *;

@mixin whiteLogo {
	--logo-fill-color: #{$color-suld-0};
	--logo-text-color: #{$color-suld-0};
	--logo-background-color: #{$color-faxafloi-100};
	--link-focus-outlineColor: #{$color-suld-0};
}

@media screen {
	body {
		padding: 0 $var--grid-edge;
	}

	.Layout {
		min-height: 100vh;
		width: 100%;
		max-width: prem($grid-contentMaxWidth);
		margin: 0 auto;
		position: relative;
	}

	.Layout__alerts {
		max-height: 1000px;
		overflow: hidden;
		margin: 0 prem(-15);
		transition: max-height 400ms ease-in;

		@include media($mq-tablet_up) {
			margin: 0;
		}
	}
	.Layout__alerts .Alert {
		margin: grid-units(2) 0 0 0;
	}

	.Layout__content {
		min-height: 100vh;
		display: flex;
		flex-flow: column nowrap;
		// align-items: center;
		position: relative;
		padding-top: $var--Layout__header-height;
	}

	.Layout__header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: $zIndex--header;
		display: flex;
		align-items: center;
		height: $var--Layout__header-height;
	}

	.Layout__header__logo {
		@include LayoutHeaderLogo();
	}

	.Layout__main {
		padding-top: prem(50);
		flex-grow: 1;
		padding-bottom: prem(30);
		min-height: 60vh;
	}

	.Layout__footer {
		position: relative;
		border-top: 1px solid $color-suld-75;
		padding-top: between_cols(20, 100);
		padding-bottom: between_cols(20, 70);

		@include media($mq-tablet_up) {
			padding-left: cols_pct(1, 1);
		}
	}

	.Layout__footer::before {
		content: '';
		display: block;
		margin: prem(11) auto prem(29) auto;
		background: url($logo-notext-url) 0 0 no-repeat;
		background-size: auto 100%;
		width: prem(35);
		height: prem(53);

		@media #{$mq-tablet_up} {
			position: absolute;
			left: 0;
			background-position: 0 0;
		}
	}
}

// ===========================================================================

@media #{$mq-Hamburger} {
	html.menu-is-open {
		overflow-y: hidden;
		padding-right: $var--browser-scrollbar-width;
	}

	.Layout__header {
		width: 100%;
		transition: left 400ms 0ms ease-in;
	}

	html.menu-is-open .Layout__header {
		position: fixed;
		top: 0;
		left: grid-units(1);
		right: 0;
		padding-left: $var--grid-edge;
		transition-delay: 0ms;
		pointer-events: none;
	}
	html.menu-is-open .Layout__header__logo {
		@include whiteLogo();
	}

	.Layout__header__logo,
	.Layout__header__skiplink {
		pointer-events: auto;
	}

	.Layout__header__skiplink[class] {
		@include hideText(soft);
		@include LinkStyle_Reset(true);
		position: fixed;
		right: $var--grid-edge;
		bottom: grid-units(3);
		background-color: $color-faxafloi-100;
		color: $color-suld-0;
		width: prem(48);
		height: prem(48);
		line-height: prem(48);
		transition-duration: 200ms;
		--open-icon-color: _inherit;
		--close-icon-color: transparent;
	}
	html.menu-is-open .Layout__header__skiplink {
		--open-icon-color: transparent;
		--close-icon-color: _inherit;
		margin-right: $var--browser-scrollbar-width;
	}

	.Layout__header__skiplink:hover,
	.Layout__header__skiplink:active {
		background-color: $color-faxafloi-150;
		box-shadow: 0 0 15px rgba(#000, 0.2);
	}

	.Layout__header__skiplink::before,
	.Layout__header__skiplink::after {
		@include icon();
		width: 100%;
		margin-right: 1px;
		content: $icons-menu;
		font-size: prem(24);
		color: var(--open-icon-color);
		transition: inherit;
	}
	.Layout__header__skiplink::after {
		position: absolute;
		top: 0;
		left: 0;
		content: $icons-close;
		font-size: prem(20);
		color: var(--close-icon-color);
	}

	// Page content fadeout during menu open
	html.menu-is-active .Layout__nav::before {
		content: '';
		position: fixed;
		z-index: $zIndex--header - 1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $color-suld-0;
		opacity: 0;
		visibility: hidden;
		transition: (opacity 400ms 200ms ease-in-out, visibility 0ms (400ms + 200ms));
	}
	html.menu-is-open .Layout__nav::before {
		transition-delay: 0ms;
		opacity: 1;
		visibility: visible;
	}

	.Layout__nav__closebutton {
		@include sr-only-focusable();
	}
}

// ===========================================================================

@media #{$mq-Topmenu} {
	.Layout__header__skiplink {
		@include sr-only-focusable();
	}
	html[data-mega-panel-active] .Layout__header__logo {
		@include whiteLogo();
	}
}

// ===========================================================================
// Grid helper
@if (getEnv('NODE_ENV') == '') {
	body:hover {
		--show-grid-lines: '';
	}
	.Layout:hover {
		/**/ //
		--show-grid-lines: initial;
		/**/
	}
	.Layout::after {
		content: var(--show-grid-lines, none);
		pointer-events: none;
		position: absolute;
		z-index: $zIndex--modal + 100;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include showColumnGridLines();
	}
}
