@use '_globals' as *;
@use 'styles/links' as *;
@use 'styles/font' as *;
@use '_PrimaryPanel' as PrimaryPanel;
@use '_AuxiliaryPanel' as AuxiliaryPanel;

@keyframes MainMenu__mega__item--fadeup {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen {
	.MainMenu {
	}
	.MainMenu__title {
		display: none; // ok if aria-label/aria-labelledby is used!
	}
	.MainMenu__items {
	}
	.MainMenu__item {
		color: $color-suld-200;
		white-space: nowrap;
	}
	.MainMenu__item[aria-current='true'] {
		color: $color-faxafloi-100;

		html[data-mega-panel-active] & {
			color: $color-suld-0;
		}
	}
	.MainMenu__item--home {
		@include sr-only-content-focusable();
	}

	.MainMenu__link {
		@include buttonReset();
		@include LinkStyle();
		--link-color: _inherit;
		display: block;
		width: max-content;
		font-weight: $font-weight--bold;
	}
	.MainMenu__link[aria-pressed='true'] {
		color: $color-suld-0;
	}

	.MainMenu__link::before {
		@include icon();
		margin-right: prem(8);
		vertical-align: prem(-3);
	}
	.MainMenu__item--mypages > .MainMenu__link::before {
		content: $icons-user;
	}
	.MainMenu__item--search > .MainMenu__link::before {
		content: $icons-search;
	}
	.MainMenu__item--lang {
		margin-right: prem(8);
	}
	.MainMenu__item--lang > .MainMenu__link {
		padding-right: prem(8);
		padding-left: prem(8);
		display: inline-block;
	}
	.MainMenu__item--lang + .MainMenu__item--lang {
		margin-left: prem(-8);

		&:before {
			content: '|';
			display: inline-block;
		}
	}

	// Make up for smaller margin on `lang` items
	.MainMenu__item--lang + .MainMenu__item:not(.MainMenu__item--lang) {
		margin-left: prem(12);
	}
}

// ===========================================================================

// ===========================================================================

@media #{$mq-Hamburger} {
	$menu-speed: 400ms;
	$swimmer-speed: 400ms;

	html.before-sprinkling .MainMenu {
		display: none;
	}
	.MainMenu {
		position: relative;

		background-color: $color-faxafloi-100;

		--MainMenu--offsetLeft: #{prem(64)};

		@include media('screen and (max-width: 370px)') {
			--MainMenu--offsetLeft: #{prem(16)};
		}
		@include media('screen and (max-height: 640px)') {
			--MainMenu__list--padTop: 0px;
		}
	}

	html.menu-is-active .MainMenu {
		display: block;
		visibility: hidden;
		position: fixed;
		z-index: $zIndex--header - 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding-left: $var--grid-edge;
		padding-right: $var--grid-edge--right;
		padding-top: $var--Layout__header-height;
		margin-top: -100vh;
		overflow-x: hidden;
		overflow-y: auto;
	}
	html.menu-is-closed .MainMenu,
	html.menu-is-open .MainMenu {
		transition: (margin-top $menu-speed 0ms ease-in-out, visibility 0ms $menu-speed);
	}
	html.menu-is-open .MainMenu {
		transition-delay: 0ms;
		visibility: visible;
		margin-top: 0;
	}

	html.menu-is-active .MainMenu__items {
		padding-bottom: prem(40);
	}

	.MainMenu__items {
		display: flex;
		flex-flow: row wrap;
		padding-top: var(--MainMenu__list--padTop, grid-units(3));

		@include extendSides();
	}
	.MainMenu__item {
		width: 100%;
		font-size: px($font-size-20);
		color: $var--menu-primary-text;
		margin-left: var(--MainMenu--offsetLeft);
	}
	.MainMenu__link {
		--link-color: var(--menu-primary-text);
		--link-color--hover: var(--menu-primary-hover);
		$pB: prem(8) - $link-underline-thickness;
		padding: prem(8) 0 $pB 0;
	}
	.MainMenu__link[aria-pressed='true'] {
		border-color: $color-suld-0;
	}

	.MainMenu__separator[class] {
		display: block;
		margin-left: auto;
		order: -1;
	}
	.MainMenu__separator ~ .MainMenu__item {
		width: auto;
		order: -1;
		font-size: px($font-size-12);
		margin-left: grid-units(2);
		margin-bottom: 0;
		margin-top: calc(-0.5 * #{$var--Layout__header-height});
		transform: translateY(-50%)
			translateY(var(--MainMenu__list--padTop, grid-units(-3)));
	}

	.MainMenu__panels,
	.MainMenu__panelsWrap {
		flex-grow: 1;
		display: flex;
		flex-flow: column;
	}

	[aria-current='true'] .MainMenu__mega__link::before {
		content: '';
		float: left;
		margin-left: prem(-24);
		width: prem(8);
		height: prem(2);
		margin-top: prem($font-base-leading / 2 - 1);
		background-color: currentColor;
	}

	.MainMenu__megapanel__backtomenu {
		@include sr-only-focusable();
	}

	.MainMenu__item--lang + .MainMenu__item--lang {
		margin-left: prem(-8);
	}
}

// ===========================================================================

// ===========================================================================

@media #{$mq-Topmenu} {
	.MainMenu {
	}
	.MainMenu__items {
		position: absolute;
		z-index: $zIndex--header;
		top: 0;
		right: 0;
		left: cols_pct(3, 3);
		height: $var--Layout__header-height;
		margin-right: between_Topmenu(-8, -20);
		margin-left: between_Topmenu(-14, -20);
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.MainMenu__separator[class] {
		display: block;
		margin-left: auto;
	}

	.MainMenu__item {
		margin: 0 between_Topmenu(4, 10);
		--MainMenu__item-padding: #{between_Topmenu(4, 10)};
	}
	.MainMenu__item:not(.MainMenu__separator ~ *) {
		--MainMenu__item-padding: #{prem(10)};
	}
	html.menu-is-open .MainMenu__item:not(.MainMenu__separator ~ *),
	html[data-mega-panel-active] .MainMenu__item:not(.MainMenu__separator ~ *) {
		--link-color--hover: #{$color-suld-0};
		color: fade($color-suld-25, 70%);
	}

	.MainMenu__link {
		padding: prem(10) var(--MainMenu__item-padding);
		padding-bottom: prem(10) - $link-underline-thickness;
	}

	.MainMenu__item--lang::before {
		color: $color-suld-200;
	}

	// ===========================================================================
	//
	// Mega Menu
	//
	// ===========================================================================

	html[data-mega-panel-active] {
		overflow-y: hidden;
		padding-right: $var--browser-scrollbar-width;
	}
	html[data-mega-panel-active] .Layout__alerts {
		max-height: 0;
		transition-duration: 0ms;
	}

	.MainMenu__panelsWrap {
		transition: all 250ms ease-in-out;
		transition-property: opacity, visibility;

		background-color: $color-faxafloi-100;

		position: absolute;
		top: 0;
		left: 0;
		// hide scrollbar "beneath" <body>'s overflow-x:hidden
		right: calc(-0.5 * #{$var--browser-scrollbar-width});
		height: 100vh;
		z-index: 3;

		margin-left: calc(50% - 50vw + 0.5 * #{$var--browser-scrollbar-width});
		padding-left: calc(50vw - 50% - 0.5 * #{$var--browser-scrollbar-width});
		margin-right: calc(50% - 50vw);
		padding-right: calc(50vw - 50% + 0.5 * #{$var--browser-scrollbar-width});

		overflow-x: hidden;
		overflow-y: auto;
	}
	.MainMenu__panelsWrap:before {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: calc(50% + 0.5 * (#{$var--grid-gutter} + #{$var--browser-scrollbar-width}));
		margin-left: $var--grid-2-2;
		right: 0;
		background-color: $var--menu-auxiliary-background;

		@include media($mq-netbook) {
			margin-left: $var--grid-2;
		}
	}

	.MainMenu__panels {
		position: relative;
		width: 100%;

		display: grid;
		column-gap: $var--grid-gutter;
		grid-template-columns: repeat($grid-numCols, minmax(0, 1fr));
	}

	html.before-sprinkling .MainMenu__panelsWrap {
		display: none;
	}

	.MainMenu[data-sprinkled] .MainMenu__panelsWrap {
		display: block;
		opacity: 0;
		visibility: hidden;
	}

	.MainMenu[data-sprinkled] > .MainMenu__panelsWrap--active {
		opacity: 1;
		visibility: visible;
	}

	.MainMenu__megapanel__backtomenu {
		position: fixed;
		bottom: 0;
		left: 0;
		width: prem(137);
		height: prem(145);

		font-size: prem(16);

		padding-top: prem(65);
		padding-left: prem(32);
		padding-bottom: prem(33);
		--link-focus-outlineColor: #{$color-suld-0};
	}
	.MainMenu__megapanel__backtomenu:hover::after,
	.MainMenu__megapanel__backtomenu:active::after {
		opacity: 1;
		transform: scale(1.2);
	}

	.MainMenu__megapanel__backtomenu::before {
		@include icon($icons-close-thin);
		font-size: prem(16);
		width: 100%;
		text-align: left;
		margin-left: 8px;
	}

	.MainMenu__megapanel__backtomenu::after {
		content: '';
		transition: all 200ms ease-in-out;
		width: 269px;
		height: 269px;
		border-radius: 50%;
		background-color: $color-suld-0;
		position: absolute;
		top: 0;
		left: -132px;
		z-index: -1;
	}
}

// ...

// ===========================================================================
// MainMenu "Greeting"
// ===========================================================================

@include media($mq-Hamburger) {
	.MainMenu[class][class] {
		display: flex;
		flex-flow: column;
	}
	.MainMenu__items--greetingHack[class][class] {
		order: -1;
		padding-bottom: 0;
	}

	.MainMenu:not([data-sprinkled]) > .MainMenu__greeting {
		display: none;
	}
	.MainMenu__greeting {
		color: $var--menu-primary-text;
		max-height: 400px;
		margin-left: var(--MainMenu--offsetLeft);
		max-width: prem(240);
	}
	.MainMenu__greeting[hidden] {
		display: block;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: (
			opacity 200ms 200ms,
			max-height 200ms 0ms ease-in-out,
			visibility 0ms (200ms + 200ms)
		);
	}
	.MainMenu__greeting > h3 {
		@include SubheadingStyle--small();
		margin-bottom: grid-units(2);
	}
	.MainMenu__greeting > p {
		padding-bottom: grid-units(2);
	}
}
@include media($mq-Topmenu) {
	.MainMenu__greeting {
		display: none;
	}
}

// ===========================================================================
//
// Markup Warnings
//
// ===========================================================================

@media screen {
	.MainMenu:not(nav) {
		@include WARNING__('Please use <nav/>');
	}
	.MainMenu:not([aria-label]):not([aria-labelledby]) {
		@include WARNING__('Please add `aria-label` or `aria-labelledby`');
	}
	.MainMenu[aria-labelledby] > .MainMenu__title:not([id]) {
		@include WARNING__('Please add `id` attribute');
	}
	.MainMenu__list:first-child {
		@include WARNING__('`.MainMenu__title` missing');
	}
	.MainMenu__item:first-child:not(.MainMenu__item--home) {
		@include WARNING__('Home link missing');
	}
}

// ===========================================================================
// Inline in order to not expose as standalone component styles
@include PrimaryPanel.css();
@include AuxiliaryPanel.css();
