@use 'globals' as *;

@media screen {
	html.modal-open .Modal {
		overflow-y: auto;
	}

	.Modalwrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: $var--zindex--modal;
		min-height: 100vh;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
		transition: all 200ms ease-in;
		transition-property: opacity, visibility;
	}
	[hidden].Modalwrapper {
		display: block; // override default `[hidden][hidden]` styling
		visibility: hidden;
		opacity: 0;
	}

	.Modal {
		transform: translateY(0);
		transition: all 200ms ease-in;
		position: absolute;
		top: prem(50);
		left: prem(16);
		right: prem(16);
		margin: 0 auto 20px;
		width: 95%;
		max-height: calc(100vh - #{prem(2 * 50)});
		max-width: cols_px(8);
		background-color: #fff;
		padding: between_phone_netbook(20, 70) between_phone_netbook(20, 80);
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	}
	[hidden].Modalwrapper > .Modal {
		transform: translateY(-25%);
		opacity: 0;
	}

	.Modal--w6 {
		padding: between_phone_netbook(20, 40) between_phone_netbook(20, 50);
		max-width: cols_px(6);
	}
	.Modal--w8 {
		max-width: cols_px(8);
	}
	.Modal--w10 {
		max-width: cols_px(10);
	}

	.Modal__closebutton {
		display: block;
		position: absolute;
		z-index: 5;
		top: prem(5);
		right: prem(10);
		padding: prem(10);
		font-size: prem(14);
	}
	.Modal__closebutton::before {
		@include icon($icons-close);
		display: inline-block;
		vertical-align: middle;
		margin-right: prem(10);
		font-size: prem(16);
		color: $color-suld-150;
	}
}

@media #{$mq-netbook_up} {
	.Modal {
		padding: prem(70) prem(80);
		top: prem(100);
		max-height: calc(100vh - #{prem(2 * 100)});
	}
	.Modal--w6 {
		padding: prem(40) prem(50);
	}
}
