@use 'globals' as *;

@media screen {
	html.modal-open {
		overflow: hidden;
	}

	.ModalPopperwrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		min-height: 100vh;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.5);
	}
	html.modal-open .ModalPopper {
		overflow-y: auto;
	}

	.ModalPopper {
		transform: translateY(-25%);
		opacity: 0;
		transition: all 0.25s ease-in-out;
		position: absolute;
		top: prem(50);
		left: prem(16);
		right: prem(16);
		margin: 0 auto 20px;
		z-index: 10002;
		width: 95%;
		max-height: calc(100vh - 100);
		max-width: cols_px(8);
		background-color: #fff;
		padding: between_phone_netbook(20, 70) between_phone_netbook(20, 80);
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	}
	.ModalPopper--w6 {
		padding: between_phone_netbook(20, 40) between_phone_netbook(20, 50);
		max-width: cols_px(6);
	}
	.ModalPopper--w8 {
		max-width: cols_px(8);
	}
	.ModalPopper--w10 {
		max-width: cols_px(10);
	}
	html.modal-shown .ModalPopper {
		transform: translateY(0);
		opacity: 1;
	}

	.ModalPopper__closebutton {
		display: block;
		position: absolute;
		z-index: 5;
		top: prem(20);
		right: prem(20);

		&::before {
			@include icon('');
			content: $icons-close;
			display: inline-block;
			vertical-align: middle;
			margin-right: prem(10);
			font-size: prem(16);
			line-height: prem(32);
			color: $color-suld-150;
		}
	}
}

@media #{$mq-netbook_up} {
	.ModalPopper {
		padding: prem(70) prem(80);
		max-height: calc(100vh - 200);
		top: prem(100);
	}
	.ModalPopper--w6 {
		padding: prem(40) prem(50);
	}
}
