/*!@deps
	TextInput
	SearchInput
	Datepicker
	Selectbox
	ButtonPrimary
	ButtonSecondary
	ButtonTertiary
	Footnote
*/
@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.PageFilter {
		@include SeenEffect--fadeup();
		background-color: $color-suld-25;
		padding: between_cols(30, 80) 0 0 0;
		margin-bottom: between_cols(64, 128);
		@include extendBackgroundWithUnderlay();
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	.PageFilter::before {
		border-left: between_phone_netbook(8, 24) solid $var--color-theme-primary;
		margin-bottom: between_cols(-32, -64);
		pointer-events: none;

		@include media($mq-wide) {
			border-width: prem(24);
		}
	}

	.PageFilter--underlap {
		@media #{$mq-tablet_up} {
			margin-bottom: 0;
		}
	}

	.PageFilter__title {
		@include HeadingStyle--small();
		margin-bottom: em(20/64);
		width: 100%;
	}
	.PageFilter__summary {
		// @include BodyTextStyle--small();
		width: 100%;
	}

	.PageFilter__filters {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin-top: prem(20);
		margin-bottom: between_cols(0, 24);
		width: 100%;
		max-width: cols_px(9, 9);
		flex-shrink: 0;
	}
	.PageFilter__filters > .FormField {
		flex-shrink: 0;
		margin-right: $var--grid-gutter;
		margin-bottom: prem(3 * $grid-unit);
		// min-width: cols_pct(3, 2, 9, 9); // In FireFox the min-width becomes larger and thus only fits 2 FormFields per line.
		min-width: cols_pct(3, 1, 9, 9);

		@include media($mq-phone) {
			width: 100%;
		}
	}

	.PageFilter__buttons {
		margin-top: prem(20);
		margin-bottom: between_cols(0, 24);
	}
	.PageFilter__buttons > .ButtonTertiary:last-child,
	.PageFilter__buttons > .ButtonPrimary:last-child {
		margin-right: 0;
		// The default max-content value triggers a FireFox flex-item width calculation bug,
		// adding ~38ox of whitespace on right-hand-side when there's only a single buttuon.
		// o_O   –– 2020-08-24
		width: auto;
	}

	.PageFilter > .Footnote {
		margin-top: between_cols(30, 60);
		margin-bottom: 0;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-top: 1px solid currentColor;
			margin-top: between_cols(-12, -40);
		}
	}
}
