/*!@deps
	ButtonPrimary
	ButtonTertiary
*/
@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.PageTitleBlock {
	}
	.PageTitleBlock__title {
		@include HeadingStyle--large();
	}
	.PageTitleBlock__image {
	}
	.PageTitleBlock__summary {
		@include BodyTextStyle--large();
		margin: prem(40) 0;
	}

	.PageTitleBlock > .ButtonPrimary {
		display: inline-block;
	}
	.PageTitleBlock > .ButtonTertiary {
		display: inline-flex;
	}
}
