@use 'globals' as *;
@use 'styles/attention' as *;
@use 'styles/font' as *;

@media screen {
	.ProcessOverview {
		background-color: $color-suld-25;
		padding: between_phone_netbook(50, 120) 0 between_phone_netbook(50, 192);
		@include bodyPaddingInner(margin, true);
		@include bodyPaddingInner(padding, false);

		@include media($mq-wide) {
			padding-top: prem(120);
			padding-bottom: prem(192);
		}
	}

	.ProcessOverview__title {
		@include HeadingStyle--small();
		margin-bottom: between_phone_netbook(40, 118);

		@include media($mq-wide) {
			margin-bottom: prem(118);
		}
	}

	.ProcessOverview__item {
		margin-bottom: grid-units(10);
		position: relative;
	}

	.ProcessOverview__item__title {
		@include HeadingStyle--small();
		display: flex;
		align-items: center;
		margin-bottom: grid-units(3);
	}
	.ProcessOverview__item__title:before {
		content: '';
		display: inline-block;
		width: cols_pct(0, 1);
		height: prem(4);
		background-color: $color-faxafloi-100;
		position: absolute;
		@include bodyPaddingInner(margin, true, left);

		@include media($mq-wide) {
			width: 38px;
		}
		@include media($mq-phone_phablet) {
			margin: 0 prem(30) 0 0;
			width: prem(30);
			position: static;
		}
	}

	.ProcessOverview__item__content {
		@include BodyTextStyle--large();
	}

	@include Attention('ProcessOverview', false);
	.ProcessOverview__attention {
		padding-top: 0;

		&:before {
			top: 0;
		}
	}
}

@media #{$mq-tablet_up} {
	.ProcessOverview__item {
		display: flex;
		align-items: flex-start;
	}

	.ProcessOverview__item__title {
		width: cols_pct(5);
	}

	.ProcessOverview__attention,
	.ProcessOverview__item__content {
		width: cols_pct(7);
		margin-left: auto;
	}

	.ProcessOverview__attention {
		padding-right: cols_pct(1, 0, 7);
	}
}
