@use 'globals' as *;
@use 'styles/attention' as *;
@use 'styles/font' as *;
@use 'styles/labeledTitle' as *;

@media screen {
	.ProcessOverview {
		background-color: $color-suld-25;
		margin: 0 $var--grid-edge--neg;
		padding: 0 $var--grid-edge;
		// @include extendBackgroundWithUnderlay(); // <-- this could be used also
		margin-bottom: between_cols(30, 120);
		padding-top: between_cols(50, 120);
		padding-bottom: between_cols(50, 192);
	}
	.ProcessOverview--transparent {
		background: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.ProcessOverview__title {
		@include HeadingStyle--small();
		margin-bottom: between_phone_netbook(40, 118);

		@include media($mq-wide) {
			margin-bottom: prem(118);
		}
	}

	.ProcessOverview__item {
		margin-bottom: grid-units(10);
		position: relative;
	}

	.ProcessOverview__item__title {
		@include LabeledTitleStyle--basics();
	}

	.ProcessOverview__item__content {
		@include BodyTextStyle--large();
	}

	.ProcessOverview__attention {
		@include AttentionStyle(false);
	}
}

// ---------------------------------------------------------------------------

@media #{$mq-tablet_up} {
	.ProcessOverview__item {
		display: flex;
		align-items: flex-start;
	}

	.ProcessOverview__item__title {
		width: cols_pct(5);
		@include LabeledTitleStyle--outdented();
	}
	.ProcessOverview--narrow > * > .ProcessOverview__item__title {
		display: flex;
		width: cols_pct(3);
		--dash-width: #{em(36/40)};
		--dash-margin: #{cols_pct(0, 1, 3)};
		--dash-indent: 0;
	}

	.ProcessOverview__item__content {
		max-width: cols_pct(7);
		margin-left: cols_pct(0, 1);
	}

	.ProcessOverview__attention {
		max-width: cols_pct(7);
		margin-left: cols_pct(5, 5);
		padding-right: cols_pct(1);
	}
	.ProcessOverview--narrow > .ProcessOverview__attention {
		margin-left: cols_pct(3, 3);
	}
}
