@use 'globals' as *;
@use 'styles/attention' as *;
@use 'styles/font' as *;

@media screen {
	.ProcessOverview {
		background-color: $color-suld-25;
		margin: 0 $var--grid-edge--neg;
		padding: 0 $var--grid-edge;
		padding-top: between_phone_netbook(50, 120);
		padding-bottom: between_phone_netbook(50, 192);

		@include media($mq-wide) {
			padding-top: prem(120);
			padding-bottom: prem(192);
		}
	}

	.ProcessOverview__title {
		@include HeadingStyle--small();
		margin-bottom: between_phone_netbook(40, 118);

		@include media($mq-wide) {
			margin-bottom: prem(118);
		}
	}

	.ProcessOverview__item {
		margin-bottom: grid-units(10);
		position: relative;
	}

	.ProcessOverview__item__title {
		@include HeadingStyle--small();
		display: flex;
		align-items: center;
		margin-bottom: grid-units(3);
	}
	.ProcessOverview__item__title::before {
		content: '';
		display: inline-block;
		width: cols_pct(0, 1);
		height: prem(4);
		background-color: $var--color-theme-primary--safeish;
		position: absolute;
		margin-left: $var--grid-edge--neg;

		@include media($mq-wide) {
			width: 38px;
		}
		@include media($mq-phone_phablet) {
			margin: 0 prem(30) 0 0;
			width: prem(30);
			position: static;
		}
	}

	.ProcessOverview__item__content {
		@include BodyTextStyle--large();
	}

	.ProcessOverview__attention {
		@include AttentionStyle(false);
	}
}

@media #{$mq-tablet_up} {
	.ProcessOverview__item {
		display: flex;
		align-items: flex-start;
	}

	.ProcessOverview__item__title {
		width: cols_pct(5);
	}

	.ProcessOverview__attention,
	.ProcessOverview__item__content {
		width: cols_pct(7);
		margin-left: auto;
	}

	.ProcessOverview__attention {
		padding-right: cols_pct(1, 0, 7);
	}
}
