@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/labeledTitle' as *;
@use 'styles/links' as *;
@use 'styles/buttons' as *;

/*!@deps
	Tabs,
	Alert
*/

@function _flexDash($pxWidth) {
	// get the pxWidth as a ratio of `vw` based on a maxinum 64px width (i.e. $var--grid-column)
	// FIXME: calculated value will be just a hair off $var--grid-column
	$from: ($pxWidth / $grid-column) / $grid-numCols * $grid-contentMinWidth;
	@return between_phone_netbook(floor($from), $pxWidth);
}

@media screen {
	.SiteSearchPage {
		position: relative;
		margin-left: auto;
		padding-top: between_phone_netbook(64, 88);
		@include media($mq-netbook_up) {
			width: $var--grid-9;
		}
	}

	.SearchResults {
		position: relative;
		margin-left: auto;
		transition: opacity 300ms ease-in-out;
	}
	.SearchResults--loadingquery {
		opacity: 0.5;
	}

	.SearchResults__title {
		@include HeadingStyle--medium();
		margin-bottom: between_phone_netbook(48, 64);
	}

	.SearchResults__query {
		@include SubheadingStyle--small();
		display: block;
	}
	.SearchResults__query::before {
		content: open-quote;
	}
	.SearchResults__query::after {
		content: close-quote;
	}

	.SearchResults__results {
	}

	.SearchResults__list {
		position: relative;
		padding-left: 0;
	}

	.SearchResults--loading, // @deprecated remove in v0.8
	.SearchResults--loadingfilter > * > .SearchResults__list--loading,
	.SearchResults--loadingmore > * > .SearchResults__list--loading {
		opacity: 0.5;
	}
	@keyframes loadingAnimation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.SearchResults--loading > .SearchResults__list::before, // @deprecated remove in v0.8
	.SearchResults__list--loading::before {
		content: '';
		position: absolute;
		top: prem(20);
		left: 25%;

		width: prem(48);
		height: prem(48);

		border-radius: 50%;
		border: prem(3) solid $color-faxafloi-100;
		border-color: $color-faxafloi-100 transparent;
		animation: loadingAnimation 1000ms linear infinite;
	}

	.SearchResultsItem::before {
		// hide <ol><li> counter markers
		@include sr-only();
	}
	.SearchResultsItem__link {
		@include LinkStyle_Reset(true);
		display: block;
		padding-left: $var--grid-1;
		margin-bottom: between_phone_netbook(48, 64);
		max-width: cols_px(6);

		// @include media($mq-netbook_up) {
		// 	width: $var--grid-6;
		// }
	}

	$baseDashWidth: 24;
	$hoverDashWidth: 48;
	$dashDiff: $hoverDashWidth - $baseDashWidth;
	$dashTransition: 200ms ease-in-out;

	.SearchResultsItem__title {
		--dash-width: #{_flexDash($baseDashWidth)};
		--dash-margin: #{_flexDash(32)};
		--dash-indent: #{_flexDash(8)};

		@include LabeledTitleStyle--basics();

		margin-bottom: prem(16);
		margin-left: $var--grid-column--neg;

		margin-right: _flexDash(-$dashDiff);
		padding-right: _flexDash($dashDiff);
		transition: padding-right $dashTransition;

		@include media($mq-wide) {
			--dash-width: #{prem($baseDashWidth)};
			--dash-margin: #{prem(32)};
			--dash-indent: #{prem(8)};

			margin-right: prem(-$dashDiff);
			padding-right: prem($dashDiff);
		}
	}

	.SearchResultsItem__title::before {
		transition: width $dashTransition;
	}

	.SearchResultsItem__link:hover > .SearchResultsItem__title,
	.SearchResultsItem__link:focus > .SearchResultsItem__title,
	.SearchResultsItem__link:active > .SearchResultsItem__title {
		padding-right: 0;

		--dash-width: #{_flexDash($hoverDashWidth)};
		@include media($mq-wide) {
			--dash-width: #{prem($hoverDashWidth)};
		}
	}
	.SearchResultsItem__meta {
		display: block;
		color: $color-faxafloi-100;
		font-size: prem($font-label-size);
		margin-bottom: prem(16);
		order: -1;
		width: 100%;
		line-height: em(16 / $font-label-size);
	}
	.SearchResultsItem__meta > span {
		color: $color-suld-200;
	}
	.SearchResultsItem__summary {
		max-width: 100%;
		font-weight: $font-weight--normal;
	}

	.SearchResults__loadmore {
		@include ButtonTertiaryStyle();
		display: block;
		border: 50px solid transparent;
		border-width: prem(50) prem(300);
		margin: 0 auto;

		@include media($mq-phone) {
			border-left-width: prem(30);
			border-left-width: prem(30);
		}
		@include media($mq-phablet) {
			border-left-width: prem(100);
			border-left-width: prem(100);
		}
	}
	.SearchResults__loadmore__count {
		font-size: $font-size-12;
		color: $color-suld-150;
		font-weight: $font-weight--normal;
		margin-left: prem(4);
	}
}
