@use 'globals' as *;
@use 'styles/font' as *;
@use 'styles/labeledTitle' as *;
@use 'styles/links' as *;
@use 'styles/buttons' as *;

/*!@deps
	Tabs,
	Alert
*/

@function _flexDash($pxWidth) {
	// get the pxWidth as a ratio of `vw` based on a maxinum 64px width (i.e. $var--grid-column)
	// FIXME: calculated value will be just a hair off $var--grid-column
	$from: ($pxWidth / $grid-column) / $grid-numCols * $grid-contentMinWidth;
	@return between_phone_netbook(floor($from), $pxWidth);
}

@media screen {
	.SiteSearchPage {
		position: relative;
		margin-left: auto;
		padding-top: between_phone_netbook(64, 88);

		@include media($mq-netbook_up) {
			width: $var--grid-9;
		}
	}

	.SearchResults {
		position: relative;
		margin-left: auto;
		transition: opacity 400ms ease-in;
	}

	.SearchResults--loadingquery {
		opacity: 0.5;
	}

	.SearchResults__title {
		@include HeadingStyle--medium();
		margin-bottom: between_phone_netbook(48, 64);

		@include media($mq-wide) {
			margin-bottom: prem(64);
		}
	}

	.SearchResults__query {
		@include SubheadingStyle--small();
		display: block;
	}
	.SearchResults__query::before {
		content: open-quote;
	}
	.SearchResults__query::after {
		content: close-quote;
	}

	.SearchResults__results {
	}

	.SearchResults__list {
		position: relative;
		padding-left: 0;
	}

	.SearchResults--loading, // @deprecated remove in v0.8
	.SearchResults--loadingfilter > * > .SearchResults__list--loading,
	.SearchResults--loadingmore > * > .SearchResults__list--loading {
		opacity: 0.5;
	}
	@keyframes loadingAnimation {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.SearchResults--loading > .SearchResults__list::before, // @deprecated remove in v0.8
	.SearchResults__list--loading::before {
		content: '';
		position: absolute;
		top: prem(20);
		left: 25%;

		width: prem(48);
		height: prem(48);

		border-radius: 50%;
		border: prem(3) solid $color-faxafloi-100;
		border-color: $color-faxafloi-100 transparent;
		animation: loadingAnimation 1000ms linear infinite;
	}

	ol.SearchResults__list > li::before {
		// hide <ol><li> counter markers
		@include sr-only();
	}

	.SearchResultsItem {
		margin-bottom: between_phone_netbook(48, 64);

		@include media($mq-wide) {
			margin-bottom: prem(64);
		}
	}

	.SearchResultsItem__link {
		@include LinkStyle_Reset(true);
		display: flex;
		flex-flow: column;
		padding-left: $var--grid-1;
		margin-left: $var--grid-1--neg;
		max-width: cols_px(6);

		@include media($mq-tablet_up) {
			margin-left: 0;
		}
	}

	$baseDashWidth: 24;
	$hoverDashWidth: 48;
	$dashDiff: $hoverDashWidth - $baseDashWidth;
	$dashTransition: 200ms ease-in;

	.SearchResultsItem__title {
		--dash-width: #{_flexDash($baseDashWidth)};
		--dash-margin: #{_flexDash(32)};
		--dash-indent: #{_flexDash(8)};

		@include LabeledTitleStyle--basics();

		margin-bottom: prem(16);
		margin-left: $var--grid-column--neg;

		margin-right: _flexDash(-$dashDiff);
		padding-right: _flexDash($dashDiff);
		transition: padding-right $dashTransition;

		@include media($mq-phone_phablet) {
			margin-left: 0;
		}
		@include media($mq-wide) {
			--dash-width: #{prem($baseDashWidth)};
			--dash-margin: #{prem(32)};
			--dash-indent: #{prem(8)};

			margin-right: prem(-$dashDiff);
			padding-right: prem($dashDiff);
		}
	}

	.SearchResultsItem__title::before {
		transition: width $dashTransition;
	}

	.SearchResultsItem__link:hover > .SearchResultsItem__title,
	.SearchResultsItem__link:focus > .SearchResultsItem__title,
	.SearchResultsItem__link:active > .SearchResultsItem__title {
		padding-right: 0;

		--dash-width: #{_flexDash($hoverDashWidth)};
		@include media($mq-wide) {
			--dash-width: #{prem($hoverDashWidth)};
		}
	}
	.SearchResultsItem__meta {
		display: block;
		font-size: prem($font-label-size);
		line-height: prem(16);
		order: -1;
		@include media($mq-tablet_up) {
			margin-bottom: prem(16);
		}
	}
	.SearchResultsItem__meta > span {
		display: inline-block;
	}
	.SearchResultsItem__summary {
		font-weight: $font-weight--normal;
	}
	.SearchResultsItem__image {
		display: none;
	}

	.SearchResults__loadmore {
		@include ButtonTertiaryStyle();
		display: block;
		border: 50px solid transparent;
		border-width: prem(50) prem(300);
		margin: 0 auto;

		@include media($mq-phone) {
			border-left-width: prem(30);
			border-left-width: prem(30);
		}
		@include media($mq-phablet) {
			border-left-width: prem(100);
			border-left-width: prem(100);
		}
	}
	.SearchResults__loadmore__count {
		font-size: $font-size-12;
		color: $color-suld-150;
		font-weight: $font-weight--normal;
		margin-left: prem(4);
	}
}

// ===========================================================================

// ===========================================================================

@media screen {
	.SearchResultsHighlightItem {
		margin-bottom: between_phone_netbook(48, 64);

		@include media($mq-wide) {
			margin-bottom: prem(64);
		}
	}
	.SearchResultsHighlightItem__link {
		@include LinkStyle_Reset(true);
		position: relative;
		display: flex;
		flex-flow: column;
		padding: $var--grid-1;
		min-height: $var--grid-4;
		border: 1px solid $color-suld-75;
		margin: 0 $var--grid-1--neg;

		@include media($mq-tablet_up) {
			margin: 0 -1px;
			padding-right: $var--grid-4-4;
		}

		@include afterClear();
	}
	.SearchResultsHighlightItem__link:hover,
	.SearchResultsHighlightItem__link:active {
		border-color: $color-faxafloi-100;
		box-shadow: inset 0 0 0 1px $color-faxafloi-100;
	}
	.SearchResultsHighlightItem__title {
		@include HeadingStyle--small();
		margin-bottom: grid-units(3);
	}

	.SearchResultsHighlightItem__meta {
		display: block;
		font-size: prem($font-label-size);
		line-height: prem(16);
		margin-top: prem(-16);
		order: -1;
		@include media($mq-tablet_up) {
			margin-bottom: prem(16);
		}
	}
	.SearchResultsHighlightItem__image {
		order: -2;
		@include media($mq-phone_phablet) {
			margin-bottom: prem(32);
		}
	}
	.SearchResultsHighlightItem__image > img {
		@include media($mq-phone_phablet) {
			max-width: prem(300);
		}
		@include media($mq-tablet_up) {
			position: absolute;
			top: prem(20);
			right: 0;
			width: $var--grid-4-4;
			height: calc(100% - #{prem(40)});
			object-fit: contain;
		}
	}
}
