@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.ShareButtons__list {
		display: flex;
		font-size: prem(15);
	}

	.ShareButtons__label {
		@include sr-only();
	}

	.ShareButtons__link {
		@include hideText();
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background-color: $var--color-theme-primary;
		color: $var--color-theme-primary--text;
		position: relative;
		display: inline-block;
	}
	.ShareButtons__link:hover,
	.ShareButtons__link:active {
		background-color: $var--color-theme-primary--dark;
		color: $color-suld-0;
	}

	.ShareButtons__link::before {
		@include icon();
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-indent: 0;
		text-align: center;
		line-height: 35px;
	}

	.ShareButtons__item {
		margin-left: prem(16);
		&:first-child {
			margin-left: 0;
		}
	}

	.ShareButtons__link--facebook::before {
		content: $icons-facebook;
	}
	.ShareButtons__link--twitter::before {
		content: $icons-twitter;
	}
	.ShareButtons__link--linkedin::before {
		content: 'LI';
	}
	.ShareButtons__link--email::before {
		content: 'E';
	}
}
