@use '_globals' as *;
@use 'styles/font' as *;

@media screen {
	.SiteSearchSuggestions {
		position: relative;
	}

	.SiteSearchSuggestions__container {
		background: $color-suld-0;
		border: 1px solid $color-suld-75;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 0;
		padding: 0 prem(32);
		opacity: 0;
		transition: all 300ms ease-in-out;
	}

	.SiteSearchSuggestions__container--open {
		height: auto;
		opacity: 1;
		padding: prem(48) prem(32);
	}

	.SiteSearchSuggestions__item {
		margin-bottom: prem(32);
		@include BodyTextStyle--large();
	}
	.SiteSearchSuggestions__item:last-child {
		margin-bottom: 0;
	}
}
