@use '_globals' as *;
@use 'styles/font' as *;

@media screen {
	.SiteSearch {
		position: relative;
		transition: all 200ms ease-in-out;
		transition-property: margin;
	}

	@include media($mq-tablet_up) {
		.SearchCurtainWrap--focused > .SiteSearch {
			margin-right: calc(2.5 * #{$var--grid-column--neg});
		}
	}

	.SiteSearch__container {
		background: $color-suld-0;
		border: 1px solid $color-suld-75;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 0;
		padding: 0 prem(32);
		opacity: 0;
		transition: all 300ms ease-in-out;
		transition-property: height, opacity;
		overflow: hidden;
	}

	.SiteSearch__container--open {
		height: auto;
		opacity: 1;
		padding: prem(32) 0;
	}

	.SiteSearch__item {
		padding: prem(16) prem(32);
		@include BodyTextStyle--large();
	}

	.SiteSearch__item--highlighted {
		position: relative;
		cursor: pointer;
		color: $color-faxafloi-100;
		background-color: $color-suld-25;
	}
	.SiteSearch__item--highlighted::after {
		@include icon($icons-search);
		color: $color-suld-100;
		float: right;
		margin-left: prem(20);
		font-size: prem(16);
	}

	.SearchCurtainWrap > * {
		position: relative;
		z-index: 2;
	}
	.SearchCurtainWrap::after {
		content: '';

		transition: all 200ms ease-in-out;
		transition-property: background-color, opacity;

		background-color: rgba($color-suld-0, 0.9);
		opacity: 0;

		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	.SearchCurtainWrap--focused::after {
		opacity: 1;
		z-index: 1;
	}
}
