@use 'globals' as *;
@use 'styles/font' as *;

@media screen {
	.SubHeading {
		@include SubheadingStyle--large();
		margin-top: prem(40);
		margin-bottom: prem(20);

		@include media($mq-netbook_up) {
			margin-top: prem(50);
			margin-bottom: prem(30);
		}
	}

	.SubHeading--small {
		@include SubheadingStyle--small();
	}
}
