@use '_globals' as *;
@use './styles/links' as *;

@media screen {
	.Tabs {
		display: flex;
		flex-flow: row wrap;
		border-bottom: 4px solid $color-suld-50;
		font-weight: $font-weight--bold;
		line-height: prem(24);
		margin: prem(40) 0;
	}

	.Tabs__tab {
		@include LinkStyle_Reset(true);
		border-bottom: 4px solid $color-suld-50;
		margin-bottom: -4px;
		padding: between_cols(5, 20) between_cols(15, 40);
		// padding-bottom: between_cols(14, 24);
		color: $color-suld-200;
	}
	.Tabs__tab:hover,
	.Tabs__tab:focus,
	.Tabs__tab:active {
		border-bottom: 4px solid $var--color-theme-primary--safeish;
	}

	.Tabs__tab[data-active='true'],
	.Tabs__tab[aria-pressed='true'] {
		border-bottom-color: $var--color-theme-primary--safeish;
	}

	.Tabs__tab__badge {
		font-size: $font-size-12;
		color: $color-suld-150;
		font-weight: $font-weight--normal;
		margin-left: prem(4);
	}

	.before-sprinkling .TabPanel:not([data-sprinkled]) {
		display: none;
	}
}
