@use 'globals' as *;
@use 'styles/links' as *;

/*!@deps
*/

@media screen {
	.TagPill {
		@include LinkStyle_Reset(true);
		// normalize links and buttons
		display: inline-block;
		white-space: nowrap;
		vertical-align: middle;
		text-decoration: none;
		position: relative;

		transition: none;

		background-color: $var--color-suld-75;
		color: $var--color-suld-200;
		box-sizing: content-box;
		text-align: center;
		--TagPill--height: #{$var--space-3};
		height: var(--TagPill--height);
		line-height: var(--TagPill--height);
		font-size: $var--font-label-size;
		font-weight: $var--font-weight--bold;
		border-radius: $var--space-0_5;

		min-width: $var--space-5;
		margin-bottom: $var--space-2;
		margin-right: $var--space-2;
		padding: 0 $var--space-1;
	}
	.TagPill--large {
		--TagPill--height: calc(#{$var--space-3} + #{$var--space-0_5});
		font-size: $var--font-button-size;
		font-weight: $var--font-weight--normal;
	}

	.TagPill__button {
		transition: inherit;
		display: block;
		margin: 0 $var--space-1--neg;
		padding-left: $var--space-1;
		padding-right: calc(#{$var--space-1_5} + 1em);
		border-radius: $var--space-0_5;
	}

	.TagPill__remove {
		@include hideText(soft);
		box-sizing: content-box;
		width: 1em;
		padding-left: $var--space-0_5;
		padding-right: $var--space-1;
		margin-right: $var--space-1--neg;
		border-radius: $var--space-0_5;
		float: right;
		position: relative;
	}
	button.TagPill__remove:hover {
		margin-left: $var--space-0_5--neg;
		padding-left: $var--space-1;
		background-color: $var--color-suld-150;
		color: $var--color-suld-0;
	}
	.TagPill__button + .TagPill__remove {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}
	.TagPill__button:hover + .TagPill__remove,
	.TagPill__button:active + .TagPill__remove {
		opacity: 0.33;
		background-color: $var--color-suld-150;
		color: $var--color-suld-0;
	}

	.TagPill__remove::before {
		@include icon($icons-close);
		font-size: em(12/16);
		width: 100%;
		margin-right: 2em;
	}

	a.TagPill:hover,
	a.TagPill:active,
	button.TagPill:hover,
	.TagPill__button:hover,
	.TagPill__button:active {
		background-color: $var--color-suld-150;
		color: $var--color-suld-0;
	}

	.TagPill[disabled],
	.TagPill[aria-disabled],
	.TagPill[aria-pressed],
	.TagPill__button[disabled],
	.TagPill__button[aria-disabled],
	.TagPill__button[aria-pressed],
	.TagPill__remove[disabled],
	.TagPill__remove[aria-disabled],
	.TagPill__remove[aria-pressed] {
		@include WARNING__('.TagPill buttons/links can not be disabled');
	}
}
