@use '_globals' as *;
@use 'styles/font' as *;
@use 'styles/forms' as *;

/*!@deps
	FormField
*/

$_minRows: 3;
$_maxRows: 12;

$_pHLarge: ($InputField-heightI - prem($font-base-leading)) / 2;
@function _heightLarge($i) {
	@return 2 * $_pHLarge + prem(2) + $InputField-paddingTop +
		prem($i * $font-base-leading);
}
$_pHSmall: ($InputField-heightI--small - prem($font-base-leading)) / 2;
@function _heightSmall($i) {
	@return 2 * $_pHSmall + prem(2) + prem($i * $font-base-leading);
}

@mixin css() {
	@media screen {
		.TextInput {
		}
		.TextInput--multiline > .FormField__input {
			@include BodyTextStyle--small();
			height: _heightLarge($_minRows);
			padding-top: $_pHLarge + $InputField-paddingTop;
			padding-bottom: $_pHLarge;

			@for $i from ($_minRows + 1) through $_maxRows {
				[rows='#{$i}'] {
					height: _heightLarge($i);
				}
			}
		}
		.FormField--small.TextInput--multiline > .FormField__input {
			height: _heightSmall($_minRows);
			padding-top: $_pHSmall;
			padding-bottom: $_pHSmall;

			@for $i from ($_minRows + 1) through $_maxRows {
				[rows='#{$i}'] {
					height: _heightSmall($i);
				}
			}
		}
	}
}
