@use 'globals' as *;

/*!@deps
	TextBlock
*/

// inlined by TextBlock
@mixin css() {
	@media screen {
		[class].VSpacer {
			--VSpacer__space: $var--component-vspace--medium;
			margin-top: var(--VSpacer__space);
		}
		[class].VSpacer--small {
			--VSpacer__space: $var--component-vspace--small;
		}
		[class].VSpacer--large {
			--VSpacer__space: $var--component-vspace--large;
		}
		[class].VSpacer--xlarge {
			--VSpacer__space: $var--component-vspace--xlarge;
		}
		br.VSpacer {
			display: block;
			height: 0;
		}

		.VSpacer + [class] {
			margin-top: 0;
		}
	}
}
