@use '_globals' as *;

@media screen {
	.WizardStepper {
		counter-reset: step;
	}
	.WizardStepper__step {
		display: block;
		overflow: hidden;
		line-height: 1.35;
		padding-left: prem(40);
		margin-top: prem(-12);
		margin-left: prem(-12);
		box-sizing: content-box;
		height: prem(24);
		position: relative;
		padding-top: prem(8);
		padding-bottom: prem(30);
		margin-bottom: prem(6);
		font-size: prem(12);
		line-height: prem(18);
		color: $color-suld-150;

		&::before {
			content: counter(step);
			counter-increment: step;
			width: prem(24);
			line-height: prem(24);
			position: absolute;
			top: prem(8);
			left: prem(8);
			background: $color-suld-50;
			border-radius: 50%;
			color: $color-suld-100;
			font-size: prem(14);
			font-weight: $font-weight--bold;
			text-align: center;
		}

		&::after {
			content: '';
			width: prem(2);
			height: prem(24);
			background: $color-suld-50;
			position: absolute;
			bottom: 0;
			left: prem(19);
		}
		&:last-child::after {
			content: none;
		}
	}
	button.WizardStepper__step:hover,
	button.WizardStepper__step:focus,
	button.WizardStepper__step:active {
		color: $color-link--hover;
	}
	.WizardStepper__step[aria-current='step'] {
		color: $color-faxafloi-100;

		&::before {
			@include icon($icons-pen);
			font-size: prem(12);
			background: $color-faxafloi-100;
			color: $color-suld-0;
		}
	}
	.WizardStepper__step--done {
		color: $color-faxafloi-100;

		&::before {
			@include icon($icons-checkmark);
			font-size: prem(12);
			background: $color-faxafloi-100;
			color: $color-suld-0;
		}

		&::after {
			background: $color-faxafloi-100;
		}
	}

	.WizardStepper__step:first-child:not(.WizardStepper__step--done):not([aria-current='step']),
	.WizardStepper__step--done
		+ .WizardStepper__step:not(.WizardStepper__step--done):not([aria-current='step']) {
		@include WARNING__('You forgot aria-current="step".');
	}
}

@media #{$mq-phone_phablet} {
	.WizardStepper__step {
		width: prem(0);
		overflow: hidden;
	}
}
