@use 'globals' as *;
@use 'styles/header' as *;
@use 'styles/font' as *;
@use 'styles/font' as *;

@media screen {
	.WizardLayout {
		min-height: 100vh;
		position: relative;
	}

	.WizardLayout__header {
		padding-top: prem(22);
		padding-bottom: prem(33);
	}

	@include LayoutHeaderLogo('WizardLayout__header__logo');

	.WizardLayout__header__logout {
		@include BodyTextStyle--small();
		position: fixed;
		right: prem(30);
		top: prem(33);
		color: $color-suld-200;
		font-weight: 700;
	}

	.WizardLayout__header__logout:after {
		@include icon($icons-close);
		font-size: prem(13);
		margin-left: prem(13);
		padding-top: prem(1);
	}
}

@media #{$mq-tablet_up} {
	body {
		background-color: $color-suld-50;
	}

	.WizardLayout {
		background-color: $color-suld-0;
		max-width: cols_pct(9, 9);
		@include bodyPaddingInner(margin, true);
		@include bodyPadding();
	}

	.WizardLayout__header {
		padding-top: between_tablet_netbook(22, 40);
		padding-bottom: between_tablet_netbook(33, 60);
	}

	.WizardLayout__header__logout {
		right: grid-units(10);
		top: between_tablet_netbook(30, 56);
	}

	.WizardLayout__main {
		width: 100%;
		max-width: cols_pct(10);
		display: flex;
	}
	.WizardLayout__progress {
		width: prem(170);
		margin-right: prem(30);
		flex-shrink: 0;
	}
	.WizardLayout__form {
		width: 100%;
	}
}

@media #{$mq-wide} {
	.WizardLayout__header {
		padding-top: prem(40);
		padding-bottom: prem(60);
	}

	.WizardLayout__header__logout {
		top: prem(56);
	}

	.WizardLayout__progress {
		margin-right: prem(55);

	}
}
