@use '_globals' as *;

@media screen {
	.WizardStepper {
		counter-reset: step;
	}
	.WizardStepper__step {
		--WizardStepper-ballBackground: #{$color-suld-50};
		--WizardStepper-ballColor: #{$color-suld-100};
		--WizardStepper-lineColor: #{$color-suld-75};

		display: block;
		line-height: 1.35;
		padding: prem(12) 0;
		padding-left: prem(40);
		margin: prem(-12) 0 0 prem(-12);
		box-sizing: content-box;
		line-height: prem(18);
		position: relative;
		margin-bottom: prem(34);
		font-size: prem(12);
		color: $color-suld-150;

		@include media($mq-phone_phablet) {
			margin-bottom: prem(24);
		}

		&::before {
			content: counter(step);
			counter-increment: step;
			width: prem(24);
			line-height: prem(24);
			position: absolute;
			top: prem(8);
			left: prem(8);
			background: var(--WizardStepper-ballBackground);
			border-radius: 50%;
			color: var(--WizardStepper-ballColor);
			font-size: prem(14);
			font-weight: $font-weight--bold;
			text-align: center;
		}

		&::after {
			content: '';
			position: absolute;
			top: prem(38);
			bottom: prem(-24);
			left: prem(19);
			width: prem(2);
			background: var(--WizardStepper-lineColor);
		}
		&:last-child::after {
			content: none;
		}
	}
	button.WizardStepper__step:hover,
	button.WizardStepper__step:focus,
	button.WizardStepper__step:active {
		color: $var--link-color--hover;
		text-decoration: underline;
	}

	.WizardStepper__step--done,
	.WizardStepper__step[aria-current='step'] {
		color: $color-faxafloi-100;
		--WizardStepper-ballBackground: #{$color-faxafloi-100};
		--WizardStepper-ballColor: #{$color-suld-0};
		--WizardStepper-ballIcon: '#{$icons-pen}';

		&::before {
			@include icon();
			content: var(--WizardStepper-ballIcon);
			font-size: prem(12);
		}
	}
	.WizardStepper__step--done {
		--WizardStepper-ballBackground: #{$color-faxafloi-75};
		--WizardStepper-ballIcon: '#{$icons-checkmark}';
		--WizardStepper-lineColor: #{$color-faxafloi-100};
	}

	// ---------------------------------------------------------------------------

	.WizardStepper__step:first-child:not(.WizardStepper__step--done):not([aria-current='step']),
	.WizardStepper__step--done
		+ .WizardStepper__step:not(.WizardStepper__step--done):not([aria-current='step']) {
		@include WARNING__('You forgot aria-current="step".');
	}
}

@media #{$mq-phone_phablet} {
	.WizardStepper__step {
		width: prem(0);
		overflow: hidden;
	}
}
