@use 'globals' as *;
@use 'styles/header' as *;
@use 'styles/font' as *;
@use 'WizardLayoutClose';

@media screen {
	.WizardLayout {
		min-height: 100vh;
		width: 100%;
		max-width: prem($grid-contentMaxWidth);
		margin: 0 auto;
		position: relative;
	}

	.WizardLayout__alerts {
		max-height: 1000px;
		overflow: hidden;
		margin: 0 prem(-15);
		transition: max-height 400ms ease-in;

		@include media($mq-tablet_up) {
			margin: 0;
		}
	}
	.WizardLayout__alerts .Alert {
		margin: grid-units(2) 0 0 0;
	}

	.WizardLayout__content {
		min-height: 100vh;
		display: flex;
		flex-flow: column nowrap;
		// align-items: center;
		position: relative;
	}

	.WizardLayout__header {
		position: relative;
		z-index: 3;
		height: $var--Layout__header-height;
		display: flex;
		align-items: center;
	}

	.WizardLayout__header__logo {
		@include LayoutHeaderLogo();
	}

	.WizardLayout__wrap {
		flex-grow: 1;
		position: relative;
		z-index: 2;
	}

	.WizardLayout__deco {
		display: none;
	}
}

@media #{$mq-phone_phablet} {
	body {
		padding-left: prem(16);
		padding-right: prem(16);
	}
	.WizardLayout__wrap {
		padding-left: prem(48);
	}

	.WizardLayout__stepper {
		position: fixed;
		top: $var--Layout__header-height;
		left: prem(16);
		width: prem(24);
	}
}

@media #{$mq-tablet_up} {
	.WizardLayout,
	.WizardLayout__content {
		position: static;
	}
	.WizardLayout__header {
		padding-left: prem(16);
		padding-right: prem(16);
	}

	.WizardLayout__wrap {
		width: cols_pct(10);
		display: flex;
		padding-left: prem(16);
	}
	.WizardLayout__stepper {
		flex-shrink: 1;
		width: prem(170);
		margin-right: prem(30);
	}
	.WizardLayout__main {
		flex-shrink: 1;
		width: 100%;
		max-width: 580px;
	}
}

@media #{$mq-netbook_up} {
	.WizardLayout::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		width: calc((100vw / 2) - (#{prem($grid-contentMaxWidth)} / 3));
		background: $color-suld-50;
	}

	.WizardLayout__main {
		min-height: 600px;
	}
}

@media #{$mq-wide} {
	.WizardLayout__header {
		padding: prem(40) prem(8) prem(60);
	}

	.WizardLayout__progress {
		margin-right: prem(55);
	}

	.WizardLayout__deco {
		display: block;
		position: absolute;
		top: 100px;
		right: -121px;
	}
	.WizardLayout__deco--geometry {
		background: url(/assets/WizardLayout-deco.png) 0 0 no-repeat;
		width: 217px;
		height: 468px;
	}
}

@include WizardLayoutClose.css();

// ===========================================================================
// BEGIN @deprecated  (remove in v0.9)
// Styles to make the addition of .WizardLayout__content non-breaking
.Layout {
	display: flex;
	flex-flow: column nowrap;
}
// END @deprecated
